.limit-height{
  min-height: calc(100% - 65px);
}
.box-plus{
  height: 45px;
  padding: 20px 35px;
}
.box-plus>h3{
  width: 60%;
  display: inline-block;
  line-height: 30px;
  font-size: 21px;
  color: #2b2b2b;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'SCHeiti', 'Microsoft YaHei UI', 'Microsoft YaHei', arial, simsun, sans-serif;
  margin: 10px 0;

}
.box-plus>a{
  position: relative;
  float: right;
  top: 10px;
}
.box-search{
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
  background-color: #04a9f3;
  opacity: 1;
  transition-duration: 200ms;
}
.box-search:hover{
  opacity: 0.8;
}
.box-search>input[type=text]:focus{
  border: 1px solid #404040;
}
.box-search>input[type=text]{
  height: 26px;
  padding: 0 10px;
  border: 1px solid #04a9f3;
  border-radius: 5px;
}
.box-search>a{
  padding: 5px;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}
.view{
  padding-left : 2%;
  padding-right: 2%;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.min-view{
  min-height: 700px;
}
.btn-danger{
  padding: .3rem 1.2rem;
  padding-left:16px;
  padding-right:16px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  font-size: 14px;
  color: #fff;
  background: #fb9678;
  border: 1px solid #fb9678;
  cursor: pointer;
}
.btn-danger.disabled.focus,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger.focus,
.btn-danger:focus,
.btn-danger:hover {
  background: #fb9678;
  opacity: .8;
  color: #ffffff;
  border: 1px solid #fb9678;
}
/*弹框样式*/
.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  z-index: 999;
}
.modal-content{
  width: 500px;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -250px;
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  background-color: #f1f5f8;
}
.modal-close{
  cursor: pointer;
  border: none;
  font-size: 18px;
  background: none;
  outline: none;
  font-family: 'Microsoft YaHei', 'Arial';
}
.modal-body {
  position: relative;
  padding: 15px;
  background: #fff;
}
.modal-right {
  width: 450px;
  margin-left: 20px;
  float: left;
}
.modal-footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px;
  background-color: #f1f5f8;
}
.btn-info {
  margin-left: 15px;
  padding: .3rem 1.2rem;
  border-radius: 4px;
  background: #03a9f3;
  border: 1px solid #03a9f3;
  color: #fff;
}
.btn-info:hover {
  background: #03a9f3;
  opacity: .8;
  border: 1px solid #03a9f3;
  cursor: pointer;
}
.control-label{
  display: block;
  color: #8d9ea7;
}
.control-label>span{
  display: inline-block;
  width: 100px;
  line-height: 38px;
  padding-right: 10px;
}
.form-control {
  color: #565656;
  /*height: 38px;*/
  min-height: 38px;
  line-height: 20px;
  width: 260px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px;
  padding: 0;
  transition: background 0s ease-out 0s;
  background-image: linear-gradient(#03a9f3, #03a9f3), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  border: 0;
  border-radius: 0;
  box-shadow: none;
  float: none;
}
select{
  width: calc(100% - 90px);
  padding: 0 10px;
}
.dropify-message>img{
  width: 100%;
}
.error{
  width: 276px;
  /*  height: 18px;*/
  padding-left: 120px;
  font-size: 10px;
  color: #d75452;
}
.red{
  border: 0.5px solid #d75452;
  border-radius: 5px;
}

/*卡片样式*/
.card-list{
  display: flex;
  flex-wrap: wrap;
 /* justify-content: center;*/
}
.card-area{
  padding: 15px;
  margin: 10px;
  height: 180px;
  min-width: 200px;
  background: #ffffff;
  border-radius: 5px;
  color: #50504b;
  transition-duration: 200ms;
}
.card-area:hover{
  box-shadow: 0 0 15px #b5d7fc;
}
.card-area:hover .card-option{
  opacity: 1;
  top:0;
}
.card-area>h4{
  font-size: 24px;
  color: #2162B6;
  clear:both;
}
.card-area>h4>i{
  padding-right: 10px;
}
.card-area>h4>span{
  padding: 0 10px;
  font-size: 12px;
  color: #333333;
}
.card-area>p{
  width: auto;
  min-width: 100%;
  padding: 0;

  word-break: break-all;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'SCHeiti', 'Microsoft YaHei UI', 'Microsoft YaHei', arial, simsun, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #686868;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 2;
}
.card-area>p:first-letter{
  float:left;
  padding: 0 5px;
  line-height: 35px;
  font-size: 200%;
}
.card-option{
  position: relative;
  top:-20px;
  right: -5px;
  float: right;
  font-size: 10px;
  opacity: 0;
  transition-duration: 500ms;
}
.card-option>.edt{
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  background: #4ac0e4;
  cursor: pointer;
}
.card-option>.del{
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  background: #fb7070;
  cursor: pointer;
}
.turn>ul{
  display: flex;
  height: 35px;
  border-left: 1px solid #e4e7ea;
}
.turn>ul>li{
  height: 35px;
  width: 30px;
  line-height: 35px;
  border-top: 1px solid #e4e7ea;
  border-right: 1px solid #e4e7ea;
  border-bottom: 1px solid #e4e7ea;
  color: #686868;
  text-align: center;
  cursor: pointer;
}
.turn>ul>li.active{
  color: #ffffff;
  background: #04a9f3;
  border-color: #04a9f3;
}
.turn-box{
  padding-bottom: 20px;
  padding-left: 55px;
  clear: both;
}
