<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">支部特色</div>
      <div class="b-head-right">
        <div class="content-box" onclick="history.go(-1)" tabindex="0">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <div class="cont-inner">
      <div class="repair-chandlery clearfix">
        <ul class="record-search clearfix">
          <li>
            <label>党(总)支部名称</label>
            <select name="buildingNameS" class="search-ipt search-sel" [(ngModel)]="searchInfo.branchName">
              <option value="">-全部-</option>
              <option *ngFor="let num of repairDept"
                      [value]="num">
                {{num}}</option>
            </select>
          </li>
          <li>
            <label >活动照片名称</label>
            <input class="search-ipt search-sel" type="text" name="useCarCode222" [(ngModel)]="searchInfo.imageName">
          </li>
          <li>
            <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="btn search-btn" (click)="addVehicle()"><i class="icon-plus"></i>&nbsp;&nbsp;新 增</a>
        </div>
      </div>
      <ul class="card-list clearfix">
        <li  class="room-card">
          <table width="100%" class="card-info">
            <tr style="height: 40px; background-color: #FFECEC; text-align: center; font-weight: bold; font-size: 14px;color:#04a9f3;">
              <th>党(总)支部名称</th>
              <th>所属党支部</th>
              <th>活动照片名称1</th>
              <th>活动照片名称2</th>
              <th>活动照片名称3</th>
              <th>操作</th><!-- *ngIf="jurisdiction&&jurisdiction.isUpdate === true"-->
            </tr>
            <tr style="height: 36px; text-align: center" *ngFor="let inner of record;let i=index">
              <td><a href="javascript:;"
                     [routerLink]="['/hzportal/party/feature/detail',inner.id]" >{{inner.branchName}}</a> </td>
              <td>{{inner.branchAttach}}</td><!--inner.beginTime | date:'yyyy-MM-dd HH:mm'-->
              <td><span>{{inner.aaa}}</span></td>
              <td><span>{{inner.bbb}}</span></td>
              <td><span>{{inner.ccc}}</span></td>
              <td>
                <i class="icon-pencil" *ngIf="rule&&rule.isUpdate === true" (click)="editCardInfo(inner.id)"
                   style="margin-left: 5px;" title="编辑"></i>
                <i class="icon-trash" *ngIf="rule&&rule.isDelete === true" (click)="delCardInfo(inner.id)"
                   style="margin-left: 5px;" title="删除"></i></td>
            </tr>
          </table>
        </li>
      </ul>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length] = 'length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>
</div>
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>新增支部特色内容</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">党(总)支部名称</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="branchName" id="branchName"
                  [(ngModel)]="newCard.branchName" (blur)="verifybranchName()">
            <option value="">请选择</option>
            <option *ngFor="let name of repairDept" [value]="name">{{name}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">所属党支部名称</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="branchAttach" id="branchAttach"
                  [(ngModel)]="newCard.branchAttach" >
            <option value=""> </option>
            <option value="第一党支部">第一党支部</option>
            <option value="第二党支部">第二党支部</option>
            <option value="第三党支部">第三党支部</option>
            <option value="第四党支部">第四党支部</option>
            <option value="第五党支部">第五党支部</option>
            <option value="第六党支部">第六党支部</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">活动照片</span>
        <div class="form-inp">
          <div class="protop-left clearfix">
            <div class="pimg" *ngFor="let img of imgInfo;let i = index">
              <div class="dropify-wrapper">
                <a class="top-trash" title="删除图片" (click)="delImgPath(i)">x</a>
                <div  class="dropify-message">
                  <img [src]="ipSetting.imgUrl+img" *ngIf="img">
                </div>
              </div>
            </div>
            <div class="pimg">
              <div  class="dropify-wrapper bpt" *ngIf="imgInfo&&imgInfo.length<3">
                <div  class="dropify-message"></div>
                <p>上传图片</p>
                <input  class="dropify" type="file"  id="press" #press
                        (change)="prese_upload2(press.files)">
              </div>
            </div>

            <!--<div class="pimg">
              <div class="dropify-wrapper">
                <div class="dropify-message">
                  <img  *ngIf="imgUrlPath&&imgUrlPath[0]!==''" [src]="ipSetting.imgUrl+imgUrlPath[0]" />
                </div>
                <p>点击此处上传图片</p>
                <input type="file" class="dropify" #preseA id="preseA"  (change)="prese_upload2(preseA.files,0)">
              </div>
              <h4 *ngIf="imgUrlPath&&imgUrlPath[0]!==''">{{imgName[0]}}</h4>
            </div>
            <div class="pimg">
              <div class="dropify-wrapper">
                <div class="dropify-message">
                  <img *ngIf="imgUrlPath&&imgUrlPath[1]!==''"  [src]="ipSetting.imgUrl+imgUrlPath[1]" />
                </div>
                <p>点击此处上传图片</p>
                <input type="file" class="dropify" #preseB id="preseB"  (change)="prese_upload2(preseB.files,1)">
              </div>
              <h4 *ngIf="imgUrlPath&&imgUrlPath[1]!==''">{{imgName[1]}}</h4>
            </div>
            <div class="pimg">
              <div class="dropify-wrapper">
                <div class="dropify-message">
                  <img *ngIf="imgUrlPath&&imgUrlPath[2]!==''"  [src]="ipSetting.imgUrl+imgUrlPath[2]"/>
                </div>
                <p>点击此处上传图片</p>
                <input type="file" class="dropify" #preseC id="preseC"  (change)="prese_upload2(preseC.files,2)">
              </div>
              <h4 *ngIf="imgUrlPath&&imgUrlPath[2]!==''">{{imgName[2]}}</h4>
            </div>-->
          </div>
        </div>
      </div>

      <!--<div class="form-control form-alone">
        <span class="form-label">附件</span>
        <ul class="contract-list">
          <li *ngFor="let abc of newCard.fileName; let k=index">{{abc}}<a  href="javascript:;" (click)="delFile(k)">×</a> </li>
        </ul>
        <div class="form-inp" style=" margin-top:5px;">
          <a href="javascript:;" style="color:#666; margin-left:127px; border-radius:4px; padding:5px 10px; background: #f6f6f6;" onclick="$('#prese').trigger('click')">上 传</a>
          <input type="file" class="dropify" #prese id="prese" style="visibility: hidden;"
                 (change)="prese_upload(prese.files)">
          <span class="errorMessage"></span>
        </div>
      </div>-->
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">提 交</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
