.repair{
  width:100%;
}
.repair-header{
  width:100%;
  text-align:center;
}
.repair-header a{
  color:#66CCFF;
  line-height:40px;
  width:50%;
  height:40px;
  float:left;
  background-color:#edf1f5;
}
.repair-header a:nth-of-type(1){
  border-radius:4px 0 0 4px;
}
.repair-header a:nth-of-type(2){
  border-radius:0 4px 4px 0;
}
.repair-header a.active{
  background-color:#66CCFF;
  color:#fff;
}
.repair-chandlery{
  position: relative;
  padding: 15px 115px 15px 0;
  background-color: #f8f8f8;
  margin-top: 10px;
}
.repair-chandlery ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.repair-chandlery ul li label{
  float: left;
  color: #686868;
  height: 30px;
  width: 70px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 12px;
  text-align: right;
}
.repair-chandlery ul li input,.repair-chandlery ul li select{
  height: 20px;
  box-sizing: content-box;
  width: calc(100% - 115px);
  min-width: 70px;
  padding: 3px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e7ea;
}
.search-right{
  position: absolute;
  right:0; top:15px;
}
.repair-chandlery .search-btn{
  float: left;
  margin-left:10px;
  display: inline-block;
  padding:0 10px;
  line-height:32px;
  height:32px;
  border:none;
  background-color:#66CCFF;
  color:#fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all .5s;
}
.repair-chandlery .search-btn:hover{
  opacity:.8;
}
.btn {
  line-height: 50px;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: #fb9678;
  border: 1px solid #fff;
  transition: all .6s;
}
.btn:hover {
  opacity: .8;
  border-color: #fb9678;
}
.mask{
  display: none;
  position: fixed;
  z-index: 9;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,.4);
}
.mask-head{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  background-color: #f1f5f8;
  font-size:18px;
}
.mask-head p{
  text-indent: 1em;
}
button{
  border: none;
  font-size: 18px;
  background: none;
}
.close{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.new-repair{
  position: absolute;
  left:50%;
  top:50%;
  width:750px;
  height:550px;
  margin-top:-275px;
  margin-left:-375px;
  background-color: #fff;
  border-radius:5px;
}
.repair-form{
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 4px;
  position: relative;
}
.new-repair .form-control{
  -webkit-box-flex: 0;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%;
  padding: 0;
  margin-bottom: 5px;
  font-size: 12px;
}
.new-repair .form-label{
  position: relative;
  width: 100%;
  min-height: 1px;
  background-color: #f8f8f8;
  padding: 10px;
  float: left;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.new-repair .form-inp{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0;
  float: left;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 62%;
  flex: 0 0 62%;
  max-width: 62%;
  margin-left: 2%;
}
.company-ipt{
  width:150px;
  line-height:36px;
  background-image: linear-gradient(#03a9f3, #03a9f3), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px;
  padding: 0;
  transition: all .3s ease-out;
}
.company-sel{
  height:36px;
}
.company-ipt:focus{
  background-size: 100% 1px, 100% 1px;
}
.company-form{
  margin:30px auto;
}
.errorMessage{
  color:#CE0004;
}
input{
  border:none;
}
.new-repair .form-alone {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100%;
}
.form-alone .form-label{
   max-width: 15%;
 }
.form-alone .form-inp{
  max-width: 81%;
  margin-left: 1%;
}
#repairNote{
  width: 100%;
  height: 130px;
  overflow: auto;
  line-height: 20px;
  font-size: 12px;
}
.mask-footer{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px;
  background-color: #f1f5f8;
}
.btn-mask {
  font-size: 14px;
  padding: .6rem 1rem;
  background: #03a9f3;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color: #fff;
}
.btn-danger {
  background-color: #fb9678;
  margin-left: 20px;
}
.contract-list{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0;
  float: left;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
  margin-left: 1%;
  height:100px;
  border:1px solid #f1f1f1;
  overflow-y: auto;
}
::-webkit-input-placeholder { /* WebKit browsers */
  font-size:12px;
}
.contract-list li{
  line-height:20px;
}
.contract-list li a{
  margin-left:6px; color:#ff0000
}
.new-contract{
  height:500px;
  margin-top:-250px;
}
/*新的信息列表*/
.form-msg{
  margin:10px 0;
  float: left;
  position: relative;
  padding:20px 0 10px 20px;
  border-radius:5px;
  border:1px solid rgba(0,0,0,0);
  transition: all .5s;
  box-shadow: 0 0 1px #ccc;
}
.form-msg:hover{
  border:1px solid rgba(0,0,0,.4);
}
.form-bar{
  height: 35px;
  min-width: 300px;
  width: 33%;
  float: left;
  line-height: 30px;
  color: #686868;
  font-size: 12px;
}
.form-title{
  display: inline-block;
  width: 110px;
  padding-right:10px;
  background-color: #f8f8f8;
  color: #8d9ea7;

  font-size: 12px;
  text-align: right;
}
.full-line{
  clear: both;
  width: 100%;
  height: auto;
}
.full-line .form-title{
  float: left;
}
.word{
  display: inline-block;
  padding-left: 20px;
}
.form-btn{
  padding: 0 16px;
  height: 30px;
  line-height:30px;
  border: none;
  background-color: #66CCFF;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  left:50px;
  bottom:55px;
  opacity:0;
  transition: all 0.4s;
}
.form-btn2{
  background-color:#CCCCCC;
  bottom:15px;
}
.form-msg:hover .form-btn{
  opacity:1;
}
.form-texarea{
  height:120px;
  width:100%;
}

.form-texarea .form-title{
  float:left;
}
.form-texarea .word{
  width: calc(100% - 150px);
  height:120px;
  line-height:24px;
  display: -webkit-box;
  display: flex;
  overflow:hidden;
  text-overflow:ellipsis;
  word-wrap:break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:5;
  line-clamp:5;
}
.form-texarea .word a{
  margin-left:8px;
}
.cancel{
  background-color:rgb(170, 170, 170);
}
.form-right-contract{
  width:380px;
  float: right;
  margin-top:25px;
}
.box1,.box2{
  display:none;
}
.row {
  height: 50px;
  text-align: right;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #ccc;
}
.record-search li,.contract-search li{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 360px;
}

.repair-container{
  display:none;
  min-height:600px;
}



















