<div class="header" [ngClass]="abc?'red':''">
  <img src="assets/image/icon_3line.png">
  <h2>{{title}}</h2>
  <div class="header-right" (click)="loginOut()">
    <a class="waves-effect waves-light">
      <span class="hidden-xs">登出&nbsp;&nbsp;<i class="icon-logout"></i></span> </a>
  </div>
  <div class="header-right">
    <i class="icon-settings"></i>
  </div>
  <div class="header-right">
    <i class="icon-envelope-letter"></i>
  </div>
  <div class="header-right help" [routerLink]="['/hzportal/help']">
    <i class="icon-question"></i>
  </div>
</div>
