<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>疗休养报名管理</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1);">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--信息内容-->
    <div class="warp">
      <div class="warp-right">
        <div  class="form-group">
          <label  class="control-label"><span>线路名称</span>
            <input class="form-control" id="name" name="name" placeholder="" type="text" autocomplete="off"  disabled="disabled"
                   [(ngModel)]="lineName"
                   (blur)="verifyEmpty(copyVote.name,'name')">
          </label>
          <div class="error"></div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span>员工姓名</span>
            <input class="form-control" id="code" name="code" placeholder="" type="text" autocomplete="off"  disabled="disabled"
                   [(ngModel)]="copyVote.name"
                   (blur)="verifyEmpty(copyVote.name,'code')">
          </label>
          <div class="error"></div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span>HRMIS号</span>
            <input class="form-control" id="hrmis" name="hrmis" placeholder="" type="text" autocomplete="off"  disabled="disabled"
                   [(ngModel)]="copyVote.hrmis"
                   (blur)="verifyEmpty(copyVote.hrmis,'hrmis')">
          </label>
          <div class="error"></div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span>性别</span>
            <input class="form-control" id="sex" name="sex" placeholder="" type="text" autocomplete="off"  disabled="disabled"
                   [(ngModel)]="copyVote.sex"
                   (blur)="verifyEmpty(copyVote.sex,'sex')">
          </label>
          <div class="error"></div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span>年龄</span>
            <input class="form-control" id="age" name="age" placeholder="" type="number" autocomplete="off"
                   [(ngModel)]="copyVote.age"
                   (blur)="verifyEmpty(copyVote.age,'age')">
          </label>
          <div class="error"></div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span>身份证号</span>
            <input class="form-control" id="idcard" name="idcard" placeholder="" type="text" autocomplete="off"
                   [(ngModel)]="copyVote.idcard"
                   (blur)="verifyEmpty(copyVote.idcard,'idcard')">
          </label>
          <div class="error"></div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span>部门</span>
            <input class="form-control" id="deptId" name="deptId" placeholder="" disabled="disabled"
                      [(ngModel)]="copyVote.deptId"
                      (blur)="verifyEmpty(copyVote.deptId,'deptId')">
          </label>
          <div class="error"></div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span>岗位</span>
            <input class="form-control" id="post" name="post" placeholder="" type="text" autocomplete="off"
                   [(ngModel)]="copyVote.post"
                   (blur)="verifyEmpty(copyVote.post,'post')">
          </label>
          <div class="error"></div>
        </div>
        <div class="form-group">
          <label  class="control-label"><span>电话</span>
            <input class="form-control" id="telNum" name="telNum" placeholder="" type="text" autocomplete="off"
                   [(ngModel)]="copyVote.telNum"
                   (blur)="verifyEmpty(copyVote.telNum,'telNum')">
          </label>
          <div class="error"></div>
        </div>
        <div class="form-group">
          <label  class="control-label"><span>是否携带家属</span>
            <input class="form-control" name="isFamily" placeholder="" type="radio" style="width:50px;" value="是"
                   (change)="changePer(copyVote.isFamily)" [(ngModel)]="copyVote.isFamily">是
            <input class="form-control" name="isFamily" placeholder="" type="radio" style="width:50px; margin-left:20px;" value="否"
                   (change)="changePer(copyVote.isFamily)" [(ngModel)]="copyVote.isFamily">否
          </label>
          <div class="error"></div>
        </div>
        <div class="form-group" *ngIf="copyVote.isFamily==='是'">
          <label  class="control-label"><span></span>
                <input class="" name="familyPer" autocomplete="off" type="submit" value="增加家属信息" (click)="addNewOption()"
                       style="width:230px;">
          </label>
        </div>
        <div class="form-group" *ngIf="copyVote.isFamily==='是'">
          <label  class="control-label"><span>家属信息</span>
            <div style="width:800px; display: inline-block;">
              <span *ngFor="let abc of copyVote.tourEnrolls;let i=index;" style="display: inline-block;">
                <input class="form-control hotel" [name]="'dependentsName'+i" autocomplete="off" placeholder="家属姓名"
                       style="width:100px;" [value]="abc.name" [(ngModel)]="abc.name">
                <input class="form-control hotel" [name]="'dependentsSex'+i" autocomplete="off" placeholder="家属性别"
                       style="width:100px;" [value]="abc.sex" [(ngModel)]="abc.sex">
                <input class="form-control hotel" [name]="'dependentsAge'+i" autocomplete="off" placeholder="家属年龄"
                       style="width:100px;" [value]="abc.age" [(ngModel)]="abc.age">
                <input class="form-control hotel" [name]="'dependentsCard'+i" autocomplete="off" placeholder="家属身份证号"
                       style="width:300px;" [value]="abc.idcard" [(ngModel)]="abc.idcard">
                  <a *ngIf="i>0">
                  <i class="icon-close" (click)="delOption(i)"></i></a>
              </span>
            </div>

          </label>
          <div class="error"></div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span>备注</span>
            <textarea class="form-control" id="note" rows="5"
                      name="note" placeholder=""
                      [(ngModel)]="copyVote.note"
                      (blur)="verifyEmpty(copyVote.note,'note')">
                </textarea>
          </label>
          <div class="error"></div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span>选择审批人</span>
            <select class="form-control" id="checkUser" [(ngModel)]="checkUser" style="width:250px;"
                      (blur)="verifyEmpty(checkUser,'checkUser')">
              <option *ngFor="let use of user;let i=index;" [value]="use.userid+','+use.username">{{use.username}}</option>
            </select>
          </label>
          <div class="error"></div>
        </div>
      </div>
      <div style="clear: both;"></div>
      <div class="foot-submit">
        <a class="btn btn-info" (click)="submit()">提交</a>
      </div>
    </div>
  </div>
</div>
