<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>工单管理</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" [routerLink]="['../myExamine']">
          我的工单
        </div>
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--搜索栏-->
    <div class="search-bar">
      <ul>
        <li><label>工单类型</label>
          <input type="text" name="cardType" [(ngModel)]="search.type">
        </li>
        <li><label>时间</label>
          <input type="date" name="bTime" [(ngModel)]="search.bTime">至
          <input type="date" name="eTime" [(ngModel)]="search.eTime">
        </li>
        <li><label>工单状态</label>
          <select class="search-ipt" name="searchStatus" [(ngModel)]="search.status">
            <option value="going">待处理</option>
            <option value="">已处理</option>
          </select>
        </li>
        <li>
          <a (click)="getMyExamine(1);"><i class="icon-magnifier"></i>&nbsp;查询</a>
        </li>
      </ul>
    </div>
    <!--表头-->
    <div class="table-head" style="margin-top: 10px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row list-title" style="height:45px;">
          <th width="5%" class="text-left">编号</th>
          <th width="10%" class="text-left">名称</th>
          <th width="15%" class="text-left">说明</th>
          <th width="10%" class="text-left">类型</th>
          <th width="10%" class="text-left">状态</th>
          <th width="10%" class="text-left">发起人姓名</th>
          <th width="10%" class="text-left">发起时间</th>
          <th width="20%">操作</th>
        </tr>
        <tr class="row" *ngFor="let order of orderList;let i = index">
          <td class="text-left">
            {{order.id}}
          </td>
          <td class="text-left">
            {{order.name}}
          </td>
          <td class="text-left">
            {{order.note}}
          </td>
          <td class="text-left">
            {{order.type}}
          </td>
          <td class="text-left">
            <p *ngIf="searchType=== 'going'&&order.status === 'going'">待处理</p>
            <p *ngIf="searchType=== ''||order.status === 'end'">已处理</p>
          </td>
          <td class="text-left">
            {{order.createUserName}}
          </td>
          <td>
            <p>{{order.createTime| date:'yyyy/MM/dd HH:mm:ss'}}</p>
          </td>
          <td class="box-option">
            <a [routerLink]="['../check',order.id]" *ngIf="searchType=== 'going'&&order.status === 'going'">
              <i class="icon-speech"></i>&nbsp;前往处理
            </a>
            <a [routerLink]="['../detail',order.id]" *ngIf="searchType=== ''||order.status === 'end'">
              <i class="icon-eye"></i>&nbsp;详情
            </a>
          </td>
        </tr>
      </table>
      <div class="div-none" *ngIf="orderList.length === 0">
        <p>暂无信息</p>
      </div>
    </div>
    <!--翻页-->
    <app-turn-bar
      [pageNo] = "pageNo"
      [pageSize] = "pageSize"
      [total] = "total"
      (turnEvent) = "getMyExamine($event)">
    </app-turn-bar>

  </div>
</div>
