<!--页面标题-->
<div class="nav-title">
  <a><h4>爱统计信息管理</h4></a>
  <div class="b-head-right">
    <div class="content-box" tabindex="0" onclick="history.go(-1)">
      <i class="icon-reload"></i> 返回
    </div>
  </div>
</div>
<!--搜索栏-->
<div class="search-bar">
  <ul>
    <li>
      <input type="text" name="search" [(ngModel)]="search">
      <a (click)="getWelfare(1);"><i class="icon-magnifier"></i>查询</a>
    </li>
    <li>
      <a class="btn-danger"
         (click)="fadeBom()">
        <i class="icon-plus"></i>
        添加
      </a>
    </li>
  </ul>
</div>
<!--表头-->
<div class="table-head" style="margin-top: 10px">
  <table border="0" cellspacing="0" cellpadding="0" class="list-box">
    <tr class="row list-title" style="height:45px;">
      <th width="10%" class="text-left">标题</th>
      <th width="25%" class="text-left">内容介绍</th>
      <th width="20%">图片</th>
      <th width="10%">是否需反馈</th>
      <th width="15%">反馈截止日期</th>
      <th width="10%">状态</th>
      <th width="10%">操作</th>
    </tr>
  </table>
</div>
<!--表格内容-->
<div class="table-content" style="min-height: 500px">
  <table border="0" cellspacing="0" cellpadding="0" class="list-box">
    <tr class="row"  style="height:100px;" *ngFor="let discount of welfares;let i = index">
      <td width="10%" class="text-left">
        <span>
          {{discount.title}}
        </span>
      </td>
      <td width="25%" class="text-left">
        <p class="tb-text">
          {{discount.content}}
        </p>
      </td>
      <td width="20%" class="box-demo">
        <img *ngIf="discount.imgPath"
             [src]="discount.imgPathList[0] | imgsafeurl">
      </td>
      <td width="10%">
        {{discount.feedBack}}
      </td>
      <td width="15%">
        {{discount.feedBackEtime}}
      </td>
      <td width="10%" [ngStyle]="{'color':discount.status === '失效'?'red':'green'}">
        {{discount.status}}
      </td>
      <td width="10%" class="box-option">
        <a [routerLink]="['../detail',discount.id]">
          <i class="icon-screen-desktop"></i>详情
        </a>
        <a [routerLink]="['../statistics',discount.id]">
          <i class="icon-chart"></i>统计
        </a>
        <a (click)="edit(discount)">
          <i class="icon-pencil"></i>编辑
        </a>
        <a (click)="delete(discount.id)">
          <i class="icon-trash"></i>删除
        </a>
      </td>
    </tr>
  </table>
  <div class="div-none" *ngIf="welfares&&welfares.length < 1">
    <p>暂无信息</p>
  </div>
</div>
<!--翻页-->
<app-turn-bar
  [pageNo] = "pageNo"
  [pageSize] = "pageSize"
  [total] = "total"
  (turnEvent) = "getWelfare($event)">
</app-turn-bar>

<!--新建-->
<div class="mask" style="display: none;">
  <div  class="modal-content">
    <div  class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>{{winTitle}}福利信息</h4>
      <button class="modal-close" type="button" (click)="closeMask()">×</button>
    </div>
    <form  class="form-building form-material ng-untouched ng-pristine ng-valid" novalidate="">
      <div  class="modal-body clearfix">
        <div class="modal-left">
          <div  class="dropify-wrapper">
            <div  class="dropify-message">
              <!--<img [src]="copyWelfare.imgPath | imgsafeurl:press1.files" *ngIf="copyWelfare.imgPath">-->
              <img *ngIf="!open&&imgUrl&&imgUrl[0].length>0" [src]="copyWelfare.imgPath | imgsafeurl:press1.files">
              <img *ngIf="open&&copyWelfare.imgPathList[0]" [src]="copyWelfare.imgPathList[0] | imgsafeurl:press1.files" />
            </div>
            <p >点击上传图片</p>
            <input  class="dropify" type="file"  id="press1"
                    #press1
                    (change)="prese_upload(press1.files,0)">
          </div>
          <div  class="dropify-wrapper">
            <div  class="dropify-message">
              <!--<img [src]="copyWelfare.imgPath | imgsafeurl:press2.files" *ngIf="copyWelfare.imgPath">-->
              <img *ngIf="!open&&imgUrl&&imgUrl[1].length>0" [src]="copyWelfare.imgPath | imgsafeurl:press2.files">
              <img *ngIf="open&&copyWelfare.imgPathList[1]" [src]="copyWelfare.imgPathList[1] | imgsafeurl:press2.files" />
            </div>
            <p >点击上传图片</p>
            <input  class="dropify" type="file"  id="press2"
                    #press2
                    (change)="prese_upload(press2.files,1)">
          </div>
          <div  class="dropify-wrapper">
            <div  class="dropify-message">
              <!--<img [src]="copyWelfare.imgPath | imgsafeurl:press3.files" *ngIf="copyWelfare.imgPath">-->
              <img *ngIf="!open&&imgUrl&&imgUrl[2].length>0" [src]="copyWelfare.imgPath | imgsafeurl:press3.files">
              <img *ngIf="open&&copyWelfare.imgPathList[2]" [src]="copyWelfare.imgPathList[2] | imgsafeurl:press3.files" />
            </div>
            <p >点击上传图片</p>
            <input  class="dropify" type="file"  id="press3"
                    #press3
                    (change)="prese_upload(press3.files,2)">
          </div>
        </div>
        <div  class="modal-right">
          <div  class="form-group">
            <label  class="control-label"><span>标题</span>
              <input class="form-control" id="title"
                     name="title" placeholder="" type="text"
                     [(ngModel)]="copyWelfare.title"
                     (blur)="verifyEmpty(copyWelfare.title,'title')"
              >
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label" style="height: 80px">
              <span>内容介绍</span>
              <textarea class="form-control" id="content" name="content" style="line-height: 20px;height: 80px;"
                        [(ngModel)]="copyWelfare.content"
                        (blur)="verifyEmpty(copyWelfare.content,'content')"
              ></textarea>
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group" *ngIf="copyWelfare.targetId">
            <label  class="control-label" style="height: 50px;">
              <span>享受对象</span>
              <select class="form-control" multiple
                      style="height: 50px;width: 195px;"
                      id="targetId" name="targetId"
                      [(ngModel)]="copyWelfare.targetId.role"
                      (blur)="verifyTragetId(copyWelfare.targetId,'targetId')">
                <option *ngFor="let target of targets" [value]="target.ID">
                  {{target.NAME}}</option>
              </select>
              <p class="form-mode">
                <a class="btn-danger" (click)="exportMode()">模板下载</a>
                <a class="btn-danger import">导入(HRMIS)
                  <input type="file" name="importFile" #pressFile
                         (change)="importFile(pressFile.files)"
                         (blur)="verifyTragetId(copyWelfare.targetId,'targetId')">
                </a>
              </p>
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <div  class="control-label"><span>是否需反馈</span>
              <label (click)="openFeedback()">
                <input id="feedback1" name="feedback"
                     type="radio" value="是"
                     [(ngModel)]="copyWelfare.feedBack"
                     (change)="openFeedback()"
                     (blur)="verifyEmpty(copyWelfare.feedBack,'feedback1')">
                是
              </label>
              <label>
                <input id="feedback2" name="feedback"
                     type="radio" value="否"
                     [(ngModel)]="copyWelfare.feedBack"
                     (blur)="verifyEmpty(copyWelfare.feedBack,'feedback2')">
                否
              </label>
              <label style="float: right" *ngIf="copyWelfare.feedBack==='是'">
                <a class="btn-add" (click)="openFeedback()">
                  <i class="icon-bell"></i>需反馈的信息
                </a>
              </label>
              <div class="error" style="position: absolute;right: 0;margin-top: -40px;padding-right: 50px;width: auto;"></div>
            </div>
            <div class="modal-more" id="feedbackModal"
                 *ngIf="copyWelfare.feedBack==='是'">
              <div class="table-head">
                <table border="0" cellspacing="0" cellpadding="0" class="list-box">
                  <tr class="row list-title" style="height:45px;">
                    <th width="25%" class="text-left">反馈信息</th>
                    <th width="20%" class="text-left">输入类型</th>
                    <th width="30%" class="text-left">枚举值(用|隔开)</th>
                    <th width="20%" class="text-left">备注</th>
                    <th width="5%"></th>
                  </tr>
                </table>
              </div>
              <table  class="form-group" *ngFor="let otherfeed of tempFeedbackMsg;let i = index;">
                <tr  class="control-label" *ngIf="otherfeed.isShow">
                  <td  width="25%">
                    <input class="form-control min-title" type="text"
                           [name]="'otherfeedKey'+i" [(ngModel)]="otherfeed.key">
                  </td>
                  <td  width="20%">
                    <select  class="form-control min-title"
                             [name]="'otherfeedType'+i"
                             [(ngModel)]="otherfeed.type">
                      <option value="文本">文本</option>
                      <option value="下拉框">下拉框</option>
                    </select>
                  </td>
                  <td  width="30%">
                    <input class="form-control min-title" type="text" *ngIf="otherfeed.type==='下拉框'"
                           [name]="'otherfeedList'+i" [(ngModel)]="otherfeed.list">
                  </td>
                  <td  width="20%">
                    <input class="form-control min-title" type="text"
                           [name]="'otherfeedValue'+i" [(ngModel)]="otherfeed.msg">
                  </td>
                  <td  width="5%">
                    <a class="btn-close" (click)="delFeedbackLine(i)">
                      <i class="icon-close"></i>
                    </a>
                  </td>
                </tr>
              </table>
              <div class="opt-other">
                <a class="btn-add" (click)="addFeedbackLine()">
                  <i class="icon-plus"></i>
                  添加反馈字段
                </a>
              </div>
              <div  class="modal-more-footer">
                <button  class="btn btn-info" type="submit"
                         (click)="closeFeedback()">完 成</button>
              </div>
            </div>
          </div>
          <div  class="form-group" *ngIf="copyWelfare.feedBack==='是'">
            <label  class="control-label"><span>反馈截止日期</span>
                <input class="form-control" id="feedBackEtime" name="feedBackEtime"
                       type="date" [disabled]="winTitle === '编辑'"
                       [(ngModel)]="copyWelfare.feedBackEtime"
                       (blur)="verifyfeedBackEtime(copyWelfare.feedBack,copyWelfare.feedBackEtime,'feedBackEtime')">
              <div class="error" style="position: absolute;right: 0;margin-top: -40px;padding-right: 50px;width: auto;"></div>
            </label>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>状态</span>
              <label>
                <input id="status1" name="status"
                       type="radio" value="正常"
                       [(ngModel)]="copyWelfare.status"
                       (blur)="verifyEmpty(copyWelfare.status,'status1')">
                正常
              </label>
              <label>
                <input id="status2" name="status"
                       type="radio" value="失效"
                       [(ngModel)]="copyWelfare.status"
                       (blur)="verifyEmpty(copyWelfare.status,'status2')">
                失效
              </label>
              <div class="error" style="position: absolute;right: 0;margin-top: -40px;padding-right: 50px;width: auto;"></div>
            </label>
          </div>
          <div class="opt-other">
            <a class="btn-add" (click)="addLine()">
              <i class="icon-plus"></i>
              添加自定义字段
            </a>
          </div>
        </div>
        <div class="table-head" *ngIf="tempOther&&tempOther.length>0">
          <table border="0" cellspacing="0" cellpadding="0" class="list-box">
            <tr class="row list-title" style="height:30px;">
              <th  class="text-left" width="30%">字段名称</th>
              <th  class="text-left" width="65%">字段内容</th>
              <th width="5%"></th>
            </tr>
          </table>
        </div>
        <table  class="form-group" *ngFor="let other of tempOther;let i = index;">
          <tr  class="control-label" *ngIf="other.isShow">
            <td  width="30%">
              <input class="form-control min-title" type="text"
                     [name]="'otherKey'+i" [(ngModel)]="other.key">
            </td>
            <td  width="65%">
              <input class="form-control min-title" type="text"
                     [name]="'otherValue'+i" [(ngModel)]="other.value">
            </td>
            <td  width="5%">
              <a class="btn-close" (click)="delLine(i)">
              <i class="icon-close"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div  class="modal-footer">
        <button  class="btn btn-info" type="submit"
                 (click)="submit()">保 存</button>
        <button  class="btn btn-danger" type="button"
                 (click)="closeMask()">取 消</button>
      </div>
    </form>
  </div>
</div>
