 <!--物品搜索-->
    <div class="right">
      <div class="wrap-content">
        <div class="wrap-space">
          <div class="banner clearfix">
            <div class="banner-img"><!--<img src="../../../../assets/image/z1.jpg">-->
            <app-slide-img></app-slide-img>
            </div>
            <div class="banner-list" id="banner-list">
              <h2>公告</h2>
              <ul>
                  <li *ngFor="let groupNotice of groupNotices;let idx=index" (click)="viewNotice(groupNotice.id)">
                    {{idx+1}}、{{groupNotice.title}}
                  </li>
              </ul>
            </div>
          </div>
          <div class="wrap-b clearfix">
            <div class="b-head">
              <span>团购商品</span>
              <div class="b-head-right">
                <div class="content-box" [routerLink]="['../../../'+mangUrl]" *ngIf="rule&&(rule.isUpdate||rule.isInstall||rule.isDelete)"><i class="icon-grid"></i> 进入管理</div>
                <div class="content-box" [routerLink]="['../myorder']"><i class="icon-film"></i> 我的订单</div>
                <div class="content-box" [routerLink]="['../cart']"><i class="icon-basket-loaded"></i> 购物车 <strong>({{cartsize}})</strong></div>
                <!--<div class="content-box" (click)="viewNotice()"><i class="icon-volume-2"></i> 公告</div>-->
              </div>
            </div>
            <div class="wrap clearfix">
              <div class="iptgroup">
                <input type="text" name="search" [(ngModel)]="search.name"/>
              </div>
              <a class="search" href="javascript: void(0);" (click)="getProductShowList()">查询</a>
              <!-- <input class="search" type="button" value="查询" (click)="getProductShowList()">-->
            </div>
            <div class="b-con">
              <div class="tuan" *ngFor="let groupProduct of groupProducts;let idx=index">
                <dl class="clearfix">
                  <dt class="showpic">
                    <img *ngIf="groupProduct.imgPath!==''" [src]="groupProduct.imgPath | imgsafeurl"/>
                  </dt>
                  <dd>
                    <h4 class="name-great">{{groupProduct.name}}</h4>
                    <ul class="line-nav">
                      <li>{{groupProduct.label}}</li>
                    </ul>
                    <div class="bg-value">¥ {{groupProduct.price}}</div>
                    <p><span class="txt-name">联系人:</span><span class="txt-value">{{groupProduct.contact}}</span></p>
                    <p><span class="txt-name">联系电话:</span><span class="txt-value">{{groupProduct.phone}}</span></p>
                    <!--<ul class="count">
                      <li>数量：</li>
                      <li (click)="onclikjian(idx,groupProduct.code)"><span id="num-jian" class="num-jian">-</span></li>
                      <li><input type="text" class="input-num" readonly id="input-num-{{idx}}" [ngModelOptions]="{standalone: true}"  [(ngModel)]="groupProduct.quantity"/></li>
                      <li  (click)="onclikadd(idx,groupProduct.code)"><span id="num-jia" class="num-jia">+</span></li>
                    </ul>-->

                  </dd>
                </dl>
                <div class="time clearfix"><i class="icon-clock"></i>
                  <span>团购时间：</span><span>{{groupProduct.startTime}}至{{groupProduct.endTime}}</span>
                  <a class="yudingbtn" href="javascript: void(0);" (click)="addToCart(groupProduct.code)">马上预订</a>
                </div>
                <div class="line-txt">
                  <span>商品描述</span>
                  <p>{{groupProduct.detail}}</p>
                </div>
                <div class="txt">

                </div>
              </div>
            </div>
            <app-turn-bar
              [pageNo]="pageNo"
              [pageSize]="pageSize"
              [total]="total"
              [length] = 5
              (turnEvent)="goPage($event)">
            </app-turn-bar>
          </div>
        </div>
      </div>
    </div>
    <div class="mask">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">查看公告</h4>
          <button type="button" class="close" (click)="closeMask()">×</button>
        </div>
        <div class="modal-body clearfix">
          <div style="text-align: center;padding-top: 20px;">
            <label style="text-align: center"> {{groupNotice.title}}</label>
          </div>
          <div class="modal-right2">
              <textarea name="notice" ui-tinymce
                        class="form-control" rows="10"
                        style="width: 85%;!important;background-color: #ffffff !important;border: none;" readonly='true' value="{{groupNotice.notice}}" >
               </textarea>
          </div>
        </div>
      </div>
    </div>
