<div class="right" xmlns="http://www.w3.org/1999/html">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head clearfix">
          <div class="b-head-left">
            <span *ngFor="let cata of catas"
                  [ngClass]="cata.routeUrl===rule.routeUrl?'active':''"
                  [routerLink]="['../../../'+cata.routeUrl]"
            >{{cata.name}}</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../groupbuy']"><i class="icon-action-undo"></i> 继续订购</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap clearfix">
            <div class="iptgroup" *ngIf="rule&&rule.isSelect">
              <input placeholder="请输入商品名称" [(ngModel)]="search.name" />
            </div>
            <a class="search" *ngIf="rule&&rule.isSelect" (click)="getProductList(1)" href="javascript:;">查询</a>
            <div class="row" *ngIf="rule&&rule.isInstall">
              <a class="btn btn-danger" (click)="fadeBom()" style="padding: 6px 22px;">
                <i class="icon-plus"></i> 新增</a>
            </div>
          </div>
          <div class="list-table">
            <table class="table-head">
              <tr>
                <td class="fir">商品信息</td>
                <td class="sec">单价(元)</td>
                <td class="sec">状态</td>
                <td class="sec">团购对象</td>
                <td class="six">审核人意见</td>
                <td class="three">配送方式</td>
                <td class="four">标签</td>
                <td class="five">团购时间</td>
                <td class="six">发起人信息</td>
              </tr>
            </table>
            <dl *ngFor="let product of groupProducts;let idx=index">
              <dt><span>商品名称：{{product.name}}</span>
              <div class="ope-list">
                <a title="重新提交" *ngIf="rule&&rule.isUpdate&&product.checkStatus === '2'" (click)="reCheck(product.code)">
                  <i class="icon-cloud-upload"></i></a>
                <a class="two"  title="修改" *ngIf="rule&&rule.isUpdate&&product.status=='0'" (click)="update(product.code)"></a>
                <a class="tre" *ngIf="rule&&rule.isDelete&&product.status=='0'" title="删除" (click)="delete(product.code)"></a>
              </div>
              </dt>
              <dd>
                <table style="width: 100%;">
                  <tr>
                    <td class="fir">
                      <img *ngIf="product.imgPath&&product.imgPath.length>0" [src]="ipSetting.imgUrl+product.imgPath[0]" />
                    </td>
                    <td class="sec">￥{{product.price}}</td>
                    <td class="sec">
                      <label *ngIf="product.status=='0'">录入</label>
                      <label *ngIf="product.status=='1'">上架</label>
                      <label *ngIf="product.status=='2'">下架</label><br>
                      <label *ngIf="product.checkStatus=='0'">（待审核）</label>
                      <label *ngIf="product.checkStatus=='1'" style="color: green;">（审核通过）</label>
                      <label *ngIf="product.checkStatus=='2'" style="color: red;">（不通过）</label>
                    </td>
                    <td class="sec">{{product.targetName}}</td>
                    <td class="six">{{product.checkResult}}</td>
                    <td class="three" >配送至{{product.shipping}}</td>
                    <td class="four">{{product.label}}</td>
                    <td class="five">
                      <span>{{product.startTime}}</span>
                      <span>至</span>
                      <span>{{product.endTime}}</span>
                    </td>
                    <td class="six">
                      <span>{{product.contact}}</span>
                      <span>{{product.phone}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td  style="text-align: left; padding:0 10px 10px;" colspan="6" > 简介：<p class="con">{{product.detail}}</p></td>
                  </tr>
                </table>
              </dd>
            </dl>
          </div>
          <app-turn-bar
            [pageNo]="pageNo"
            [pageSize]="pageSize"
            [total]="total"
            [length] = 5
            (turnEvent)="getProductList($event)">
          </app-turn-bar>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mask">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">新增商品</h4>
      <button type="button" class="close" (click)="closeMask()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body ">
        <div class="protop clearfix">
          <div class="protop-left">
            <div class="pimg">
              <div class="dropify-wrapper">
                <div class="dropify-message">
                  <img *ngIf="imgUrlPath&&imgUrlPath[0]!==''"  [src]="ipSetting.imgUrl+imgUrlPath[0]" />
                </div>
                <p>点击此处上传图片</p>
                <input type="file" class="dropify" #preseA id="preseA"  (change)="prese_upload(preseA.files,0)">
              </div>
            </div>
            <div class="pimg">
              <div class="dropify-wrapper">
                <div class="dropify-message">
                  <img *ngIf="imgUrlPath&&imgUrlPath[1]!==''"  [src]="ipSetting.imgUrl+imgUrlPath[1]" />
                </div>
                <p>点击此处上传图片</p>
                <input type="file" class="dropify" #preseB id="preseB"  (change)="prese_upload(preseB.files,1)">
              </div>
            </div>
            <div class="pimg">
              <div class="dropify-wrapper">
                <div class="dropify-message">
                  <img *ngIf="imgUrlPath&&imgUrlPath[2]!==''"  [src]="ipSetting.imgUrl+imgUrlPath[2]"/>
                </div>
                <p>点击此处上传图片</p>
                <input type="file" class="dropify" #preseC id="preseC"  (change)="prese_upload(preseC.files,2)">
              </div>
            </div>
          </div>

          <div class="pdetail">
            <div class="for">
              <label>商品名称：</label>
              <input type="text" id="newname" name="newname" (blur)="verifyEmpty('newname','商品名称不能为空')"
                     class="producttext"  [(ngModel)]="newGroupProduct.name">
              <span class="errorMessage"></span>
            </div>
            <div class="for">
              <div style="width: 55%">
                <label>收款账号：</label>
                <input type="text" class="producttext" id="newpayaccount" name="newpayaccount"
                       (blur)="verifyEmpty('newpayaccount','不能为空')"   [(ngModel)]="newGroupProduct.payaccount">
                <span class="errorMessage"></span>
              </div>
              <div style="width: 50%">
                <label>配送方式：</label>
                <select class="producttext" id="shipping" name="shipping"
                        (blur)="verifyEmpty('shipping','不能为空')"   [(ngModel)]="newGroupProduct.shipping">
                  <option value="公司">公司</option>
                  <option value="家">家</option>
                </select>
                <span class="errorMessage"></span>
              </div>
            </div>
            <div class="for">
              <div  style="width: 55%">
                <label>商品标签：</label>
                <input type="text" class="producttext" id="newplabel" name="newplabel"   [ngModelOptions]="{standalone: true}" [(ngModel)]="newGroupProduct.label">
              </div>
              <div style="width: 50%">
                <label>商品价格：</label>
                <input type="number" class="producttext" id="newprice" name="newprice" style="width:75px;"
                       (blur)="verifyEmpty('newprice','价格不能为空')" maxlength="9" [(ngModel)]="newGroupProduct.price">元
                <span class="errorMessage"></span>
              </div>
            </div>
            <div class="for">
              <div style="width: 55%">
                <label>联  系  人 ：</label>
                <input type="text" class="producttext" style="width:81px;" id="newpconcant" name="newpconcant"
                       (blur)="verifyEmpty('newpconcant','不能为空')"   [(ngModel)]="newGroupProduct.contact">
                <span class="errorMessage"></span>
              </div>
              <div style="width: 55%">
                <label>联系电话：</label>
                <input type="text" class="producttext" style="width:88px;" id="newphone" name="newphone"
                       (blur)="verifyEmpty('newphone','电话不能为空')"   [(ngModel)]="newGroupProduct.phone">
                <span class="errorMessage"></span>
              </div>
            </div>
            <div  class="for">
              <label>团购时间：</label>
              <input type="date" class="producttext" name="newstartTime" id="newstartTime" (blur)="verifyEmpty('newstartTime','不能为空')"
                     style="width:130px !important;"   [(ngModel)]="newGroupProduct.startTime">
              <span class="errorMessage"></span>
             至
              <input type="date" class="producttext" name="newendTime" id="newendTime" (blur)="verifyEmpty('newendTime','不能为空')"
                     style="width:130px !important;margin-left: 5px" [(ngModel)]="newGroupProduct.endTime">
              <span class="errorMessage"></span>
            </div>
            <div  class="for clearfix">
              <label style="display: block; height: 16px; margin-right: 10px;">团购对象</label>
              <textarea class="form-control" rows="3"
                        style="border:1px solid #dddddd;width:445px;!important;height:auto;background-color: #ffffff !important;"
                        onclick="$('#deptSltWin').show()"
                        id="deptName" name="deptName" readonly
                        [(ngModel)]="newGroupProduct.targetName">
              </textarea>

              <div class="errorMessage"></div>
            </div>
            <div class="for clearfix">
              <label style="display: block; height: 16px; margin-right: 10px;">商品详情：</label>
              <textarea name="newesetail"
                        class="form-control" rows="5"
                        id="newesetail" (blur)="verifyEmpty('newesetail','不能为空')"
                        style="border:1px solid #dddddd;width:445px;!important;height:auto;background-color: #ffffff !important;"  [(ngModel)]="newGroupProduct.detail" >
              </textarea>
              <span class="errorMessage" style=""></span>
            </div>
            <div class="modal-more" id="deptSltWin" style="display: none">
              <h5>杭州移动各部门</h5>
              <h5>已选：&nbsp;&nbsp;
                <span>{{newGroupProduct.targetName}}</span></h5>
              <div class="choose-group">
                <label class="cb-blue">
                  <input type="checkbox" name="all" id="all" [(ngModel)]="isAllDept" (change)="chooseAll()">
                  <span>所有人员</span>
                </label>
              </div>
              <div class="choose-list">
                <div class="choose-group" *ngFor="let dept of deptList;let i=index">
                  <label class="cb-blue">
                    <input type="checkbox" [name]="dept.DEPT_ID" [(ngModel)]="dept.choose"
                           [value]="dept.DEPT_ID"
                           (change)="chooseDept()">
                    <span>{{dept.DEPT_NAME}}</span>
                  </label>
                </div>
              </div>
              <div  class="modal-more-footer">
                <button  class="btn btn-info" type="submit"
                         onclick="$('#deptSltWin').fadeOut()">确定</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMask()">取 消</button>
        <button type="submit" class="btn btn-info" (click)="subGroupProduct()" >保 存</button>
      </div>
    </form>
  </div>
</div>

<div class="mask2">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">修改商品</h4>
      <button type="button" class="close" (click)="closeMask2()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body">
        <div class="protop clearfix">
          <div class="protop-left">
            <div class="pimg">
              <div class="dropify-wrapper">
                <div class="dropify-message">
                  <img *ngIf="open" [src]="ipSetting.imgUrl+imgUrl[0]" />
                </div>
                <p>点击此处上传图片</p>
                <input type="file" class="dropify" #prese1 id="prese1" (change)="prese_upload2(prese1.files,0)">
              </div>
            </div>
            <div class="pimg">
              <div class="dropify-wrapper">
                <div class="dropify-message">
                  <img *ngIf="open&&imgUrl[1]" [src]="ipSetting.imgUrl+imgUrl[1]" />
                </div>
                <p>点击此处上传图片</p>
                <input type="file" class="dropify" #prese2 id="prese2" (change)="prese_upload2(prese2.files,1)">
              </div>
            </div>
              <div class="pimg">
                <div class="dropify-wrapper">
                  <div class="dropify-message">
                    <img *ngIf="open&&imgUrl[2]" [src]="ipSetting.imgUrl+imgUrl[2]" />
                  </div>
                  <p>点击此处上传图片</p>
                  <input type="file" class="dropify" #prese3 id="prese3" (change)="prese_upload2(prese3.files,2)">
                </div>
            </div>
          </div>
          <div class="pdetail">
            <div class="for">
              <label>商品名称：</label>
              <input type="text" class="producttext" id="upnewname" name="upnewname"  (blur)="verifyEmpty('upnewname','商品名称不能为空')"   [(ngModel)]="upGroupProduct.name">
              <span class="errorMessage"></span>
            </div>
            <div class="for">
              <div style="width: 55%">
                <label>收款账号：</label>
                <input type="text" class="producttext" id="upnewpayaccount" name="upnewpayaccount" (blur)="verifyEmpty('upnewpayaccount','账户不能为空')"   [(ngModel)]="upGroupProduct.payaccount">
                <span class="errorMessage"></span>
              </div>
              <div style="width: 50%">
                <label>配送方式：</label>
                <select class="producttext" id="upshipping" name="upshipping"
                        (blur)="verifyEmpty('upshipping','不能为空')"   [(ngModel)]="upGroupProduct.shipping">
                  <option value="公司">公司</option>
                  <option value="家">家</option>
                </select>
                <span class="errorMessage"></span>
              </div>
            </div>
            <div class="for">
              <div  style="width: 55%">
                <label>商品标签：</label>
                <input type="text" class="producttext" id="upnewlabel" name="upnewlabel"   [(ngModel)]="upGroupProduct.label">
                <input type="hidden"  id="upnewstatus" name="upnewstatus"   [(ngModel)]="upGroupProduct.status">
              </div>
              <div style="width: 50%">
                <label>商品价格：</label>
                <input type="text" class="producttext" style="width: 81px" id="upnewprice" name="upnewprice"
                       (blur)="verifyEmpty('upnewprice','费用不能为空')"  [(ngModel)]="upGroupProduct.price">元
                <span class="errorMessage"></span>
              </div>
            </div>
            <div class="for">
              <div style="width: 55%">
                <label>联 系 人：</label>
                <input type="text" class="producttext" style="width: 81px" name="upnewpconcant" id="upnewpconcant"
                       (blur)="verifyEmpty('upnewpconcant','不能为空')"  [(ngModel)]="upGroupProduct.contact">
                <span class="errorMessage"></span>
              </div>
              <div style="width: 50%">
                <label>联系电话：</label>
                <input type="text" class="producttext"  style="width:81px" id="upnewphone" name="upnewphone"
                       (blur)="verifyEmpty('upnewphone','电话不能为空')" [(ngModel)]="upGroupProduct.phone">
                <span class="errorMessage"></span>
              </div>
            </div>
            <div class="for" style="margin-top: 15px">
              <label>团购时间：</label>
              <input type="date" class="producttext" name="upnewstartTime"  id="upnewstartTime" (blur)="verifyEmpty('upnewstartTime','不能为空')"
                     style="width:118px !important;"   [(ngModel)]="upGroupProduct.startTime" >
              <span class="errorMessage"></span>
              至
              <input type="date" class="producttext" name="upnewendTime" id="upnewendTime" (blur)="verifyEmpty('upnewendTime','不能为空')"
                     style="width:118px !important;margin-left: 5px"  [(ngModel)]="upGroupProduct.endTime" >
              <span class="errorMessage"></span>
            </div>
            <div  class="for clearfix">
              <label style="display: block; height: 16px; margin-right: 10px;">团购对象</label>
              <textarea class="form-control" rows="3"
                        style="border:1px solid #dddddd;width:445px;!important;height:auto;background-color: #ffffff !important;"
                        onclick="$('#deptSltWin2').show()"
                        id="deptName2" name="deptName2" readonly
                        [(ngModel)]="upGroupProduct.targetName">
              </textarea>

              <div class="errorMessage"></div>
            </div>
            <div class="for clearfix">
              <label style="display: block; height: 16px; margin-right: 10px;">商品详情：</label>
              <textarea name="upnewesetail"
                        class="form-control" rows="5"
                        id="upnewesetail" (blur)="verifyEmpty('upnewesetail','不能为空')"
                        style="border:1px solid #dddddd;width:445px;!important;height:auto;background-color: #ffffff !important;"
                        [(ngModel)]="upGroupProduct.detail" [value]="upGroupProduct.detail">
              </textarea>
              <span class="errorMessage" style="display: block; "></span>
            </div>
            <div class="modal-more" id="deptSltWin2" style="display: none">
              <h5>杭州移动各部门</h5>
              <h5>已选：&nbsp;&nbsp;
                <span>{{upGroupProduct.targetName}}</span></h5>
              <div class="choose-group">
                <label class="cb-blue">
                  <input type="checkbox" name="all2" id="all2" [(ngModel)]="isAllDept2" (change)="chooseAll2()">
                  <span>所有人员</span>
                </label>
              </div>
              <div class="choose-list">
                <div class="choose-group" *ngFor="let dept of deptList;let i=index">
                  <label class="cb-blue">
                    <input type="checkbox" [name]="dept.DEPT_ID" [(ngModel)]="dept.choose"
                           [value]="dept.DEPT_ID"
                           (change)="chooseDept2()">
                    <span>{{dept.DEPT_NAME}}</span>
                  </label>
                </div>
              </div>
              <div  class="modal-more-footer">
                <button  class="btn btn-info" type="submit"
                         onclick="$('#deptSltWin2').fadeOut()">确定</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMask2()">取 消</button>
        <button type="submit" class="btn btn-info"   (click)="updateGroupProduct()" >保 存</button>
      </div>
    </form>
  </div>
</div>
