<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<div class="main">
  <router-outlet>
  <!--商品搜索栏-->
  <div class="view">
    <div class="search-bar">
      <div class="panel-head">
        <i class="icon-magnifier"></i>
        搜索
      </div>
      <div class="panel">
        <ul>
          <li>
            <label>商品名称</label>
            <input type="text"[(ngModel)]="search.name" >
            <label>状态</label>
            <input type="text"[(ngModel)]="search.status" >
          </li>
        </ul>
        <div class="panel-search">
          <input class="btn-info" type="button" value="开始查询" (click)="getProductList()">
        </div>
      </div>
    </div>
  </div>
  <!--大楼列表展示-->
  <div class="view" style="background-color: #ffffff;margin-top: 10px">
    <div class="row">
      <a class="btn btn-danger"(click)="fadeBom()"  href="javascript:;"><i class="icon-plus"></i> 新增</a>
    </div>
    <table class="table table-bordered table-striped table-hover dataTable no-footer" style="margin-top: 20px;text-align: center">
      <thead>
      <tr>
        <th style="text-align: center!important;color: #428bca">序号</th>
        <th style="text-align: center!important;color: #428bca">商品编号</th>
        <th style="text-align: center!important;color: #428bca">商品名称</th>
        <th style="text-align: center!important;color: #428bca">详情</th>
        <th style="text-align: center!important;color: #428bca">价格</th>
        <th style="text-align: center!important;color: #428bca">图片</th>
        <td>操作</td>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let groupProduct of groupProducts;let idx=index">
        <td>{{idx+1}}</td>
        <td>{{groupProduct.code}}</td>
        <td>{{groupProduct.name}}</td>
        <td maxlength="80">{{groupProduct.detail}}</td>
        <td>{{groupProduct.price}}</td>
        <td>{{groupProduct.image}}</td>
        <td>
            <span>
              <a href="javascript:;"  (click)="view(groupProduct.code)"><font color="#428bca">查看</font></a>&nbsp;&nbsp;&nbsp;
              <a href="javascript:;" (click)="update(groupProduct.code)"><font color="#428bca">修改</font></a>&nbsp;&nbsp;&nbsp;
              <a href="javascript:;" (click)="delete(groupProduct.code)"><font color="#428bca">删除</font></a></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="mask">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">新增商品</h4>
          <button type="button" class="close"(click)="closeMask()">×</button>
        </div>
        <form class="form-building form-material">
          <div class="modal-body clearfix">
            <div class="protop">
              <div class="pimg">
                <div class="dropify-wrapper">
                  <div class="dropify-message">
                    <img *ngIf="newGroupProduct.image!==''" [src]="'/proxy/' + newGroupProduct.image" />
                  </div>
                  <p>点击此处上传图片</p>
                  <input type="file" class="dropify" #prese id="prese" (change)="prese_upload(prese.files)">
                </div>
              </div>
              <div class="pdetail">
                <div>
                  <label>商品名称：</label>
                  <input type="text" class="noticetext" [ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="newGroupProduct.name">
                </div>
                <div class="for">
                  <div style="width: 55%">
                  <label>商品价格：</label>
                  <input type="text" class="producttext" [ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="newGroupProduct.price">
                  </div>
                  <div style="width: 55%">
                  <label>商品标签：</label>
                  <select class="bor"[ngModelOptions]="{standalone: true}"  [(ngModel)]="newGroupProduct.label">
                    <option value="热销">热销</option>
                    <option value="推荐">推荐</option>
                  </select>
                  </div>
                </div>
                <div style="margin-top: 10px">
                  <label>团购时间：</label>
                  <input type="date" class="producttext" style="width: 41% !important;"  [ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="newGroupProduct.startTime">
                  <label>-</label>
                  <input type="date" class="producttext" style="width: 41% !important;"[ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="newGroupProduct.endTime">
                </div>
                <div class="for">
                  <div style="width: 55%">
                  <label>联 系 人：</label>
                  <input type="text" class="producttext" [ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="newGroupProduct.contact">
                  </div>
                  <div style="width: 55%">
                    <label>联系电话：</label>
                  <input type="text" class="producttext" [ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="newGroupProduct.phone">
                  </div>
                  </div>
                <div style="margin-top: 10px">
                  <label>收款账号：</label>
                  <input type="text" class="producttext" [ngModelOptions]="{standalone: true}"  placeholder=""  [(ngModel)]="newGroupProduct.payaccount">
                </div>
              </div>
            </div>
            <div class="modal-right2">
              <label>商品详情：</label>
              <textarea name="notice" ui-tinymce
                        class="form-control" rows="10"
                        style="margin-left:73px;margin-top:-20px;border:1px solid #dddddd;width: 88%;!important;height: 140px;background-color: #ffffff !important;"  [(ngModel)]="newGroupProduct.detail" >
               </textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeMask()">取 消</button>
            <button type="submit" class="btn btn-info"(click)="subGroupProduct()" >保 存</button>
          </div>
        </form>
      </div>
    </div>

    <div class="mask2">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">修改商品</h4>
          <button type="button" class="close"(click)="closeMask2()">×</button>
        </div>
        <form class="form-building form-material">
          <div class="modal-body clearfix">
            <div class="protop">
              <div class="pimg">
                <div class="dropify-wrapper">
                    <div class="dropify-message">
                      <img *ngIf="upGroupProduct.image!==''" [src]="'/proxy/' + upGroupProduct.image" />
                    </div>
                    <p>点击此处上传图片</p>
                    <input type="file" class="dropify" #prese id="prese2" (change)="prese_upload2(prese.files)">

                </div>
              </div>
              <div class="pdetail">
                <div>
                  <label>商品名称：</label>
                  <input type="text" class="noticetext" [ngModelOptions]="{standalone: true}"  placeholder=""  [(ngModel)]="upGroupProduct.name">
                </div>
                <div class="for">
                  <div style="width: 55%">
                  <label>商品价格：</label>
                  <input type="text" class="producttext" [ngModelOptions]="{standalone: true}"  placeholder=""  [(ngModel)]="upGroupProduct.price">
                  </div>
                  <div style="width: 55%">
                  <label>商品状态：</label>
                  <select class="bor"[ngModelOptions]="{standalone: true}"   [(ngModel)]="upGroupProduct.status">
                    <option value="01">显示</option>
                    <option value="02">不显示</option>
                  </select>
                  </div>
                </div>
                <div style="margin-top: 10px">
                  <label>团购时间：</label>
                  <input type="date" class="producttext" style="width: 41% !important;" [ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="upGroupProduct.startTime" >
                  <label>-</label>
                  <input type="date" class="producttext" style="width: 41% !important;" [ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="upGroupProduct.endTime" >
                </div>
                <div class="for">
                  <div style="width: 55%">
                  <label>联 系 人：</label>
                  <input type="text" class="producttext" [ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="upGroupProduct.contact">
                  </div>
                    <div style="width: 55%">
                    <label>联系电话：</label>
                   <input type="text" class="producttext" [ngModelOptions]="{standalone: true}"  placeholder="" [(ngModel)]="upGroupProduct.phone">
                    </div>
                </div>
                <div style="margin-top: 10px">
                  <label>收款账号：</label>
                  <input type="text" class="noticetext" [ngModelOptions]="{standalone: true}"  placeholder=""  [(ngModel)]="upGroupProduct.payaccount">
                </div>
              </div>
            </div>
            <div class="modal-right2">
              <label>商品详情：</label>
              <textarea name="notice" ui-tinymce
                        class="form-control" rows="10"
                        style="margin-left:73px;margin-top:-20px;border:1px solid #dddddd;width: 88%;!important;height: 140px;background-color: #ffffff !important;"  value="{{upGroupProduct.detail}}" >
               </textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeMask2()">取 消</button>
            <button type="submit" class="btn btn-info"(click)="updateGroupProduct()" >保 存</button>
          </div>
        </form>
      </div>
    </div>

    <div class="mask3">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">查看商品</h4>
          <button type="button" class="close"(click)="closeMask3()">×</button>
        </div>
        <form class="form-building form-material">
          <div class="modal-body clearfix">
            <div class="protop">
              <div class="pimg">
                <div class="dropify-wrapper">
                  <div class="dropify-message">
                    <img *ngIf="upGroupProduct.image!==''" [src]="'/proxy/' + upGroupProduct.image" />
                  </div>
                </div>
              </div>
              <div class="pdetail">
                <div class="for">
                  <label>商品名称：</label>
                  {{upGroupProduct.name}}
                </div>
                <div class="for">
                  <div  style="width: 48%">
                  <label>商品价格：</label>
                  {{upGroupProduct.price}}
                  </div>
                  <div style="width: 52%">
                  <label>商品标签：</label>
                  {{upGroupProduct.status}}
                  </div>
                </div>
                <div class="for">
                  <label>团购时间：</label>
                  {{upGroupProduct.startTime}}
                  <label>-</label>
                  {{upGroupProduct.endTime}}
                </div>
                <div class="for">
                  <div  style="width: 48%">
                  <label>联系人：</label>
                  {{upGroupProduct.contact}}
                  </div>
                  <div  style="width: 52%">
                  <label>联系电话：</label>
                  {{upGroupProduct.phone}}
                  </div>
                </div>
                <div class="for">
                  <label>首款账号：</label>
                  {{upGroupProduct.payaccount}}
                </div>
              </div>
            </div>
            <div class="modal-right2">
              <label>商品详情：</label>
              <textarea name="notice" ui-tinymce
                        class="form-control" rows="10"
                        style="margin-left:73px;margin-top:-20px;border:1px solid #dddddd;width: 88%;!important;height: 140px;background-color: #ffffff !important;" readonly="true" value="{{upGroupProduct.detail}}" >
               </textarea>
            </div>
          </div>
        </form>
      </div>
    </div>

  <div class="confirm">
    <div class="confirm-modal">
      <div class="confirm-icon confirm-question">?</div>
      <div class="confirm-content" >你确定要删除该公告吗?</div>
      <hr style="margin-top: 20px; margin-bottom: 20px; height: 10px;color: transparent;border: 0;">
      <button class="confirm-btn styled" (click)="okFunc()">确定</button>
      <button class="confirm-btn cancel" (click)="noFunc()">取消</button>
    </div>
  </div>
  </router-outlet>
</div>

