<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<script>
  $('.list-table dl').click(function () {
    $(this).addClass('blueself').siblings().removeClass('blueself').find('.ope-list').addClass('hid');
    $(this).find('.ope-list').removeClass('hid');
  })
  $('.right').css('width',$(window).width()-222);
  $(window).resize(function () {
    $('.right').css('width',$(window).width()-222);
  })
  if($('.wrap-b').height()<1000){
    $('.wrap-b').css('height',1000);
  }
</script>
    <div class="right">
      <div class="wrap-content">
        <div class="wrap-space">
          <div class="wrap-b">
            <div class="b-head">
              <span>团购商品管理</span>
            </div>
            <div class="b-con tuanmenu">
              <div class="wrap">
                <div class="iptgroup">
                  <input placeholder="请输入查询信息" [(ngModel)]="search.name" />
                  <a href="javascript: void(0);" class="ipt-search"></a>
                </div>
                <a class="search" href="javascript: void(0);" (click)="getProductList()" >查询</a>
              </div>
              <div class="row">
                <a class="btn btn-danger"(click)="fadeBom()"  href="javascript:;" style="padding: 6px 22px;"><i class="icon-plus"></i> 新增</a>
              </div>
              <div class="list-table">
                <table class="table-head">
                  <td class="fir">商品信息</td>
                  <td class="sec">单价(元)</td>
                  <td class="three">状态</td>
                  <td class="four">标签</td>
                  <td class="five">团购时间</td>
                  <td class="six">发起信息</td>
                </table>
                <dl *ngFor="let product of groupProducts;let idx=index">
                  <dt><span>商品名称：{{product.name}}</span>
                  <div class="ope-list">
                    <a class="four"  title="审核" href="javascript:void(0);"(click)="check(product.code)"></a>
                    <a class="one"   title="查看" href="javascript:void(0);"(click)="view(product.code)"></a>
                    <a class="two"   title="修改" href="javascript:void(0);"(click)="update(product.code)"></a>
                    <a class="tre"   title="删除" href="javascript:void(0);"(click)="delete(product.code)"></a>
                  </div>
                  </dt>
                  <dd>
                    <table style="width: 100%;">
                      <tr>
                        <td class="fir">
                          <img *ngIf="product.image!==''" [src]="'/proxy/' + product.image" />
                        </td>
                        <td class="sec">{{product.price}}</td>
                        <td class="three" *ngIf="product.status=='0'">录入</td>
                        <td class="three" *ngIf="product.status=='1'">上架</td>
                        <td class="three" *ngIf="product.status=='2'">下架</td>
                        <td class="three" *ngIf="product.status=='3'">不通过</td>
                        <td class="four">{{product.label}}</td>
                        <td class="five">
                          <span>{{product.startTime}}</span>
                          <span>至</span>
                          <span>{{product.endTime}}</span>
                        </td>
                        <td class="six">
                          <span>{{product.contact}}</span>
                          <span>{{product.phone}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td  style="text-align: left" colspan="5" > <label>简介：</label> <p class="con">{{product.detail}}</p></td>
                      </tr>
                    </table>
                  </dd>
                </dl>
              </div>
              <div class="turn" name="pages" *ngIf="pages.length > 1">
                <ul>
                  <li *ngFor="let i of pages"
                      [hidden] = "pageLimit(i)"
                      [ngClass]="{'active':i === pageNo}"
                      (click)="goPage(i);">
                    {{i}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mask">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">新增商品</h4>
          <button type="button" class="close"(click)="closeMask()">×</button>
        </div>
        <form class="form-material">
          <div class="modal-body clearfix">
            <div class="protop">
              <div class="pimg">
                <div class="dropify-wrapper">
                  <div class="dropify-message">
                    <img *ngIf="newGroupProduct.image!==''"  [src]="'/proxy/' + newGroupProduct.image" />
                  </div>
                  <p>点击此处上传图片</p>
                  <input type="file" class="dropify" #prese1 id="prese1"  (change)="prese_upload(prese1.files)">
                  <span class="errorMessage"></span>
                </div>
              </div>
              <div class="pdetail">
                <div>
                  <label>商品名称：</label>
                  <input type="text" id="newname" name="newname" (blur)="verifyEmpty('newname','商品名称不能为空')" class="noticetext" placeholder="" [(ngModel)]="newGroupProduct.name">
                  <span class="errorMessage"></span>
                </div>
                <div class="for">
                  <div style="width: 58%">
                    <label>收款账号：</label>
                    <input type="text" class="producttext" id="newpayaccount" name="newpayaccount" (blur)="verifyEmpty('newpayaccount','账户不能为空')"   [(ngModel)]="newGroupProduct.payaccount">
                    <span class="errorMessage"></span>
                  </div>
                  <div style="width: 55%">
                    <label>商品价格：</label>
                    <input type="text" class="producttext" id="newprice" name="newprice"  (blur)="verifyEmpty('newprice','费用不能为空')"    placeholder="" [(ngModel)]="newGroupProduct.price">
                    <span class="errorMessage"></span>
                  </div>
                </div>
                <div class="for">
                  <div>
                    <label>商品标签：</label>
                    <input type="text" class="producttext" id="newplabel" name="newplabel"   [ngModelOptions]="{standalone: true}" [(ngModel)]="newGroupProduct.label">
                  </div>
                </div>
                <div class="for">
                  <div style="width: 57%">
                    <label>联  系  人 ：</label>
                    <input type="text" class="producttext" id="newpconcant" name="newpconcant"  (blur)="verifyEmpty('newpconcant','不能为空')"   [(ngModel)]="newGroupProduct.contact">
                    <span class="errorMessage"></span>
                  </div>
                  <div style="width: 55%">
                    <label>联系电话：</label>
                    <input type="text" class="producttext" id="newphone" name="newphone" (blur)="verifyEmpty('newphone','电话不能为空')"   [(ngModel)]="newGroupProduct.phone">
                    <span class="errorMessage"></span>
                  </div>
                </div>
                <div style="margin-top: 15px">
                  <label>团购时间：</label>
                  <input type="date" class="producttext" name="newstartTime" id="newstartTime" (blur)="verifyEmpty('newstartTime','不能为空')" style="width:30% !important;"   [(ngModel)]="newGroupProduct.startTime">
                  <span class="errorMessage"></span>
                  <label style="margin-left:6px">-</label>
                  <input type="date" class="producttext" name="newendTime" id="newendTime" (blur)="verifyEmpty('newendTime','不能为空')" style="width:30% !important;margin-left: 5px" [(ngModel)]="newGroupProduct.endTime">
                  <span class="errorMessage"></span>
                </div>
              </div>
            </div>
            <div class="modal-right2">
              <label>商品详情：</label>
              <textarea name="newesetail" ui-tinymce
                        class="form-control" rows="10"
                        id="newesetail" (blur)="verifyEmpty('newesetail','结束时间不能为空')"
                        style="margin-left:73px;margin-top:-20px;border:1px solid #dddddd;width: 88%;!important;height: 140px;background-color: #ffffff !important;"  [(ngModel)]="newGroupProduct.detail" >
               </textarea>
              <span class="errorMessage"></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeMask()">取 消</button>
            <button type="submit" class="btn btn-info"(click)="subGroupProduct()" >保 存</button>
          </div>
        </form>
      </div>
    </div>

    <div class="mask2">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">修改商品</h4>
          <button type="button" class="close"(click)="closeMask2()">×</button>
        </div>
        <form class="form-building form-material">
          <div class="modal-body clearfix">
            <div class="protop">
              <div class="pimg">
                <div class="dropify-wrapper">
                  <div class="dropify-message">
                    <img *ngIf="upGroupProduct.image!==''" [src]="'/proxy/' + upGroupProduct.image" />
                  </div>
                  <p>点击此处上传图片</p>
                  <input type="file" class="dropify" #prese2 id="prese2" (change)="prese_upload2(prese2.files)">
                </div>
              </div>
              <div class="pdetail">
                <div class="for">
                  <label>商品名称：</label>
                  <input type="text" class="producttext" id="upnewname" name="upnewname"  (blur)="verifyEmpty('upnewname','商品名称不能为空')"   [(ngModel)]="upGroupProduct.name">
                  <span class="errorMessage"></span>
                </div>
                <div class="for">
                  <div>
                    <label>收款账号：</label>
                    <input type="text" class="producttext" id="upnewpayaccount" name="upnewpayaccount" (blur)="verifyEmpty('upnewpayaccount','账户不能为空')"   [(ngModel)]="upGroupProduct.payaccount">
                    <span class="errorMessage"></span>
                  </div>
                </div>
                <div class="for">
                  <div  style="width: 55%">
                    <label>商品标签：</label>
                    <input type="text" class="producttext" id="upnewlabel" name="upnewlabel"   [(ngModel)]="upGroupProduct.label">
                    <input type="hidden"  id="upnewstatus" name="upnewstatus"   [(ngModel)]="upGroupProduct.status">
                  </div>
                  <div style="width: 50%">
                    <label>商品价格：</label>
                    <input type="text" class="producttext" id="upnewprice" name="upnewprice" (blur)="verifyEmpty('upnewprice','费用不能为空')"  [(ngModel)]="upGroupProduct.price">
                    <span class="errorMessage"></span>
                  </div>
                </div>
                <div class="for">
                  <div style="width: 55%">
                    <label>联 系 人：</label>
                    <input type="text" class="producttext" style="width: 118px" name="upnewpconcant" id="upnewpconcant" (blur)="verifyEmpty('upnewpconcant','不能为空')"  [(ngModel)]="upGroupProduct.contact">
                    <span class="errorMessage"></span>
                  </div>
                  <div style="width: 50%">
                    <label>联系电话：</label>
                    <input type="text" class="producttext"  style="width: 118px" id="upnewphone" name="upnewphone"  (blur)="verifyEmpty('upnewphone','电话不能为空')" [(ngModel)]="upGroupProduct.phone">
                    <span class="errorMessage"></span>
                  </div>
                </div>
                <div class="for" style="margin-top: 15px">
                  <label>团购时间：</label>
                  <input type="date" class="producttext" name="upnewstartTime"  id="upnewstartTime" (blur)="verifyEmpty('upnewstartTime','不能为空')" style="width:118px !important;"   [(ngModel)]="upGroupProduct.startTime" >
                  <span class="errorMessage"></span>
                  至
                  <input type="date" class="producttext" name="upnewendTime" id="upnewendTime" (blur)="verifyEmpty('upnewendTime','不能为空')" style="width:118px !important;margin-left: 5px"  [(ngModel)]="upGroupProduct.endTime" >
                  <span class="errorMessage"></span>
                </div>
              </div>
            </div>
            <div class="modal-right2">
              <label>商品详情：</label>
              <textarea name="upnewesetail" ui-tinymce
                        class="form-control" rows="10"
                        id="upnewesetail" (blur)="verifyEmpty('upnewesetail','结束时间不能为空')"  [(ngModel)]="upGroupProduct.detail"
                        style="margin-left:73px;margin-top:-20px;border:1px solid #dddddd;width: 88%;!important;height: 140px;background-color: #ffffff !important;"  value="{{upGroupProduct.detail}}" >
               </textarea>
            </div>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-danger" (click)="closeMask2()">取 消</button>
            <button type="submit" class="btn btn-info"   (click)="updateGroupProduct()" >保 存</button>
          </div>
        </form>
      </div>
    </div>

    <div class="mask0">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">审核商品</h4>
          <button type="button" class="close"(click)="closeMask0()">×</button>
        </div>
        <form class="form-building form-material">
          <div class="modal-body clearfix">
            <div class="protop">
              <div class="pimg">
                <div class="dropify-wrapper">
                  <div class="dropify-message">
                    <img *ngIf="productCheck.image!==''" [src]="'/proxy/' + productCheck.image" />
                  </div>
                  <p>点击此处上传图片</p>
                  <input type="file" class="dropify" #prese3 id="prese3" (change)="prese_upload3(prese3.files)">

                </div>
              </div>
              <div class="pdetail">
                <div class="for">
                  <label>商品名称：</label>
                  <input type="text" class="producttext" id="checknewname" name="checknewname" (blur)="verifyEmpty('checknewname','商品名称不能为空')"  [(ngModel)]="productCheck.name">
                  <span class="errorMessage"></span>
                </div>
                <div class="for">
                  <div>
                    <label>收款账号：</label>
                    <input type="text" class="producttext" id="checknewpayaccount" name="checknewpayaccount" (blur)="verifyEmpty('checknewpayaccount','账户不能为空')"  [(ngModel)]="productCheck.payaccount">
                    <span class="errorMessage"></span>
                  </div>
                </div>

                <div class="for">
                  <div  style="width: 55%">
                    <label>商品标签：</label>
                    <input type="text" class="producttext" id="checknewlabel" name="checknewlabel"   [(ngModel)]="productCheck.label">
                  </div>
                  <div style="width: 50%">
                    <label>商品价格：</label>
                    <input type="text" class="producttext" id="checknewprice" name="checknewprice" (blur)="verifyEmpty('checknewprice','费用不能为空')"  [(ngModel)]="productCheck.price">
                    <span class="errorMessage"></span>
                  </div>
                </div>
                <div class="for">
                  <div>
                    <label>商品状态：</label>
                    <select name="checknewstatus"  id="checknewstatus" [(ngModel)]="productCheck.status">
                      <option value="0">录入</option>
                      <option value="1">上架</option>
                      <option value="2">下架</option>
                      <option value="3">不通过</option>
                    </select>
                  </div>
                </div>
                <div class="for">
                  <div style="width: 55%">
                    <label>联 系 人：</label>
                    <input type="text" class="producttext" style="width: 118px" name="checknewpconcant" id="checknewpconcant" (blur)="verifyEmpty('checknewpconcant','不能为空')"  [(ngModel)]="productCheck.contact">
                    <span class="errorMessage"></span>
                  </div>
                  <div style="width: 50%">
                    <label>联系电话：</label>
                    <input type="text" class="producttext"  style="width: 118px" id="checknewphone" name="checknewphone"  (blur)="verifyEmpty('checknewphone','电话不能为空')" [(ngModel)]="productCheck.phone">
                    <span class="errorMessage"></span>
                  </div>
                </div>

                <div class="for" style="margin-top: 15px">
                  <label>团购时间：</label>
                  <input type="date" class="producttext"  id="checknewstartTime" name="checknewstartTime" (blur)="verifyEmpty('checknewstartTime','不能为空')"style="width:118px !important;"  [(ngModel)]="productCheck.startTime" >
                  <span class="errorMessage"></span>
                  至
                  <input type="date" class="producttext" id="checknewendTime" name="checknewendTime" (blur)="verifyEmpty('checknewendTime','不能为空')" style="width:118px !important;margin-left: 5px" [(ngModel)]="productCheck.endTime" >
                  <span class="errorMessage"></span>
                </div>
              </div>
            </div>
            <div  class="modal-right2">
              <label>商品详情：</label>
              <textarea name="checknewesetail" ui-tinymce
                        class="form-control" rows="10"  [(ngModel)]="productCheck.detail"
                        id="checknewesetail" (blur)="verifyEmpty('checknewesetail','结束时间不能为空')"
                        style="margin-left:73px;margin-top:-20px;border:1px solid #dddddd;width: 88%;!important;height: 140px;background-color: #ffffff !important;"  value="{{productCheck.detail}}" >
               </textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeMask0()">取 消</button>
            <button type="submit" class="btn btn-info"(click)="checkGroupProduct()" >保存</button>
          </div>
        </form>
      </div>
    </div>

    <div class="mask3">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">查看商品</h4>
          <button type="button" class="close"(click)="closeMask3()">×</button>
        </div>
        <form class="form-building form-material">
          <div class="modal-body clearfix">
            <div class="protop">
              <div class="pimg">
                <div class="dropify-wrapper">
                  <div class="dropify-message">
                    <img *ngIf="productview.image!==''" [src]="'/proxy/' + productview.image" />
                  </div>
                </div>
              </div>
              <div class="pdetail">
                <div class="for">
                  <label>商品名称：</label>
                  {{productview.name}}
                </div>
                <div class="for">
                  <div  style="width: 48%">
                    <label>商品价格：</label>
                    {{productview.price}}
                  </div>
                  <div style="width: 52%">
                    <label>商品标签：</label>
                    {{productview.label}}
                  </div>
                </div>
                <div class="for">
                  <label>团购时间：</label>
                  {{productview.startTime}}
                  <label>至</label>
                  {{productview.endTime}}
                </div>
                <div class="for">
                  <div  style="width: 48%">
                    <label>联  系  人：</label>
                    {{productview.contact}}
                  </div>
                  <div  style="width: 52%">
                    <label>联系电话：</label>
                    {{productview.phone}}
                  </div>
                </div>
                <div class="for">
                  <label>收款账号：</label>
                  {{productview.payaccount}}
                </div>
                <div class="for">
                  <label>状态：</label>
                  <span class="three" *ngIf="productview.status=='0'">录入</span>
                  <span class="three" *ngIf="productview.status=='1'">上架</span>
                  <span class="three" *ngIf="productview.status=='2'">下架</span>
                  <span class="three" *ngIf="productview.status=='3'">不通过</span>
                </div>
              </div>
            </div>
            <div class="modal-right2">
              <label>商品详情：</label>
              <textarea name="notice" ui-tinymce
                        class="form-control" rows="10"
                        style="margin-left:73px;margin-top:-20px;border:1px solid #dddddd;width: 88%;!important;height: 140px;background-color: #ffffff !important;" readonly="true" value="{{productview.detail}}" >
               </textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--<div class="confirm">
      <div class="confirm-modal">
        <div class="confirm-icon confirm-question">?</div>
        <div class="confirm-content" >你确定要删除该商品吗?</div>
        <hr style="margin-top: 20px; margin-bottom: 20px; height: 10px;color: transparent;border: 0;">
        <button class="confirm-btn styled" (click)="okFunc()">确定</button>
        <button class="confirm-btn cancel" (click)="noFunc()">取消</button>
      </div>
    </div>-->
