<nav class="header">
  <ul class="tab-brash clearfix">
    <li>
      <a class="parallelogram cleanDishes" routerLink="cleanDishes" routerLinkActive="active">
        <i class="icon-social-dropbox"></i> 净菜订购区
      </a>
    </li>
    <li>
      <a class="supermarket" routerLink="supermarket" routerLinkActive="active">
        <i class="icon-briefcase"></i> 超市零售订购区
      </a>
    </li>
    <li >
      <a class="parallelogram reserve" routerLink="reserve" routerLinkActive="active">
        <i class="icon-handbag"></i> 商品订购（预定）区
      </a>
    </li>

  </ul>
</nav>
<router-outlet></router-outlet>

