.header{
  padding:10px 0;
  width:100%;
  background-color:#fff;
}

/*.parallelogram {
  height: 50px;;
  position: relative;
  line-height: 50px;
  text-align: center;
  color: white;
  z-index: 9;
  cursor: pointer;
}
.parallelogram:before{
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #d4d4d4;
  transform: skewX(-30deg);
  z-index: -1;
}
.parallelogram.active:before{
  background-color: #26ecb5;
}
.cleanDishes:before{
  transform: skewX(30deg);
}
.supermarket{
  text-align:center;
  color:#fff;
  line-height:50px;
  background-color:#d4d4d4;
  position:relative;
}
.supermarket:before{
  content:'';
  display:block;
  width:35px;
  height:50px;
  position:absolute;
  transform:skewX(-30deg);
  background:#d4d4d4;
  left:-20px;
  top:0;
}
.supermarket:after{
  content:'';
  display:block;
  width:35px;
  height:50px;
  position:absolute;
  transform:skewX(30deg);
  background:#d4d4d4;
  top:0;
  right:-20px;
}
.supermarket.active,.supermarket.active:before,.supermarket.active:after{
  background:#26ecb5;
}*/
.tab-brash{
  background-color: #fff;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tab-brash>li{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 18px;
  position: relative;
  line-height: 66px;
  font-size: 16px;
  text-align: center;
}
.tab-brash>li>a.active{
  background-color: #26ecb5;
  color: #fff;
}
.tab-brash>li:first-child{
  margin-left:0;
}
.tab-brash>li>a{
  padding: 15px 60px;
  border-radius: 4px;
  background-color: #d4d4d4;
  color: #000;
  white-space: nowrap;
  -webkit-transition: all .4s;
  transition: all .4s;
}
