<!--页面标题-->
<div class="nav-title">
  <a><h4>商品信息</h4></a>
  <div class="b-head-right">
    <div class="content-box" tabindex="0" onclick="history.go(-1)">
      <i class="icon-reload"></i> 返回
    </div>

  </div>
</div>
<!--信息内容-->
<div class="warp">
  <div class="warp-left">
    <div class="warp-fist">
      <img *ngIf="saleProduct&&saleProduct.imgPath" [src]="ipSetting.imgUrl+saleProduct.imgPath" >
    </div>
    <ul class="warp-list">
      <li *ngFor="let image of saleProduct.imgPathList;let i = index" (mouseover)="chooseImg(i)">
        <img [src]="ipSetting.imgUrl+image">
      </li>
    </ul>
  </div>
  <div class="warp-right">
    <h4>{{saleProduct.name}}</h4>
    <ul *ngIf="saleProduct.name">
      <li>
        <span class="form-title">抢购对象</span>
        <span class="word">{{saleProduct.targetName}}</span>
      </li>
      <li>
        <span class="form-title">抢购时间</span>
        <span class="word">{{saleProduct.beginTime | date:'yyyy/MM/dd HH:mm:ss'}}&nbsp;&nbsp;
          <span *ngIf="saleProduct.endTime">至&nbsp;&nbsp;{{saleProduct.endTime | date:'yyyy/MM/dd HH:mm:ss'}}</span></span>
      </li>
      <li>
        <span class="form-title">库存量</span>
        <span class="word">{{saleProduct.realNumber}}</span>
      </li>
      <li>
        <span class="form-title">商品类型</span>
        <span class="word">
          <div class="choose-group" *ngFor="let type of types;let i=index">
          <label class="cb-blue">
            <input type="radio" name="productType" [(ngModel)]="userSale.productType" [value]="type">
            <span>{{type}}</span>
          </label>
          </div>
        </span>
      </li>
      <li>
        <div class="btn-form-back">
          <span>¥{{saleProduct.price| number:'1.2-2'}}</span>
          <a class="btn_wait" *ngIf="status === 'waitTime'">抢购暂未开始</a>
          <a class="btn_start" *ngIf="status === 'progress'"
             (click)="getSaleProductKey(saleProduct.id)">立刻抢购</a>
          <a class="btn_wait" *ngIf="status === 'end'">抢购结束</a>
        </div>
      </li>
      <li class="process" *ngIf="status !== 'waitTime'">
        <div class="process-text">
          <span class="percent">已抢购{{(saleProduct.maxNumber-saleProduct.realNumber)/saleProduct.maxNumber*100| number:'1.2-2'}}%</span>
          <span class="num">已抢{{saleProduct.maxNumber-saleProduct.realNumber}}件</span>
        </div>
        <div class="process-bar"><span [ngStyle]="{'width':((saleProduct.maxNumber-saleProduct.realNumber)/saleProduct.maxNumber)*100+'%'}"></span></div>
      </li>
    </ul>
  </div>
</div>
<div class="cont" *ngIf="saleProduct.summary">
  <h5><span>详情介绍</span></h5>
  <div class="summary-text word">
    <textarea id="content" [rows]="definedRows()" wrap="hard" readonly>{{saleProduct.summary}}</textarea>
  </div>
</div>

<!--提交订单-->
<div class="mask" style="display: none;" id="order">
  <div  class="modal-content" style="width: 900px;margin-left: -450px">
    <div  class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>确认订单</h4>
      <button class="modal-close" type="button" (click)="closeOrder()">×</button>
    </div>
    <form  class="form-building form-material ng-untouched ng-pristine ng-valid">
      <div  class="modal-body clearfix">
        <div class="b-con">
          <div class="list-table">
            <table>
              <tr class="table-head">
                <th width="25%">商品信息</th>
                <th>商品名称</th>
                <th>商品类型</th>
                <th>单价(元)</th>
                <th>购买数量</th>
                <th >合计（元）</th>
              </tr>
              <tr class="table-cont">
                <td  width="25%"><img *ngIf="saleProduct.imgPathList" [src]="ipSetting.imgUrl+saleProduct.imgPathList[0]"/></td>
                <td>{{userSale.productType}}</td>
                <td >{{saleProduct.name}}</td>
                <td>￥{{saleProduct.price| number:'1.2-2'}}</td>
                <td>1</td>
                <td><label id="unionPrice">￥{{saleProduct.price| number:'1.2-2'}}</label></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="b-address">
          <span>配送信息</span>
        </div>
        <div class="b-left">
          <div  class="form-group">
            <label  class="control-label"><span class="b-label">姓名</span>
              <input class="form-control" id="userName" name="userName" type="text"
                     [(ngModel)]="userSale.userName" (blur)="verifyEmpty(userSale.userName,'userName')">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span class="b-label">电话</span>
              <input class="form-control" id="telNumber" name="telNumber" type="number"
                     [(ngModel)]="userSale.telNumber" (blur)="verifyEmpty(userSale.telNumber,'telNumber')">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span class="b-label">地址</span>
              <input class="form-control" id="address" name="address" type="text"
                     [(ngModel)]="userSale.address" (blur)="verifyEmpty(userSale.address,'address')">
            </label>
            <div class="error"></div>
          </div>
        </div>
        <div class="b-right">
          <div  class="form-group">
            <label  class="control-label"><span class="b-label">备注</span>
              <textarea class="form-control" id="note" name="note" rows="5" style="line-height: 20px;width: 250px"
                     [(ngModel)]="userSale.note">
              </textarea>
            </label>
            <div class="error"></div>
          </div>
        </div>
        <div  class="form-group">
          <label  class="control-label"><span class="b-label">验证码</span>
            <input class="form-control" id="yzm" name="yzm" type="text"
              [(ngModel)]="yzm">
            <a class="btn-danger" (click)="getYzm(saleProduct.id)">发送验证码</a>
          </label>
          <div class="error"></div>
        </div>
        <div class="b-foot">
          <div class="total"><label>总计：</label> <span>￥{{saleProduct.price| number:'1.2-2'}}</span>
            <button type="button" class="btn btn-info" (click)="submitOrder()">提交订单</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="mask" style="display: none;" id="mask">
  <div  class="modal-content" style="width: 60px;margin-left: -30px;top: 50%;">
      <div id="preloader_1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</div>
