.content-area{
  padding: 20px;
}
.content-inner{
  padding: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
  min-height: 85vh;
}
.content-inner:hover{
  box-shadow: 2px 4px 15px rgba(158, 178, 178, 0.33);
}
.nav-title{
  position: relative;
  margin-bottom: 10px;
  font-size: 14px;
  border-bottom: 2px solid #f7fafc;
}
.nav-title>a>h4{
  display: inline-block;
  line-height: 35px;
  padding: 0 20px;
  color: #fb9678;
  border-bottom: 2px solid #fb9678;
}
.b-head-right{
  float: right;
}
.content-box{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #eee;
  margin-right: 10px;
  line-height: 28px;
  border-radius: 3px;
  font-size: 15px;
  color: #ff3c00;
  outline: none;
  cursor: pointer;
}
.content-box:hover{
  border-color: #ff3c00;
}
