<div class="wrap">
  <div class="cont">
    <div class="row">
      <div class="row-title">停车证信息</div>
      <a href="javascript:;" class="btn search-btn" (click)="addVehicle()"><i class="icon-plus"></i>&nbsp;&nbsp;新 增</a>
    </div>
    <div class="cont-inner">
      <div class="repair-chandlery clearfix">
        <!--<ul class="record-search clearfix">
          <li >
            <label >员工部门</label>
            <select name="buildingName" class="search-ipt search-sel" [(ngModel)]="searchInfo.userDept">
              <option value="">-全部-</option>
              <option *ngFor="let num of deptList"
                      [value]="num.DEPT_NAME">
                {{num.DEPT_NAME}}</option>
            </select>
          </li>
          <li>
            <label >员工编号</label>
            <input type="text" name="searchuserId" class="search-ipt" [(ngModel)]="searchInfo.userId">
          </li>
        </ul>-->
        <div class="search-right">
          <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
        </div>
      </div>
      <ul class="card-list clearfix">
        <li *ngFor="let inner of record;let i=index" class="room-card">
          <div class="room-title clearfix">
            <h5>员工姓名 :{{inner.userName}}</h5>
            <h5>员工编号 :{{inner.userId}}</h5>
            <h5>员工部门 :{{inner.userDept}}</h5>
            <h5>车牌号码 :{{inner.userDept}}</h5>
            <h5>员工电话 :{{inner.userDept}}</h5>
          </div>
          <table width="100%">
            <tr style="height: 40px; background-color: #00bce1;">
              <th>大楼名称</th>
              <th>大楼编号</th>
              <th>停车证名称</th>
              <th>停车证类型</th>
              <th>停车证编号</th>
              <th>停车证有效期</th>
              <th>状态</th>
              <th>发放日期</th>
              <th>备注</th>
            </tr>
            <tr>
              <td>{{inner.buildingName}}</td>
              <td>{{inner.buildingName}}</td>
              <td>{{inner.buildingName}}</td>
              <td>{{inner.buildingName}}</td>
              <td>{{inner.buildingName}}</td>
              <td>{{inner.buildingName}}</td>
              <td>{{inner.buildingName}}</td>
              <td>{{inner.buildingName}}</td>
              <td>{{inner.buildingName}}</td>
            </tr>
          </table>
          <div class="card-border">
            <h6>
              <i class="icon-pencil" (click)="editCardInfo(inner.id)"></i>
              <i (click)="delCardInfo(inner.id)" class="icon-trash"></i>
            </h6>
            <div class="card-left">
              <div>
                <span class="form-title">大楼名称<i></i></span>
                <p>{{inner.driverName}}</p>
              </div>
              <div>
                <span class="form-title">大楼编号<i></i></span>
                <p>{{inner.driverNum}}</p>
              </div>
              <div>
                <span class="form-title">停车证名称<i></i></span>
                <p>{{inner.driverCode}}</p>
              </div>
              <div>
                <span class="form-title">车辆所有人姓名<i></i></span>
                <p>{{inner.carOwner}}</p>
              </div>
              <div>
                <span class="form-title">车牌号码<i></i></span>
                <p>{{inner.carNumber}}</p>
              </div>
              <div>
                <span class="form-title">车辆识别代号<i></i></span>
                <p>{{inner.carCode}}</p>
              </div>
              <div>
                <span class="form-title">发动机号码<i></i></span>
                <p>{{inner.motorNum}}</p>
              </div>
              <div>
                <span class="form-title">车辆品牌型号<i></i></span>
                <p>{{inner.carBrand}}</p>
              </div>
              <div>
                <span class="form-title">是否停车摇号<i></i></span>
                <p>{{inner.isPark}}</p>
              </div>
              <div>
                <span class="form-title">交通费额度(元/月)<i></i></span>
                <p>{{inner.carFare}}</p>
              </div>

            </div>
            <div class="card-right">

            </div>
          </div>
        </li>
      </ul>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length] = 'length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>
</div>
