<!--统计信息盘-->
<div class="count-area">
  <div class="count-left">
    <!--放三个临近期间的投票活动-->
    <!--<h2>秀我风采<em>Mien</em><span>更多>></span></h2>-->
    <app-wrapper-picture [list]="wrapVotes" [width]="800" [height]="436" [baseUrl]="'./detail'"></app-wrapper-picture>

  </div>
  <div class="count-right clearfix">
    <!--<div class="btn-inner">
      <div class="extra-area">
        投票活动<span>{{total}}</span>条
      </div>
      <a class="btn" [routerLink]="['./manage']" *ngIf="rule&&(rule.isUpdate||rule.isInstall||rule.isDelete)">进入管理</a>
    </div>-->

    <div class="count-inner">
      <h4 class="list-title"><strong>工作部署</strong><em>Famous</em><span>更多>></span></h4>
      <ul class="count-list">
        <li *ngFor="let top of votesTop;let i = index">
          <h3>·&nbsp;&nbsp;{{top.title}}</h3>
          <span>2018-05-21</span>
        </li>
        <li class="div-none" *ngIf="votesTop&&votesTop.length===0">
          <p>暂无排行榜数据</p>
        </li>
      </ul>
      <div style="clear: both"></div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>

<div class="goods-area clearfix">
  <div class="goods-inner count-left">
    <h4 class="goods-hd">工会内容</h4>
    <!--<div class="goods-search">
      <div class="goods-search-ipt">
        <input placeholder="" [(ngModel)]="search"/>
      </div>
      <a class="goods-search-btn" (click)="getVoteList(1)" >查询</a>
    </div>-->
    <ul class="goods-list">
      <li class="vote-inner" *ngFor="let vote of votes">
        <a href="javascript:;" [routerLink]="['../detail',vote.id]">
          <img [src]="vote.imgPath" />
          <h5>{{vote.name}}</h5>
        </a>
      </li>
    </ul>
    <div class="div-none" *ngIf="votes&&votes.length === 0">
      <p>此处空空如也</p>
    </div>

  </div>
  <div class="count-right">
    <div class="count-inner">
      <h4 class="list-title"><strong>榜上有名</strong><em>Deploy</em><span>更多>></span></h4>
      <ul class="count-list">
        <li *ngFor="let top of votesTop;let i = index">
          <h3>·&nbsp;&nbsp;{{top.title}}</h3>
          <span>2017-06-01</span>
        </li>
        <li class="div-none" *ngIf="votesTop&&votesTop.length===0">
          <p>暂无排行榜数据</p>
        </li>
      </ul>
    </div>
  </div>
</div>
