.foot{
  width: 100%;
  line-height: 50px;
  color: #56646c;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 1px 2px #e1eaf2;
  clear: both;
}
@media screen and (max-width: 1400px){
  .foot{
    line-height: 40px;
    font-size: 10px;
  }
}
