.content-area{
  padding: 20px;
}
.content-inner{
  min-height: 84vh;
  padding: 15px;
   ackground-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
}
.content-inner:hover{
  box-shadow: 2px 4px 15px rgba(158, 178, 178, 0.33);
}
.nav-title{
  position: relative;
  margin-bottom: 10px;
  font-size: 14px;
  border-bottom: 2px solid #f7fafc;
}
.nav-title>a>h4{
  display: inline-block;
  line-height: 35px;
  font-size: 16px;
  padding: 0 20px;
  color: #04a9f3;
  cursor: pointer;
}
.nav-title>a.active h4{
  color: #fb9678;
  border-bottom: 2px solid #fb9678;
}
