<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>已发布物品</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--搜索栏-->
    <div class="search-bar">
      <ul>
        <li><label>物品名称</label>
          <input type="text" name="search" [(ngModel)]="search.name">
        </li>
        <li>
          <a (click)="getShareProductsPersonl(1);"><i class="icon-magnifier"></i>查询</a>
        </li>
        <li>
          <a class="btn-danger" [routerLink]="['../new']">
            <i class="icon-plus"></i>
            添加
          </a>
        </li>
      </ul>
    </div>
    <!--表头-->
    <div class="table-head" style="margin-top: 10px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row list-title" style="height:45px;">
          <th width="10%" class="text-left">商品名称</th>
          <th width="15%">图片</th>
          <th width="5%">单价(元)</th>
          <th width="5%">数量</th>
          <th width="10%">开始时间</th>
          <th width="10%">结束时间</th>
          <th width="10%" class="text-left">抢购对象</th>
          <th>状态</th>
          <th width="10%">操作</th>
        </tr>
      </table>
    </div>
    <!--表格内容-->
    <div class="table-content" style="min-height: 500px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row"  style="height:100px;" *ngFor="let sale of shareProducts;let i = index">
          <td width="10%" class="text-left">
            <span>
              {{sale.name}}
            </span>
          </td>
          <td width="15%" class="box-demo">
            <img *ngIf="sale.imgPathList&&sale.imgPathList.length>0"
                 [src]="sale.imgPathList[0] | imgsafeurl">
          </td>
          <td width="5%">
            {{sale.unitPrice | number:'1.2-2'}}
          </td>
          <td width="5%">
            {{sale.amount}}
          </td>
          <td width="5%">
            {{sale.realNumber}}
          </td>
          <td width="10%">
            {{sale.bTime| date:'yyyy/MM/dd HH:mm:ss'}}
          </td>
          <td width="10%">
            {{sale.eTime| date:'yyyy/MM/dd HH:mm:ss'}}
          </td>
          <td width="10%" class="text-left">
            <p class="tb-text">
              {{sale.targetName}}
            </p>
          </td>
          <td width="5%">
            <span *ngIf="sale.isCheck==='pass'">通过</span>
            <span *ngIf="sale.isCheck==='fail'" [title]="sale.checkNote">不通过</span>
            <span *ngIf="sale.isCheck==='pending'">待审核</span>
          </td>
          <td width="10%" class="box-option">
            <a [routerLink]="['../detail',sale.id]">
              <i class="icon-screen-desktop"></i>详情
            </a>
            <a [routerLink]="['../statistics',sale.id]">
              <i class="icon-chart"></i>报表
            </a>
            <a [routerLink]="['../edit',sale.id]">
              <i class="icon-pencil"></i>编辑
            </a>
            <a (click)="delete(sale.id)">
              <i class="icon-trash"></i>删除
            </a>
          </td>
        </tr>
      </table>
      <div class="div-none" *ngIf="shareProducts.length === 0">
        <p>暂无信息</p>
      </div>
    </div>
    <!--翻页-->
    <app-turn-bar
      [pageNo] = "pageNo"
      [pageSize] = "pageSize"
      [total] = "total"
      (turnEvent) = "getShareProductsPersonl($event)">
    </app-turn-bar>

  </div>
</div>
