
  <!--账户余额显示栏-->
    <!--页面标题-->
  <div class="head-box">
    <div class="nav-title">
      <a><h4>消费账户及记录查询</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" (click)="back()">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <div class="panel-head" style="color: #cccccc">
      <h6>账户余额</h6>
      <div>
        <label style="color: red; font-size: 30px"><strong>￥2389.31</strong></label>
      </div>
    </div>
    <div class="panel">
      <ul>
        <li>
          <label>查询类型</label>
          <select (change)="queryTypeClick(queryType)">  <!-- [(ngModel)]="queryType"-->
            <option value="消费记录">消费记录</option>
            <option value="充值记录">充值记录</option>
          </select>
        </li>
      </ul>
    </div>
  </div>

  <!--消费充值记录列表展示-->
  <div class="view" style="min-height: 350px;">
    <div class="div-none" *ngIf="rooms.length < 1"> <!--copyRooms-->
      <p>暂无记录</p>
    </div>

    <div class="room-list">
      <ul class="clearfix">
        <li class="room-card" *ngFor="let room of rooms;let i = index">
          <!--消费记录-->
          <div class="card-border-xiaofei" *ngIf="queryType === 1">
            <div class="card-left">
              <label>
                <span class="form-title">人员姓名</span>
                <p>王大锤</p>
              </label>
              <label>
                <span class="form-title">员工编号</span>
                <p>No.{{room.roomArea}}</p>
              </label>
              <label>
                <span class="form-title">部门</span>
                <p class="long-text">{{room.roomUse}}</p>
              </label>
              <label>
                <span class="form-title">消费类型</span>
                <p class="long-text">{{room.roomUse}}</p>
              </label>
              <label>
                <span class="form-title">消费时间</span>
                <p class="long-text">2017.12.13</p>
              </label>
              <label>
                <span class="form-title">消费金额</span>
                <p class="long-text">￥ {{room.roomNum}}</p>
              </label>
              <label>
                <span class="form-title">消费明细</span>
                <p class="long-text">{{room.roomUseReal}}</p>
              </label>
            </div>
          </div>
          <!--充值记录-->
          <div class="card-border-xiyi" *ngIf="queryType === 0">
            <div class="card-left">
              <label>
                <span class="form-title">人员姓名</span>
                <p>王大锤</p>
              </label>
              <label>
                <span class="form-title">员工编号</span>
                <p>No.{{room.roomArea}}</p>
              </label>
              <label>
                <span class="form-title">部门</span>
                <p class="long-text">{{room.roomUse}}</p>
              </label>
              <label>
                <span class="form-title">充值时间</span>
                <p class="long-text">2017.12.13</p>
              </label>
              <label>
                <span class="form-title">充值金额</span>
                <p class="long-text">￥ {{room.roomNum}}</p>
              </label>
              <label>
                <span class="form-title">备注</span>
                <p class="long-text">{{room.roomUseReal}}</p>
              </label>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--翻页-->
    <app-turn-bar  [pageNo] = "pageNo"
                   [pageSize] = "pageSize"
                   [total] = "total"
                   (turnEvent) = "getConsumeInfo($event)">

    </app-turn-bar>
  </div>

