
  <!--账户余额显示栏-->
    <!--页面标题-->
  <div class="head-box">
    <div class="nav-title">
      <a><h4>消费账户及记录查询</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1);">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <div class="panel-head" style="color: #cccccc">
      <h6>账户余额</h6>
      <div>
        <label style="color: red; font-size: 30px"><strong>￥{{balance|number:'1.2-2'}}</strong></label>
      </div>
    </div>
    <div class="panel panel-right">
      <ul>
        <li>
          <label>查询类型</label>
          <select name="queryType" [(ngModel)]="queryType" (change)="changeQueryType(1)">
            <option value="消费记录">消费记录</option>
            <option value="充值记录">充值记录</option>
          </select>
        </li>
      </ul>
    </div>
  </div>

  <!--消费充值记录列表展示-->
  <div class="view">
    <div class="table-head">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row list-title" style="height:45px;">
          <th *ngIf="queryType ==='消费记录'" class="text-left">消费类型</th>
          <th *ngIf="queryType ==='消费记录'">消费时间</th>
          <th *ngIf="queryType ==='消费记录'">消费金额</th>
          <th *ngIf="queryType ==='消费记录'">消费明细</th>
          <th *ngIf="queryType ==='充值记录'">充值调账时间</th>
          <th *ngIf="queryType ==='充值记录'">金额</th>
          <th *ngIf="queryType ==='充值记录'">备注</th>
        </tr>
        <tr class="row" *ngFor="let consume of consumes">
          <td *ngIf="queryType ==='消费记录'" class="text-left">{{consume.consumeType}}</td>
          <td *ngIf="queryType ==='消费记录'">{{consume.consumeTime}}</td>
          <td *ngIf="queryType ==='消费记录'">{{consume.consumeNum|number:'1.2-2'}}</td>
          <td *ngIf="queryType ==='消费记录'">{{consume.detail}}</td>
          <td *ngIf="queryType ==='充值记录'">{{consume.OL_DATE}}</td>
          <td *ngIf="queryType ==='充值记录'">{{consume.AMOUNT}}</td>
          <td *ngIf="queryType ==='充值记录'">{{consume.note}}</td>
        </tr>
      </table>
      <div class="div-none" *ngIf="consumes.length === 0">
        <p>暂无记录</p>
      </div>
    </div>
    <!--翻页-->
    <app-turn-bar
      [pageNo] = "pageNo"
      [pageSize] = "pageSize"
      [total] = "total"
      (turnEvent) = "changeQueryType($event)">
    </app-turn-bar>
  </div>

