<!--<nav>
  <ul class="tab-brash">
    <li>
      <a routerLink="groupbuy" routerLinkActive="active">
        <i class="icon-rocket"></i> 团购订购
      </a>
    </li>
    <li>
      <a routerLink="product" routerLinkActive="active">
        <i class="icon-bell"></i> 商品信息
      </a>
    </li>
    <li>
      <a routerLink="order" routerLinkActive="active">
        <i class="icon-rocket"></i> 订单管理
      </a>
    </li>
    <li>
      <a routerLink="notice" routerLinkActive="active">
        <i class="icon-rocket"></i> 公告管理
      </a>
    </li>
    &lt;!&ndash;<li>
      <a routerLink="cart" routerLinkActive="active">
        <i class="icon-rocket"></i> 购物车管理
      </a>
    </li>&ndash;&gt;
  </ul>
</nav>-->
<div class="min-height">
  <router-outlet></router-outlet>
</div>
