<div class="limit-height">
  <!--账户余额显示栏-->
  <div class="view">
    <div style="position: relative;">
      <div class="panel">
        <ul>
          <li>
            <label style="font-size: 14px">我的部门:</label>
            <select>
              <option>环北服务中心</option>
              <option>下沙服务中心</option>
              <option>江干服务中心</option>
              <option>上塘服务中心</option>
              <option>滨江服务中心</option>
              <option>上城服务中心</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
