<!--统计信息盘-->
<div class="count-area">
  <div class="count-left">
    <div class="count-inner">
      <!--放三个临近期间的投票活动-->
      <app-wrapper-picture></app-wrapper-picture>
    </div>
  </div>
  <div class="count-right">
    <div class="count-inner">

    </div>
    <div class="count-inner">
      <h4>投票人气Top5</h4>
      <ul class="count-list">
        <li *ngFor="let top of votesTop;let i = index">
          <h3><strong>{{i+1}}.</strong>{{top.title}}</h3>
        </li>
      </ul>
    </div>
  </div>
  <div style="clear: both"></div>
</div>

<div class="goods-area">
  <!--投票-->
  <div class="goods-inner">
    <h4 class="goods-hd">
      <em class="fn">投票活动</em>
      <p>
        <span class="subtitle"></span>
      </p>
      <span class="tb-fn"></span>
    </h4>
    <ul class="goods-list">
      <li class="vote-inner" *ngFor="let vote of votes">
        <h5>{{vote.title}}</h5>
        <a>参与投票</a>
      </li>
    </ul>
    <div class="div-none" *ngIf="votes.length === 0">
      <p>此处空空如也</p>
    </div>
    <div style="padding-left: 21px">
      <!--翻页-->
      <app-turn-bar
        [pageNo] = "pageNo"
        [pageSize] = "pageSize"
        [total] = "total"
        (turnEvent) = "getVoteList($event)">
      </app-turn-bar>
    </div>
  </div>
  <div class="clearBoth"></div>
</div>
