.count-area{
  padding: 20px 20px 0 20px;
  /*min-width: 1140px;*/
}
.count-inner{
  padding: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
}
.count-inner:focus{
  outline: none;
}
.count-left{
  float: left;
  width: 800px;
  box-sizing: border-box;
}
.count-right{
  padding-left: 820px;
  height: 400px;
}
.count-list{
  padding: 0 20px;
}
.count-list>li{
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e1eaf2;
  font-size: 10px;
}
.count-list>li h3{
  line-height: 30px;
  color: #686868;
  font-weight: 300;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.count-list>li:first-child{
   font-size: 16px;
}
.count-list>li:nth-child(2){
  font-size: 14px;
}
.count-list>li:nth-child(3){
  font-size: 12px;
}
.goods-area{
  padding: 20px;
  min-width: 1100px;
}
.goods-inner{
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
}
.goods-inner:hover,.count-inner:hover{
  box-shadow: 2px 4px 15px rgba(158, 178, 178, 0.33);
}
.goods-hd{
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: 600;
}
.goods-hd>em{
  float: left;
  display: inline;
  height: 24px;
  margin-right: 5px;
  font-size: 20px;
  color: #568dfe;
  font-family: "Adobe 楷体 Std R";
  font-weight: 600;
}
.goods-hd p {
  display: block;
  line-height: 24px;
  height: 24px;
  color: #999;
  font-weight: 400;
}
.tb-fn {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 24px;
  font-size: 10px;
  color: #999;
  text-align: right;
  cursor: pointer;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;
}
.goods-list{
  padding: 0 21px;
  min-height: 200px;
  overflow: hidden;
  clear: both;
}
.goods-list li{
  display: block;
  float: left;
  width: 48.5%;
  overflow: hidden;
  margin: 0 0.5% 15px 0;
}
.clearBoth{
  clear: both;
}
.div-none{
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: #b6b6b6;
}
.btn-inner{
  height: 80px;
  margin-bottom: 20px;
}
.btn-inner a{
  float: right;
  display: inline-block;
  width: 240px;
  line-height: 80px;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  background-color: #04a9f3;
  text-align: center;
  transition-duration: 300ms;
  cursor: pointer;
}
.btn-inner a:hover{
  background-color: #0492d1;
}
.vote-inner:hover h5{
  color: #F05;
}
.goods-search{
  position: relative;
  bottom: 10px;
  text-align: right;
}
.goods-search-ipt{
  display: inline-block;
  width: 200px;
  height: 30px;
  border: 1px solid #66cdff;
  border-radius: 3px;
}
.goods-search-ipt input{
  width: 165px;
  height: 26px;
  border: none;
  outline: none;
}
.goods-search-btn{
  text-decoration: none;
  padding: 6px 15px;
  margin: 0 5px;
  background: #66cdff;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  letter-spacing: 2px;
}
.vote-inner{
  height: 60px;
}
.vote-inner>h5{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-transform: uppercase;
}
.btn-join{
  display: inline-block;
  margin-top: 5px;
  padding: 2px 5px;
  color: #66cdff;
  background-color: #ffffff;
  border: 1px solid #66cdff;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
}
.btn-join:hover{
  background-color: #e6f3f3;
}
.extra-area{
  display: inline-block;
  width: calc(100% - 240px);
  height: 80px;
  line-height: 60px;
  padding: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.extra-area span{
  margin-left: 10px;
  padding: 20px 10px;
  border-left: 1px #d4d2d2 dashed;
  font-size: 20px;
  font-weight: 700;
  color: #d75452;
}
.list-title{
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid #ffffdc;
}
.list-title>em{
  display: inline-block;
  color: #d75452;
  font-weight: 700;
  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg); /* IE 9 */
  -webkit-transform:rotate(-7deg); /* Safari and Chrome */
}
.list-title>strong{
  padding-right: 5px;
  color: #d75452;
  font-size: 16px;
}
