<!--统计信息盘-->
<div class="count-area">
  <div class="count-left">
    <!--放三个临近期间的投票活动-->
    <app-wrapper-picture [list]="votes" [width]="800"></app-wrapper-picture>
  </div>
  <div class="count-right">
    <div class="btn-inner">
      <div class="extra-area">
        信息总数<span>{{total}}</span>
      </div>
      <a class="btn" [routerLink]="['./manage']">进入管理</a>
    </div>
    <div class="count-inner">
      <h4 class="list-title"><strong>人气排行榜</strong><em>TOP5</em></h4>
      <ul class="count-list">
        <li *ngFor="let top of votesTop;let i = index">
          <h3><strong>{{i+1}}.</strong>{{top.title}}</h3>
        </li>
      </ul>
      <div style="clear: both"></div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>

<div class="goods-area">
  <!--投票-->
  <div class="goods-inner">
    <h4 class="goods-hd">
      <em class="fn">投票活动</em>
      <p>
        <span class="subtitle"></span>
      </p>
      <span class="tb-fn"></span>
    </h4>
    <div class="goods-search">
      <div class="goods-search-ipt">
        <input placeholder="请输入投票主题" [(ngModel)]="search.title"/>
      </div>
      <a class="goods-search-btn" (click)="getVoteList(1)" >查询</a>
    </div>
    <ul class="goods-list">
      <li class="vote-inner" *ngFor="let vote of votes">
        <h5>{{vote.title}}</h5>
        <!--<span><i class="icon-chart">999</i></span>-->
        <a class="btn-join" [routerLink]="['../detail',vote.id]">参与投票</a>
      </li>
    </ul>
    <div class="div-none" *ngIf="votes.length === 0">
      <p>此处空空如也</p>
    </div>
    <div style="padding-left: 21px">
      <!--翻页-->
      <app-turn-bar
        [pageNo] = "pageNo"
        [pageSize] = "pageSize"
        [total] = "total"
        (turnEvent) = "getVoteList($event)">
      </app-turn-bar>
    </div>
  </div>
  <div class="clearBoth"></div>
</div>
