.count-area{
  padding: 20px 20px 0 20px;
  /*min-width: 1140px;*/
}
.count-inner{
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
}
.count-inner:focus{
  outline: none;
}
.count-left{
  float: left;
  width: 800px;
  box-sizing: border-box;
}
.count-right{
  padding-left: 820px;
  height: 400px;
}
.count-list{
  padding: 0 20px;
}
.count-list>li{
  position: relative;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e1eaf2;
  font-size: 10px;
}
.count-list>li h3{
  line-height: 30px;
  padding-right: 40px;
  color: #686868;
  font-weight: 300;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.count-list>li:first-child{
   font-size: 16px;
}
.count-list>li:nth-child(2){
  font-size: 14px;
}
.count-list>li:nth-child(3){
  font-size: 12px;
}
.count-list>li>span{
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(231, 76, 60);
  font-weight: 800;
}
.count-list .div-none{
  position: relative;
  border-bottom: none;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: #b6b6b6;
}
.goods-area{
  padding: 20px;
  min-width: 1100px;
}
.goods-inner{
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
}
.goods-inner:hover,.count-inner:hover{
  box-shadow: 2px 4px 15px rgba(158, 178, 178, 0.33);
}
.goods-hd{
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: 600;
}
.goods-hd>em{
  float: left;
  display: inline;
  height: 24px;
  margin-right: 5px;
  font-size: 22px;
  color: #568dfe;
  font-family: "Adobe 楷体 Std R";
  font-weight: 600;
}
.goods-hd p {
  display: block;
  line-height: 24px;
  height: 24px;
  color: #999;
  font-weight: 400;
}
.tb-fn {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 24px;
  font-size: 10px;
  color: #999;
  text-align: right;
  cursor: pointer;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;
}
.goods-list{
  padding: 0 21px;
  min-height: 200px;
  overflow: hidden;
  clear: both;
}
.goods-list li{
  position: relative;
  display: block;
  float: left;
  width: 49%;
  overflow: hidden;
  margin-bottom: 15px;
  margin-right: 1%;
  padding-left: 5px;
  box-sizing: border-box;
  border: 1px solid #eee;
}
.clearBoth{
  clear: both;
}
.div-none{
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: #b6b6b6;
}
.btn-inner{
  margin-bottom: 20px;
  background-color: #ffffff;
  text-align: right;
}
.btn-inner a{
  display: inline-block;
  width: 50%;
  max-width: 240px;
  line-height: 80px;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  background-color: #04a9f3;
  text-align: center;
  transition-duration: 300ms;
  text-shadow: rgba(0,0,0,0.1) 2px 2px 0;
  cursor: pointer;
}
.btn-inner a:hover{
  background-color: #0492d1;
}
.vote-inner:hover h5{
  color: #F05;
}
.goods-search{
  position: relative;
  bottom: 10px;
  text-align: right;
}
.goods-search-ipt{
  display: inline-block;
  width: 200px;
  height: 30px;
  border: 1px solid #66cdff;
  border-radius: 3px;
}
.goods-search-ipt input{
  width: 165px;
  height: 26px;
  border: none;
  outline: none;
}
.goods-search-btn{
  text-decoration: none;
  padding: 6px 15px;
  margin: 0 5px;
  background: #66cdff;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  letter-spacing: 2px;
}
.vote-inner{
  height: 80px;
}
.vote-inner>h5{
  display: -webkit-box;
  padding-top: 5px;
  padding-right: 20px;
  line-height: 1.4em;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 16px;
}
.btn-join{
  position: absolute;
  bottom: 5px;
  display: inline-block;
  padding: 2px 5px;
  color: #66cdff;
  background-color: #ffffff;
  border: 1px solid #66cdff;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
}
.btn-join:hover{
  background-color: #e6f3f3;
}
.extra-area{
  display: inline-block;
  line-height: 50px;
  padding-right: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.extra-area span{
  display: inline-block;
  width: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #d75452;
  text-align: right;
}
.list-title{
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid #ffffdc;
}
.list-title>em{
  display: inline-block;
  color: #d75452;
  font-weight: 700;
  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg); /* IE 9 */
  -webkit-transform:rotate(-7deg); /* Safari and Chrome */
}
.list-title>strong{
  padding-right: 5px;
  color: #d75452;
  font-size: 16px;
}
.vote-extra{
  position: absolute;
  bottom: 15px;
  right: 20px;
  color: #d75452;
  font-size: 12px;
  font-weight: 700;
  -webkit-transform: rotate(-16deg);
  transform: rotate(-16deg);
}
.vote-extra:after{
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  width: 75px;
  height: 6px;
  border-top: 1px dashed #ffffff;
  border-bottom: 1px dashed #ffffff;
}
