<!--<script src="../node_modules/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="../node_modules/jquery.threedubmedia/event.drag/jquery.event.drag.js"></script>
<script src="../node_modules/magnificent/src/js/mag.js"></script>
<script src="../node_modules/magnificent/src/js/mag-jquery.js"></script>
<script src="../node_modules/magnificent/src/js/mag-control.js"></script>-->
<div mag-thumb="drag">
  <img src="assets/image/demo_building.png" />
</div>
<div mag-zoom="drag">
  <img src="assets/image/demo_building.png"  />
</div>

