<!--页面标题-->
<div class="nav-title">
  <a><h4>福利信息统计</h4></a>
  <div class="b-head-right">
    <div class="content-box" tabindex="0" (click)="back()">
      <i class="icon-reload"></i> 返回
    </div>
  </div>
</div>
<!--福利信息简介-->
<div class="goods-box">
  <div class="goods-img">
    <img [src]="ip+welfare.imgPath" *ngIf="welfare&&welfare.imgPath">
  </div>
  <p>品类名称：&nbsp;{{welfare.title}}</p>
  <p>是否需要反馈：&nbsp;{{welfare.feedBack}}</p>
  <p>需要反馈的信息：&nbsp;
    <span *ngFor="let feedMsg of welfare.feedBackMsg">
      {{feedMsg.key}}<span *ngIf="feedMsg.msg">({{feedMsg.msg}})</span>&nbsp;&nbsp;
    </span>
  </p>
</div>
<!--搜索栏-->
<div class="search-bar">
  <ul>
    <li>
      <input type="text" name="search" [(ngModel)]="search">
      <a (click)="searchInfo()">
        <i class="icon-magnifier"></i>查询
      </a>
    </li>
    <li>
      <a class="btn-danger" (click)="exportExcel()">
        <i class="icon-cloud-download"></i>
        导出
      </a>
    </li>
  </ul>
</div>
<!--表头-->
<div class="table-head" style="margin-top: 10px">
  <table border="0" cellspacing="0" cellpadding="0" class="list-box">
    <tr class="row list-title" style="height:20px;">
      <th width="10%" rowspan="2">工号</th>
      <th width="10%" class="text-left" rowspan="2">姓名</th>
      <th style="width: 80px;"  rowspan="2">性别</th>
      <th style="width: 150px;" rowspan="2">联系电话</th>
      <th width="15%" rowspan="2"  class="text-left">邮箱</th>
      <th [attr.colspan]="welfare.feedBackMsg.length"
          *ngIf="welfare.feedBackMsg.length>0">反馈信息</th>
    </tr>
    <tr class="row list-title" style="height:20px;">
      <th *ngFor="let feedback of welfare.feedBackMsg">{{feedback.key}}</th>
    </tr>
    <tr class="row" *ngFor="let user of users;let i = index">
      <td width="10%">
        <span>{{user.USERID}}</span>
      </td>
      <td width="10%" class="text-left">
        <span>{{user.USERNAME}}</span>
      </td>
      <td style="width: 80px;">
        <span>{{user.SEX}}</span>
      </td>
      <td style="width: 150px;">
        <span>{{user.TELE_NUM}}</span>
      </td>
      <td width="15%"  class="text-left" >
        <span>{{user.OA_EMAIL}}</span>
      </td>
      <td *ngFor="let detail of user.DETAILS">
        <span>{{detail.value}}</span>
      </td>
    </tr>
  </table>
  <div class="div-none" *ngIf="users && users.length < 1">
    <p>暂无信息</p>
  </div>
</div>
<!--翻页-->
<div class="turn" *ngIf="pages.length > 1">
  <ul>
    <li *ngFor="let i of pages"
        [hidden] = "pageLimit(i)"
        [ngClass]="{'active':i === pageNo}"
        (click)="goPage(i);">
      {{i}}
    </li>
  </ul>
</div>
