<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">"活动简报"记录详情</div>
      <div class="content-box" tabindex="0" onclick="history.go(-1)">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
    <div class="cont-inner clearfix">
      <ul class="card-left">
        <li>支部名称</li>
        <li>文件名称</li>
        <li>月份</li>
        <li>活动类型</li>
        <li>支部党员人数</li>
        <li>参与人数</li>
      </ul>
      <ul class="card-right">
        <li>{{newCard.branchName}}</li>
        <li>{{newCard.type}}</li>
        <li>{{newCard.bTime}}</li>
        <li>{{newCard.type}}</li>
        <li>{{newCard.factNum}}</li>
        <li>{{newCard.absentNum}}</li>
      </ul>
    </div>
  </div>
</div>

