.head-box{
  position: relative;
  padding: 10px;
  background: #ffffff;
  border-bottom: 1px solid rgba(120, 130, 140, .13);
}
.panel-head {
  color: #2b2b2b;
  background-color: #fff;
  border-radius: 0;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 25px;
}

.panel-action {
  float: right;
}

.panel-action > a {
  color: #2b2b2b;
  opacity: .5;
  text-decoration: none;
  touch-action: manipulation;
}

.panel {
  position: absolute;
  right: 40px;
  top: 35px;
}

.panel > ul {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1000px ) {
  .panel > ul > li {
    /* width: 20%;*/
    height: 36px;
  }
}

@media (max-width: 1000px ) {
  .panel > ul > li {
    float: left;
    height: 36px;
  }
}

.panel > ul > li > label {
  float: left;
  color: #686868;
  height: 30px;
  width: 70px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 12px;
  text-align: right;
}

.panel > ul > li > input[type=text] {
  height: 20px;
  width: calc(100% - 115px);
  min-width: 100px;
  padding: 3px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e7ea;
}

.panel > ul > li > select {
  width: calc(100% - 90px);
  min-width: 140px;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e7ea;
}

.page-area {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 2%;
  min-height: inherit;
  background-color: #ffffff;
}

.card {
  margin: 0 1%;
  padding-bottom: 20px;
  width: 31.33%;
}

.turn > ul {
  display: flex;
  height: 35px;
}

.turn > ul > li {
  height: 35px;
  width: 30px;
  line-height: 35px;
  border-top: 1px solid #e4e7ea;
  border-right: 1px solid #e4e7ea;
  border-bottom: 1px solid #e4e7ea;
  color: #686868;
  text-align: center;
  cursor: pointer;
}

.turn > ul > li:first-child {
  border-left: 1px solid #e4e7ea;
}

.turn > ul > li.active {
  color: #ffffff;
  background: #04a9f3;
  border-color: #04a9f3;
}

.error {
  width: 276px;
  /*  height: 18px;*/
  padding-left: 75px;
  font-size: 10px;
  color: #d75452;
}

.list-title {
  background-color: #f0f7fc;
  color: #4b87d4;
}

.list-box {
  width: 100%;
}

.turn > ul {
  display: flex;
  height: 35px;
  border-left: 1px solid #e4e7ea;
}

.turn > ul > li {
  height: 35px;
  width: 30px;
  line-height: 35px;
  border-top: 1px solid #e4e7ea;
  border-right: 1px solid #e4e7ea;
  border-bottom: 1px solid #e4e7ea;
  color: #686868;
  text-align: center;
  cursor: pointer;
}

.turn > ul > li.active {
  color: #ffffff;
  background: #04a9f3;
  border-color: #04a9f3;
}

.btn-info {
  margin-left: 15px;
  padding: .3rem 1.2rem;
  border-radius: 4px;
  background: #03a9f3;
  border: 1px solid #03a9f3;
  color: #fff;
}

.btn-info:hover {
  background: #03a9f3;
  opacity: .8;
  border: 1px solid #03a9f3;
  cursor: pointer;
}

.control-label {
  display: block;
  color: #8d9ea7;
}

.error {
  width: 168px;
  padding-left: 100px;
  font-size: 10px;
  color: #d75452;
}

.red {
  border: 0.5px solid #d75452;
  border-radius: 5px;
}

.div-none {
  padding: 20px;
  color: #CCCCCC;
  text-align: center;
}

.room-list {
  min-height: 680px;
}

.room-list ul {
  display: flex;
  flex-wrap: wrap;
}

.room-card {
  /*
  float: left;
  width: 50%;
  min-width: 450px;
  height: auto;
  margin-bottom: 15px;*/
  flex: 0 0 49%;
  margin-top: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.room-list ul li:nth-of-type(2n) {
  margin-left: 2%;
}

.card-border-xiaofei {
  height: 100%;
  max-height: 210px;
}

.card-border-xiyi {
  height: 100%;
  max-height: 180px;
}

.card-border > h6 {
  height: 50px;
  line-height: 50px;
  text-align: right;
  color: #03a9f3;
  font-size: 20px;
}

.card-border > h6 > i {
  padding-left: 10px;
  font-size: 12px;
  color: #8d9ea7;
  cursor: pointer;
}

.form-title {
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
  margin-right: 10px;
  background-color: #f8f8f8;
  color: #8d9ea7;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
}

.long-text {
  /*line-height: 24px;*/
}

.card-left > label {
  display: block;
  vertical-align: top;
}

.card-left > label > p {
  display: inline-block;
  width: calc(100% - 100px);
  line-height: 30px;
  font-size: 12px;
  color: #797979;
  vertical-align: top;

  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow:ellipsis;*/

}

.card-left {
  display: inline-block;
  width: 100%;
}

.card-right {
  width: 33.3333%;
  height: auto;
  float: right;
}

.turn-box {
  padding-bottom: 0px;
  padding-top: 10px;
  /*padding-left: 55px;*/
  clear: both;
}


