<!--页面标题-->
<div class="nav-title">
  <a><h4>福利信息</h4></a>
  <div class="b-head-right">
    <div class="content-box" tabindex="0"
       *ngIf="rule&&rule.isInstall&&rule.isDelete&&rule.isUpdate"
       (click)="linkDiscountStatistics()">
      <i class="icon-doc"></i> 统计
    </div>
    <div class="content-box" tabindex="0" (click)="back()">
      <i class="icon-reload"></i> 返回
    </div>

  </div>
  <!--<span class="tb-fn" *ngIf="rule&&rule.isInstall&&rule.isDelete&&rule.isUpdate">
    <a class="btn-fn3" (click)="linkDiscountStatistics()">

    </a>
  </span>-->
</div>
<!--信息内容-->
<div class="warp">
  <div class="warp-left">
    <img [src]="'proxy/'+welfare.imgPath" *ngIf="welfare&&welfare.imgPath">
  </div>
  <div class="warp-right">
    <h4>{{welfare.title}}</h4>
    <div class="form-back-end"
         *ngIf="welfare.details&&!(welfare.feedBack === '是'&&welfare.details.length===0)">
      <p>(您的福利商品发放中，请到相关人员处领取)</p>
    </div>
    <ul>
      <li *ngFor="let other of welfare.others">
        <span class="form-title">{{other.key}}</span>
        <span class="word">{{other.value}}</span>
      </li>
    </ul>
    <div *ngIf="welfare.feedBack === '是'">
      <div class="btn-form-back">
        <a (click)="showFeedbackWin()">
          <i class="icon-earphones"></i>填写反馈信息
        </a>
      </div>
      <div class="form-back" id="forms" style="display: none;"
           *ngIf="welfare.feedBackMsg&&welfare.feedBackMsg.length>0">
        <h5>需反馈信息</h5>
        <ul>
          <li *ngFor="let feedbackMsg of welfare.feedBackMsg;let i = index">
            <span class="form-title">{{feedbackMsg.key}}</span>
            <span class="form-title">{{feedbackMsg.msg}}</span>
            <span *ngIf="feedbackMsg.type==='下拉框'">
              <select class="form-control" [name]="'listValue'+i"
                      [(ngModel)] = "feedbackMsg.value">
                <option value="">请选择</option>
                <option *ngFor="let opt of feedbackMsg.list">{{opt}}</option>
              </select>
            </span>
            <span *ngIf="feedbackMsg.type==='文本'">
              <input class="form-control" type="text" [name]="'title'+i"
                     [(ngModel)] = "feedbackMsg.value">
            </span>
          </li>
        </ul>
        <div class="form-back-footer">
          <a class="footer-btn-submit" (click)="submitFeedbackMsg()">提交</a>
          <a class="footer-btn-close" (click)="closeFeedbackMsg()">取消</a>
        </div>
      </div>
    </div>
    <div class="form-back-msg"
         *ngIf="welfare.feedBack === '是'&&welfare.details&&welfare.details.length>0">
      <h5>我的反馈信息</h5>
      <ul>
        <li *ngFor="let detail of welfare.details">
          <span class="form-title">{{detail.key}}</span>
          <span class="word">{{detail.value}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="cont">
  <h5><span>详情介绍</span></h5>
  <div class="summary-text word">
    <i class="fa fa-quote-left" style="font-size: 18px; color:#e8e8e8;"></i>
    {{welfare.content | formatSpace}}
    <i class="fa fa-quote-right" style="font-size: 18px; color:#e8e8e8;"></i>
  </div>
</div>
