<div class="goods-area">

  <!--限时抢购-->
  <div class="goods-inner" *ngIf="rule3&&rule3.isSelect">
    <h4 class="goods-hd">
      <em class="fn3">限时抢购</em>
      <p>
        <span class="subtitle">限时限量提供</span>
      </p>
      <span class="tb-fn" *ngIf="rule3&&(rule3.isUpdate||rule3.isInstall||rule3.isDelete)">
        <a class="btn-mg"
           (click)="linkSaleMag()">管&nbsp;&nbsp;理</a>
        <a class="btn-mg active">我的订单</a>
        <a class="btn-fn3" (click)="randGetSale()">换一换</a>
      </span>
    </h4>
    <ul class="goods-list" *ngIf="saleProducts && saleProducts.length > 0">
      <li *ngFor="let sale of saleProducts">
        <a (click)="linkSale(sale.id)">
          <div class="img-wrap">
            <img *ngIf="sale.imgPathList&&sale.imgPathList.length>0"
                 [src]="sale.imgPathList[0] | imgsafeurl">
          </div>
          <div class="goods-msg">
            <h5>{{sale.name}}</h5>
            <textarea  rows="6" readonly>{{sale.summary}}</textarea>
          </div>
        </a>
      </li>
    </ul>
    <div class="div-none" *ngIf="saleProducts && saleProducts.length === 0">
      <p>此处空空如也</p>
    </div>
    <div class="div-more"  *ngIf="saleProducts && saleProducts.length > 0">
      <a (click)="linkSaleList()">更多</a>
    </div>
  </div>

  <!--优惠信息-->
  <div class="goods-inner" *ngIf="rule1&&rule1.isSelect">
    <h4 class="goods-hd">
      <em class="fn1">找优惠</em>
      <p>
        <span class="subtitle">极致优惠不容错过</span>
      </p>
      <span class="tb-fn">
        <a class="btn-mg" *ngIf="rule1&&(rule1.isUpdate||rule1.isInstall||rule1.isDelete)"
           (click)="linkDiscountMag()">
          管&nbsp;&nbsp;理
        </a>
        <a class="btn-fn1" (click)="randGetDiscount()">换一换</a>
      </span>
    </h4>
    <ul class="goods-list" *ngIf="discounts && discounts.length > 0">
      <li *ngFor="let discount of discounts">
        <a (click)="linkDiscount(discount.id)">
          <div class="img-wrap">
            <img *ngIf="discount.imgPath" [src]="discount.imgPath | imgsafeurl">
          </div>
          <div class="goods-msg">
            <h5>{{discount.title}}</h5>
            <textarea  rows="6" readonly>{{discount.summary}}</textarea>
          </div>
        </a>
      </li>
    </ul>
    <div class="div-none" *ngIf="discounts && discounts.length === 0">
      <p>此处空空如也</p>
    </div>
    <div class="div-more"  *ngIf="discounts && discounts.length > 0">
      <a (click)="linkDiscountList()">更多</a>
    </div>
  </div>

  <!--爱统计信息-->
  <div class="goods-inner" *ngIf="rule2&&rule2.isSelect">
    <h4 class="goods-hd">
      <em class="fn2">爱统计</em>
      <p>
        <span class="subtitle">量身质造为您提供优质服务</span>
      </p>
      <span class="tb-fn">
        <a class="btn-mg" *ngIf="rule2&&(rule2.isUpdate||rule2.isInstall||rule2.isDelete)"
           (click)="linkWelfareMag()">
          管&nbsp;&nbsp;理
        </a>
        <a class="btn-fn2" (click)="randGetWelfare();">换一换</a>
      </span>
    </h4>
    <ul class="goods-list" *ngIf="welfares && welfares.length >0">
      <li *ngFor="let welfare of welfares">
        <a (click)="linkWelfare(welfare.id)">
          <div class="img-wrap">
            <img *ngIf="welfare.imgPath" [src]="welfare.imgPath | imgsafeurl">
          </div>
          <div class="goods-msg">
            <h5>{{welfare.title}}</h5>
            <p *ngIf="welfare.feedBackEtime">反馈截止日期：{{welfare.feedBackEtime}}</p>
            <div class="goods-extra">
            <span class="response" *ngIf="welfare.details==='否'&&welfare.feedBack==='是'">
              <i class="icon-diamond"></i>需要反馈
            </span>
              <span class="finish" *ngIf="welfare.details==='是'&&welfare.feedBack==='是'">
              <i class="icon-check"></i>我已反馈
            </span>
              <span class="wait" *ngIf="welfare.feedBack==='否'">
              <i class="icon-clock"></i> 静候佳音
            </span>
            </div>
            <textarea  [rows]="welfare.feedBackEtime?4:5" readonly>{{welfare.content}}</textarea>
          </div>

        </a>
      </li>
    </ul>
    <div class="div-none" *ngIf="welfares && welfares.length === 0">
      <p>此处空空如也</p>
    </div>
    <div class="div-more" *ngIf="welfares && welfares.length >0">
      <a (click)="linkWelfareList()">更多</a>
    </div>
  </div>
  <div class="clearBoth"></div>
</div>

