<div style="position: relative">
  <img class="back-xihu" src="assets/image/500541114.jpg">
  <div class="cont">
    <h3>杭州移动<span>智慧+综合管理平台</span></h3>
    <p class="cont-wel">{{nowTime}}好，{{userName}}!</p>
    <div class="content-area">
      <div class="side-card" draggable="true">
        <h4>待处理工单</h4>
        <ul class="list-bd">
          <li class="bd">有一封门禁申请工单需要您审批<a>...</a></li>
          <li class="bd">有一封门禁申请工单需要您审批<a>...</a></li>
          <li class="bd">有一封门禁申请工单需要您审批<a>...</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

