<div style="position: relative">
  <img class="back-xihu" src="assets/image/500541114.jpg">
  <div class="cont">
    <h3>杭州移动<span>智慧+综合管理平台</span></h3>
    <p class="cont-wel">{{nowTime}}好，{{userName}}!</p>
    <div class="content-area">
      <div class="side-card" draggable="true">
        <a href="javascript:;" [routerLink]="['system/examine']">
          <span *ngIf="flowNum&&flowNum>0">{{flowNum}}</span>
          <h4>工作流待处理工单</h4>
          <div class="cont-icon">
            <!--<i class="icon-notebook"></i>-->
            <img src="assets/image/home1.jpg"  style="width:80%;"/>


          </div>
        </a>
      </div>
    </div>
    <div class="content-area">
      <div class="side-card" draggable="true">
        <a href="javascript:;" [routerLink]="['employ/workspace/homepage']">
          <span *ngIf="workNum&&workNum>0">{{workNum}}</span>
          <h4>工作台待处理订单</h4>
          <div class="cont-icon"> <!--<i class="icon-screen-desktop"></i>-->
            <img src="assets/image/home2.jpg" style="width:68%;"/>


          </div>
        </a>
      </div>
    </div>

  </div>
</div>

