<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>我的物品</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--搜索栏-->
    <div class="search-bar">
      <ul>
        <li><label>物品名称</label>
          <input type="text" name="search" [(ngModel)]="search.name">
        </li>
        <li>
          <a (click)="getShareProductsPersonl(1);"><i class="icon-magnifier"></i>查询</a>
        </li>
        <li>
          <a class="btn-danger" [routerLink]="['../new']">
            <i class="icon-plus"></i>
            添加
          </a>
        </li>
      </ul>
    </div>
    <!--表头-->
    <div class="table-head" style="margin-top: 10px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row list-title" style="height:45px;">
          <th width="10%" class="text-left">物品名称</th>
          <th width="15%">图片</th>
          <th width="5%">单价</th>
          <th width="5%">数量</th>
          <th width="15%">开放时间</th>
          <th width="15%" class="text-left">开放范围</th>
          <th width="15%">发布时间</th>
          <th width="10%">状态</th>
          <th width="10%">操作</th>
        </tr>
      </table>
    </div>
    <!--表格内容-->
    <div class="table-content" style="min-height: 500px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row"  style="height:100px;" *ngFor="let product of shareProducts;let i = index">
          <td width="10%" class="text-left">
            <span>
              {{product.name}}
            </span>
          </td>
          <td width="15%" class="box-demo">
            <img *ngIf="product.imgPathList&&product.imgPathList.length>0"
                 [src]="product.imgPathList[0] | imgsafeurl">
          </td>
          <td width="5%">
            {{product.unitPrice|number:'1.2-2'}}
          </td>
          <td width="5%">
            {{product.amount}}
          </td>
          <td width="15%">
            <p>{{product.bTime| date:'yyyy/MM/dd HH:mm:ss'}}</p>
            <p>至</p>
            <p>{{product.eTime| date:'yyyy/MM/dd HH:mm:ss'}}</p>
          </td>
          <td width="15%" class="text-left">
            <p class="tb-text">
              {{product.targetName}}
            </p>
          </td>
          <td width="15%">
            {{product.createTime| date:'yyyy/MM/dd HH:mm:ss'}}
          </td>
          <td width="10%">
            <span *ngIf="product.status==='release'">发布中</span>
            <span *ngIf="product.status==='fail'" [title]="product.checkNote">已退回</span>
            <span *ngIf="product.status==='pending_check'">待审核</span>
            <span *ngIf="product.status==='off'">已下架</span>
          </td>
          <td width="10%" class="box-option text-left">
            <a [routerLink]="['../resell',product.id]"
               *ngIf="product.status==='release' || product.status==='off'">
              <i class="icon-graph"></i>记录
            </a>
            <a [routerLink]="['../detail',product.id]">
              <i class="icon-screen-desktop"></i>详情
            </a>
            <a [routerLink]="['../edit',product.id]">
              <i class="icon-pencil"></i>编辑
            </a>
            <a (click)="delete(product.id)">
              <i class="icon-trash"></i>删除
            </a>
            <a (click)="reCheck(product.id)" *ngIf="product.status==='fail'">
              <i class="icon-action-undo"></i>重审
            </a>
            <a (click)="changeProductStatus(product.id,'release')" *ngIf="product.status==='off'">
              <i class="icon-badge"></i>上架
            </a>
            <a (click)="changeProductStatus(product.id,'off')" *ngIf="product.status==='release'">
              <i class="icon-bag"></i>下架
            </a>
          </td>
        </tr>
      </table>
      <div class="div-none" *ngIf="shareProducts.length === 0">
        <p>暂无信息</p>
      </div>
    </div>
    <!--翻页-->
    <app-turn-bar
      [pageNo] = "pageNo"
      [pageSize] = "pageSize"
      [total] = "total"
      (turnEvent) = "getShareProductsPersonl($event)">
    </app-turn-bar>

  </div>
</div>
