<!--<ul>
  <li >
    <a class="reserve" routerLink="goods" routerLinkActive="active">
      <i class="icon-bell"></i> 商品信息
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="supplier" routerLinkActive="active">
      <i class="icon-bell"></i> 供应商
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="goodsbuy" routerLinkActive="active">
      <i class="icon-bell"></i> 净菜预定
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="goodscart" routerLinkActive="active">
      <i class="icon-bell"></i> 购物车
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="myorder" routerLinkActive="active">
      <i class="icon-bell"></i> 我的订单
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="confirmvegcart" routerLinkActive="active">
      <i class="icon-bell"></i> aaa
    </a>
  </li>
</ul>-->
<router-outlet></router-outlet>
