.head-box{
  position: relative;
  padding: 10px;
  background: #ffffff;
}
.nav-title{
  margin-bottom: 10px;
  font-size: 14px;
}
.nav-title>a>h4{
  display: inline-block;
  line-height: 30px;
  color: #fb9678;
  border-bottom: 2px solid #fb9678;
}
.b-head-right{
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #eee;
  margin-right: 10px;
  line-height: 34px;
  border-radius: 3px;
  font-size: 15px;
  color: #ff3c00;
  cursor: pointer;
}
.b-head-right:hover{
  border-color: #ff3c00;
}
.content-box{
  outline: none;
}
.panel-head {
  display: inline-block;
  color: #2b2b2b;
  background-color: #fff;
  border-radius: 0;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 25px;
}

.panel-action {
  float: right;
}

.panel-action > a {
  color: #2b2b2b;
  opacity: .5;
  text-decoration: none;
  touch-action: manipulation;
}

.panel {
 padding: 20px;
}
.row,.row-add{
  height: 35px;
}
.row td, .row th{
  padding: 3px 10px;
  text-align: center;
  border-bottom: 1px solid #e1eaf2;
}
.row:active,.row:hover{
  background-color: #f7fafc;
}
.row td,.row-add td{
  color: #686868;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}
.row .text-left{
  text-align: left;
}
.list-title {
  background-color: #f0f7fc;
  color: #4b87d4;
}
.list-box {
  width: 100%;
}
.btn-info {
  margin-left: 15px;
  padding: .3rem 1.2rem;
  border-radius: 4px;
  background: #03a9f3;
  border: 1px solid #03a9f3;
  color: #fff;
}

.btn-info:hover {
  background: #03a9f3;
  opacity: .8;
  border: 1px solid #03a9f3;
  cursor: pointer;
}

.control-label {
  display: block;
  color: #8d9ea7;
}

.error {
  width: 168px;
  padding-left: 100px;
  font-size: 10px;
  color: #d75452;
}


.div-none {
  padding: 20px;
  color: #CCCCCC;
  text-align: center;
}

.card-border > h6 {
  height: 50px;
  line-height: 50px;
  text-align: right;
  color: #03a9f3;
  font-size: 20px;
}

.card-border > h6 > i {
  padding-left: 10px;
  font-size: 12px;
  color: #8d9ea7;
  cursor: pointer;
}

.form-title {
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
  margin-right: 10px;
  margin-right: 10px;
  background-color: #f8f8f8;
  color: #8d9ea7;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
  vertical-align: top;
}
.view{
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-head{
  min-height: 600px;
}
