<div class="guard">
  <div class="guard-header clearfix">
    <a href="javascript:;" class="active" (click)="companyFade($event)">服务公司</a>
    <a href="javascript:;" (click)="archFade($event)">服务人员档案</a>
  </div>
  <div class="guard-cont">
    <div class="guard-chandlery clearfix">
      <div class="box1">
        <ul class="company-search clearfix">
          <li >
            <label >大楼名称</label>
            <select name="aoo" class="search-ipt" [(ngModel)]="searchCompany.buildingName">
              <option value="">-全部-</option>
              <option *ngFor="let num of buildings"
                      [value]="num.NAME">
                {{num.NAME}}</option>
            </select>
          </li>
          <li >
            <label >服务公司名称</label>
            <!--<input type="text" name="aii" class="search-ipt" [(ngModel)]="searchCompany.companyName">-->
            <select name="aii" class="search-ipt" [(ngModel)]="searchCompany.companyName">
              <option value="">-全部-</option>
              <option *ngFor="let company of serviceCom"
                      [value]="company.companyName">
                {{company.companyName}}</option>
            </select>
          </li>
        </ul>
        <div class="search-right"><a href="javascript:;" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a></div>
      </div>
      <div class="box2">
        <ul class="company-search clearfix">
          <li >
            <label>服务公司名称</label>
            <select name="searchArchCompanyName" class="search-ipt" [(ngModel)]="searchArch.companyName">
              <option value="">-全部-</option>
              <option *ngFor="let company of serviceCom"
                      [value]="company.companyName">
                {{company.companyName}}</option>
            </select>
          </li>
          <li >
            <label>人员类型</label>
            <select name="searchArchType" class="search-ipt" [(ngModel)]="searchArch.personType">
              <option value="">全部</option>
              <option value="security">保安</option>
              <option value="clean">保洁</option>
              <option value="green">绿化</option>
              <option value="repair">物业维修</option>
            </select>
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a>
        </div>
      </div>
    </div>
    <!--服务公司-->
    <div class="guard-container guard-company">
      <div class="row text-right" *ngIf="rule&&jurisdiction&&jurisdiction.isInstall">
        <a class="btn btn-new" href="javascript:;" (click)="addCompany()"><i class="icon-plus"></i> 新 增</a>
      </div>
      <ul class="form-msg clearfix" *ngFor="let inner of record; let i=index">
        <li class="form-bar">
          <span class="form-title text-right">大楼编号</span>
          <span class="form-word">{{inner.buildingId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">服务公司名称</span>
          <span class="form-word">{{inner.companyName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">大楼名称</span>
          <span class="form-word">{{inner.buildingName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">服务公司性质</span>
          <span class="form-word">{{inner.type}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">派驻大楼人数</span>
          <span class="form-word">{{inner.personNum}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">是否收费</span>
          <span class="form-word">{{inner.charge}}</span>
        </li>
        <li class="form-bar form-texarea">
          <span class="form-title text-right">附件</span>
          <ol *ngIf="inner.fileName" style="height:72px;overflow-y: auto;">
            <li style="text-indent: 1em; line-height: 24px;" *ngFor="let abc of inner.fileName; let j=index">{{abc}}
              <a [href]="URL + inner.filePath[j]" [download]="abc"><i class="icon-cloud-download"></i>下载</a>
            </li>
          </ol>
        </li>
        <li class="form-btn"  *ngIf="rule&&jurisdiction&&jurisdiction.isUpdate" (click)="editRecord(i)"><i class="icon-pencil"></i></li>
        <li class="form-btn form-del" *ngIf="rule&&jurisdiction&&jurisdiction.isDelete" (click)="delRecord(i)"><i class="icon-trash"></i></li>
      </ul>
    </div>
    <!--人员档案-->
    <div class="guard-container guard-arch">
      <div class="row text-right" *ngIf="rule&&jurisdiction&&jurisdiction.isInstall">
        <a class="btn btn-lead" href="javascript:;" (click)="inductionDialog()"><i class="icon-docs"></i> 批量导入</a>
        <a class="btn btn-new" href="javascript:;" (click)="exportFile()"><i class="icon-docs"></i> 导 出</a>
        <a class="btn btn-new" href="javascript:;" (click)="addCompany()"><i class="icon-plus"></i> 新 增</a>
      </div>
      <ul class="form-msg clearfix" *ngFor="let inner of contract; let i=index">
        <li class="form-bar">
          <span class="form-title text-right">服务公司名称</span>
          <span class="form-word">{{inner.companyName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">人员类型</span>
          <span class="form-word">{{inner.personType}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">人员姓名</span>
          <span class="form-word">{{inner.personName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">服务性质</span>
          <span class="form-word">{{inner.serverType}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">人员编号</span>
          <span class="form-word">{{inner.personId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">归属局方部门</span>
          <span class="form-word">{{inner.deptId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">联系电话</span>
          <span class="form-word">{{inner.personPhone}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">身份证号码</span>
          <span class="form-word">{{inner.personIdcard}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">年龄</span>
          <span class="form-word">{{inner.personAge}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">性别</span>
          <span class="form-word">{{inner.personSex}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">人员状态</span>
          <span class="form-word">{{inner.personStatus}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">是否收费</span>
          <span class="form-word">{{inner.charge}}</span>
        </li>
        <li class="form-photo" style="">
          <div style="position: relative; height: 0; width: 100%;">
              <img *ngIf="inner.imgPath" [src]="inner.imgPath | imgsafeurl" >
            </div>
        </li>
        <li class="form-btn"  *ngIf="rule&&jurisdiction&&jurisdiction.isUpdate" (click)="editContract(i)"><i class="icon-pencil"></i></li>
        <li class="form-btn form-del" *ngIf="rule&&jurisdiction&&jurisdiction.isDelete" (click)="delContract(i)"><i class="icon-trash"></i></li>
      </ul>
    </div>
    <app-turn-bar
      [pageNo]="pageNo"
      [pageSize]="pageSize"
      [total]="total"
      [length] = 5
      (turnEvent)="goPage($event)">
    </app-turn-bar>
  </div>
</div>
<!--新增服务公司弹窗-->
<div class="mask mask-repair">
  <div class="new-company">
    <div class="mask-head"><i class="icon-film"></i> <p>新增服务公司</p>
      <button class="close" (click)="recordCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="company-form">
      <div class="form-control clearfix">
        <span class="form-label">大楼名称</span>
        <div class="form-inp">
          <select id="Id" name="Id" class="company-ipt company-sel" [(ngModel)]="repairname.buildingId" (blur)="verifyId()">
            <option *ngFor="let num of buildings"
                    [value]="num.BUILDING_ID">
              {{num.NAME}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">服务公司名称</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" id="companyName" class="company-ipt" name="companyName" [(ngModel)]="repairname.companyName" (blur)="verifycompanyName()" required minlength="4" maxlength="22">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">服务性质</span>
        <div class="form-inp">
          <select id="type" name="type" class="company-ipt company-sel" [(ngModel)]="repairname.type" (blur)="verifytype()" >
            <!--<option value="security">保安</option>
            <option value="clean">保洁</option>
            <option value="green">绿化</option>
            <option value="repair">物业维修</option>-->
            <option value="保安">保安</option>
            <option value="保洁">保洁</option>
            <option value="绿化">绿化</option>
            <option value="其他">物业维修</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">派驻大楼人数</span>
        <div class="form-inp">
          <input type="number" autocomplete="off" class="company-ipt" id="personNum" name="personNum" [(ngModel)]="repairname.personNum" (blur)="verifypersonNum()" required minlength="4" maxlength="4">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">收费</span>
        <div class="form-inp">
          <select id="charge" name="charge" class="company-ipt company-sel" [(ngModel)]="repairname.charge" (blur)="verifycharge()" >
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone clearfix">
        <span class="form-label">附件</span>
        <ul class="contract-list">
          <li style="word-break:break-all; line-height: 24px;" *ngFor="let abc of repairname.fileName; let k=index">{{abc}}
            <a style="color: #ff1103;" href="javascript:;" (click)="delFile(k)">×</a> </li>
        </ul>
        <div style="float: left;">
          <a href="javascript:;" style="color:#666;border-radius:4px; padding:5px 10px; background: #f6f6f6;" onclick="$('#prese3').trigger('click')">上 传</a>
          <input type="file" class="dropify" #prese3 id="prese3" style="visibility: hidden; float:left; width:138px;"
                 (change)="prese_upload3(prese3.files)">
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="recordSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="recordCancel()">取 消</button>
    </div>
  </div>
</div>
<!--新增人员信息弹窗-->
<div class="mask mask-contract">
  <div class="new-arch">
    <div class="mask-head"><i class="icon-film"></i> <p>新增人员档案</p>
      <button class="close" (click)="contractCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="arch-form clearfix">
      <div class="form-left">
        <div class="form-control clearfix">
          <span class="form-label">服务公司名称</span>
          <div class="form-inp">
            <select id="companyName2" name="companyName2" class="company-ipt company-sel" [(ngModel)]="contractName.companyName" (blur)="verifycompanyName2()">
              <option *ngFor="let num of serviceCom; let k=index"
                      [value]="num.companyName">
                {{num.companyName}}</option>
            </select>
            <span class="errorMessage">不能为空</span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">人员性质</span>
          <div class="form-inp">
            <!--<input id="personType" name="personType" class="company-ipt company-sel" [(ngModel)]="contractName.personType" (blur)="verifypersonType()" disabled="disabled">-->
            <select id="personType" name="personType" class="company-ipt company-sel" [(ngModel)]="contractName.personType" (blur)="verifypersonType()">
              <option value="保安">保安</option>
              <option value="保洁">保洁</option>
              <option value="绿化">绿化</option>
              <option value="物业维修">物业维修</option>
            </select>
            <span class="errorMessage">不能为空</span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">人员姓名</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="personName" name="personName" [(ngModel)]="contractName.personName" (blur)="verifypersonName()" required maxlength="20">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">人员编号</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="personId" name="personId" [(ngModel)]="contractName.personId" (blur)="verifypersonId()" required maxlength="8">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">联系电话</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="personPhone" name="personPhone" [(ngModel)]="contractName.personPhone" (blur)="verifypersonPhone()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">身份证号</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="personIdcard" name="personIdcard" [(ngModel)]="contractName.personIdcard" (blur)="verifypersonIdcard()" required maxlength="18">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">服务性质</span>
          <div class="form-inp">
            <select id="serverType" name="serverType" class="company-ipt company-sel" [(ngModel)]="contractName.serverType" (blur)="verifyserverType()">
              <option value="111">111</option>
              <option value="222">222</option>
              <option value="333">333</option>
            </select>
            <span class="errorMessage">不能为空</span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">归属局方部门</span>
          <div class="form-inp">
            <select id="deptId" name="deptId" class="company-ipt company-sel" [(ngModel)]="contractName.deptId" (blur)="verifydeptId()" >
              <option value="">请选择</option>
              <option *ngFor="let a of deptId; let k=index"
                      [value]="a.DEPT_ID">
                {{a.DEPT_NAME}}</option>
            </select>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">是否收费</span>
          <div class="form-inp">
            <select id="chargeP" name="chargeP" class="company-ipt company-sel" [(ngModel)]="contractName.charge" (blur)="verifychargeP()" >
              <option value="是">是</option>
              <option value="否">否</option>
            </select>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">在职状态</span>
          <div class="form-inp">
            <select class="company-ipt company-sel" id="personStatus" name="personStatus"
                    [(ngModel)]="contractName.personStatus" (change)="changeInfo(contractName.personStatus)"
                    (blur)="verifypersonStatus()">
              <option value="在职">在职</option>
              <option value="离职">离职</option>
            </select>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix" *ngIf="exist">
          <span class="form-label">入职时间</span>
          <div class="form-inp">
            <input class="company-ipt" type="date" name="zzzd" id="entryTime" [(ngModel)]="contractName.entryTime" (blur)="verifyentryTime()">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix" *ngIf="!exist">
          <span class="form-label">离职时间</span>
          <div class="form-inp">
            <input class="company-ipt" type="date" name="zzzd" id="leaveTime" [(ngModel)]="contractName.leaveTime" (blur)="verifyleaveTime()">
            <span class="errorMessage"></span>
          </div>
        </div>
      </div>
      <div class="form-right">
        <div class="person-img">
          <div class="dropify-wrapper">
            <div class="dropify-message">
              <img *ngIf="contractName.imgPath" [src]="contractName.imgPath | imgsafeurl:prese.files" />
            </div>
            <p>点击此处上传图片</p>
            <input type="file" class="dropify" #prese id="prese"
                   (change)="prese_upload(prese.files)" accept="image/gif, image/jpeg, image/png, image/jpg" >
          </div>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="contractSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="contractCancel()">取 消</button>
    </div>
  </div>
</div>
<!-- Induction 导入  -->
<div class="modal-back" id="induction" style="display:none;">
  <div class="modal induction">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导入</h4>
          <button type="button" class="close pull-right" (click)="closeInductionDialog()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body clearfix">
          <div class="form-control">
            <!--<span class="form-label">文件名称</span>-->
            <div class="form-inp clearfix">
              <!--<input id="uploadFileName" type="text" value="" name="" style="border:1px solid #ccc;margin-top:34px; height:30px; text-indent: 2em; margin-right:8px;">-->
              <div class="select-file">
                <input type="file" value="" id="prese2" #prese2 (change)="prese_upload2(prese2.files)" accept="application/vnd.ms-excel,.xlsx">
                <a onclick="$('#prese2').trigger('click')">选取文件</a>
              </div>
              <div class="download-file">
                <a id="downLoadTemplate" target="_blank" [href]="ipSetting.ip+'/building/person/exportTemplate'">下载模板</a>
              </div>
            </div>
          </div>
          <div class="foot" style="height:30px;">
           <!-- <button type="submit" class="btn-mask btn-info" (click)="inductionUploadFile(prese2.files)">确 定</button>
            <button type="button" class="btn-mask btn-danger" (click)="closeInductionDialog()">取 消</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Deriving 导出 -->
<div class="modal-back" id= "deriving" style="_display:none;">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导 出</h4>
          <button type="button" class="close pull-right" (click)="closeDeriving()">×</button>
        </div>
        <div class="modal-body">
          <!-- excel 导出 -->
          <div class="excel-out">
            <p>信息表.xls</p>
          </div>
          <!-- footer -->
          <div class="foot">
            <button type="submit" class="btn-mask btn-info" (click)="downDeriving()">确 定</button>
            <button type="button" class="btn-mask btn-danger" (click)="closeDeriving()">取 消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
