
<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>门禁系统权限</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" [routerLink]="['../logger']">
          <i class="icon-reload"></i> 权限变更日志
        </div>
      </div>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--搜索栏-->
    <div class="search-bar">
      <ul>
        <li><label>HRMIS</label>
          <input type="text" name="searchUserId" [(ngModel)]="search.userid">
        </li>
        <li><label>员工姓名</label>
          <input type="text" name="searchUserName" [(ngModel)]="search.employee">
        </li>
        <li><label>归属部门</label>
          <select name="searchDeptId" [(ngModel)]="search.deptId">
            <option value="">全部</option>
            <option *ngFor="let dept of deptList" [value]="dept.DEPT_ID">{{dept.DEPT_NAME}}</option>
          </select>
        </li>
        <li><label>工号牌类型</label>
          <select name="searchDeptId" [(ngModel)]="search.cardType">
            <option value="">全部</option>
            <option [value]="1">自有员工</option>
            <option [value]="0">第三方员工</option>
          </select>
        </li>
        <li>
          <a (click)="getUserList(1);"><i class="icon-magnifier"></i>&nbsp;查询</a>
        </li>
      </ul>
    </div>
    <!--表头-->
    <div class="table-head" style="margin-top: 10px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row list-title" style="height:45px;">
          <th width="10%" class="text-left">员工编号</th>
          <th width="10%" class="text-left">员工姓名</th>
          <th width="15%" class="text-left">归属部门</th>
          <th width="10%" class="text-left">工号牌编号</th>
          <th width="10%">工号牌类型</th>
          <!--<th width="10%">员工姓名</th>
          <th width="10%">员工部门</th>
          <th width="15%">最近申请日期</th>-->
          <th width="20%">操作</th>
        </tr>
      </table>
    </div>
    <!--表格内容-->
    <div class="table-content" style="min-height: 360px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row" *ngFor="let user of cardManage;let i = index">
          <!--<td><a [routerLink]="['../paperinfo/'+user.id]" href="javascript:;">{{user.buildingName}}</a> </td>-->
          <td width="10%" class="text-left">
            {{user.employNo}}
          </td>
          <td width="10%" class="text-left">
            {{user.employee}}
          </td>
          <td width="15%" class="text-left">
            {{user.deptName}}
          </td>
          <td width="10%">
            {{user.cardNo}}
          </td>
          <td width="12%">
            {{user.cardType==='1'?'自有员工':'第三方员工'}}
          </td>
          <!--<td width="10%">
            {{user.teleNum}}
          </td>
          <td width="15%">
            {{user.teleNum}}
          </td>-->
          <td width="20%" class="box-option">
            <a *ngIf="cardManage.length !== 0" (click)="editRecord(i)">
                <i class="icon-plus"></i>授权
            </a>
            <a *ngIf="cardManage.length !== 0" (click)="cancelOrAuthority(user.userid)">
            <i class="icon-trash"></i>编辑权限
          </a>
          </td>
        </tr>
      </table>
      <div class="div-none" *ngIf="cardManage.length === 0">
        <p>暂无信息</p>
      </div>
    </div>
    <!--翻页-->
    <app-turn-bar
      [pageNo]="pageNo"
      [pageSize]="pageSize"
      [total]="total"
      (turnEvent)="getUserList($event)">
    </app-turn-bar>

  </div>
</div>


<div class="mask" style="display: none;" id="newUser">
  <div class="modal-content" style="width: 360px;margin-left: -180px">
    <div class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>工号牌新增</h4>
      <button class="modal-close" type="button" (click)="closeNewUser()">×</button>
    </div>
    <form class="form-building form-material ng-untouched ng-pristine ng-valid" novalidate="">
      <div class="modal-body clearfix">
        <div class="modal-right">
          <div class="form-group">
            <label class="control-label"><span>工号牌编号</span>
              <input type="text" class="form-control" id="userid" name="userid"
                     [(ngModel)]="entrySecurity.userid" (blur)="verifyEmpty(entrySecurity.userid,'userid')">
            </label>
            <div class="error"></div>
          </div>
          <div class="form-group"><span>大楼名称</span>
            <select name="searchBuildID" [(ngModel)]="search.building"  class="form-control">
              <option value="">全部</option>
              <option *ngFor="let building of buildings" [value]="building.ID">{{building.NAME}}</option>
            </select>
          </div>
         <!-- <div class="form-group">
            <label class="control-label">
              <span *ngIf="entrySecurity.employee === '自有员工'">员工编号</span>
              <span *ngIf="entrySecurity.employee === '第三方员工'">服务公司</span>
              <input type="text" class="form-control" name="teleNum"
                     [(ngModel)]="entrySecurity.deptId">
            </label>
            <div class="error"></div>
          </div>
          <div class="form-group">
            <label class="control-label">
              <span *ngIf="entrySecurity.employee === '自有员工'">员工部门</span>
              <span *ngIf="entrySecurity.employee === '第三方员工'">局方部门</span>
              <select class="form-control" id="deptId" name="deptId"
                      [(ngModel)]="entrySecurity.deptId" (blur)="verifyEmpty(entrySecurity.deptId,'deptId')">
                <option *ngFor="let dept of deptList" [value]="dept.DEPT_ID">{{dept.DEPT_NAME}}</option>
              </select>
            </label>
            <div class="error"></div>
          </div>-->
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button class="btn btn-info" type="submit"
              (click)="submit()">确 定
      </button>
    </div>
  </div>
</div>

<!-- Induction 批量导入  -->
<div class="mask" style="display: none;" id="selecteFile">
  <div class="modal-content" style="width: 400px;margin-left: -180px">
    <div class="modal-header">
      <h4 style="margin-left: 175px">导入</h4>
      <button class="modal-close" type="button" (click)="closeFile()">×</button>
    </div>
    <form class="form-building form-material ng-untouched ng-pristine ng-valid" novalidate="">
      <div class="modal-body clearfix">
        <div class="modal-right">
          <div class="form-group">
            <div style="margin-top: 20px;margin-left: 55px; height: 60px">
              <button class="btn btn-info" type="submit"
                      (click)="downloadTemplates()">下载模板
              </button>
              <div class="form-inp" style=" margin-top:-39px;">
                <a href="javascript:" style="color:#FFFFFF; border-radius:4px; padding:6px 20px; background: #03a9f3;; font-size: 10px" onclick="$('#prese').trigger('click')">选取文件</a>
                <input type="file" class="dropify" #prese id="prese" style="visibility: hidden;"
                       (change)="prese_upload(prese.files)">
              </div>
            </div>
            <div class="error"></div>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer"></div>
  </div>
</div>
