
<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>门禁系统权限</h4></a>
      <!--<div class="b-head-right">
        <div class="content-box" tabindex="0" [routerLink]="['../logger']">
          <i class="icon-reload"></i> 权限变更日志
        </div>
      </div>-->
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--搜索栏-->
    <div class="search-bar">
      <ul class="clearfix">
        <li><label>HRMIS</label>
          <input type="text" name="searchUserId" [(ngModel)]="search.employNo">
        </li>
        <li><label>员工姓名</label>
          <input type="text" name="searchUserName" [(ngModel)]="search.employee">
        </li>
        <li><label>归属部门</label>
          <select name="searchDeptId" [(ngModel)]="search.deptId" style="width: 168px;">
            <option value="">全部</option>
            <option *ngFor="let dept of deptList" [value]="dept.DEPT_ID">{{dept.DEPT_NAME}}</option>
          </select>
        </li>
        <li><label>工号牌类型</label>
          <select name="searchDeptId" [(ngModel)]="search.cardType">
            <option value="">全部</option>
            <option [value]="1">自有员工</option>
            <option [value]="0">第三方员工</option>
          </select>
        </li>
        <li style="float:right">
          <a (click)="getUserList(1);"><i class="icon-magnifier"></i>&nbsp;查询</a>
          <a (click)="batchAccredit();"><i class="icon-docs"></i>&nbsp;批量授权</a>
          <a (click)="cancel();"><i class="icon-docs"></i>&nbsp;批量清空</a>

        </li>
      </ul>
      <!--<div class="batch">
        <div class="batch-row" (click)="batchAccredit();"><i class="icon-docs"></i>&nbsp;批量授权</div>
        <div class="batch-row" (click)="cancel();"><i class="icon-docs"></i>&nbsp;批量清空</div>

      </div>-->
    </div>
    <!--表头-->
    <div class="table-head" style="margin-top: 10px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row list-title" style="height:45px;">
          <th width="5%">
            <input type="checkbox" name="all" [(ngModel)]="all" (change)="checkedAll()">
          </th>
          <th width="10%" class="text-left">员工编号</th>
          <th width="10%" class="text-left">员工姓名</th>
          <th width="15%" class="text-left">归属部门</th>
          <th width="10%" class="text-left">工号牌编号</th>
          <th width="10%">工号牌类型</th>
          <!--<th width="10%">员工姓名</th>
          <th width="10%">员工部门</th>
          <th width="15%">最近申请日期</th>-->
          <th width="20%">操作</th>
        </tr>
      </table>
    </div>
    <!--表格内容-->
    <div class="table-content" style="min-height: 360px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row" *ngFor="let user of cardManage;let i = index">
          <!--<td><a [routerLink]="['../paperinfo/'+user.id]" href="javascript:;">{{user.buildingName}}</a> </td>-->
          <td width="5%">
            <input type="checkbox" name="orderCheck" [value]="user.employNo" (change)="checkIsAll()">
          </td>
          <td width="10%" class="text-left"><a [routerLink]="['../logger/'+user.employNo]" href="javascript:;">
            {{user.employNo}}</a>
          </td>
          <td width="10%" class="text-left">
            {{user.employee}}
          </td>
          <td width="15%" class="text-left">
            {{user.deptId}}
          </td>
          <td width="10%">
            {{user.cardNo}}
          </td>
          <td width="12%" *ngIf="user.cardType!=='1'&&user.cardType!=='0'">
            {{user.cardType}}
          </td>
          <td width="12%" *ngIf="user.cardType==='0'">
            第三方员工
          </td>
          <td width="12%" *ngIf="user.cardType==='1'">
            自有员工
          </td>
          <td width="20%" class="box-option">
            <a (click)="addRecord(user.employNo,user.cardNo)">
                <i class="icon-plus"></i> 授权
            </a>
            <a (click)="editRecord(user.employNo)">
              <i class="icon-loop"></i> 取消授权
            </a>
            <a (click)="emptyRecord(user.employNo)">
              <i class="icon-trash"></i> 一键清空
            </a>
          </td>
        </tr>
      </table>
      <div class="div-none" *ngIf="cardManage.length === 0">
        <p>暂无信息</p>
      </div>
    </div>
    <!--翻页-->
    <app-turn-bar
      [pageNo]="pageNo"
      [pageSize]="pageSize"
      [total]="total"
      [length]="length"
      (turnEvent)="getUserList($event)">
    </app-turn-bar>

  </div>
</div>


<div class="mask" style="display: none;" id="newUser">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>增加授权</h4>
      <button class="modal-close" type="button" (click)="closeNewUser()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body" *ngFor="let inner of record;let i=index">
        <div class="form-group form-group-big"><span>大楼名称</span>
          <select [name]="'buildingId'+i" [(ngModel)]="inner.buildingId"  class="form-control"
                  (change)="getFloorNameListMsg(inner.buildingId,i)">
            <option value="">请选择</option>
            <option *ngFor="let building of inner.buildings" [value]="building.ID">{{building.NAME}}</option>
          </select>
        </div>
        <div class="form-group form-group-little"><span>楼层</span>
          <select [name]="'floorNum'+i" [(ngModel)]="inner.floorNum"  class="form-control duan"
                  (change)="getRoomListMsg(inner.floorNum,i)">
            <option value="">请选择</option>
            <option *ngFor="let floorName of inner.floorNums" [value]="floorName.FLOOR_NUM">{{floorName.FLOOR_NUM}}</option>
          </select>
        </div>
        <div class="form-group form-group-little"><span>房间号</span>
          <select [name]="'roomNum'+i" [(ngModel)]="inner.roomNum"  class="form-control duan">
            <option value="">请选择</option>
            <option *ngFor="let room of inner.rooms" [value]="room.roomNum">{{room.roomNum}}</option>
          </select>
        </div>
        <div class="form-group form-group-cancel"><span style="display: inline-block; width: 18px;border:1px solid #000; border-radius: 50%; line-height: 18px; text-align: center; margin-top:10px;" title="删除" (click)="removePro(i)">X</span></div>
      </div>
      <div class="addPro">
        <button class="btn btn-info" type="submit"
                (click)="addPro()">增加栏目
        </button>
      </div>
    </form>
    <div class="modal-footer">
      <button class="btn btn-info" type="submit"
              (click)="submit()">确 定
      </button>
    </div>
  </div>
</div>
<div class="mask1" style="display: none;" id="delUser">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>操作授权</h4>
      <button class="modal-close" type="button" (click)="closeNewUser()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body" *ngFor="let inner of editrecord;let i=index">
        <div class="form-group form-group-big"><span>大楼名称</span>
          <input [name]="'editbuildingId'+i" [value]="inner.buildingName"  class="form-control" disabled="disabled">
        </div>
        <div class="form-group form-group-little"><span>楼层</span>
          <input [name]="'editfloorNum'+i" [value]="inner.floorNum"  class="form-control duan" disabled="disabled">
        </div>
        <div class="form-group form-group-little"><span>房间号</span>
          <input [name]="'editroomNum'+i" [value]="inner.roomNum"  class="form-control duan" disabled="disabled">
        </div>
        <div class="form-group form-group-middle"><span>授权时间</span>
          <input [name]="'edithandleTime'+i" [value]="inner.handleTime | date:'yyyy/MM/dd'"  class="form-control" disabled="disabled">
        </div>
        <div class="form-group form-group-cancel"><span style="display: inline-block; width: 18px;border:1px solid #000; border-radius: 50%; line-height: 18px; text-align: center; margin-top:10px;" title="删除" (click)="delPro(i,inner.id)">X</span></div>
      </div>
      <div *ngIf="editrecord.length===0" style="min-height: 200px; line-height: 200px; font-size: 18px; text-align: center; background-color: #fff;">
        暂无门禁权限信息
      </div>
    </form>
    <div class="modal-footer">
      <button class="btn btn-info" type="submit"
              (click)="closeNewUser()">确 定
      </button>
    </div>
  </div>
</div>
<!-- Induction 批量导入  -->
<!--<div class="mask" style="display: none;" id="selecteFile">
  <div class="modal-content" style="width: 400px;margin-left: -180px">
    <div class="modal-header">
      <h4 style="margin-left: 175px">导入</h4>
      <button class="modal-close" type="button" (click)="closeFile()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body clearfix">
        <div class="modal-right">
          <div class="form-group">
            <div style="margin-top: 20px;margin-left: 55px; height: 60px">
              <button class="btn btn-info" type="submit"
                      (click)="downloadTemplates()">下载模板
              </button>
              <div class="form-inp" style=" margin-top:-39px;">
                <a href="javascript:" style="color:#FFFFFF; border-radius:4px; padding:6px 20px; background: #03a9f3;; font-size: 10px" onclick="$('#prese').trigger('click')">选取文件</a>
                <input type="file" class="dropify" #prese id="prese" style="visibility: hidden;">&lt;!&ndash;(change)="prese_upload(prese.files)"&ndash;&gt;
              </div>
            </div>
            <div class="error"></div>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer"></div>
  </div>
</div>-->
