
<!--物品搜索-->
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <span>超市商品</span>
          <div class="b-head-right">
            <div class="content-box" (click)="gotoMange()" *ngIf="rule&&(rule.isUpdate||rule.isInstall||rule.isDelete)">
              <i class="icon-grid"></i>&nbsp; 进入管理
            </div>
            <div class="content-box" [routerLink]="['../myorder']"><i class="icon-doc"></i>&nbsp; 我的订单</div>
            <div class="content-box" [routerLink]="['../mycart']"><i class="icon-basket-loaded"></i>&nbsp;
              购物车
              <a>({{cartsize}})</a>
            </div>
          </div>
        </div>
        <div class="wrap">
          <div class="sltgroup">
            <label>供应商</label>
            <select name="searchArm" [(ngModel)]="search.applier">
              <option value="">全部</option>
              <option *ngFor="let applier of applierList" [value]="applier.applyId">{{applier.applyName}}</option>
            </select>
          </div>
          <div class="sltgroup">
            <label>商品类别</label>
            <select name="searchArm" [(ngModel)]="search.stype">
              <option value="">全部</option>
              <option *ngFor="let categorie of categories" [value]="categorie.cid">{{categorie.cname}}</option>
            </select>
          </div>
          <div class="iptgroup">
            <input placeholder="请输入商品名称"  [(ngModel)]="search.sname"/>
          </div>
          <a class="search" href="javascript: void(0);"  (click)="getMarketShowList(1)"  >查询</a>
        </div>
        <div id="J-listContainer" class="mainItemsList">
          <h2 class="offScreen">商品列表</h2>
          <ul id="J_ProductList" class="product-list">
            <li  *ngFor="let product of products;let idx=index" class="product" >
              <div class="productInfo">
                <div class="product-img">
                  <a>
                    <img *ngIf="product.simage!==''"  [src]="ipSetting.ip + product.simage" />
                  </a>
                </div>
                <h3 class="product-title">
                  <!--<a [routerLink]="['../supbuysimple']"></a>-->
                    {{product.sname}}

                  <span class="product-status">{{product.leftstatus==='3'?'缺货':(product.leftstatus==='2'?'少量':'充足')}}</span>
                </h3>
                <div class="item-summary">
                  <div class="item-price">
                    <span class="ui-price">
                        <span class="price-icon">¥</span>
                        <strong>{{product.price}}</strong>
                    </span>
                  </div>
                  <a class="addCart j_AddCart" (click)="addToCart(product.id,product.leftstatus)">
                    <i [ngClass]="product.leftstatus==='3'?'ill':''">+</i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
          <!--翻页-->
          <app-turn-bar
            [pageNo] = "pageNo"
            [pageSize] = "pageSize"
            [total] = "total"
            (turnEvent) = "getMarketShowList($event)">
          </app-turn-bar>
        </div>
      </div>
  </div>
</div>
</div>


