<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">
        <a routerLink="/hzportal/unions/congress/list" routerLinkActive="active">提案发起记录
          <span></span></a>
      </div>
      <div class="row-title">
        <a routerLink="/hzportal/unions/congress/proposalReport" routerLinkActive="active">提案记录报表管理
          <span></span>
        </a>
      </div>
      <div class="row-title">
        <a routerLink="/hzportal/unions/congress/congflow" routerLinkActive="active">提案发起流程管理
          <span></span>
        </a>
      </div>
      <div class="row-title">
        <a routerLink="/hzportal/unions/congress/launch" routerLinkActive="active">提案发起
          <span></span>
        </a>
      </div>

      <div class="b-head-right">
        <div class="content-box" onclick="history.go(-1)" tabindex="0">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <div class="cont-inner">

    </div>
  </div>
</div>
