<div class="wrap">
  <div class="cont">
    <div class="clearfix">
      <div class="row-title">
        <a class="active">新提案发起
          <span></span></a>
      </div>
      <div class="b-head-right">
        <div class="content-box" onclick="history.go(-1)" tabindex="0">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <div class="content-area">
        <div class="warp clearfix">
          <div class="warp-left">
            <div class="flow-area">
              <h3>请在<span>{{beginTime}}至{{endTime}}</span>发起提案。</h3>
              <p><img style="width: 100%;" src="assets/image/inner.png" /> </p>
            </div>
          </div>
          <div class="warp-right">
            <div class="form-group">
              <label class="control-label">
                <span>提案人姓名</span>
                <input class="form-control" type="text" [(ngModel)]="record.userName" disabled="disabled"
                           name="orderCheck">
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <span>所在单位</span>
                <input class="form-control" type="text" [(ngModel)]="record.userDept" disabled="disabled"
                       name="orderCheck">
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <span>参加工作时间</span>
                <input class="form-control" type="text" [(ngModel)]="record.joinDate" disabled="disabled"
                       name="joinDate">
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <span>年龄</span>
                <input class="form-control" type="text" [(ngModel)]="record.userAge" disabled="disabled"
                       name="userAge">
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <span>政治面貌</span>
                <input class="form-control" type="text"  [(ngModel)]="record.userPolitical" disabled="disabled"
                       name="userCultural">
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <span>文化成度</span>
                <input class="form-control" type="text" [(ngModel)]="record.userCultural" disabled="disabled"
                       name="userPolitical">
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <span>职（岗）位</span>
                <input class="form-control" type="text" [(ngModel)]="record.userWork" disabled="disabled"
                       name="userWork">
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <span>职称</span>
                <input class="form-control" type="text" [(ngModel)]="record.userMemver" disabled="disabled"
                       name="userMemver">
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <span>提案主题</span>
                <input class="form-control" type="text" [(ngModel)]="record.theme" id="theme"
                       name="theme" (blur)="verifyEmpty(record.theme,'theme')">
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label"><span>提案类别</span>
                  <select class="form-control" [(ngModel)]="record.type" id="type" name="type"
                  (blur)="verifyEmpty(record.type,'type')">
                    <option value="">请选择</option>
                    <option value="市场类">市场类</option>
                    <option value="政企类">政企类</option>
                    <option value="网络类">网络类</option>
                    <option value="人力资源类">人力资源类</option>
                    <option value="员工关爱类">员工关爱类</option>
                    <option value="综合管理类">综合管理类</option>
                  </select>
              </label>
              <div class="error"></div>
            </div>

            <div class="form-group">
              <label class="control-label">
                <span>理由及内容</span><!--[(ngModel)]="postData.cause"-->
                <textarea class="form-control" type="text" rows="3" style="text-indent:0;line-height: 20px; width: 360px" (blur)="verifyEmpty(record.cause,'cause')"
                          id="cause" name="cause" [(ngModel)]="record.cause">
                </textarea>
              </label>
              <div class="error"></div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <span>解决办法及建议</span>
                <textarea class="form-control" type="text" rows="3" style="text-indent:0;line-height: 20px; width: 360px" (blur)="verifyEmpty(record.suggest,'suggest')"
                          id="suggest" name="suggest" [(ngModel)]="record.suggest">
                </textarea>
              </label>
              <div class="error"></div>
            </div>
            <div style="text-indent: 25em;">
              <button class="btn btn-info" type="submit"
                      (click)="submitPassword()">提交
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
