
.cont {
  height: calc(100% - 60px);
  overflow-y: auto;
  background-color: #edf1f5;
}
@media screen and (max-width: 1400px){
  .cont {
    height: calc(100% - 40px);
  }
}

.cont-nav-box{
  padding: 0 30px;
}
.cont-nav{
  padding: 0 15px;
  background :url("../../../assets/image/bannerC.jpg") no-repeat center;
  background-size: cover;
  border-bottom:2px solid #f7fafc;
  display: flex;
}
.cont-nav>li{
  flex: 1;
  padding:0 18px;
  position: relative;
  line-height:66px;
  font-size:16px;
  text-align: center;
}
.cont-nav>li>a{
  padding:10px 60px;
  border-radius:4px;
  background-color:#d4d4d4;
  color:#000;
  white-space: nowrap;
  transition: all .4s;
}
.cont-nav>li a.active{
  background-color:#ff5b3a;
  color: #fff;
}
.cont-inner{
  margin:10px 30px;
  padding: 10px;
  background-color: #fff;
}

