span{
  box-sizing: border-box;
}
input{
  outline:none;
  border:none;
}
.device{
  width:100%;
}
.device-header{
  width:100%;
  text-align:center;
}
.device-header a{
  color:#66CCFF;
  line-height:40px;
  width:50%;
  height:40px;
  float:left;
  background-color:#edf1f5;
}
.device-header a:nth-of-type(1){
  border-radius:4px 0 0 4px;
}
.device-header a:nth-of-type(2){
  border-radius:0 4px 4px 0;
}
.device-header a.active{
  background-color:#66CCFF;
  color:#fff;
}
.device-chandlery{
  position: relative;
  padding: 15px 115px 15px 0;
  background-color: #f8f8f8;
  margin-top: 10px;
}
.device-chandlery ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.device-chandlery ul li label{
  float: left;
  color: #686868;
  height: 30px;
  width: 70px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 12px;
  text-align: right;
}
.device-chandlery ul li input{
  height: 20px;
  width: calc(100% - 115px);
  min-width: 70px;
  padding: 3px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e7ea;
}
.search-right{
  position: absolute;
  right:0; top:15px;
}

.device-chandlery .search-btn{
  float: left;
  margin-left:10px;
  display: inline-block;
  padding:0 10px;
  line-height:32px;
  height:32px;
  border:none;
  background-color:#66CCFF;
  color:#fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all .5s;
}
.device-chandlery .search-btn:hover{
  opacity:.8;
}
.device-chandlery .new-btn{
  background-color:#fb9678;
}
.mask{
  display: none;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,.4);
}
.mask-head{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  background-color: #f1f5f8;
  font-size:18px;
}
.mask-head p{
  text-indent: 1em;
}
button{
  border: none;
  font-size: 18px;
  background: none;
}
.close{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.new-device{
  position: absolute;
  left:50%;
  top:50%;
  width:650px;
  height:610px;
  margin-top:-305px;
  margin-left:-325px;
  background-color: #fff;
  border-radius:5px;
}
.new-device .company-sel{
  height:30px;
}
.arch-form{
  margin:10px auto;
  padding:0 32px;
}
.new-device .form-left{
  float: left;
  width:400px;
}
.new-device .form-right{
  width:180px;
  height:200px;
  border: 2px solid #E5E5E5;
  float:left;
}
.new-device .form-control{
  width:100%;
  line-height:30px;
  margin:0 auto 5px;
  color: #686868;
}
.new-device .form-label{
  float: left;
  height:100%;
  text-align: center;
  width:88px;
  margin-bottom: 0;
  margin-right:10px;
}
.new-device .form-inp{
  float: left;
  width:280px;
}

.form-photo{
  width:14%;
  height:100%;
  position: absolute;
  right:5%;
  line-height:261px;
  top:0;
}
.form-photo img{
  width:100%;
  vertical-align: middle;
  max-height:98%;
}
.dropify-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 200px;
  font-size: 14px;
  line-height: 22px;
  color: #777;
  background-color: #FFF;
  background-image: none;
  text-align: center;
}
.dropify-wrapper p{
  position: absolute;
  left:0;
  top:88px;
  width:100%;
  line-height:24px;
  z-index: 2;
}
.dropify-wrapper .dropify-message {
  position: relative;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dropify-message img{
  width:100%;
}
.dropify-wrapper .dropify-loader {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  z-index: 9;
}
.dropify-wrapper .dropify-errors-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(243,65,65,.8);
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear .15s,opacity .15s linear;
  transition: visibility 0s linear .15s,opacity .15s linear;
}
.dropify-wrapper input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
.company-ipt{
  width:180px;
  line-height:30px;
  background-image: linear-gradient(#03a9f3, #03a9f3), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px;
  padding: 0;
  transition: all .3s ease-out;
}
.company-ipt:focus{
  background-size: 100% 1px, 100% 1px;
}
.company-form{
  margin:30px auto;
}


.form-control{
  min-height:25px;
  width: 430px;
  padding:6px 0 6px 5px;
  _border-bottom:1px solid #e1eaf2;
}
.form-right{
  float: right;
  margin-top: 55px;
  width:360px;
}


.row{
  height:50px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #ccc;
}
.text-right{
  text-align: right;
}
.btn{
  line-height:50px;
  padding:6px 10px;
  border-radius: 6px;
  background-color:#fb9678;
  border:1px solid #fff;
  transition: all .6s;
}
.btn-lead{
  margin-right:8px;
}
.btn:hover{
  opacity:.8;
  border-color:#fb9678;
}
.device-container{
  min-height:600px;
  display: none;
}

/*新的信息列表*/
.form-msg{
  display: flex;
  flex-wrap: wrap;
  padding:10px 10px 5px;
  border:1px solid #fff;
  border-radius: 4px;
  position: relative;
  transition: all .5s;
  margin:15px 0;
  box-shadow: 0 0 1px #ccc;
}
.form-msg:hover{
  border:1px solid rgba(0,0,0,.4);
}
.form-bar{
  -webkit-box-flex: 0;
  flex: 1 0 40%;
  max-width: 50%;
  color:#8d9ea7;
  margin-bottom:5px;
  font-size:12px;
}
.form-title{
  position: relative;
  width: 100%;
  min-height: 1px;
  background-color: #f8f8f8;
  padding:10px;
  float: left;
  font-weight: 300;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 35%;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width:35%;
}
.form-word{
  position: relative;
  min-height: 1px;
  padding:10px;
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65%;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
}
.form-alone{
  flex: 1 0 100%;
  max-width:100%;
}
.form-alone .form-left{
  max-width: 17.5%;
}
.box1,.box2,.guard-company,.guard-arch{
  display:none;
}
.form-btn{
  position: absolute;
  right:10px;
  top:50px;
  cursor: pointer;
  width:25px;
  height:25px;
  line-height:25px;
  border-radius: 50%;
  background-color: #fb9678;
  color:#fff;
  text-align: center;
  border:1px solid #fff;
  opacity:0;
  transition: all .5s;
}
.order-btn{
  position: absolute;
  right:28px;
  top:140px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fb9678;
  color:#fff;
  text-align: center;
  border:1px solid #fff;
  opacity:0;
  padding: 6px 10px;
  transition: all .5s;
}
.order-del{
  padding:5px; font-size: 16px; position: absolute;right:5px; top:5px; cursor:pointer;
}
.form-del{
  top:10px;
  background-color: #ccc;
}
.form-text{
  height:110px;
  line-height:20px;
  max-width:82.5%;
  overflow: hidden;
}
.form-ipt{
  border:1px solid #ccc;
  border-radius:3px;
  width:54%;
  padding:5px 10px;
  margin-left:10px;
  transition: all .5s;
}
.form-area{
  margin-left:10px;
  width:77%;
  border:1px solid #ccc;
  padding:0px 10px;
  max-width: 82.5%;
  height:120px;
  line-height: 24px;
  overflow: auto;
  border-radius: 3px;
  transition: all .5s;
}
.form-ipt,.form-area{
  display:none;
}
.form-ipt:focus,.form-area:focus{
  cursor: pointer;
  border-color:#2b2b2b;
}
.form-msg:hover{
  border-color:#ccc;
}
.form-msg:hover .form-btn,.form-msg:hover .order-btn{
  opacity: 1;
}
.form-btn:hover{
  border-color:#fb9678;
}
.form-del:hover{
  border-color:#ccc;
}
.mask-footer{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px;
  background-color: #f1f5f8;
}
.btn-mask{
  font-size: 14px;
  padding: .6rem 1rem;
  background: #03a9f3;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color:#fff;
}
.btn-danger{
  background-color:#fb9678;
  margin-left:20px;
}
.btn-mask:hover{
  opacity:.8;
}
.errorMessage{
  color:#CE0004;
}
.turn{
  padding: 0 2% 20px 2%;
  background: #ffffff;
}
.turn>ul{
  display: flex;
  height: 35px;
}
.turn>ul>li{
  height: 35px;
  width: 30px;
  line-height: 35px;
  border: 1px solid #e4e7ea;
  color: #686868;
  text-align: center;
  margin-left:-1px;
  cursor: pointer;
}
.turn>ul>li:first-child{
  margin-left: 0;
}
.turn>ul>li.active{
  color: #ffffff;
  background: #04a9f3;
  border-color: #04a9f3;
}
.new-arch{
  position: absolute;
  left:50%;
  top:50%;
  width:750px;
  height:496px;
  margin-top:-248px;
  margin-left:-375px;
  background-color: #fff;
  border-radius:5px;
}
.order-form{
  padding:20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 4px;
  position: relative;
}
.order-form .form-control{
  -webkit-box-flex: 0;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  max-width: 50%;
  padding:0;
  margin-bottom: 5px;
  font-size: 12px;
}
.order-form .form-label {
  position: relative;
  width: 100%;
  min-height: 1px;
  background-color: #f8f8f8;
  padding: 10px;
  float: left;
  font-weight: 300;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.order-form .form-inp{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0;
  float: left;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 68%;
  flex: 0 0 68%;
  max-width: 68%;
  margin-left:2%;
}
.order-form .company-ipt{
  width:150px;
  line-height: 37px;
  background-image: linear-gradient(#03a9f3, #03a9f3), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px;
  padding: 0;
  transition: all .3s ease-out;
}
.company-sel{
  height:37px;
}
.order-form .company-ipt:focus{
  background-size: 100% 1px, 100% 1px;
}
.order-form .form-alone{
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  max-width: 100%;
}
.order-form {

}
#liableNote{
  width:100%;
  height:100%;
  line-height:24px;
  font-size:12px;
}
.form-alone .form-label{
  width:15%;
}
.form-alone .form-inp{
  max-width:84%;
  margin-left:1%;
}
.company-search li{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 360px;
}

















