<div class="device">
  <div class="device-header clearfix">
    <a href="javascript:;" class="active" (click)="deviceFade($event)">大型设备基础信息</a>
    <a href="javascript:;" (click)="mainFade($event)">大型设备维护保养</a>
  </div>
  <div class="device-cont">
    <div class="device-chandlery clearfix">
      <div class="box1">
        <ul class="company-search clearfix">
          <li >
            <label >大楼名称</label>
            <select name="bbb" class="search-ipt" [(ngModel)]="searchCompany.buildingName">
              <option value="">-全部-</option>
              <option *ngFor="let num of buildings"
                      [value]="num.NAME">
                {{num.NAME}}</option>
            </select>
          </li>
          <li >
            <label >设备名称</label>
            <!--<input type="text" name="ccc" class="search-ipt" [(ngModel)]="searchCompany.equipmentName">-->
            <select name="ccc" class="search-ipt" [(ngModel)]="searchCompany.name">
              <option value="">-全部-</option>
              <option *ngFor="let num of deviceList"
                      [value]="num"><!--num.BUILDING_ID-->
                {{num}}</option>
            </select>
          </li>
        </ul>
        <div class="search-right"><a href="javascript:;" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a></div>
      </div>
      <div class="box2">
        <ul class="company-search clearfix">
          <li >
            <label>大楼名称</label>
            <select name="eee" class="search-ipt" [(ngModel)]="searchArch.buildingName">
              <option value="">-全部-</option>
              <option *ngFor="let num of buildings"
                      [value]="num.NAME">
                {{num.NAME}}</option>
            </select>
          </li>
          <li >
            <label>设备名称</label>
            <select name="www" class="search-ipt" [(ngModel)]="searchArch.equipmentName">
              <option value="">-全部-</option>
              <option *ngFor="let num of deviceList"
                      [value]="num">
                {{num}}</option>
            </select>
          </li>
          <li >
            <label>维保责任人</label>
            <select name="rrr" class="search-ipt" [(ngModel)]="searchArch.liablePerson">
              <option value="">-全部-</option>
              <option *ngFor="let lead of leading"
                      [value]="lead.userid">
                {{lead.username}}</option>
            </select>
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a>
        </div>
      </div>
    </div>
    <!--设备基础信息-->
    <div class="device-container guard-company">
      <div class="row text-right" *ngIf="rule&&jurisdiction&&jurisdiction.isInstall">
        <a class="btn btn-new" href="javascript:;" (click)="addCompany()"><i class="icon-plus"></i> 新 增</a>
      </div>
      <ul class="form-msg clearfix" *ngFor="let inner of record; let i=index">
        <!--<li class="form-bar">
          <span class="form-title text-right">大楼编号</span>
          <span class="form-word">{{inner.buildingNum}}</span>
        </li>-->
        <li class="form-bar">
          <span class="form-title text-right">大楼名称</span>
          <span class="form-word">{{inner.buildingName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备名称</span>
          <span class="form-word">{{inner.name}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备型号</span>
          <span class="form-word">{{inner.model}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备供应商</span>
          <span class="form-word">{{inner.supplier}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">采购日期</span>
          <span class="form-word">{{inner.buyDate | date:'yyyy-MM-dd'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保单位</span>
          <span class="form-word">{{inner.maintenance}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">最近维保日期</span>
          <span class="form-word">{{inner.mLastDate | date:'yyyy-MM-dd'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">下次维保日期</span>
          <span class="form-word">{{inner.mNextDate | date:'yyyy-MM-dd'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保责任人</span>
          <span class="form-word">{{inner.liablePerson}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">责任人邮箱</span>
          <span class="form-word">{{inner.lMail}}</span>
        </li>
        <li class="form-photo">
          <span class="form-pboto-title text-right">服务合同</span>
          <ol *ngIf="inner.fileName" style="height:72px;overflow-y: auto;">
            <li style="text-indent: 1em; line-height: 24px;" *ngFor="let abc of inner.fileName; let j=index">{{abc}}
              <a [href]="URL + inner.filePath[j]" [download]="abc"><i class="icon-cloud-download"></i>下载</a>
            </li>
          </ol>
        </li>
        <li class="form-btn" *ngIf="rule&&jurisdiction&&jurisdiction.isUpdate" (click)="editRecord(i)"><i class="icon-pencil"></i></li>
        <li class="form-btn form-del" *ngIf="rule&&jurisdiction&&jurisdiction.isDelete" (click)="delRecord(inner.id)"><i class="icon-trash"></i></li>
      </ul>
    </div>
    <!--工单-->
    <div class="device-container device-arch">
      <div class="row text-right" *ngIf="rule&&jurisdiction&&jurisdiction.isInstall">
        <a class="btn btn-new" href="javascript:;" (click)="addCompany()"><i class="icon-plus"></i> 新 增</a>
      </div>
      <ul class="form-msg clearfix" *ngFor="let inner of contract; let i=index">
        <li class="form-bar">
          <span class="form-title text-right">大楼名称</span>
          <span class="form-word">{{inner.buildingName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">大楼编号</span>
          <span class="form-word">{{inner.buildingNum}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备名称</span>
          <span class="form-word">{{inner.equipmentName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备型号</span>
          <span class="form-word">{{inner.equipModel}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保单位</span>
          <span class="form-word">{{inner.maintenance}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保类型</span>
          <span class="form-word">{{inner.mType}}</span>
        </li>
        <li class="form-bar form-alone">
          <span class="form-title form-left text-right">维保责任人</span>
          <span class="form-word">{{inner.liablePerson}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保开始日期</span>
          <span class="form-word form-visiable">{{inner.liableBtime}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保结束日期</span>
          <span class="form-word form-visiable">{{inner.liableEtime}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">下次维保日期</span>
          <span class="form-word form-visiable">{{inner.liableNextTime}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保费用</span>
          <span class="form-word form-visiable">{{inner.liableCost}}</span>
        </li>
        <li class="form-bar form-alone">
          <span class="form-title form-left text-right">维保情况</span>
          <span class="form-word form-text form-visiable">{{inner.liableNote}}</span>
        </li>
        <li class="form-btn form-del" *ngIf="rule&&jurisdiction&&jurisdiction.isDelete" (click)="delOrder(inner.id)"><i class="icon-trash"></i></li>
        <li class="order-btn" *ngIf="!inner.liableBtime && (rule&&jurisdiction&&jurisdiction.isUpdate)" (click)="editContract(i)"><i class="icon-pencil"></i> 完善工单</li>
      </ul>
    </div>
    <app-turn-bar
      [pageNo]="pageNo"
      [pageSize]="pageSize"
      [total]="total"
      [length] = 5
      (turnEvent)="goPage($event)">
    </app-turn-bar>
  </div>
</div>
<!--新增设备信息-->
<div class="mask mask-repair">
  <div class="new-device">
    <div class="mask-head"><i class="icon-film"></i> <p>新增大型设备信息</p>
      <button class="close" (click)="recordCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="arch-form clearfix">
      <div class="form-left">
        <div class="form-control clearfix">
          <span class="form-label">大楼名称</span>
          <div class="form-inp">
            <select id="buildingId" name="buildingId" class="company-ipt company-sel" [(ngModel)]="repairname.buildingId" (blur)="verifybuildingId()">
              <option *ngFor="let num of buildings"
                      [value]="num.ID">
                {{num.NAME}}</option>
            </select>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">设备名称</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="name" name="name" [(ngModel)]="repairname.name" (blur)="verifyname()" required  maxlength="25">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">设备型号</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="model" name="model" [(ngModel)]="repairname.model" (blur)="verifymodel()" required  maxlength="22">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">设备供应商</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="supplier" name="supplier" [(ngModel)]="repairname.supplier" (blur)="verifysupplier()" required  maxlength="25">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">厂家联系人</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="factoryContacts" name="factoryContacts"
                   [(ngModel)]="repairname.sPerson" (blur)="verifyfactoryContacts()" required  maxlength="25">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">厂家联系人电话</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="factoryPhone" name="factoryPhone"
                   [(ngModel)]="repairname.sPhone" (blur)="verifyfactoryPhone()" required  maxlength="11">
            <span class="errorMessage"></span>
          </div>
        </div>

        <div class="form-control clearfix">
          <span class="form-label">采购日期</span>
          <div class="form-inp">
            <input type="date" autocomplete="off" class="company-ipt" id="buyDate" name="buyDate" [(ngModel)]="repairname.buyDate" (blur)="verifybuyDate()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">维保单位</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="maintenance" name="maintenance" [(ngModel)]="repairname.maintenance" (blur)="verifymaintenance()" required maxlength="25">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">最近维保日期</span>
          <div class="form-inp">
            <input type="date" autocomplete="off" class="company-ipt" id="mLastDate" name="mLastDate" [(ngModel)]="repairname.mLastDate" (blur)="verifymLastDate()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">下次维保日期</span>
          <div class="form-inp">
            <input type="date" autocomplete="off" class="company-ipt" id="mNextDate" name="mNextDate" [(ngModel)]="repairname.mNextDate" (blur)="verifymNextDate()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">维保责任人</span>
          <div class="form-inp">
            <select class="company-ipt" id="liablePerson" name="liablePerson" [(ngModel)]="repairname.liablePerson"
                    (blur)="verifyliablePerson()" (change)="changePerson(repairname.liablePerson)">
              <option value="">-请选择-</option>
              <option *ngFor="let lead of leading" [value]="lead.userid">{{lead.username}}</option>
            </select>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">责任人部门</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="deptId" name="deptId" [(ngModel)]="repairname.deptId" (blur)="verifylDeptId()">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">责任人邮箱</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="lMail" name="lMail" [(ngModel)]="repairname.lMail" (blur)="verifylMail()">
            <span class="errorMessage"></span>
          </div>
        </div>
      </div>
      <div class="form-right">
        <div class="right-title">维保合同附件</div>
        <ul class="contract-list">
          <li *ngFor="let abc of repairname.fileName; let k=index">{{abc}}<a  href="javascript:;" (click)="delFile(k)">×</a> </li>
        </ul>
        <div class="form-inp" style=" margin-top:10px;">
          <a href="javascript:;" style="color:#666; border-radius:4px; padding:5px 10px; background: #f6f6f6;" onclick="$('#prese').trigger('click')">上 传</a>
          <input type="file" class="dropify" #prese id="prese" style="visibility: hidden;"
                 (change)="prese_upload(prese.files)">
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="recordSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="recordCancel()">取 消</button>
    </div>
  </div>
</div>
<!--新增工单弹窗-->
<div class="mask mask-contract">
  <div class="new-arch">
    <div class="mask-head"><i class="icon-film"></i> <p>新增工单</p>
      <button class="close" (click)="contractCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="order-form clearfix">
      <div class="form-control form-entry clearfix">
        <span class="form-label">大楼名称</span>
        <div class="form-inp">
          <select id="ID" name="ID" class="company-ipt company-sel" [(ngModel)]="contractName.buildingId" (blur)="verifyID()"
          (change)="getDeviceList(contractName.buildingId,'');getDeviceList2(contractName.buildingId)">
            <option *ngFor="let num of buildings"
                    [value]="num.ID">
              {{num.NAME}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">设备名称</span>
        <div class="form-inp">
          <select  class="company-ipt" id="equipmentName" name="equipmentName" [(ngModel)]="contractName.equipmentName"
                   (blur)="verifyequipmentName()" (change)="getDeviceList(contractName.buildingId,contractName.equipmentName);
                   getDeviceList2(contractName.buildingId)">
            <option value="">-请选择-</option>
            <option *ngFor="let num of deviceList"
                    [value]="num">
              {{num}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">设备型号</span>
        <div class="form-inp">
          <select class="company-ipt" id="equipModel" name="equipModel" [(ngModel)]="contractName.equipModel" (blur)="verifyequipModel()">
          <option value="">-请选择-</option>
            <option *ngFor="let num of modelList"
                    [value]="num"><!--num.BUILDING_ID-->
              {{num}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">维保单位</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="maintenance2" name="maintenance" [(ngModel)]="contractName.maintenance" (blur)="verifymaintenance2()" required maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">维保类型</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="mType" name="mType" [(ngModel)]="contractName.mType" (blur)="verifymType()" required maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">维保责任人</span>
        <div class="form-inp">
          <select class="company-ipt conpany-sel" id="liablePerson2" name="liablePerson2" [(ngModel)]="contractName.liablePerson"
                  (blur)="verifyliablePerson2()" (change)="changePerson2(contractName.liablePerson)">
            <option value="">-请选择-</option>
            <option *ngFor="let lead of leading" [value]="lead.userid">{{lead.username}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">责任人部门</span>
        <div class="form-inp">
          <input class="company-ipt conpany-sel" name="liabledeptId" [(ngModel)]="contractName.deptId" disabled="disabled">
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">责任人邮箱</span>
        <div class="form-inp">
          <input class="company-ipt conpany-sel" name="liablelMail" [(ngModel)]="contractName.lMail">
          <!--<span class="errorMessage"></span>-->
        </div>
      </div>
      <div class="form-control form-disable clearfix">
        <span class="form-label">维保开始日期</span>
        <div class="form-inp">
          <input type="date" autocomplete="off" class="company-ipt" id="liableBtime" name="liableBtime" [(ngModel)]="contractName.liableBtime" (blur)="verifyliableBtime()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  form-disable clearfix">
        <span class="form-label">维保结束日期</span>
        <div class="form-inp">
          <input type="date" autocomplete="off" class="company-ipt" id="liableEtime" name="liableEtime" [(ngModel)]="contractName.liableEtime" (blur)="verifyliableEtime()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  form-disable clearfix">
        <span class="form-label">下次维保日期</span>
        <div class="form-inp">
          <input type="date" autocomplete="off" class="company-ipt" id="liableNextTime" name="liableNextTime" [(ngModel)]="contractName.liableNextTime" (blur)="verifyliableNextTime()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  form-disable clearfix">
        <span class="form-label">维保费用</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="liableCost" name="liableCost" [(ngModel)]="contractName.liableCost" (blur)="verifyliableCost()" required maxlength="9">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone form-disable clearfix">
        <span class="form-label">维保情况</span>
        <div class="form-inp form-text">
          <textarea type="text" id="liableNote" maxlength="1000" name="liableNote" [(ngModel)]="contractName.liableNote" (blur)="verifyliableNote()" required >
          </textarea>
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="contractSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="contractCancel()">取 消</button>
    </div>
  </div>
</div>
