<div class="device">
  <div class="device-header clearfix">
    <a href="javascript:;" class="active" (click)="deviceFade($event)">大型设备基础信息</a>
    <a href="javascript:;" (click)="mainFade($event)">大型设备维护保养</a>
  </div>
  <div class="device-cont">
    <div class="device-chandlery clearfix">
      <div class="box1">
        <ul class="company-search clearfix">
          <li>
            <label>大楼编号</label>
            <input type="text" name="aaa" class="search-ipt" [(ngModel)]="searchCompany.buildingId">
          </li>
          <li >
            <label >大楼名称</label>
            <input type="text" name="bbb" class="search-ipt" [(ngModel)]="searchCompany.buildingName">
          </li>
          <li >
            <label >设备名称</label>
            <input type="text" name="ccc" class="search-ipt" [(ngModel)]="searchCompany.name">
          </li>
        </ul>
        <div class="search-right"><a href="javascript:;" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a></div>
      </div>
      <div class="box2">
        <ul class="company-search clearfix">
          <li>
            <label>大楼编号</label>
            <input type="text" name="qqq" class="search-ipt" [(ngModel)]="searchArch.buildingId">
          </li>
          <li >
            <label>大楼名称</label>
            <input type="text" name="www" class="search-ipt" [(ngModel)]="searchArch.buildingName">
          </li>
          <li >
            <label>设备名称</label>
            <input type="text" name="eee" class="search-ipt" [(ngModel)]="searchArch.buildingName">
          </li>
          <li >
            <label>维保责任人</label>
            <input type="text" name="rrr" class="search-ipt" [(ngModel)]="searchArch.buildingName">
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a>
        </div>
      </div>
    </div>
    <!--设备基础信息-->
    <div class="device-container guard-company">
      <div class="row text-right">
        <!--<a class="btn btn-lead" href="javascript:;"><i class="icon-docs"></i> 批量导入</a>-->
        <a class="btn btn-new" href="javascript:;" (click)="addCompany()"><i class="icon-plus"></i> 新 增</a>
      </div>
      <!--<ul class="form-msg clearfix">
        <li class="form-bar">
          <span class="form-title text-right">大楼编号</span>
          <span class="form-word">4000</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">大楼名称</span>
          <span class="form-word">阿顿斯马丁</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备名称</span>
          <span class="form-word">deviceName</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备型号</span>
          <span class="form-word">deviceVersion</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备供应商</span>
          <span class="form-word">deviceSup</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">采购日期</span>
          <span class="form-word">byDate</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保单位</span>
          <span class="form-word">conpanyName</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">最近维保日期</span>
          <span class="form-word">latelyDate</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">下次维保日期</span>
          <span class="form-word">nextDate</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保责任人</span>
          <span class="form-word">personLiable</span>
        </li>
        <li class="form-photo"><img src="../../../../assets/image/p1.jpg">
        </li>
        <li class="form-btn" (click)="editRecord(i)"><i class="icon-pencil"></i></li>
        <li class="form-btn form-del" (click)="delRecord(i)"><i class="icon-trash"></i></li>
      </ul>-->
      <ul class="form-msg clearfix" *ngFor="let inner of record; let i=index">
        <li class="form-bar">
          <span class="form-title text-right">大楼编号</span>
          <span class="form-word">{{inner.buildingId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">大楼名称</span>
          <span class="form-word">{{inner.buildingName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备名称</span>
          <span class="form-word">{{inner.name}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备型号</span>
          <span class="form-word">{{inner.model}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备供应商</span>
          <span class="form-word">{{inner.supplier}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">采购日期</span>
          <span class="form-word">{{inner.buyDate}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保单位</span>
          <span class="form-word">{{inner.maintenance}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">最近维保日期</span>
          <span class="form-word">{{inner.mLastDate}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">下次维保日期</span>
          <span class="form-word">{{inner.mNextDate}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保责任人</span>
          <span class="form-word">{{inner.liablePerson}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">责任人邮箱</span>
          <span class="form-word">{{inner.lMail}}</span>
        </li>
        <li class="form-photo"><img [src]="+'/proxy'+inner.imgPath" *ngIf="inner.imgPath"></li>
        <li class="form-btn" (click)="editRecord(i)"><i class="icon-pencil"></i></li>
        <li class="form-btn form-del" (click)="delRecord(i)"><i class="icon-trash"></i></li>
      </ul>
    </div>
    <!--工单-->
    <div class="device-container device-arch">
      <div class="row text-right">
        <!--<a class="btn btn-lead" href="javascript:;"><i class="icon-docs"></i> 批量导入</a>-->
        <a class="btn btn-new" href="javascript:;" (click)="addCompany()"><i class="icon-plus"></i> 新 增</a>
      </div>
      <ul class="form-msg clearfix" *ngFor="let inner of contract; let i=index">
        <li class="form-bar">
          <span class="form-title text-right">大楼名称</span>
          <span class="form-word">{{inner.buildingName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">大楼编号</span>
          <span class="form-word">{{inner.buildingId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备名称</span>
          <span class="form-word">{{inner.equipmentName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备型号</span>
          <span class="form-word">{{inner.equipModel}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保单位</span>
          <span class="form-word">{{inner.maintenance}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保类型</span>
          <span class="form-word">{{inner.mType}}</span>
        </li>
        <li class="form-bar form-alone">
          <span class="form-title form-left text-right">维保责任人</span>
          <span class="form-word">{{inner.liablePerson}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保开始日期</span>
          <span class="form-word form-visiable">{{inner.liableBtime}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保结束日期</span>
          <span class="form-word form-visiable">{{inner.liableEtime}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">下次维保日期</span>
          <span class="form-word form-visiable">{{inner.liableNextTime}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保费用</span>
          <span class="form-word form-visiable">{{inner.liableCost}}</span>
        </li>
        <li class="form-bar form-alone">
          <span class="form-title form-left text-right">维保情况</span>
          <span class="form-word form-text form-visiable">{{inner.liableNote}}</span>
        </li>
        <li class="order-btn" (click)="editContract(i)"><i class="icon-pencil"></i> 完善工单</li>
      </ul>
      <!--<ul class="form-msg clearfix">
        <li class="form-bar">
          <span class="form-title text-right">大楼名称</span>
          <span class="form-word">阿斯蒂芬</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">大楼编号</span>
          <span class="form-word">4000</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备名称</span>
          <span class="form-word">阿道夫</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">设备型号</span>
          <span class="form-word">KA-duon99</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保单位</span>
          <span class="form-word">电棍发</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保类型</span>
          <span class="form-word">有托幼机构</span>
        </li>
        <li class="form-bar form-alone">
          <span class="form-title form-left text-right">维保责任人</span>
          <span class="form-word">顽固</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保开始日期</span>
          <span class="form-word form-visiable"></span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保结束日期</span>
          <span class="form-word form-visiable"></span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">下次维保日期</span>
          <span class="form-word form-visiable"></span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">维保费用</span>
          <span class="form-word form-visiable"></span>
        </li>
        <li class="form-bar form-alone">
          <span class="form-title form-left text-right">维保情况</span>
          <span class="form-word form-text form-visiable"></span>
        </li>
        <li class="order-btn" (click)="editContract($event)"><i class="icon-pencil"></i> 完善工单</li>
      </ul>-->
    </div>
    <div class="turn" *ngIf="pages.length > 1">
      <ul>
        <li *ngFor="let i of pages"
            [hidden] = "pageLimit(i)"
            [ngClass]="{'active':i === pageNo}"
            (click)="goPage(i);">
          {{i}}
        </li>
      </ul>
    </div>
  </div>
</div>
<!--新增设备信息-->
<div class="mask mask-repair">
  <div class="new-device">
    <div class="mask-head"><i class="icon-film"></i> <p>新增大型设备信息</p>
      <button class="close" (click)="recordCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="arch-form clearfix">
      <div class="form-left">
        <div class="form-control clearfix">
          <span class="form-label">大楼编号</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" disabled="disabled" id="buildingId" name="buildingId" [(ngModel)]="repairname.buildingId" (blur)="verifybuildingId()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">设备名称</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="name" name="name" [(ngModel)]="repairname.name" (blur)="verifyname()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">设备型号</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="model" name="model" [(ngModel)]="repairname.model" (blur)="verifymodel()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">设备供应商</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="supplier" name="supplier" [(ngModel)]="repairname.supplier" (blur)="verifysupplier()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">采购日期</span>
          <div class="form-inp">
            <input type="date" autocomplete="off" class="company-ipt" id="buyDate" name="buyDate" [(ngModel)]="repairname.buyDate" (blur)="verifybuyDate()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">维保单位</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="maintenance" name="maintenance" [(ngModel)]="repairname.maintenance" (blur)="verifymaintenance()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">最近维保日期</span>
          <div class="form-inp">
            <input type="date" autocomplete="off" class="company-ipt" id="mLastDate" name="mLastDate" [(ngModel)]="repairname.mLastDate" (blur)="verifymLastDate()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">下次维保日期</span>
          <div class="form-inp">
            <input type="date" autocomplete="off" class="company-ipt" id="mNextDate" name="mNextDate" [(ngModel)]="repairname.mNextDate" (blur)="verifymNextDate()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">维保责任人</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="liablePerson" name="liablePerson" [(ngModel)]="repairname.liablePerson" (blur)="verifyliablePerson()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">责任人邮箱</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="lMail" name="lMail" [(ngModel)]="repairname.lMail" (blur)="verifylMail()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
      </div>
      <div class="form-right">
        <div class="person-img">
          <div class="dropify-wrapper">
            <div class="dropify-message">
              <img *ngIf="repairname.imgPath" [src]="'/proxy/' + repairname.imgPath" />
            </div>
            <p>点击此处上传图片</p>
            <input type="file" class="dropify" #prese id="prese"
                   (change)="prese_upload(prese.files)">
          </div>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="recordSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="recordCancel()">取 消</button>
    </div>
  </div>
</div>
<!--新增工单弹窗-->
<div class="mask mask-contract">
  <div class="new-arch">
    <div class="mask-head"><i class="icon-film"></i> <p>新增工单</p>
      <button class="close" (click)="contractCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="order-form clearfix">
      <div class="form-control clearfix">
        <span class="form-label">大楼编号</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="ID" name="ID" [(ngModel)]="contractName.buildingId" (blur)="verifyID()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">设备名称</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="equipmentName" name="equipmentName" [(ngModel)]="contractName.equipmentName" (blur)="verifyequipmentName()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">设备型号</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="equipModel" name="equipModel" [(ngModel)]="contractName.equipModel" (blur)="verifyequipModel()" required minlength="8">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">维保单位</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="maintenance2" name="maintenance" [(ngModel)]="contractName.maintenance" (blur)="verifymaintenance2()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">维保类型</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="mType" name="mType" [(ngModel)]="contractName.mType" (blur)="verifymType()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-entry clearfix">
        <span class="form-label">维保责任人</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="liablePerson2" name="liablePerson2" [(ngModel)]="contractName.liablePerson" (blur)="verifyliablePerson2()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-disable clearfix">
        <span class="form-label">维保开始日期</span>
        <div class="form-inp">
          <input type="date" autocomplete="off" class="company-ipt" id="liableBtime" name="liableBtime" [(ngModel)]="contractName.liableBtime" (blur)="verifyliableBtime()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  form-disable clearfix">
        <span class="form-label">维保结束日期</span>
        <div class="form-inp">
          <input type="date" autocomplete="off" class="company-ipt" id="liableEtime" name="liableEtime" [(ngModel)]="contractName.liableEtime" (blur)="verifyliableEtime()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  form-disable clearfix">
        <span class="form-label">下次维保日期</span>
        <div class="form-inp">
          <input type="date" autocomplete="off" class="company-ipt" id="liableNextTime" name="liableNextTime" [(ngModel)]="contractName.liableNextTime" (blur)="verifyliableNextTime()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  form-disable clearfix">
        <span class="form-label">维保费用</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="liableCost" name="liableCost" [(ngModel)]="contractName.liableCost" (blur)="verifyliableCost()" required>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone form-disable clearfix">
        <span class="form-label">维保情况</span>
        <div class="form-inp form-text">
          <textarea type="text" id="liableNote" maxlength="1000" name="liableNote" [(ngModel)]="contractName.liableNote" (blur)="verifyliableNote()" required>
          </textarea>
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="contractSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="contractCancel()">取 消</button>
    </div>
  </div>
</div>
