<router-outlet></router-outlet>
<!--<ul>
  <li >
    <a class="reserve" routerLink="vegorder" routerLinkActive="active">净菜商品管理</a>
  </li>
  <li >
    <a class="reserve" routerLink="vegorder" routerLinkActive="active">管理员订单</a>
  </li>
  <li >
    <a class="reserve" routerLink="vegbuy" routerLinkActive="active">净菜预定</a>
  </li>
  <li >
    <a class="reserve" routerLink="vegcart" routerLinkActive="active">购物车</a>
  </li>
  <li >
    <a class="reserve" routerLink="myorder" routerLinkActive="active">我的订单</a>
  </li>
  <li >
    <a class="reserve" routerLink="confirmvegcart" routerLinkActive="active">订单确认</a>
  </li>
</ul>-->
