<ul>
  <li >
    <a class="reserve" routerLink="veg" routerLinkActive="active">
      <i class="icon-bell"></i> 净菜商品管理
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="order" routerLinkActive="active">
      <i class="icon-bell"></i> 订单信息
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="vegbuy" routerLinkActive="active">
      <i class="icon-bell"></i> 净菜预定
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="vegcart" routerLinkActive="active">
      <i class="icon-bell"></i> 购物车
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="myorder" routerLinkActive="active">
      <i class="icon-bell"></i> 我的订单
    </a>
  </li>
  <li >
    <a class="reserve" routerLink="confirmvegcart" routerLinkActive="active">
      <i class="icon-bell"></i> aaa
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
