.view{
  padding: 20px;
}
ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-bar{
  height: 65px;
  line-height: 65px;
  background: #ffffff;
}
.search-bar>ul{
  display: flex;
}
.search-bar>ul>li{
  margin-right: 15px;
}
.search-bar>ul>li>label{
  margin-right: 20px;
  color: #686868;
}
.search-bar>ul>li>label>input[type=text] {
  height: 34px;
  width: inherit;
  min-width: 100px;
  margin: 0 10px;
  border: 1px solid #e4e7ea;
  border-radius: 3px;
}
.search-bar>ul>li>label>select{
  width: 170px;
  height: 34px;
  padding-right: 3%;
  margin: 0 10px;
  border: 1px solid #e4e7ea;
  border-radius: 3px;
}
select:focus{
  outline: none!important;
}
input[type=text]{
  padding: 0 10px;
}
.search-bar>ul>li>.search-btn{
  padding-left: 40px;
  padding-right: 20px;
  height: 34px;
  border:none;
  border-radius: 5px;
  background: #04a9f3;
  color: #ffffff;
}
.tab{
  height: 34px;
  border:none;
  padding: 0 20px;
  border-radius: 5px;
  background: #04a9f3;
  color: #ffffff;
}
.tab.active{
  background: #ff6849;
}
.search-icon{
  position: absolute;
  line-height: 65px;
  padding-left: 20px;
}
.search-icon>img{
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}
.form-msg{
  margin-bottom: 15px;
  float: left;
}
.form-msg>li input{
  display: none;
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  border: 1px solid #b5d7fc;
  border-radius: 5px;
  color: #686868;
}
.bigText{
  display: none;
  height: 120px;
  width: calc(100% - 30px);
  padding: 0 15px;
  border: 1px solid #b5d7fc;
  border-radius: 5px;
  color: #686868;
}
@media (min-width: 1200px) {
  .form-bar{
    min-width: 300px;
    width: 33%;
    float: left;
  }
}
@media (max-width: 1200px){
  .form-bar{
    min-width: 300px;
    width: 50%;
    float: left;
  }
}
.form-bar{
  height: 35px;
  min-width: 300px;
  float: left;
  line-height: 30px;
  color: #686868;
  font-size: 12px;
}
.form-title{
  display: inline-block;
  width: 110px;
  padding-right:10px;
  background-color: #f8f8f8;
  color: #8d9ea7;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}
.full-line{
  clear: both;
  width: 100%;
  height: auto;
}
.full-line .form-title{
  float: left;
}
.summary-title{
  vertical-align:top;
  word-break: break-all;
}
.div-text>.summary-text{
  width: auto;
  padding: 10px 7.5px;
  font-weight: 300;
  word-break: break-all;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'SCHeiti', 'Microsoft YaHei UI', 'Microsoft YaHei', arial, simsun, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #686868;
  font-size: 12px;
  letter-spacing: 2.5px;
  line-height: 2;
}
.div-add{
  height: 200px;
  padding: 20px;
  border: 1px dashed #eeeeee;
}
.div-add:hover,.div-add:hover i,.div-add:hover p{
  border-color: #999999;
  color: #999999;
  background-color: #f7f7f7;
}
.add-border{
  width: 200px;
  padding: 80px 0;
  margin: 0 auto;
  color: #CCCCCC;
  text-align: center;
  cursor: pointer;
}
.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  z-index: 999;
}
.modal-content{
  width: 550px;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -275px;
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  background-color: #f1f5f8;
}
.modal-close{
  cursor: pointer;
  border: none;
  font-size: 18px;
  background: none;
  outline: none;
  font-family: 'Microsoft YaHei', 'Arial';
}
.modal-body {
  position: relative;
  padding: 15px;
  background: #fff;
}
.modal-left {
  width: 180px;
  height: 200px;
  border: 2px solid #E5E5E5;
  float: left;
}
.modal-right {
  width: 300px;
  margin-left: 30px;
  float: left;
}
.dropify-wrapper{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 200px;
  font-size: 14px;
  line-height: 22px;
  color: #777;
  background-color: #FFF;
  background-image: none;
  text-align: center;
}
.dropify-wrapper .dropify-message{
  position: relative;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dropify-wrapper p {
  position: absolute;
  left: 0;
  top: 88px;
  width: 100%;
  line-height: 24px;
  z-index: 2;
}
.dropify-wrapper input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
.modal-footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px;
  background-color: #f1f5f8;
}
.btn-info {
  margin-left: 15px;
  padding: 10px 16px;
  border-radius: 4px;
  background: #03a9f3;
  border: 1px solid #03a9f3;
  color: #fff;
}
.btn-info:hover {
  background: #03a9f3;
  opacity: .8;
  border: 1px solid #03a9f3;
  cursor: pointer;
}
.control-label{
  display: block;
  color: #8d9ea7;
}
.control-label>span{
  display: inline-block;
  width: 100px;
  padding-right: 10px;
}
.form-control {
  color: #565656;
  height: 38px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px;
  padding: 0;
  transition: background 0s ease-out 0s;
  background-image: linear-gradient(#03a9f3, #03a9f3), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  border: 0;
  border-radius: 0;
  box-shadow: none;
  float: none;
}
select{
  width: calc(100% - 90px);
  padding: 0 10px;
}
.dropify-message>img{
  width: 100%;
}
.error{
  width: 226px;
  padding-left: 75px;
  font-size: 10px;
  text-align: center;
  color: #d75452;
}
.red{
  border: 0.5px solid #d75452;
  border-radius: 5px;
}
