.view{
  padding: 20px;
}
ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-bar{
  height: 65px;
  line-height: 65px;
  background: #ffffff;
}
.search-bar>ul{
  display: flex;
}
.search-bar>ul>li{
  margin-right: 15px;
}
.search-bar>ul>li>label{
  margin-right: 20px;
  color: #686868;
}
.search-bar>ul>li>label>input[type=text] {
  height: 34px;
  width: inherit;
  min-width: 100px;
  margin: 0 10px;
  border: 1px solid #e4e7ea;
  border-radius: 3px;
}
.search-bar>ul>li>label>select{
  width: 170px;
  height: 34px;
  padding-right: 3%;
  margin: 0 10px;
  border: 1px solid #e4e7ea;
  border-radius: 3px;
}
select:focus{
  outline: none!important;
}
input[type=text]{
  padding: 0 10px;
}
.search-bar>ul>li>.search-btn{
  padding-left: 40px;
  padding-right: 20px;
  height: 34px;
  border:none;
  border-radius: 5px;
  background: #04a9f3;
  color: #ffffff;
}
.tab{
  height: 34px;
  border:none;
  padding: 0 20px;
  border-radius: 5px;
  background: #04a9f3;
  color: #ffffff;
}
.tab.active{
  background: #ff6849;
}
.search-icon{
  position: absolute;
  line-height: 65px;
  padding-left: 20px;
}
.search-icon>img{
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}
.form-msg{
  margin-bottom: 15px;
  float: left;
}
.form-msg>li input{
  display: none;
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  border: 1px solid #b5d7fc;
  border-radius: 5px;
  color: #686868;
}
.bigText{
  display: none;
  height: 120px;
  width: calc(100% - 30px);
  padding: 0 15px;
  border: 1px solid #b5d7fc;
  border-radius: 5px;
  color: #686868;
}
@media (min-width: 1200px) {
  .form-bar{
    min-width: 300px;
    width: 33%;
    float: left;
  }
}
@media (max-width: 1200px){
  .form-bar{
    min-width: 300px;
    width: 50%;
    float: left;
  }
}
.form-bar{
  height: 35px;
  min-width: 300px;
  float: left;
  line-height: 30px;
  color: #686868;
  font-size: 12px;
}
.form-title{
  display: inline-block;
  width: 110px;
  padding-right:10px;
  background-color: #f8f8f8;
  color: #8d9ea7;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}
.full-line{
  clear: both;
  width: 100%;
  height: auto;
}
.full-line .form-title{
  float: left;
}
.summary-title{
  vertical-align:top;
  word-break: break-all;
}
.div-text>.summary-text{
  width: auto;
  padding: 10px 7.5px;
  font-weight: 300;
  word-break: break-all;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'SCHeiti', 'Microsoft YaHei UI', 'Microsoft YaHei', arial, simsun, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #686868;
  font-size: 12px;
  letter-spacing: 2.5px;
  line-height: 2;
}
.div-add{
  height: 200px;
  padding: 20px;
  border: 1px dashed #eeeeee;
}
.div-add:hover,.div-add:hover i,.div-add:hover p{
  border-color: #999999;
  color: #999999;
  background-color: #f7f7f7;
}
.add-border{
  width: 200px;
  padding: 80px 0;
  margin: 0 auto;
  color: #CCCCCC;
  text-align: center;
  cursor: pointer;
}
