<div class="wrap-content">
  <div class="wrap-b">
    <div class="b-head">
      <span>订单管理</span>
      <div class="b-head-right">
        <div class="content-box" onclick="history.go(-1)"><i class="icon-reload"></i>返回</div>
      </div>
    </div>
    <div class="wrap">
      <ul class="search-list clearfix">
        <li>
          <label>订单编号 </label>
          <input type="text"  class="noticetext"  [(ngModel)]="search.orderNo" >
        </li>
        <li>
          <label>服务中心 </label>
          <select id="serverCenter_add" name="serverCenter_add" class="noticetext" [(ngModel)]="search.serviceCenter">
            <option value="">-全部-</option>
            <option *ngFor="let center of serverCenters; let idx=index" value="{{center.name}}">{{center.name}}</option>
          </select>
        </li>
        <li><a class="search" href="javascript: void(0);" (click)="getOrderAllList(1)" >查询</a></li>
      </ul>
    </div>
    <div class="b-con tuanmenu">
      <div class="list-table" *ngFor="let order of orders;let idx=index">
        <table class="table-head0">
          <tr>
            <td class="zero">订单编号:{{order.orderNo}}</td>
            <td class="zero">服务中心:{{order.serviceCenter}}</td>
            <td class="zero">下单时间:{{order.payTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="zero">价格:￥{{order.payment}}元</td>
            <td class="zero" *ngIf="order.status=='0'">状态：订购中</td>
            <td class="zero" *ngIf="order.status=='4'">状态：已收货</td>
            <td class="zero" *ngIf="order.status=='1'">状态：已完成</td>
            <td class="zero" *ngIf="order.status=='2'">状态：退单</td>
            <td><!--*ngIf="order.status!=='4' || order.status==='1'"-->
              <a href="javascript:;" *ngIf="(order.status=='0')&&(order.note!=='【线下支付】' && order.balanceReason==null)" (click)="addOrderItems(order.orderNo)">编辑</a>
              <a href="javascript:;" *ngIf="order.note!=='【线下支付】' && order.status==='0'" (click)="maskFadeIn(order.status,order.id)">收货并扣款</a>

              <a href="javascript:;" *ngIf="order.note==='【线下支付】' && order.status=='0'" (click)="mask0FadeIn(order.id)">线下付款收货</a>
              <a href="javascript:;" *ngIf="order.status=='0'" (click)="chargeBack('2',order.id)">退单</a>
              <a href="javascript:;" *ngIf="order.status==='4'" (click)="ting('1',order.id)">已完成</a>
            </td>
          </tr>
        </table>
        <table class="table-head">
          <thead>
          <tr>
            <th>服务商</th>
            <th>订单人</th>
            <th>订单部门</th>
            <th>服务内容</th>
            <th>单位</th>
            <th>单价</th>
            <th>数量</th>
            <th>合计</th>
            <th width="80px" style="text-indent: 0;" *ngIf="order.status=='4'"><a class="btn-print" target="_blank"  href="javascript:;"
              (mouseover)="loadFormData(order)">打印
              <app-print-bar
                [title] = "title"
                [formData] = "formData">
              </app-print-bar></a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of order.orderItems;let idx=index">
            <!--<td class="fir">{{order.orderNo}}</td>
            <td class="fir">{{order.serviceCenter}}</td>-->
            <td class="fir">{{order.facilitator}}</td>
            <td class="three">{{order.username}}</td>
            <td class="three">{{order.deptName}}</td>
            <td class="sec">{{item.appcontent}}</td>
            <td class="four">{{item.unit}}</td>
            <td class="three">{{item.unitPrice}}</td>
            <td class="three">{{item.quantity}}</td>
            <td class="three">{{item.totalPrice}}</td>
            <td width="80px" style="text-indent: 0;" *ngIf="order.status=='4'"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-turn-bar
      [pageNo]="pageNo"
      [pageSize]="pageSize"
      [total]="total"
      [length] = 5
      (turnEvent)="getOrderAllList($event)">
    </app-turn-bar>
  </div>
</div>
<div class="mask0">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">增加扣款项目</h4>
      <button type="button" class="close" (click)="closeMask0()">×</button>
    </div>
    <form class="form-landry">
      <div class="modal-body clearfix">
        <table class="table-item">
          <thead>
          <tr>
            <th>扣款项目</th>
            <th>扣款金额(元)</th>
          </tr>
          </thead>
          <tr>
            <td><input class="noticetext" name="tab-project1" type="text" [(ngModel)]="list[0].key"> </td>
            <td><input class="noticetext" name="tab-price1" type="text" [(ngModel)]="list[0].value"> </td>
          </tr>
          <tr>
            <td><input class="noticetext" name="tab-project2" type="text" [(ngModel)]="list[1].key"> </td>
            <td><input class="noticetext" name="tab-price2" type="text" [(ngModel)]="list[1].value"> </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-mask" (click)="updateNew()" >保 存</button>
        <button type="button" class="btn-mask btn-info" (click)="closeMask0()">取 消</button>
      </div>
    </form>
  </div>
</div>
<div class="mask">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">修改订单</h4>
      <button type="button" class="close" (click)="closeMask()">×</button>
    </div>
    <form class="form-landry">
      <div class="modal-body clearfix">
        <div class="form-control">
          <label>订单状态：</label>
          <select class="noticetext" id="orderstatus"  name="orderstatus" [(ngModel)]="inner.status" disabled="disabled">
            <option value="4">已收货</option>
            <option value="2">退单</option>
          </select>
          <span class="errorMessage"></span>
        </div>

        <div class="form-control">
          <label style="float: left">情况说明：</label>
          <textarea name="notice" id="note" rows="10" style="width: 65%;!important; border-radius: 3px;"
                    [(ngModel)]="inner.note" ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-mask" (click)="updateOrders()" >保 存</button>
        <button type="button" class="btn-mask btn-info" (click)="closeMask()">取 消</button>
      </div>
    </form>
  </div>
</div>

