
  <!--大楼搜索栏-->
    <div class="right">
      <div class="wrap-content">
        <div class="wrap-space">
          <div class="wrap-b">
            <div class="b-head">
              <div class="b-head-left">
                <span class="active">我的订单</span>
              </div>
              <div class="b-head-right">
                <div class="content-box" onclick="history.go(-1);"><i class="icon-action-undo"></i> 继续订购</div>
                <div class="content-box" [routerLink]="['../vegcart']"><i class="icon-basket-loaded"></i> 购物车</div>
              </div>
            </div>
            <div class="b-con tuanmenu">
              <div class="list-table" *ngFor="let order of orders;let idx=index">
                <dt>
                <table class="table-head0">
                  <tr>
                    <td class="zero">订单编号：{{order.id}}</td>
                    <td class="zero">下单时间：{{order.payTime}}</td>
                    <td class="zero">订单价格：￥{{order.payment}}</td>
                    <td class="zero status" *ngIf="order.status=='0'">订单状态：已付款</td>
                    <td class="zero status" *ngIf="order.status=='4'">订单状态：已配货</td>
                    <td class="zero status" *ngIf="order.status=='1'">订单状态：已到货</td>
                    <td class="zero status" *ngIf="order.status=='2'">订单状态：退单</td>
                  </tr>
                </table>
                </dt>
                <dl>
                  <dt>
                  <table class="table-head">
                    <tr>
                      <td class="fir">商品信息</td>
                      <td class="sec">单价（元）</td>
                      <td class="three">数量</td>
                      <td class="four">合计（元）</td>
                      <td class="zero"  *ngIf="order.status=='4'" >
                        <button type="button" class="btn btn-info" style="padding: 3px 5px" (click)="updateOrders(order.id,'1')">确认收货</button>
                      </td>
                    </tr>
                  </table>
                  </dt>
                  <!--  <dd *ngFor="let orderItem of order.groupOrderItems;let idx=index">-->
                  <dd  *ngFor="let item of order.vegetableOrderItems;let idx=index">
                    <table style="width:100%;">
                      <tr>
                        <td class="eight">
                          <img *ngIf="item.imgPath" [src]="item.imgPath | imgsafeurl"/>
                        </td>
                        <td class="sec" style="text-align: left"> <p class="headtxt">{{item.productName}}</p></td>
                        <td class="sec">￥{{item.unitPrice}}</td>
                        <td class="three">{{item.quantity}}</td>
                        <td class="four">￥{{item.totalPrice}}</td>
                      </tr>

                    </table>
                  </dd>
                </dl>
              </div>
              <app-turn-bar
                [pageNo]="pageNo"
                [pageSize]="pageSize"
                [total]="total"
                [length] = 5
                (turnEvent)="getOrderList($event,'')">
              </app-turn-bar>
            </div>
          </div>
        </div>
      </div>
    </div>




