
    <div class="right">
      <div class="wrap-content">
        <div class="wrap-space">
          <div class="wrap-b">
            <div class="b-head">
              <span>确认订单</span>
              <div class="b-head-right">
                <div class="content-box" [routerLink]="['../groupbuy']"><i class="icon-action-undo"></i> 继续订购</div>
                <div class="content-box" [routerLink]="['../myorder']"><i class="icon-film"></i> 我的订单</div>
                <div class="content-box" [routerLink]="['../cart']"><i class="icon-basket-loaded"></i> 返回购物车 <!--<strong>({{cartsize}})</strong>--></div>
                <!--<div class="content-box" (click)="viewNotice()"><i class="icon-volume-2"></i> 公告</div>-->
              </div>
            </div>
            <div class="b-con tuanmenu">

              <div class="list-table">
                <table class="table-head">
                  <td class="fir">商品信息</td>
                  <td class="sec">商品名称</td>
                  <td class="sec">单价(元)</td>
                  <td class="three">够买数量</td>
                  <td class="four">合计（元）</td>
                </table>
                <dl  *ngFor="let cart of carts;let idx=index">
                  <dt>
                    <span>商品编码：{{cart.productId}}</span>
                  </dt>
                  <dd>
                    <table style="width: 100%;">
                      <td class="fir">
                        <img *ngIf="cart.image!==''" [src]="'/proxy/' + cart.image"/>
                      </td>
                      <td class="sec">{{cart.name}}</td>
                      <td class="sec">￥{{cart.price}}</td>
                      <td class="three">{{cart.quantity}}</td>
                      <td class="four">
                        <label id="unionPrice">￥{{cart.totalPrice}}</label>
                      </td>
                    </table>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="b-address">
              <span>配送信息</span>
            </div>
            <div class="address">
              <div class="info"><label>姓名：</label> <span>{{userInfo.username}}</span></div>
              <div class="info"><label>号码：</label> <span>{{userInfo.teleNum}}</span></div>
              <div class="info"><label>地址：</label> <span>{{userInfo.homeAddr}}</span></div>
            </div>
            <div class="b-foot">
              <div class="total"><label>总计：</label> <span>￥{{mutipalPrice}}</span>
                <button type="button" class="btn btn-info" (click)="submitCart()">提交订单</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="maskSubmitOrder">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">提交订单</h4>
          <button type="button" class="close" style="background: none;" (click)="closeSubmitOrder()">×</button>
        </div>
        <form class="form-material">
          <div class="modal-body clearfix">
            <div class="protop">
              <div class="pdetail">
                <div>
                  <div style="margin-top: 10px;">
                    <label>验证码：</label>
                    <input type="text" style="width: 65px;"  id="message" class="noticetext"  name="message" (blur)="verifyEmpty('message','短信验证码不能为空')">

                    <button type="button" style="padding: 5px 9px;border-radius: 5px;color: #fff;outline: none;cursor: pointer;margin-left: 13px;"
                            class="btn-danger" (click)="getcode()">获取验证码</button>
                    <span class="errorMessage"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeSubmitOrder()">取 消</button>
            <button type="submit" class="btn btn-info"(click)="saveSubmitOrder()" >提 交</button>
          </div>
        </form>
      </div>
    </div>
