<!--<div class="cont">
  <div class="card clearfix">
    <div class="card-left">
      <h2>出入安全</h2>
      <img src="assets/image/entry.png">
    </div>

  </div>
</div>-->


<div class="cont">
  <!--<div class="card clearfix">
    <div class="card-left">
      <h2>工单</h2>
      <i class="icon-book-open" style="font-size: 120px;line-height: 320px;"></i>
    </div>
    <div class="card-right">
      <p><a [routerLink]="['../examine']">我审核的</a></p>
      <p><a [routerLink]="['../launched']">我发起的</a></p>
    </div>
  </div>-->
  <div class="card clearfix">
    <div class="card-left">
      <h2>工号牌</h2>
      <img style="width: 175px;" src="assets/image/card.png">
    </div>
    <div class="card-right">
      <p><a [routerLink]="['../workCard/apply']">申请页</a></p>
      <!--<p> </p>-->
      <p><a [routerLink]="['../workCard/manage']">管理页</a></p>
    </div>
  </div>
  <div class="card clearfix">
    <div class="card-left">
      <h2>门禁</h2>
      <img src="assets/image/shua.png">
    </div>
    <div class="card-right">
      <p><a [routerLink]="['../door/apply']">申请页</a></p>
      <!--<p> </p>-->
      <p><a [routerLink]="['../door/manage']">管理页</a></p>
    </div>
  </div>
</div>



