<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">党委委员调研党支部信息</div>
      <div class="content-box" tabindex="0" onclick="history.go(-1)">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
    <div class="cont-inner clearfix">
      <ul class="card-left">
        <li>党(总)支部名称</li>
        <li>所属党支部名称</li>
        <li>文件名称</li>
        <li>月份</li>
        <li>党委委员</li>
        <li>调研主题</li>
      </ul>
      <ul class="card-right">
        <li>{{newCard.branchName}}</li>
        <li>{{newCard.branchAttach}}</li>
        <li>{{newCard.subType}}</li>
        <li>{{newCard.month}}月</li>
        <li>{{newCard.host}}</li>
        <li>{{newCard.theme}}</li>
      </ul>
      <div class="note">
        <div class="title"><span>附件</span></div>
        <ul class="attachment">
          <li><a *ngFor="let abc of newCard.fileContract" [href]="ipSetting.fileUrl+abc.filePath" [download]="abc.fileName">
            {{abc.fileName}} <i class="icon-cloud-download">下载</i></a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

