

<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head clearfix">
          <div class="b-head-left">
            <span *ngFor="let cata of catas"
                  [ngClass]="cata.routeUrl===rule.routeUrl?'active':''"
                  [routerLink]="['../../../../'+cata.routeUrl]"
            >{{cata.name}}</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../goodsbuy']"><i class="icon-action-undo"></i> 继续订购</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap" *ngIf="rule&&rule.isSelect">
            <ul>
              <li>
                <label>订单编号</label>
                <input type="text" [(ngModel)]="orderId" >
              </li>
              <li>
                <label>服务中心</label>
                <select style="width: 120px;" id="serverCenter_add" name="serverCenter_add" [(ngModel)]="vegetableId">
                  <option value="环北服务中心">环北服务中心</option>
                </select>
              </li>
              <li>
                <label>订单状态</label>
                <select style="width: 120px;" id="orderstatus" name="orderstatus" [(ngModel)]="productName">
                  <option value=10>未付款</option>
                  <option value=20>已付款</option>
                  <option value=40>已配货</option>
                  <option value=50>已到货</option>
                  <option value=0>退单</option>
                </select>
              </li>
              <li><a class="search" href="javascript: void(0);" (click)="getOrderAllList()" >查询</a></li>
            </ul>
          </div>

          <div class="list-table" *ngFor="let order of orders;let idx=index">
            <dt>
            <table class="table-head0">
              <tr>
                <td class="zero">订单编号：{{order.orderNo}}</td>
                <td class="zero">服务中心：{{order.serviceCenter}}</td>
                <td class="zero">订单价格：{{order.payment}}元</td>
                <td class="zero" *ngIf="order.status==10">订单状态：未付款</td>
                <td class="zero" *ngIf="order.status==20">订单状态：已付款</td>
                <td class="zero" *ngIf="order.status==40">订单状态：已配货</td>
                <td class="zero" *ngIf="order.status==50">订单状态：已到货</td>
                <td class="zero" *ngIf="order.status==0">订单状态：退单</td>
                <td class="zero">下单时间：{{order.createTime}}</td>

              </tr>
            </table>
            </dt>
            <dl>

            </dl>
          </div>
          <div class="turn" name="pages" *ngIf="pages.length > 1">
            <ul>
              <li *ngFor="let i of pages"
                  [hidden] = "pageLimit(i)"
                  [ngClass]="{'active':i === pageNo}"
                  (click)="goPage(i);">
                {{i}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



