<!--<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">-->

    <div class="right">
      <div class="wrap-content">
        <div class="wrap-space">
          <div class="wrap-b">
            <div class="b-head">
              <span>我的订单</span>
              <div class="b-head-right">
                <div class="content-box" [routerLink]="['../groupbuy']"><i class="icon-action-undo"></i> 继续订购</div>
                <div class="content-box" [routerLink]="['../cart']"><i class="icon-basket-loaded"></i> 购物车 <strong>({{cartsize?cartsize:0}})</strong></div>
              </div>
            <!--<div class="path">
              <img src="assets/image/bg-path.png" />
              <ul>
                <li class="one active">订购中</li>
                <li class="two">已发货</li>
                <li class="three">确认收货</li>
                <li class="four">交易成功</li>
              </ul>
            </div>-->
            <div class="b-con tuanmenu">
              <div class="list-table" *ngFor="let order of orders;let idx=index">
                <dt>
                  <table class="table-head0">
                    <tr>
                      <td class="zero">订单编号：{{order.id}}</td>
                      <td class="zero">下单时间：{{order.payTime}}</td>
                      <td class="zero">订单价格：{{order.payment}}元</td>
                      <td class="zero" *ngIf="order.status=='0'">订单状态：订购中</td>
                      <td class="zero" *ngIf="order.status=='1'">订单状态：已到货</td>
                      <td class="zero" *ngIf="order.status=='2'">订单状态：退单</td>
                      <td class="zero"  *ngIf="order.status=='1'"  >
                      <button *ngIf="order.groupMessage==null" type="button" class="btn btn-info" style="padding: 2px 2px;float:inherit;color:black"
                              (click)="addMessage(order.id)">评价</button>
                      <button *ngIf="order.groupMessage!=null" type="button" class="btn btn-info" style="padding: 2px 2px;float:inherit;color:white"
                              (click)="showMessage(order.id)">已评价</button>
                      </td>
                    </tr>
                  </table>
                </dt>
                <dl>
                  <dt>
                   <table class="table-head">
                      <tr>
                        <td class="fir">商品信息</td>
                        <td class="sec">单价（元）</td>
                        <td class="three">数量</td>
                        <td class="four">合计（元）</td>
                      </tr>
                   </table>
                  </dt>
                  <dd *ngFor="let orderItem of order.groupOrderItems;let idx=index">
                    <table style="width:100%;">
                      <td class="eight">
                        <img *ngIf="orderItem.imagePath!==''" [src]="ipSetting.ip + orderItem.imagePath"/>
                     </td>
                      <td class="sec" style="text-align: left"> <p class="headtxt">{{orderItem.productName}}</p></td>
                      <td class="sec">￥{{orderItem.unitPrice}}</td>
                      <td class="three">{{orderItem.quantity}}</td>
                      <td class="four">￥{{orderItem.totalPrice}}</td>
                    </table>
                  </dd>
                </dl>
              </div>
            </div>
              <app-turn-bar
                [pageNo]="pageNo"
                [pageSize]="pageSize"
                [total]="total"
                [length] = 5
                (turnEvent)="getOrderList($event)">
              </app-turn-bar>
          </div>
        </div>
      </div>
    </div>
    </div>

      <div class="mask0">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">订单评价</h4>
            <button type="button" class="close"(click)="closeMask0()">×</button>
          </div>
          <form class="form-building form-material">
            <div class="modal-body ">
              <div class="pdetail">
                <div class="for">
                  <label style="vertical-align: top">评价意见：</label>
                  <textarea class="form-control"  rows="5" maxlength="1000" [(ngModel)]="newMessage.content" id="content" name="content"
                             (blur)="verifyEmpty('content','评价意见不能为空')"
                            style="border:1px solid #dddddd;width: 337px;!important;background-color: #ffffff !important;">
                </textarea>
                  <span class="errorMessage" style="padding-left: 94px;"></span>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closeMask0()">关闭</button>
              <button type="submit" class="btn btn-info" (click)="submitMessage()" >保存</button>
            </div>
          </form>
        </div>
      </div>

      <div class="mask1">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">评价信息</h4>
            <button type="button" class="close" (click)="closeMask1()">×</button>
          </div>
          <form class="form-building form-material">
            <div class="modal-body ">
              <div class="pdetail">
                <div class="for">
                  <label>评价时间：</label>
                  <span>{{viewMessage.insterTime}}</span>
                </div>
                <div class="for">
                  <label>评价意见：</label>
                  <p>{{viewMessage.content}}</p>
                </div>
                <div class="for">
                  <label>反馈时间：</label>
                  <span>{{viewMessage.replyTime}}</span>
                </div>
                <div class="for">
                  <label>反馈意见：</label>
                  <p>{{viewMessage.reply}}</p>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closeMask1()">关闭</button>
            </div>
          </form>
        </div>
      </div>
