
  <div class="goods-inner">
    <div class="b-head-right">
      <div class="content-box" tabindex="0" (click)="back()">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
    <h4 class="goods-hd">
      <em class="fn1">找优惠</em>
      <p>
        <span class="subtitle">极致优惠不容错过</span>
      </p>
    </h4>
    <div class="opt-box">
       <span class="tb-fn">
        <div class="box-search" ><label>商品名称</label>
          <input type="text" [(ngModel)]="search">
          <a (click)="searchDiscount()"><i class="icon-magnifier"></i>搜索</a>
        </div>
      </span>
    </div>
    <ul class="goods-list" *ngIf="discounts && discounts.length > 0">
      <li *ngFor="let discount of discounts">
        <a (click)="linkDiscount(discount.id)">
          <div class="img-wrap">
            <img *ngIf="discount.imgPathList" [src]="ipSetting.imgUrl+discount.imgPathList[0]">
          </div>
          <div class="goods-msg">
            <h5>{{discount.title}}</h5>
            <textarea readonly rows="6">{{discount.summary}}</textarea>
          </div>
          <div class="goods-extra">
          </div>
        </a>
      </li>
    </ul>
    <div class="div-none" *ngIf="discounts && discounts.length === 0">
      <p>此处空空如也</p>
    </div>
  </div>
  <div class="box-loading" *ngIf="pageNo<maxPageNo">
    <span (click)="scrollMore()"></span>
  </div>

