<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">党委委员调研党支部信息</div>
      <div class="b-head-right">
        <div class="content-box" onclick="history.go(-1)" tabindex="0">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <div class="cont-inner">
      <div class="repair-chandlery clearfix">
        <ul class="record-search clearfix">
          <li>
            <label>党(总)支部名称</label>
            <select name="buildingNameS" class="search-ipt search-sel" [(ngModel)]="searchInfo.branchName">
              <option value="">-全部-</option>
              <option *ngFor="let num of deptList"
                      [value]="num">
                {{num}}</option>
            </select>
          </li>
          <li>
            <label >月份</label>
            <input name="searchMonth" class="search-ipt search-sel" type="month" [(ngModel)]="searchInfo.month">
          </li>
          <li>
            <label>党委委员</label>
            <input class="search-ipt search-sel" type="text" placeholder=""
                   name="searchPartyWorkerName" [(ngModel)]="searchInfo.host">
          </li>
          <li>
            <label>调研主题</label>
            <input class="search-ipt search-sel" type="text" placeholder=""
                   name="searchThemeTitle" [(ngModel)]="searchInfo.theme">
          </li>
          <li>
            <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="btn search-btn" (click)="addVehicle()"><i class="icon-plus"></i>&nbsp;&nbsp;新 增</a>
        </div>
      </div>
      <ul class="card-list clearfix">
        <li  class="room-card">
          <table width="100%" class="card-info">
            <tr style="height: 40px; background-color: #FFECEC; text-align: center; font-weight: bold; font-size: 14px;color:#04a9f3;">
              <th>党(总)支部名称</th>
              <th>月份</th>
              <th>党委委员</th>
              <th>调研主题</th>
              <th>操作</th>
            </tr>
            <tr style="height: 36px; text-align: center" *ngFor="let inner of record;let i=index">
              <td><a href="javascript:;"
                     [routerLink]="['../detail',inner.id]" >{{inner.branchName}}</a> </td>
              <td>{{inner.month}}</td>
              <td>{{inner.host}}</td>
              <td width="40%">{{inner.theme}}</td>
              <td> <!--*ngIf="jurisdiction&&jurisdiction.isUpdate === true"-->
                <i class="icon-pencil" (click)="editCardInfo(inner)" style="margin-left: 5px;" title="编辑"></i>
                <i class="icon-trash" (click)="delCardInfo(inner.id)" style="margin-left: 5px;" title="删除"></i></td>
            </tr>
          </table>
        </li>
      </ul>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length] = 'length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>
</div>
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p></p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">党(总)支部名称</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="branchName" id="branchName"
                  [(ngModel)]="newCard.branchName" (blur)="verifyEmpty('branchName')">
            <option value="">请选择</option>
            <option *ngFor="let name of deptList" [value]="name">{{name}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">所属党支部名称</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="branchName" id="branchAttach"
                  [(ngModel)]="newCard.branchAttach" >
            <option value=""> </option>
            <option value="第一党支部">第一党支部</option>
            <option value="第二党支部">第二党支部</option>
            <option value="第三党支部">第三党支部</option>
            <option value="第四党支部">第四党支部</option>
            <option value="第五党支部">第五党支部</option>
            <option value="第六党支部">第六党支部</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">月份</span>
        <div class="form-inp">
          <input class="company-ipt" type="month" name="month" id="month"
                 [(ngModel)]="newCard.month" (blur)="verifyEmpty('month')">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">党委委员</span>
        <div class="form-inp">
          <input class="company-ipt" type="text" name="partyWorkerName" id="partyWorkerName"
                 [(ngModel)]="newCard.host" (blur)="verifyEmpty('partyWorkerName')">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">调研主题</span>
        <div class="form-inp">
          <input class="company-ipt" type="text" name="themeTitle" id="themeTitle" style="width: 100%"
                 [(ngModel)]="newCard.theme" (blur)="verifyEmpty('themeTitle')">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">附件</span>
        <ul class="contract-list">
          <li *ngFor="let abc of newCard.fileName; let k=index">{{abc}}<a  href="javascript:;" (click)="delFile(k)">×</a> </li>
        </ul>
        <div class="form-inp" style=" margin-top:5px;">
          <a href="javascript:;" style="color:#666; margin-left:127px; border-radius:4px; padding:5px 10px; background: #f6f6f6;" onclick="$('#prese').trigger('click')">上 传</a>
          <input type="file" class="dropify" #prese id="prese" style="visibility: hidden;"
                 (change)="prese_upload(prese.files)">
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
