<div class="wrap">
  <div class="cont">
    <!--<div class="row">
      <div class="row-title">停车证信息</div>
    </div>-->
    <div class="cont-inner">
      <div class="repair-chandlery clearfix">
        <ul class="record-search clearfix">
          <li>
            <label>大楼名称</label>
            <select name="buildingNameS" class="search-ipt search-sel" [(ngModel)]="searchInfo.buildingName">
              <option value="">-全部-</option>
              <option *ngFor="let num of buildings"
                      [value]="num.NAME">
                {{num.NAME}}</option>
            </select>
          </li>
          <li>
            <label >停车证类型</label>
            <select class="search-ipt search-sel" name="searchtype" [(ngModel)]="searchInfo.type">
              <option value="">全部</option>
              <option value="地面">地面</option>
              <option value="立体车库">立体车库</option>
              <option value="地下车库">地下车库</option>
            </select>
          </li>
          <li>
            <label >发放状态</label>
            <select class="search-ipt search-sel" name="searchstatus" [(ngModel)]="searchInfo.useStatus">
              <option value="">全部</option>
              <option value="use">已发放</option>
              <option value="unissued">未发放</option>
            </select>
          </li>
          <li>
            <label >使用状态</label>
            <select class="search-ipt search-sel" name="searchstatus" [(ngModel)]="searchInfo.permitStatus">
              <option value="">全部</option>
              <option value="valid">正常</option>
              <option value="invalid">失效</option>
              <option value="expired">已过期</option>
            </select>
          </li>
          <li>
            <label >使用人</label>
            <input class="search-ipt search-sel" type="text" name="useUserName222" [(ngModel)]="searchInfo.useUserName">
          </li>
          <li>
            <label >车牌号</label>
            <input class="search-ipt search-sel" type="text" name="useCarCode222" [(ngModel)]="searchInfo.useCarCode">

          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
        </div>
      </div>
      <div class="row-no clearfix">
        <div class="warn" *ngIf="expire>0">
          <img src="assets/image/warn.png"><span class="sino">有过期停车证{{expire}}张，请选择</span>
          <a href="javascript:;" class="btn " (click)="invalid()">批量失效</a>
          <a href="javascript:;" class="btn" (click)="addDate()">批量延期</a>
        </div>
        <a href="javascript:;" class="btn search-btn" (click)="addVehicle()"><i class="icon-plus"></i>&nbsp;&nbsp;新 增</a>
        <a href="javascript:;" class="btn search-btn" (click)="leadIn()"><i class="icon-docs"></i>&nbsp;&nbsp;导 入</a>
        <a href="javascript:;" class="btn search-btn" (click)="leadOut()"><i class="icon-docs"></i>&nbsp;&nbsp;导 出</a>
      </div>
      <ul class="card-list clearfix">
        <li  class="room-card">
          <table width="100%" class="card-info">
            <tr style="height: 40px; background-color: #EEEEE0; text-align: center">
              <th>大楼名称</th>
              <th>停车证名称</th>
              <th>停车证类型</th>
              <th>停车证编号</th>
              <th>开始有效期</th>
              <th>截止有效期</th>
              <th>发放状态</th>
              <th>使用人</th>
              <th>车牌号</th>
              <th>使用状态</th>
              <th>操作</th><!-- *ngIf="jurisdiction&&jurisdiction.isUpdate === true"-->
            </tr>
            <tr style="height: 36px; text-align: center" *ngFor="let inner of record;let i=index">
              <td><a [routerLink]="['../paperinfo/'+inner.id]" href="javascript:;">{{inner.buildingName}}</a> </td>
              <td><a [routerLink]="['../paperinfo/'+inner.id]" href="javascript:;">{{inner.name}}</a> </td>
              <td>{{inner.type}}</td>
              <td>{{inner.code}}</td>
              <td>{{inner.bTime}}</td>
              <td>{{inner.eTime}}</td>
              <td *ngIf="inner.useStatus ==='unissued'">未发放</td>
              <td *ngIf="inner.useStatus ==='use'">已发放</td>
              <td>{{inner.useUserName}}</td>
              <td>{{inner.useCarCode}}</td>
              <td *ngIf="inner.permitStatus ==='invalid'" style="color:#ff1103;">失效</td>
              <td *ngIf="inner.permitStatus ==='expired'" style="color:orange">已过期</td>
              <td *ngIf="inner.permitStatus ==='valid'" style="color:#00dba3">正常</td>

              <td> <!--*ngIf="jurisdiction&&jurisdiction.isUpdate === true"-->
                <i class="icon-plus" *ngIf="inner.useUserTel===null" (click)="grant(inner.id)" title="发放"></i>
                <i class="recover" *ngIf="inner.useStatus !=='unissued'" (click)="recover(inner.id)" title="回收">
                  <img src="assets/image/recover.png">
                </i>
                <i class="icon-pencil" (click)="editCardInfo(inner.id,inner.useUserId)" style="margin-left: 5px;" title="编辑"></i>
                <i class="icon-trash" (click)="delCardInfo(inner.id)" style="margin-left: 5px;" title="删除"></i></td>
            </tr>
          </table>
        </li>
      </ul>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length] = 'length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>
</div>
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>新增停车证信息</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">大楼名称</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="buildingName" id="buildingName"
                  [(ngModel)]="newCard.buildingName"
                  (blur)="verifybuildingName()" (change)="queryBuilding(newCard.buildingName)" >
            <option value="">请选择</option>
            <option *ngFor="let name of buildings" [value]="name.NAME">{{name.NAME}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <!--<div class="form-control">
        <span class="form-label">大楼编号</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" type="text" name="buildingId" id="buildingId"
                 [(ngModel)]="newCard.buildingId" disabled="disabled">
          <span class="errorMessage"></span>
        </div>
      </div>-->
      <div class="form-control">
        <span class="form-label">停车证名称</span>
        <div class="form-inp">
          <input type="text" id="name" class="company-ipt" name="name" [(ngModel)]="newCard.name"
                 (blur)="verifyname()" maxlength="25"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">停车证类型</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="type" id="type" [(ngModel)]="newCard.type"
                  (blur)="verifytype()" >
            <option value="">请选择</option>
            <option value="地面">地面</option>
            <option value="立体车库">立体车库</option>
            <option value="地下车库">地下车库</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">停车证编号</span>
        <div class="form-inp">
          <input type="text" class="company-ipt" id="code" name="code" [(ngModel)]="newCard.code"
                 (blur)="verifycode()" maxlength="18"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">开始有效期</span>
        <div class="form-inp">
          <input type="date" class="company-ipt" name="bTime" id="bTime" [(ngModel)]="newCard.bTime"
                 (blur)="verifybTime()"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">截止有效期</span>
        <div class="form-inp">
          <input type="date" class="company-ipt" name="eTime" id="eTime" [(ngModel)]="newCard.eTime"
                 (blur)="verifyeTime()"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发放状态</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="status" id="status" [(ngModel)]="newCard.useStatus"
                  (blur)="verifystatus()" >
            <option value="">请选择</option>
            <option value="use">已发放</option>
            <option value="unissued">未发放</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">备注</span>
        <div class="form-inp">
          <input id="note" class="company-ipt" name="note" type="text" [(ngModel)]="newCard.note"><!--(blur)="verifynote()"-->
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>

<div class="mask2">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>新增发放记录</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">大楼名称</span>
        <div class="form-inp">
          <input class="company-ipt company-sel form-disable" name="buildingName3" [(ngModel)]="newCard.buildingName" disabled="disabled">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">停车证名称</span>
        <div class="form-inp">
          <input type="text" class="company-ipt form-disable" name="name3" [(ngModel)]="newCard.name" disabled="disabled"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">停车证类型</span>
        <div class="form-inp">
          <input class="company-ipt company-sel form-disable" name="type3" [(ngModel)]="newCard.type" disabled="disabled"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">停车证编号</span>
        <div class="form-inp">
          <input type="text" class="company-ipt form-disable" name="code3" [(ngModel)]="newCard.code" disabled="disabled"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">开始有效期</span>
        <div class="form-inp">
          <input type="date" class="company-ipt form-disable" name="bTime3" [(ngModel)]="newCard.bTime" disabled="disabled"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">截止有效期</span>
        <div class="form-inp">
          <input type="date" class="company-ipt form-disable" name="eTime3" [(ngModel)]="newCard.eTime" disabled="disabled"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发放截止日期</span>
        <div class="form-inp">
          <input type="date" class="company-ipt" name="useETime" id="useETime" [(ngModel)]="newCard.useETime" (blur)="verifyuseETime()"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发放员工编号</span>
        <div class="form-inp">
          <input id="useUserId" class="company-ipt" name="useUserId" type="text" [(ngModel)]="newCard.useUserId"
                 (keyup)="getUserName(newCard.useUserId);getUserCar(newCard.useUserId)" maxlength="8"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发放员工姓名</span>
        <div class="form-inp">
          <input id="useUserName" class="company-ipt" name="useUserName" type="text" [(ngModel)]="newCard.useUserName"
                 disabled="disabled"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发放员工部门</span>
        <div class="form-inp">
          <input id="useUserDept" class="company-ipt" name="useUserDept" type="text" [(ngModel)]="newCard.useUserDept"
                 disabled="disabled">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车牌号码</span>
        <div class="form-inp">
          <input id="useCarCode" class="company-ipt" name="useCarCode" type="text" [(ngModel)]="newCard.useCarCode"
                 disabled="disabled">
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit3()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>

<div class="mask1">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>停车证延期</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">延期有效期至</span>
        <div class="form-inp">
          <input type="date" class="company-ipt" name="eTime2" id="eTime1" [(ngModel)]="eTime"
                 (blur)="verifyeTime1()"/>
          <span class="errorMessage"></span>
        </div>
      </div>

    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit2()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>

<!-- Induction 导入  -->
<div class="modal-back" id="induction" style="display:none;">
  <div class="modal induction">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导入</h4>
          <button type="button" class="close pull-right" (click)="closeInduction()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body clearfix">
          <div class="form-control">
            <div class="form-inp clearfix">
              <div class="select-file">
                <input type="file" value="" id="prese" #prese (change)="prese_upload(prese.files)" accept="application/vnd.ms-excel,.xlsx">
                <a onclick="$('#prese').trigger('click')">选取文件</a>
              </div>
              <div class="download-file">
                <a id="downLoadTemplate" [href]="ipSetting.ip+'/building/parking/exportTemplate'">下载模板</a>
              </div>
            </div>
          </div>
          <div class="foot" style="height:30px;">
            <!-- <button type="submit" class="btn-mask btn-info" (click)="inductionUploadFile(prese2.files)">确 定</button>
             <button type="button" class="btn-mask btn-danger" (click)="closeInductionDialog()">取 消</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Deriving 导出 -->
<div class="modal-back" id= "deriving" style="_display:none;">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导 出</h4>
          <button type="button" class="close pull-right" (click)="closeDeriving()">×</button>
        </div>
        <div class="modal-body">
          <!-- excel 导出 -->
          <div class="excel-out">
            <p>信息表.xls</p>
          </div>
          <!-- footer -->
          <div class="foot">
            <button type="submit" class="btn-mask btn-info" (click)="downDeriving()">确 定</button>
            <button type="button" class="btn-mask btn-danger" (click)="closeDeriving()">取 消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
