<div class="container clearfix">
  <div class="chandlery clearfix">
    <ul class="search clearfix">
      <li>
        <label>大楼名称</label>
        <select  name="searchArchBuildingName" class="search-sel" [(ngModel)]="searchArch.buildingId"
                 (change)="getCompanys(searchArch.buildingId)">
          <option value="">-全部-</option>
          <option *ngFor="let num of buildings" [value]="num.ID">{{num.NAME}}</option>
        </select>
      </li>
      <li>
        <label>物业公司</label>
        <select name="searchArchCompanyName" class="search-ipt" [(ngModel)]="searchArch.companyName" >
          <option value="">-全部-</option>
          <option *ngFor="let num of serviceCom"
                  [value]="num.companyName">
            {{num.companyName}}</option>
        </select>
      </li>
      <li>
        <label>服务项目</label>
        <select name="searchArchType" class="search-ipt search-sel" [(ngModel)]="searchArch.type">
          <option value="">全部</option>
          <option *ngFor="let te of useful;"
                  [value]="te">{{te}}</option>
        </select>
      </li>
    </ul>
    <div class="search-right"><a href="javascript:;" class="search-btn" (click)="repairSearch(1);"><i class="icon-magnifier"></i> 查 询</a></div>
  </div>
  <div class="row text-right" *ngIf="rule&&rule.isInstall">
    <a class="btn btn-new" href="javascript:;" (click)="addCompany()"><i class="icon-plus"></i> 新 增</a>
  </div>
</div>
<div class="energy-container">
  <div class="table-respons">
    <table class="table" width="100%">
      <thead>
      <tr>
        <th>大楼名称</th>
        <th>服务公司名称</th>
        <th>服务项目</th>
        <th>服务公司状态</th>
        <th>服务内容</th>
        <th>数量</th>
        <th *ngIf="rule&&(rule.isUpdate||rule.isDelete)">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let inner of record; let i=index">
        <td>{{inner.buildingName}}</td>
        <td>{{inner.companyName}}</td>
        <td>{{inner.type}}</td>
        <td>{{inner.serverstatus==='execute'?'正常':'失效'}}</td>
        <td>{{inner.servername==='null'?'':inner.servername}}</td>
        <td>{{inner.amount==='null'?'':inner.amount}}</td>
        <td *ngIf="rule&&(rule.isUpdate||rule.isDelete)">
          <a href="javascript:void(0)" class="text-inverse" *ngIf="rule&&rule.isUpdate" (click)="editAttach(i);" style="padding-right: 10px;">
            <i class="icon-pencil"></i>
          </a>
          <a href="javascript:void(0)" class="text-inverse" *ngIf="rule&&rule.isDelete" (click)="delAttach(i);">
            <i class="icon-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-turn-bar
  [pageNo]="pageNo"
  [pageSize]="pageSize"
  [total]="total"
  [length] = 5
  (turnEvent)="goPage($event)">
</app-turn-bar>
<!--新增信息弹窗-->
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>新增大楼物业服务内容</p>
      <button class="close" (click)="recordCancel()">×</button>
    </div>
    <form class="repair-form clearfix" method="post" name="topForm" >
      <div class="form-control clearfix">
        <span class="form-label">大楼名称</span>
        <div class="form-inp">
          <select id="buildingId" name="buildingId" class="company-ipt company-sel" [(ngModel)]="repairname.buildingId"
                  (blur)="verifyId()" (change)="getCompanys(repairname.buildingId)" >
            <option *ngFor="let num of buildings"
                    [value]="num.ID">
              {{num.NAME}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix">
        <span class="form-label">服务公司名称</span>
        <div class="form-inp">
          <select id="companyName" name="companyName" class="company-ipt company-sel" [(ngModel)]="repairname.companyId"
                  (blur)="verifycompanyName()" (change)="getPersonSelect(repairname.companyId)">
            <option *ngFor="let num of serviceCom"
                    [value]="num.id">
              {{num.companyName}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix">
        <span class="form-label">服务公司状态</span>
        <div class="form-inp">
          <select id="serverstatus" name="serverstatus" class="company-ipt company-sel" [(ngModel)]="repairname.serverstatus" (blur)="verifyserverstatus()">
            <option value="execute">正常</option>
            <option value="end">失效</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix">
        <span class="form-label">服务项目</span>
        <div class="form-inp">
          <select id="servername" name="servername" class="company-ipt company-sel" [(ngModel)]="repairname.type"
                  (blur)="verifyservername()" (change)="getNameSelect(repairname.type,'')">
            <option value="">请选择</option>
            <option *ngFor="let abc of useful" [value]="abc">{{abc}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix">
        <span class="form-label">服务内容</span>
        <div class="form-inp">
          <select id="secondname" name="secondname" class="company-ipt company-sel" [(ngModel)]="repairname.servername"
                  (change)="getNameSelect(repairname.type,repairname.servername)">
            <option value="">请选择</option>
            <option *ngFor="let abc of usefulSecond" [value]="abc.name">{{abc.name}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix" *ngIf="onNum==='1'">
        <span class="form-label">库存数量</span>
        <div class="form-inp">
          <input id="number" name="number" type="number" class="company-ipt company-sel" [(ngModel)]="repairname.amount">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix">
        <span class="form-label">责任人姓名</span>
        <div class="form-inp">
          <select id="liableName" name="liableName" class="company-ipt company-sel" [(ngModel)]="repairname.serverPersonName"
          (change)="queryName(repairname.serverPersonName)">
            <option value="">请选择</option>
            <option *ngFor="let abc of people" [value]="abc.personName">{{abc.personName}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix">
        <span class="form-label">责任人工号</span>
        <div class="form-inp">
          <input id="liable" name="liable" class="company-ipt company-sel" [(ngModel)]="repairname.serverPersonId">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix">
        <span class="form-label">责任人电话</span>
        <div class="form-inp">
          <input type="text" id="liableTel" name="liableTel" class="company-ipt company-sel" [(ngModel)]="repairname.serverPersonTel">

          <span class="errorMessage"></span>
        </div>
      </div>
      <!--<div class="form-control">
        <div class="table-head">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="list-box">
            <tr class="row list-title" style="height:40px; text-align: left">
              <th width="25%" class="text-left">服务其他信息</th>
              <th width="20%" class="text-left">输入类型</th>
              <th width="30%" class="text-left">枚举值(用|隔开)</th>
              <th width="20%" class="text-left">备注</th>
              <th width="5%"></th>
            </tr>
          </table>
        </div>
        <table width="100%" *ngFor="let other of tempMsg;let i = index;">
          <tr  class="control-label" *ngIf="other.isShow">
            <td  width="25%">
              <input class="form-add min-title" type="text"
                     [name]="'otherfeedKey'+i" [(ngModel)]="other.key">
            </td>
            <td  width="20%">
              <select  class="form-add min-title"
                       [name]="'otherfeedType'+i"
                       [(ngModel)]="other.type">
                <option value="文本">文本</option>
                <option value="下拉框">下拉框</option>
              </select>
            </td>
            <td  width="30%">
              <input class="form-add min-title" type="text" *ngIf="other.type==='下拉框'"
                     [name]="'otherfeedList'+i" [(ngModel)]="other.list">
            </td>
            <td  width="20%">
              <input class="form-add min-title" type="text"
                     [name]="'otherfeedValue'+i" [(ngModel)]="other.msg">
            </td>
            <td  width="5%">
              <a class="btn-close" (click)="delFeedbackLine(i)">
                <i class="icon-close"></i>
              </a>
            </td>
          </tr>
        </table>
        <div class="opt-other">
          <a class="btn-add" style="color: #04b2ff;" (click)="addFeedbackLine()">
            <i class="icon-plus"></i>
            添加反馈字段
          </a>
        </div>
      </div>-->
    </form>

    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="recordSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="recordCancel()">取 消</button>
    </div>
  </div>
</div>
