<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">三会一课</div>
      <div class="content-box" tabindex="0" onclick="history.go(-1)">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
    <div class="cont-inner">
      <ul class="card-left clearfix">
        <li class="left-li"><span>支部名称</span><strong>{{newCard.branchName}}</strong></li>
        <li class="left-li"><span>会议类型</span><strong>{{newCard.subType}}</strong></li>
        <li class="left-li"><span>开始时间</span><strong>{{newCard.beginTime}}</strong></li>
        <li class="left-li"><span>结束时间</span><strong>{{newCard.endTime}}</strong></li>
        <li class="left-li"><span>主 持 人</span><strong>{{newCard.host}}</strong></li>
        <li class="left-li"><span>记 录 人</span><strong>{{newCard.recorder}}</strong></li>
        <li class="left-li"><span>应到人数</span><strong>{{newCard.shouldNum}}</strong></li>
        <li class="left-li"><span>实到人数</span><strong>{{newCard.factNum}}</strong></li>
        <li class="left-li"><span>缺席人数</span><strong>{{newCard.absentNum}}</strong></li>
        <li class="left-li"><span>缺席原因</span><strong>{{newCard.reason}}</strong></li>
        <li class="left-alone"><span>会议主题</span><strong>{{newCard.theme}}</strong></li>
      </ul>
      <div class="note">
        <div class="title"><span>会议议程</span></div>
        <div class="word">
          <textarea id="content" readonly [rows]="definedRows()" wrap="hard">{{newCard.note}}</textarea>
        </div>
        <div class="title"><span>附件</span></div>
        <ul class="attachment">
          <li><a *ngFor="let abc of newCard.fileContract" [href]="ipSetting.fileUrl+abc.filePath" [download]="abc.fileName">
            {{abc.fileName}} <i class="icon-cloud-download">下载</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

