<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">支部特色详情</div>
      <div class="content-box" tabindex="0" onclick="history.go(-1)">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
    <div class="cont-inner">
      <ul class="card-left clearfix">
        <li class="left-li"><span>党(总)支部名称</span><strong>{{newCard.branchName}}</strong></li>
        <li class="left-li"><span>所属党支部名称</span><strong>{{newCard.branchAttach}}</strong></li>
      </ul>
    </div>
    <div class="note">
      <div class="note-img" *ngFor="let img of imgInfo;let i = index">
        <div class="title"><span>活动照片</span></div>
        <div class="word">
          <img [src]="ipSetting.imgUrl+img" *ngIf="img">
        </div>
      </div>
    </div>
  </div>
</div>

