<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">"实践案例"工作台账管理</div>
      <div class="b-head-right">
        <div class="content-box" onclick="history.go(-1)" tabindex="0">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <div class="cont-inner">
      <div class="repair-chandlery clearfix">
        <ul class="record-search clearfix">
          <li>
            <label>支部名称</label>
            <select name="buildingNameS" class="search-ipt search-sel" [(ngModel)]="searchInfo.branchName">
              <option value="">全部</option>
              <option *ngFor="let build of buildings"
                      [value]="build.name">
                {{build.name}}
              </option>
            </select>
          </li>
          <li>
            <label>文件名称</label>
            <select name="fileName" class="search-ipt search-sel" [(ngModel)]="searchInfo.branchName">
              <option value="">全部</option>
              <option *ngFor="let build of buildings"
                      [value]="build.name">
                {{build.name}}
              </option>
            </select>
          </li>
          <li>
            <label>月份</label>
            <input class="search-ipt search-sel" type="date" name="useCarCode222" [(ngModel)]="searchInfo.month">
          </li>
          <li>
            <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="btn search-btn" (click)="addVehicle()"><i class="icon-plus"></i>&nbsp;&nbsp;新 增</a>
        </div>
      </div>
      <ul class="card-list clearfix">
        <li class="room-card">
          <table width="100%" class="card-info">
            <tr style="height: 40px; background-color: #FFECEC; text-align: center">
              <th>支部名称</th>
              <th>文件名称</th>
              <th>月份</th>
              <th>案例类型</th>
              <th>操作</th><!-- *ngIf="jurisdiction&&jurisdiction.isUpdate === true"-->
            </tr>
            <tr style="height: 36px; text-align: center" *ngFor="let inner of record;let i=index">
              <td><a style="color:#000;" href="javascript:;"
                     [routerLink]="['/hzportal/party/practice/detail',inner.id]">{{inner.branchName}}</a></td>
              <td><a style="color:#000;" href="javascript:;"
                     [routerLink]="['/hzportal/party/practice/detail',inner.id]">{{inner.type}}</a></td>
              <td>{{inner.bTime}}</td>
              <td>{{inner.theme}}</td>
              <td> <!--*ngIf="jurisdiction&&jurisdiction.isUpdate === true"-->
                <i class="icon-pencil" (click)="editCardInfo(inner.id,inner.useUserId)" style="margin-left: 5px;"
                   title="编辑"></i>
                <i class="icon-trash" (click)="delCardInfo(inner.id)" style="margin-left: 5px;" title="删除"></i></td>
            </tr>
          </table>
        </li>
      </ul>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length]='length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>
</div>
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i>
      <p>新增会议记录</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">支部名称</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="branchName" id="branchName"
                  [(ngModel)]="newCard.branchName" (blur)="verifybranchName()">
            <option value="">请选择</option>
            <option *ngFor="let name of buildings" [value]="name.NAME">{{name.NAME}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">文件名称</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="newtype" id="newtype" [(ngModel)]="newCard.type"
                  (blur)="verifynewtype()">
            <!--<option value="">请选择</option>-->
            <option value="党员大会记录">党员大会记录</option>
            <option value="支委会记录">支委会记录</option>
            <option value="党小组会记录">党小组会记录</option>
            <option value="党课记录">党课记录</option>
            <option value="组织生活会记录">组织生活会记录</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">月份</span>
        <div class="form-inp">
          <input class="company-ipt" type="date" name="bTime" id="bTime"
                 [(ngModel)]="newCard.bTime" (blur)="verifybTime()">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">案例类型</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="anlitype" id="anlitype" [(ngModel)]="newCard.type"
                  (blur)="verifynewtype()">
            <!--<option value="">请选择</option>-->
            <option value="关于落实党建工作责任制方面的实践材料">关于落实党建工作责任制方面的实践材料</option>
            <option value="关于加强基层党组织建设方面的实践材料">关于加强基层党组织建设方面的实践材料</option>
            <option value="关于规范党的组织生活方面的实践材料">关于规范党的组织生活方面的实践材料</option>
            <option value="关于强化党员教育管理方面的实践材料">关于强化党员教育管理方面的实践材料</option>
            <option value="关于推进党建工作与业务工作有机融合方面的实践材料">关于推进党建工作与业务工作有机融合方面的实践材料</option>
            <option value="关于创新思想政治工作方面的实践材料">关于创新思想政治工作方面的实践材料</option>
            <option value="关于推动“互联网+党建”方面的实践材料">关于推动“互联网+党建”方面的实践材料</option>
            <option value="关于推进党建工作继承与创新方面的实践材料">关于推进党建工作继承与创新方面的实践材料</option>
            <option value="关于党建工作其他方面的实践材料">关于党建工作其他方面的实践材料</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">会议附件</span>
        <ul class="contract-list">
          <li *ngFor="let abc of newCard.fileName; let k=index">{{abc}}<a  href="javascript:;" (click)="delFile(k)">×</a> </li>
        </ul>
        <div class="form-inp" style=" margin-top:5px;">
          <a href="javascript:;" style="color:#666; margin-left:127px; border-radius:4px; padding:5px 10px; background: #f6f6f6;" onclick="$('#prese').trigger('click')">上 传</a>
          <input type="file" class="dropify" #prese id="prese" style="visibility: hidden;"
                 (change)="prese_upload(prese.files)">
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
