<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">党支部岗区队建设</div>
      <div class="content-box" tabindex="0" onclick="history.go(-1)">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
    <div class="cont-inner">
      <ul class="card-left clearfix">
        <li class="left-li"><span>支部名称</span><strong>{{newCard.branchName}}</strong></li>
        <li class="left-li"><span>月份</span><strong>{{newCard.month}}</strong></li>
        <li class="left-li"><span>先锋岗数量</span><strong>{{newCard.pioneerNum}}</strong></li>
        <li class="left-li"><span>责任区数量</span><strong>{{newCard.dutyNum}}</strong></li>
        <li class="left-li"><span>突击队数量</span><strong>{{newCard.commandoNum}}</strong></li>
        <li class="left-li"><span>活动开展频次</span><strong>{{newCard.frequency}}</strong></li>
        <li class="left-li">&nbsp;</li>
      </ul>
      <div class="note">
        <div class="title"><span>附件</span></div>
        <ul class="attachment">
          <li><a *ngFor="let abc of newCard.fileContract" [href]="ipSetting.fileUrl+abc.filePath" [download]="abc.fileName">
            {{abc.fileName}} <i class="icon-cloud-download">下载</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

