
<div class="view">
  <div class="top-right">
    <a class="btn-edit" href="javascript:;" (click)="initEdit()"><i class="icon-pencil"></i> 编辑</a>
  </div>
  <ul class="form-msg">
    <li class="form-bar">
      <label>
        <span class="form-title">大楼编号</span>
        <input type="text" name="buildingId" class="ipt"
               [(ngModel)]="copyBuilding.buildingId">
        <span class="word">{{building.buildingId}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼名称</span>
        <input type="text" name="name" class="ipt"
               [(ngModel)]="copyBuilding.name">
        <span class="word">{{building.name}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">楼层数</span>
        <input type="text" name="floorNum" class="ipt"
               [(ngModel)]="copyBuilding.floorNum">
        <span class="word">{{building.floorNum}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">楼高</span>
        <input type="text" name="height" class="ipt"
               [(ngModel)]="copyBuilding.height">
        <span class="word">{{building.height}}</span>
      </label>
    </li>
    <li class="form-bar">
    <label>
      <span class="form-title">建筑面积</span>
      <input type="text" name="area" class="ipt"
             [(ngModel)]="copyBuilding.area">
      <span class="word">{{building.area}}</span>
    </label>
    </li>
    <li class="form-bar" *ngIf="building.belongTo === '自建'">
      <label>
        <span class="form-title">建造单位</span>
        <input type="text" name="buildDept" class="ipt"
               [(ngModel)]="copyBuilding.buildDept">
        <span class="word">{{building.buildDept}}</span>
      </label>
    </li>
    <li class="form-bar" *ngIf="building.belongTo === '自建'">
      <label>
        <span class="form-title">建造日期</span>
        <input type="text" name="buildTime" class="ipt"
               [(ngModel)]="copyBuilding.buildTime">
        <span class="word">{{building.buildTime}}</span>
      </label>
    </li>
    <li class="form-bar" *ngIf="building.belongTo !== '租赁'">
      <label>
        <span class="form-title">交付购买日期</span>
        <input type="text" name="payTime" class="ipt"
               [(ngModel)]="copyBuilding.payTime">
        <span class="word">{{building.payTime}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">物业服务单位</span>
        <input type="text" name="serviceUnit" class="ipt"
               [(ngModel)]="copyBuilding.serviceUnit">
        <span class="word">{{building.serviceUnit}}</span>
      </label>
    </li>
  </ul>
  <div class="div-text">
    <div class="text-title"><i class="icon-paper-clip"></i><span>大楼简介</span></div>
    <textarea class="bigText ipt" [(ngModel)]="copyBuilding.summary"></textarea>
    <div class="summary-text word">
      <i class="fa fa-quote-left" style="font-size: 18px; color:#e8e8e8;"></i>
      {{building.summary}}
      <i class="fa fa-quote-right" style="font-size: 18px; color:#e8e8e8;"></i>
    </div>
  </div>

  <div class="div-text img-border" >
    <div class="text-title"><i class="icon-puzzle"></i><span>大楼风采</span>
      <a class="upload-option" (click)="clickImg();">
        <i class="icon-wrench"></i>更新图片
      </a>
    </div>
    <img class="div-img origin"
         (click)="viewImg(building.imgPath);"
         [src]="'/proxy' + building.imgList[0]"
         *ngIf="building.imgPath&&!editStatus">
    <img class="div-img"
         [src]="'/proxy' + copyBuilding.imgList[0]"
         *ngIf="copyBuilding.imgPath&&editStatus">
    <input name="file" id="file_upload" style=" visibility:hidden;"
           type="file"
           multiple
           #prese
           (change)="prese_upload(prese.files)"/>
  </div>
  <div class="box-option">
  <input class="btn-close" type="button" value="取消"
         (click)="closeEdit()">
  <input class="btn-submit" type="button" value="提交"
         (click)="submit()">
  </div>
</div>


<!--图片查看器-->
<div class="view-img" [hidden]="isViewImg">
  <div class="back"></div>
  <span class="close" (click)="closeViewImg()"></span>
  <img class="big-img" [ngStyle]="{'width':imgWidth+'px','margin-left':- imgWidth/2 +'px'}"
       [src]="'/proxy' + building.imgList[0]"  *ngIf="building.imgPath&&!editStatus">
  <div class="option-bar">
    <span class="enlarge" (click)="addImg()"></span>
    <span class="less" (click)="decsImg()"></span>
  </div>
</div>
