.view{
  padding: 20px;
}
.div-img{
  float: left;
  width:500px;
  height:320px;
  padding-right: 5%;
  padding-bottom: 20px;
}
.form-msg>li input{
  display: none;
}
.form-bar{
  height: 35px;
  min-width: 300px;
  line-height: 30px;
  color: #686868;
  font-size: 16px;
}
.form-title{
  display: inline-block;
  width: 120px;
}
.full-line{
  clear: both;
  width: 100%;
  height: auto;
}
.full-line .form-title{
  float: left;
}
.summary-title{
  word-break: break-all;
}
.summary-text{
  display: inline-block;
  width: auto;
  word-break: break-all;
}
