<div class="view">
  <div class="msg">
    <div class="img-border" (click)="viewImg(building.imgList[0])">
      <img class="div-img" [src]="+'/proxy'+ building.imgList[0] " *ngIf="building.imgPath">
    </div>
    <h3><i class="icon-home"></i>{{building.name | emptyValue:'暂无数据'}}</h3>
    <p>编号：<span>{{building.buildingId | emptyValue:'暂无数据'}}</span></p>
    <p>地址：<span>{{building.address | emptyValue:'暂无数据'}}</span></p>
    <ul class="nav-msg">
      <li><h4 routerLink="belong" routerLinkActive="active">所属信息</h4></li>
      <li><h4 routerLink="basic" routerLinkActive="active">详细信息</h4></li>
      <li><h4 routerLink="floor" routerLinkActive="active">楼层信息</h4></li>
      <li>
        <h4 [ngClass]="{'active':setNavActive()}">合同信息&nbsp;&nbsp;&nbsp;<i class="icon-arrow-down-circle" style="font-size: 12px;"></i> </h4>
        <ol class="msg-child">
          <li [routerLink]="['contract', type]" routerLinkActive="s-active"><h3>自购/自建/租赁合同</h3></li>
          <li [routerLink]="['contract', 'property']" routerLinkActive="s-active"><h3>物业合同</h3></li>
        </ol><!--routerLink="property"-->
      </li>
    </ul>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--图片查看器-->
<div class="view-img" style="display: none;" [hidden]="isViewImg">
  <div class="back"></div>
  <span class="close" (click)="closeViewImg()"></span>
  <img class="big-img" [ngStyle]="{'width':imgWidth+'px','margin-left':- imgWidth/2 +'px'}"
       [src]="imgSrcView">
  <div class="option-bar">
    <span class="enlarge" (click)="addImg()"></span>
    <span class="less" (click)="decsImg()"></span>
  </div>
</div>
