.view{
  height: calc(100% - 160px - 25px - 100px);
  min-height: 630px;
  padding:25px 2% 90px 2%;
}
.msg{
  height: 100%;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(181, 186, 193, 0.25);
}
.msg>img{
  float: right;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(223, 223, 223, 0.32) inset;
}
.msg>h3{
  padding: 10px 0;
  font-weight: 700;
}
.msg>p{
  padding: 10px 0;
  margin-bottom: 25px;
  font-size: 16px;
  color: #8e9ea8;
}
.nav-msg{
  display: flex;
  height: 40px;
  border-bottom: 3px solid #f7fafc;
}
.nav-msg>li{
  width: 150px;
  /*height: 40px;*/
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.nav-msg>li>h4{
  height: 40px;
}
.nav-msg>li .active,.nav-msg>li:hover{
  color: #ff6849;
  height: 40px;
  border-bottom: 3px solid #ff6849;
}
.nav-msg>li .active + .msg-child{
  top:0;
}
h4{
  outline: none;
}
.content{
   height: auto;
 }
.msg-child{
  display: none;
  position: relative;
  top: 3px;
  background: #ffffff;
  border: 3px solid #ff6849;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.msg-child>li{
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.msg-child>li:hover{
  background : #ff6849;
  color : #ffffff;
}
.nav-msg>li:hover>.msg-child{
  display:block;
}
