<div class="view">
  <div class="msg">
    <div class="img-border">
      <img class="div-img" [src]="+'/proxy'+ building.imgList[0] " *ngIf="building.imgPath">
    </div>

    <h3>{{building.name}}</h3>
    <p>地址：<span>{{building.address}}</span></p>
    <ul class="nav-msg">
      <li><h4 routerLink="belong" routerLinkActive="active">大楼所属信息</h4></li>
      <li><h4 routerLink="basic" routerLinkActive="active">大楼详细信息</h4></li>
      <li><h4 routerLink="floor" routerLinkActive="active">大楼楼层信息</h4></li>
      <li>
        <h4 [ngClass]="{'active':setNavActive()}">大楼合同信息</h4>
        <ol class="msg-child">
          <li [routerLink]="['contract', type]" routerLinkActive="s-active"><h3>大楼自购/自建/租赁合同</h3></li>
          <li routerLink="property" routerLinkActive="s-active"><h3>大楼物业合同</h3></li>
        </ol>
      </li>
    </ul>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
