<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>角色配权限</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--人员信息简介-->
    <div class="goods-box">
      <div class="goods-img">
        <img alt="image" src="assets/image/icon-admin.png">
      </div>
      <p>角色 ID ：{{role.roleId}}</p>
      <p>角色名称：{{role.roleName}}</p>
      <p *ngIf="role.note">角色介绍：{{role.note}}</p>
    </div>
    <div class="split-title">
      <h4>权限信息</h4>
    </div>
    <div>
      <p class="index-adr">当前位置：
        <span *ngFor="let adr of adrList" (click)="getAbilityList(adr,-1)">
          {{adr.name}}</span>
      </p>
      <ul class="card-list">
        <li class="card-area" *ngFor="let ability of abilities;let i = index">
          <div class="card-inner">
            <div class="card-head" (click)="getAbilityList(ability,1)">
              <h5 class="card-title"><i [class]="ability.icon"></i>&nbsp;{{ability.name}}</h5>
            </div>
            <div class="card-option">
              <span>
                <label title="查看">
                  <input type="checkbox" [(ngModel)]="ability.isSelect" (change)="setResult(ability);">&nbsp;
                  <i class="icon-screen-desktop"></i>&nbsp;查看</label>
              </span>
              <span>
                <label title="新增">
                  <input type="checkbox" [(ngModel)]="ability.isInstall" (change)="setResult(ability);">&nbsp;
                  <i class="icon-plus"></i>&nbsp;新增</label>
              </span>
              <span>
                 <label title="修改">
                   <input type="checkbox" [(ngModel)]="ability.isUpdate" (change)="setResult(ability);">&nbsp;
                   <i class="icon-pencil"></i>&nbsp;修改</label>
              </span>
              <span>
                <label title="删除">
                  <input type="checkbox" [(ngModel)]="ability.isDelete" (change)="setResult(ability);">&nbsp;
                  <i class="icon-trash"></i>&nbsp;删除</label>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot-submit">
      <a class="btn btn-info" (click)="submit(resultList)">提交</a>
    </div>
  </div>
</div>
