<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>个人信息管理</h4></a>
    </div>
    <div class="col-content">
      <ul>
        <li><span class="col-title">HRMIS号</span>{{user.userid}}</li>
        <li><span class="col-title">用户姓名</span>{{user.username}}</li>
        <li><span class="col-title">所属部门</span>{{user.deptId}}</li>
        <li><span class="col-title">性别</span>{{user.sex}}</li>
        <li><span class="col-title">联系电话</span>{{user.teleNum}}</li>
        <li><span class="col-title">邮箱</span>{{user.oaEmail}}</li>
        <li><span class="col-title">服务中心</span>{{user.serviceCenter}}</li>

      </ul>
    </div>
  </div>
</div>
