ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.icon-magnifier:before{
  content: "\e090";
}
.ti-minus:before {
  content: "\e622";
}
.ti-plus:before {
  content: "\e61a";
}
.panel-head{
  color: #2b2b2b;
  background-color: #fff;
  border-bottom: 1px solid rgba(120, 130, 140, .13);
  border-radius: 0;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 25px;
}
.panel-action{
  float: right;
}
.panel-action>a{
  color: #2b2b2b;
  opacity: .5;
  text-decoration: none;
  touch-action: manipulation;
}
.panel{
  padding: 25px;
}
.search-bar{
  color: #2b2b2b;
  background-color: #fff;
  border-bottom: 1px solid rgba(120, 130, 140, .13);
  border-radius: 0;
}
.panel>ul{
  display: flex;
  flex-wrap:wrap;
}
.panel>ul>li{
  width: 33.33%;
  height: 36px;
}
.panel>ul>li>label{
  float: left;
  color: #686868;
  height: 30px;
  width: 70px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 12px;
  text-align: right;
}
.panel>ul>li>input[type=text] {
  height: 20px;
  width: calc(100% - 115px);
  padding: 3px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e7ea;
}
.panel>ul>li>select{
  width: calc(100% - 90px);
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e7ea;
}
select:focus{
  outline: none!important;
}
input[type=text]{
  padding: 0 10px;
  background-clip: padding-box;
}
.panel-search{
  height: 30px;
  text-align: right;
}
.panel-search>input[type=button]{
  padding: .6rem 1rem;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border:none;
  background: #04a9f3;
  color: #ffffff;
  font-size: 14px;
}
.btn-info:hover {
  background: #03a9f3;
  opacity: .8;
  border: 1px solid #03a9f3;
}
.view{
  padding-left : 2%;
  padding-right: 2%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background-color: #edf1f5;
}
.view:first-child{
  padding-top: 30px;
  margin: 0;
}
.page-area{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 2%;
  background-color: #ffffff;
}
.card{
  margin:0  1%;
  width: 31.33%;
}

.card-img{
  position: relative;
  width: 100%;
  height: 0;
  padding-top:13.25vw;
  margin-bottom: 10px;
  overflow: hidden;
}
.card-img>img{
  position: relative;
  top: -13.25vw;
  width: 100%;
  height: auto;
  transition: all .4s linear;
}
.card-img:hover>img{
  width: 120%;
  margin-top: -10%;
  margin-left: -10%;
}
.card-img:hover .el-overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.el-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, .7);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 2;
}
.el-info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%) translateZ(0);
  -webkit-transform: translateY(-50%) translateZ(0);
  -ms-transform: translateY(-50%) translateZ(0);
}
.el-info > li {
  list-style: none;
  display: inline-block;
  margin: 0 3px;
}
.el-info > li a {
  border:1px solid #ffffff;
  color: #fff;
  padding: 6px 18px;
}
.mark{

}
.mark>span{
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
.mark>h3{
  display: inline-block;
  float: right;
  margin: 0;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  color: #2b2b2b;
}
.mark>p{
  margin: 10px 0;
  height: 80px;
  font-size: 12px;
  color: #686868;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
 /* text-indent:25px;*/
}
.mark>a{
  margin: 15px 0;
}
.text-muted{
  margin-bottom: 20px;
  margin-top: 20px;
  color: #8d9ea7;
  text-align: center;
}
.text-muted>a{
  margin-right: 10px;
}
.btn-detail{
  display: block;
  width: 25px;
  padding: 8px 15px;
  border: 1px solid #fdc150;
  border-radius: 25px;
  font-size: 12px;
  color: #fdc150;
}
.turn{
  padding: 0 2% 20px 2%;
  background: #ffffff;
}
.turn>ul{
  display: flex;
  height: 35px;
}
.turn>ul>li{
  height: 35px;
  width: 30px;
  line-height: 35px;
  border-top: 1px solid #e4e7ea;
  border-right: 1px solid #e4e7ea;
  border-bottom: 1px solid #e4e7ea;
  color: #686868;
  text-align: center;
  cursor: pointer;
}
.turn>ul>li:first-child{
  border-left: 1px solid #e4e7ea;
}
.turn>ul>li.active{
  color: #ffffff;
  background: #04a9f3;
  border-color: #04a9f3;
}
.row{
  height: 36px;
  line-height: 36px;
  background-color: #ffffff;
  padding: 25px 0 0 25px;
}
.btn-danger{
  padding: .5rem 1.2rem;
  padding-left:16px;
  padding-right:16px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  font-size: 14px;
  background: #fb9678;
  border: 1px solid #fb9678;
}
