<div class="limit-height">
  <!--大楼搜索栏-->
  <div class="view">
    <div class="search-bar">
      <div class="panel-head">
        <i class="icon-magnifier"></i>
            搜索
      </div>
      <div class="panel">
        <ul>
          <li>
            <label>大楼编号</label>
            <input type="text" [(ngModel)]="search.buildingId">
          </li>
          <li>
            <label>大楼名称</label>
            <input type="text" [(ngModel)]="search.name">
          </li>
          <li>
            <label>大楼性质</label>
            <select [(ngModel)]="search.type">
              <option value=""> 全部</option>
              <option>自建</option>
              <option>自购</option>
              <option>租赁</option>
            </select>
          </li>
          <li>
            <label>大楼地址</label>
            <input type="text" [(ngModel)]="search.address">
          </li>
        </ul>
        <div class="panel-search">
          <input class="btn-info" type="button" value="开始查询" (click)="getBuildingMsg()">
        </div>
      </div>
    </div>
  </div>
  <!--大楼列表展示-->
  <div class="view" style="min-height: 350px;">
    <div class="row">
        <a class="btn btn-danger" (click)="fadeBom()" href="javascript:;"><i class="icon-plus"></i> 新增</a>
    </div>
    <ul class="page-area">
      <li class="card" *ngFor="let building of buildings;let idx=index">
        <div class="card-img" [routerLink]="['detail',building.id]">
          <div class="el-overlay">
          </div>
          <img [src]="+'/proxy'+imgPaths[idx][0]" *ngIf="imgPaths[idx][0]">
        </div>
        <div class="mark">
          <span>No.{{building.buildingId}}</span>
          <h3>{{building.name}}</h3>
         <!-- <p>{{building.summary}}</p>-->
         <!-- <a class="btn-detail" [routerLink]="['detail',building.id]">详情</a>-->
          <div class="text-muted">
            <a class="text-muted " [routerLink]="['detail',building.id]" ><i class="icon-doc"></i> 详情</a>
            <a class="text-muted" href="javascript:;" (click)="delete(building.id)"><i class="icon-trash"></i> 删除</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="turn" *ngIf="pages.length>1">
      <ul>
        <li *ngFor="let i of pages"
            [hidden] = "pageLimit(i)"
            [ngClass]="{'active':i === pageNo}"
            (click)="goPage(i);">
          {{i}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mask">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="icon-home"></i> 新增大楼信息</h4>
        <button type="button" class="close" (click)="closeMask()">×</button>
      </div>
      <form class="form-building form-material">
        <div class="modal-body clearfix">
          <div class="modal-left">
            <div class="dropify-wrapper">
              <div class="dropify-message">
                <img *ngIf="newBuilding.imgPath!==''" [src]="'/proxy/' + newBuilding.imgPath" />
              </div>
              <p>点击此处上传图片</p>
              <input type="file" class="dropify" #prese id="prese"
                     (change)="prese_upload(prese.files)">
            </div>
          </div>
          <div class="modal-right">
              <div class="form-group">
                <label class="control-label"><span>大楼编号</span><input type="text" min-length="4" name="newBuildingId" class="form-control" placeholder="" [(ngModel)]="newBuilding.buildingId"></label>
              </div>
              <div class="form-group">
                <label class="control-label"><span>大楼名称</span><input type="text" name="newBuildingName" class="form-control" placeholder="" [(ngModel)]="newBuilding.name"></label>
              </div>
              <div class="form-group">
                <label class="control-label"><span>大楼性质</span>
                  <select [(ngModel)]="newBuilding.type" style="width:170px;padding:0 10px;" name="newBuildingName" class="form-control">
                    <option value="自建">自建</option>
                    <option value="自购">自购</option>
                    <option value="租赁">租赁</option>
                  </select>
                </label>
              </div>
              <div class="form-group">
                <label class="control-label"><span>大楼归属</span>
      <!--            <input type="text" name="belongTo" class="form-control" placeholder="" [(ngModel)]="newBuilding.belongTo">-->
                  <select [(ngModel)]="newBuilding.belongTo" style="width:170px;padding:0 10px;" name="belongTo" class="form-control">
                    <option>市公司</option>
                    <option>县区分公司</option>
                  </select>
                </label>
              </div>
              <div class="form-group">
                <label class="control-label"><span>地&nbsp;&nbsp;址</span><input type="text" name="address" class="form-control" placeholder="" [(ngModel)]="newBuilding.address"></label>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeMask()">取 消</button>
          <button type="submit" class="btn btn-info" (click)="subBuilding()">保 存</button>
        </div>
      </form>
    </div>
</div>
<!--<div class="confirm">
  <div class="confirm-modal">
    <div class="confirm-icon confirm-question">?</div>
    <div class="confirm-content" >你确定要删除该大楼的信息吗?</div>
    <hr style="margin-top: 20px; margin-bottom: 20px; height: 10px;color: transparent;border: 0;">
    <button class="confirm-btn styled" (click)="okFunc()">确定</button>
    <button class="confirm-btn cancel" (click)="noFunc()">取消</button>
  </div>
</div>-->

