<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">
        <a routerLink="../list" routerLinkActive="active">提案信息管理
        <span></span></a>
      </div>
      <div class="row-title">
        <a routerLink="../congflow" routerLinkActive="active">工单流程管理
           <span></span>
        </a>
      </div>
      <div class="row-title">
        <a routerLink="../proposalReport" routerLinkActive="active">工单报表管理
          <span></span>
        </a>
      </div>
      <div class="b-head-right">
        <div class="content-box" onclick="history.go(-1)" tabindex="0">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <div class="cont-inner">
      <li class="repair-chandlery clearfix">
        <ul class="record-search clearfix">
          <li>
            <label >提案类型</label>
            <select class="search-ipt search-sel" name="searchtype" [(ngModel)]="searchInfo.type">
              <option value="">全部</option>
              <option value="市场类">市场类</option>
              <option value="政企类">政企类</option>
              <option value="网络类">网络类</option>
              <option value="人力资源类">人力资源类</option>
              <option value="员工关爱类">员工关爱类</option>
              <option value="综合管理类">综合管理类</option>
            </select>
          </li>
          <li>
            <label >发起时间</label>
            <input name="Bmonth" style="width:130px;" type="date" [(ngModel)]="searchInfo.beginTime"> 至
            <input name="Emonth" style="width:130px;" type="date" [(ngModel)]="searchInfo.endTime" >
          </li>
          <li>
            <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
          </li>
          <li>
            <a class="search-btn" href="javascript:;" routerLink="../launch" routerLinkActive="active">提案发起</a>
          </li>
          <li class="b-head-right">
            <div class="search-btn" (click)="editCardInfo()">
              合并立案
            </div>
          </li>
        </ul>

      </div>
      <ul class="card-list clearfix">
        <li  class="room-card">
          <table width="100%" style="margin:0 auto;" class="card-info">
            <tr style="height: 40px; background-color: #acd6ff; text-align: center; font-weight: bold; font-size: 14px;color:#333;">
              <th></th>
              <th width="30%" style="padding-left: 15px;text-align: left">提案主题</th>
              <th>提案类型</th>
              <th>发起人姓名</th>
              <th>发起人部门</th>
              <th>发起时间</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
            <tr style="height: 36px; text-align: center" *ngFor="let inner of record;let i=index">
              <td><input type="checkbox" [value]="inner.id"></td>
              <td width="30%" style="padding-left: 15px;text-align: left" [routerLink]="['/hzportal/unions/congress/info',inner.id]">
                <a href="javascript:;">{{inner.theme}}</a>
              </td>
              <td>{{inner.type}}</td>
              <td>{{inner.createUserName}}</td>
              <td>{{inner.createUserDept}}</td>
              <td>{{inner.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
              <td>{{inner.isFound}}</td>
              <td>
                <a class="search-btn">审批</a>
              </td>
            </tr>
          </table>
        </li>
      </ul>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length] = 'length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>


<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>合并提案确认</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control form-alone">
        <span class="form-label">立案意见</span>
        <div class="form-inp">
          <label><input type="radio" name="attitude"/>同意</label>
          <label><input type="radio" name="attitude"/>不同意</label>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">已选提案</span>
        <div class="form-inp">
          <p><span>设为主提案</span>1. 选择一的提案主题</p>
          <p><span></span>2. 选择二的提案主题</p>
          <p><span></span>3. 选择三的提案主题</p>
          <p><span></span>4. 选择四的提案主题</p>
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">主办部门</span>
        <div class="form-inp">
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">协办部门</span>
        <div class="form-inp">
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">附件</span>
        <ul class="contract-list">
          <li *ngFor="let abc of newCard.fileName; let k=index">{{abc}}<a  href="javascript:;" (click)="delFile(k)">×</a> </li>
        </ul>
        <div class="form-inp" style=" margin-top:5px;">
          <a href="javascript:;" style="color:#666; margin-left:127px; border-radius:4px; padding:5px 10px; background: #f6f6f6;" onclick="$('#prese').trigger('click')">上 传</a>
          <input type="file" class="dropify" #prese id="prese" style="visibility: hidden;"
                 (change)="prese_upload(prese.files)">
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">提 交</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
