<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">
        <a routerLink="/hzportal/unions/congress/list" routerLinkActive="active">提案发起记录
        <span></span></a>
      </div>
      <div class="row-title">
        <a routerLink="/hzportal/unions/congress/proposalReport" routerLinkActive="active">提案记录报表管理
          <span></span>
        </a>
      </div>
      <div class="row-title">
        <a routerLink="/hzportal/unions/congress/congflow" routerLinkActive="active">提案发起流程管理
           <span></span>
        </a>
      </div>
      <div class="row-title">
        <a routerLink="/hzportal/unions/congress/launch" routerLinkActive="active">提案发起
           <span></span>
        </a>
      </div>

      <div class="b-head-right">
        <div class="content-box" onclick="history.go(-1)" tabindex="0">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <div class="cont-inner">
      <div class="repair-chandlery clearfix">
        <ul class="record-search clearfix">
          <!--<li>
            <label>发起人</label>
            <input name="buildingNameS" class="search-ipt search-sel" [(ngModel)]="searchInfo.branchName">
          </li>-->
          <li>
            <label >提案类型</label>
            <select class="search-ipt search-sel" name="searchtype" [(ngModel)]="searchInfo.type">
              <option value="">全部</option>
              <option value="市场类">市场类</option>
              <option value="政企类">政企类</option>
              <option value="网络类">网络类</option>
              <option value="人力资源类">人力资源类</option>
              <option value="员工关爱类">员工关爱类</option>
              <option value="综合管理类">综合管理类</option>
            </select>
          </li>
          <li>
            <label >发起时间</label>
            <input name="Bmonth" style="width:130px;" type="date" [(ngModel)]="searchInfo.bTime"> 至
            <input name="Emonth" style="width:130px;" type="date" [(ngModel)]="searchInfo.eTime" >
          </li>
          <li>
            <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
          </li>
        </ul>
      </div>
      <ul class="card-list clearfix">
        <li  class="room-card">
          <table width="100%" style="margin:0 auto;" class="card-info">
            <tr style="height: 40px; background-color: #acd6ff; text-align: center; font-weight: bold; font-size: 14px;color:#333;">
              <th width="30%" style="padding-left: 15px;text-align: left">提案主题</th>
              <th>提案类型</th>
              <th>发起人姓名</th>
              <th>发起人部门</th>
              <th>发起时间</th>
              <th>立案状态</th>
              <th>操作</th><!-- *ngIf="jurisdiction&&jurisdiction.isUpdate === true"-->
            </tr>
            <tr style="height: 36px; text-align: center" *ngFor="let inner of record;let i=index">
              <td width="30%" style="padding-left: 15px;text-align: left"
              [routerLink]="['/hzportal/unions/congress/info',inner.id]">
                <a href="javascript:;">{{inner.theme}}</a>
              </td>
              <td>{{inner.type}}</td>
              <td>{{inner.createUserName}}</td>
              <td>{{inner.createUserDept}}</td>
              <td>{{inner.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
              <td>{{inner.isFound}}</td>
              <td>
                <i class="icon-check" *ngIf="inner.isFound" (click)="editCardInfo(i)"
                   style="margin-left: 5px;" title="立案"></i>
                <i class="icon-close" *ngIf="inner.isFound" (click)="delCardInfo(inner.id)"
                   style="margin-left: 5px;" title="不立案"></i></td>
            </tr>
          </table>
        </li>
      </ul>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length] = 'length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>
</div>
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>立案填选内容</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control clearfix">
        <span class="form-label">立案方式</span>
        <div class="form-inp">
          <label for="yes" style="line-height: 30px;">
            <input id="yes" name="isOrder" class="company-ipt" type="radio" value="0" [(ngModel)]="mode">
            合并立案
          </label>
          <label for="no" style="line-height: 30px;">
            <input id="no" name="isOrder"  class="company-ipt" type="radio" value="1" [(ngModel)]="mode">
            单独立案
          </label>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <div class="form-master">
          <span class="form-title">主提案</span>
          <ul class="form-inp">
            <li *ngFor="let abc of proposal"><input type="radio" name="master" />{{abc.name}}</li>
          </ul>
        </div>
        <div class="form-vice">
          <span class="form-title">附议提案</span>
          <ul class="form-inp">
            <li *ngFor="let abc of proposal"><input type="checkbox" name="vice" />{{abc.name}}</li>
          </ul>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">主办部门</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="newtype" id="newtype" [(ngModel)]="newCard.hostDeptId"
                  (blur)="verifynewtype()" >
            <option value="">请选择</option>
            <option value="党员大会">党员大会</option>
            <option value="支委会">支委会</option>
            <option value="党小组会">党小组会</option>
            <option value="党课">党课</option>
            <option value="组织生活会">组织生活会</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">协办部门</span>
        <div class="form-inp"><!--[value]="newCard.beginTime | date:'yyyy-MM-dd HH:mm'" -->
          <input class="company-ipt" type="datetime-local" name="bTime" id="bTime"
                 (blur)="verifybTime()">
          <span class="errorMessage"></span>
        </div>
      </div>

    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">提 交</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
