<div class="wrap">
  <div class="cont">
    <!--<div class="row clearfix">
      <div class="row-title">
        <a routerLink="../list" routerLinkActive="active">提案信息管理
          <span></span></a>
      </div>
      <div class="row-title">
        <a routerLink="../congflow" routerLinkActive="active">工单流程管理
          <span></span>
        </a>
      </div>
      <div class="row-title">
        <a routerLink="../proposalReport" routerLinkActive="active">工单报表管理
          <span></span>
        </a>
      </div>
      <div class="b-head-right">
        <div class="content-box" onclick="history.go(-1)" tabindex="0">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>-->
    <div class="cont-inner">
      <div class="repair-chandlery clearfix">
        <ul class="record-search clearfix">
          <!--<li>
            <label>发起人</label>
            <input name="buildingNameS" class="search-ipt search-sel" [(ngModel)]="searchInfo.branchName">
          </li>-->
          <li>
            <label >提案类型</label>
            <select class="search-ipt search-sel" name="searchtype" [(ngModel)]="searchInfo.type" style="width:125px;">
              <option value="">全部</option>
              <option value="市场类">市场类</option>
              <option value="政企类">政企类</option>
              <option value="网络类">网络类</option>
              <option value="人力资源类">人力资源类</option>
              <option value="员工关爱类">员工关爱类</option>
              <option value="综合管理类">综合管理类</option>
            </select>
          </li>
          <li>
            <label >发起时间</label>
            <input name="Bmonth" style="width:130px;" type="date" [(ngModel)]="searchInfo.bTime"> 至
            <input name="Emonth" style="width:130px;" type="date" [(ngModel)]="searchInfo.eTime" >
          </li>
          <li>
            <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
          </li>
          <li *ngIf="inner">
            <a class="search-btn" id="created" href="javascript:;" routerLink="../launch" routerLinkActive="active">提案发起</a>
          </li>
          <!--<li class="b-head-right">
            <div class="search-btn" (click)="editCardInfo()">
              合并立案
            </div>
          </li>-->
        </ul>
      </div>

          <table width="100%" style="margin:0 auto;" class="card-info">
            <tr style="height: 40px; background-color: #acd6ff; text-align: center; font-weight: bold; font-size: 14px;color:#333;">
              <th width="30%" style="padding-left: 15px;text-align: left">提案主题</th>
              <th>提案类型</th>
              <th>发起人姓名</th>
              <th>发起人部门</th>
              <th>发起时间</th>
              <th>立案状态</th>
              <th *ngIf="catas2&&catas2.isUpdate">操作</th>
            </tr>
            <tr style="height: 36px; text-align: center" *ngFor="let inner of record;let i=index">
              <td width="30%" style="padding-left: 15px;text-align: left"
              [routerLink]="['/hzportal/unions/congress/info',inner.id]">
                <a href="javascript:;">{{inner.theme}}</a>
              </td>
              <td>{{inner.type}}</td>
              <td>{{inner.createUserName}}</td>
              <td>{{inner.createUserDept}}</td>
              <td>{{inner.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
              <td>{{inner.isFound}}</td>
              <td *ngIf="catas2&&catas2.isUpdate">
                <i class="icon-check" *ngIf="inner.isFound&&inner.isFound==='待审核'" (click)="editCardInfo(inner.id)"
                   style="margin-left: 5px;" title="立案"></i>
                <i class="icon-close" *ngIf="inner.isFound&&inner.isFound==='待审核'" (click)="delCardInfo(inner.id)"
                   style="margin-left: 5px;" title="不立案"></i></td>
            </tr>
          </table>
      <div class="div-none" *ngIf="record && record.length === 0">
        <p>暂无信息</p>
      </div>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length] = 'length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>
</div>
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>立案填选内容</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control clearfix">
        <span class="form-label">立案方式</span>
        <div class="form-inp">
          <label for="yes" style="line-height: 30px;">
            <input id="yes" name="isOrder" class="company-ipt" type="radio" value="0" [(ngModel)]="mode">
            合并立案
          </label>
          <label for="no" style="line-height: 30px;">
            <input id="no" name="isOrder"  class="company-ipt" type="radio" value="1" [(ngModel)]="mode">
            单独立案
          </label>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <div class="form-master">
          <span class="form-title">主提案</span>
          <ul class="form-inp flow-list">
            <li *ngFor="let inner of recordChoose;">
              <input type="radio" name="master" [value]="inner.id" [(ngModel)]="newCard.fatherId"/>{{inner.theme}}
            </li>
          </ul>
        </div>
        <div class="form-vice" *ngIf="mode==='0'">
          <span class="form-title">附议提案</span>
          <ul class="form-inp flow-list">
            <li *ngFor="let abc of recordChoose">
              <input type="checkbox" name="vice" [value]="abc.id"/>{{abc.theme}}</li>
          </ul>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">主办部门</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="newtype" id="newtype" [(ngModel)]="newCard.hostDeptId"
                  (blur)="verifynewtype()" style="width:253px; border: 1px solid #dddddd;" (change)="changeDept()">
            <option value="">请选择</option>
            <option *ngFor="let dept of repairDept" [value]="dept.DEPT_ID">{{dept.DEPT_NAME}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">协办部门</span>
        <div class="form-inp"><!--[value]="newCard.beginTime | date:'yyyy-MM-dd HH:mm'" -->
          <textarea class="company-ipt" rows="5"
                    style="border:1px solid #dddddd;width:250px;!important;height:auto;background-color: #ffffff !important;"
                    onclick="$('#deptSltWin').show()"
                    id="deptName" name="deptName" readonly
                 [(ngModel)]="newCard.helpDeptName">
          </textarea>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="modal-more" id="deptSltWin" style="display: none">
        <h5>杭州移动各部门</h5>
        <h5>已选：&nbsp;&nbsp;
          <span>{{newCard.helpDeptName}}</span></h5>
        <!--<div class="choose-group">
          <label class="cb-blue">
            <input type="checkbox" name="all" id="all" [(ngModel)]="isAllDept" (change)="chooseAll()">
            <span>所有人员</span>
          </label>
        </div>-->
        <div class="choose-list">
          <div class="choose-group" *ngFor="let dept of repairDept;let i=index">
            <label class="cb-blue">
              <input type="checkbox" [name]="dept.DEPT_ID" [(ngModel)]="dept.choose"
                     [value]="dept.DEPT_ID"
                     (change)="chooseDept()">
              <span>{{dept.DEPT_NAME}}</span>
            </label>
          </div>
        </div>
        <div  class="modal-more-footer">
          <button  class="btn btn-info" type="submit"
                   (click)="subDept()">确定</button>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">提 交</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
<div class="mask1">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>不立案填选内容</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form" style="min-height: 150px;">
      <div class="form-control">
        <span class="form-label">主办部门</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="secondtype" id="secondtype" [(ngModel)]="secondCard.hostDeptId"
                  (blur)="verifynewtype()" style="width:200px; border: 1px solid #dddddd;" (change)="changeDept()">
            <option value="">请选择</option>
            <option *ngFor="let dept of repairDept" [value]="dept.DEPT_ID">{{dept.DEPT_NAME}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submitNo()">提 交</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
