<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>用户配角色</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--人员信息简介-->
    <div class="goods-box">
      <div class="goods-img">
        <img alt="image" src="assets/image/admin.png">
      </div>
      <p>HRMIS号：{{user.userid}}</p>
      <p>用户姓名：{{user.username}}</p>
      <p>所属部门：{{user.deptId}}</p>
      <p>联系电话：{{user.teleNum}}</p>
      <p>联系邮箱：{{user.oaEmail}}</p>
    </div>
    <div class="split-title">
      <h4>角色信息</h4>
    </div>
    <div>
      <ul class="card-list">
        <li class="card-area" *ngFor="let role of roles">
          <label class="card-inner">
            <div class="card-vote-btn">
              <input type="checkbox" [(ngModel)]="role.choose">
              <span>√</span>
            </div>
            <h5>{{role.roleName}}</h5>
          </label>
        </li>
      </ul>
    </div>
    <div class="foot-submit">
      <a class="btn btn-info" (click)="submit()">提交</a>
    </div>
  </div>
</div>
