<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>用户配角色</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--人员信息简介-->
    <div class="goods-box">
      <div class="goods-img">
        <img alt="image" src="assets/image/admin.png">
      </div>
      <p>HRMIS号：{{user.userid}}</p>
      <p>用户姓名：{{user.username}}</p>
      <p>所属部门：{{user.deptId}}</p>
      <p>联系电话：{{user.teleNum}}</p>
      <p>联系邮箱：{{user.oaEmail}}</p>
    </div>
    <div>
      <ul class="card-list">
        <li class="card-area">
          <div class="card-inner">
            <div class="card-vote-btn">
              <input type="checkbox">
              <span>√</span>
            </div>
            <h5>系统管理员</h5>
            <p>他有什么什么权限呢</p>
          </div>
        </li>
      </ul>
    </div>
    <!--翻页-->
    <app-turn-bar
      [pageNo] = "pageNo"
      [pageSize] = "pageSize"
      [total] = "total"
      (turnEvent) = "getRoleList($event)">
    </app-turn-bar>
  </div>
</div>
