.chandlery {
  position: relative;
  padding: 15px 115px 15px 0;
  background-color: #f8f8f8;
  margin-top: 10px;
}
.chandlery ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 360px;
}
.chandlery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.chandlery ul li label {
  float: left;
  color: #686868;
  height: 30px;
  padding: 0 20px;
  line-height: 30px;
  font-size: 12px;
  text-align: right;
}
.chandlery ul li input[type='text'],.chandlery ul li select {
  height: 20px;
  width: calc(100% - 130px);
  min-width: 70px;
  padding: 3px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e7ea;
}
.chandlery ul li select{
  height:28px;
}
.chandlery .search-btn {
  float: left;
  margin-left: 10px;
  display: inline-block;
  padding: 0 10px;
  line-height: 32px;
  height: 32px;
  border: 1px solid #fff;
  background-color: #66CCFF;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;
}
.chandlery .search-btn:hover {
  border-color: #66CCFF;
  opacity: .8;
}
.search-right {
  position: absolute;
  right: 0;
  top: 15px;
}
.row {
  text-align: right;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #ccc;
}
.btn {
  line-height: 50px;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: #fb9678;
  border: 1px solid #fff;
  transition: all .6s;
}
.btn:hover {
  opacity: .8;
  border-color: #fb9678;
}
.table td,.table th{
  text-align: center;
  padding: 10px 4px;
}
.table td a{
  color:#2b2b2b;
}
.table > tbody > tr:hover, .table > tbody > tr.active > td, .table > tbody > tr.active > th{
  background-color: #f7fafc !important;
}
.table>thead>tr{
  background-color: #5ca0ce;
}
.table>tbody>tr{
  border-bottom:1px solid #ccc;
}
.mask,.mask0{
  display: none;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,.4);
  z-index:999;
}
.mask-head{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  background-color: #f1f5f8;
  font-size:18px;
}
.mask-head p{
  text-indent: 1em;
}
button{
  border: none;
  font-size: 18px;
  background: none;
}
.close{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.mask-cotainer{
  position: absolute;
  left:50%;
  top:8%;
  width:650px;
  margin-left:-325px;
  background-color: #fff;
  border-radius:5px;
}
.repair-form{
  margin:15px auto;
}
.form-control {
  width: 600px;
  line-height: 36px;
  margin: 0 auto 10px;
  color: #686868;

}
.form-label {
  float: left;
  height: 100%;
  text-align: center;
  width: 180px;
  margin-bottom: 0;
  margin-right: 10px;
}
.form-inp {
  float: left;
  width: 400px;
}
.energy-container{
  min-height:520px;
}
.company-ipt{
  width:240px;
  line-height:36px;
  background-image: linear-gradient(#03a9f3, #03a9f3), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px;
  padding: 0;
  border:none;
  transition: all .3s ease-out;
}
.company-sel{
  height:43px;
}
.company-text{
  height:80px;
  line-height:20px;
}
.company-ipt:focus{
  background-size: 100% 1px, 100% 1px;
}
.mask-footer{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px;
  background-color: #f1f5f8;
}
.btn-mask{
  font-size: 14px;
  padding: .6rem 1rem;
  background: #03a9f3;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color:#fff;
}
.btn-danger{
  background-color:#fb9678;
  margin-left:20px;
}
.btn-mask:hover{
  opacity:.8;
}
.errorMessage{
  opacity: 0;
  color:#CE0004;
}
.form-error .errorMessage{
  opacity: 1;
}
.form-add{
  float: none;
  padding: 0 10px;
  width: 275px;
  max-width: 100%;
  line-height: 38px;
  background-color: rgba(0,0,0,0);
  background-position: center bottom,center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px,100% 1px;
  -webkit-transition: all .3s ease-out .3s;
  transition: all .3s ease-out .3s;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#03a9f3),to(#03a9f3)),-webkit-gradient(linear,left top,left bottom,from(rgba(120,130,140,.13)),to(rgba(120,130,140,.13)));
  background-image: linear-gradient(#03a9f3,#03a9f3),linear-gradient(rgba(120,130,140,.13),rgba(120,130,140,.13));
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #565656;
}
.min-title {
  width: 100%;
  height: 36px;
  padding: 0;
}
.control-label td{
  padding:0 10px;
}
