<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">党支部工作计划和总结</div>
      <div class="content-box" tabindex="0" onclick="history.go(-1)">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
    <div class="cont-inner clearfix">
      <ul class="card-left">
        <li>支部名称</li>
        <li>文件名称</li>
        <li>月份</li>
      </ul>
      <ul class="card-right">
        <li>{{newCard.branchName}}</li>
        <li>{{newCard.fileName}}</li>
        <li>{{newCard.month}}月</li>
      </ul>
    </div>
  </div>
</div>

