<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">党支部工作计划和总结</div>
      <div class="content-box" tabindex="0" onclick="history.go(-1)">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
    <div class="cont-inner clearfix">
      <ul class="card-left">
        <li>支部名称</li>
        <li>文件名称</li>
        <li>月份</li>
        <li>附件</li>
      </ul>
      <ul class="card-right">
        <li>{{newCard.branchName}}</li>
        <li>{{newCard.subType}}</li>
        <li>{{newCard.month}}月</li>
        <li *ngFor="let file of newCard.fileContract">
          {{file.fileName}}<a [href]="ipSetting.ip+'/common/file/downLoadFile?path='+file.filePath"
                              [download]="file.fileName">下载</a>
        </li>
      </ul>
    </div>
  </div>
</div>

