<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head clearfix">
          <div class="b-head-left">
            <span *ngFor="let cata of catas"
                  [ngClass]="cata.routeUrl===rule.routeUrl?'active':''"
                  [routerLink]="['../../../../'+cata.routeUrl]"
            >{{cata.name}}</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../goodsbuy']"><i class="icon-action-undo"></i> 继续订购</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap clearfix">
            <div class="sltgroup">
              <label>供应商类别</label>
              <select name="searchArm" [(ngModel)]="search.code">
                <option value="">全部</option>
                <option *ngFor="let provider of providers" [value]="provider">{{provider}}类</option>
              </select>
            </div>
            <div class="iptgroup" *ngIf="rule&&rule.isSelect">
              <input placeholder="请输入商品名称"  [(ngModel)]="search.name"  />
              <a class="ipt-search"></a>
            </div>
            <a class="search" href="javascript:;" (click)="getGoodsList(1)" *ngIf="rule&&rule.isSelect">查询</a>
            <div class="row">
              <a class="btn btn-danger" (click)="add()" style="padding: 6px 22px;" *ngIf="rule&&rule.isInstall">
                <i class="icon-plus"></i> 新增</a>
            </div>
          </div>

          <div class="list-table">
            <table class="table-head">
              <td class="fir" width="20%">商品信息</td>
              <td class="sec">商品单价(元)</td>
              <td class="three">商品状态</td>
            </table>
            <dl *ngFor="let good of goods;let idx=index">
              <dt>
                <span>商品名称：{{good.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>编码：{{good.code}}</span>
              <div class="ope-list">
                <a class="one"   title="查看" href="javascript:void(0);" (click)="view(good.code)"></a>
                <a class="two"   title="修改" href="javascript:void(0);" (click)="update(good.code)"></a>
                <a class="tre"   title="删除" href="javascript:void(0);" (click)="delete(good.code)"></a>
              </div>
              </dt>
              <dd>
                <table style="width: 100%;">
                  <tr>
                    <td width="20%" class="fir">
                      <img  *ngIf="good.imgPath"  [src]="good.imgPath | imgsafeurl" />
                    </td>
                    <td class="sec">￥{{good.price | number:'1.2-2'}}</td>
                    <td class="three" *ngIf="good.status=='1'">上架</td>
                    <td class="three" *ngIf="good.status=='2'">下架</td>
                  </tr>
                  <tr>
                    <td  style="text-align: left; text-indent: 10px;" colspan="5" > <label>简介：</label> <p class="con">{{good.detail}}</p></td>
                  </tr>
                </table>
              </dd>
            </dl>
          </div>
          <app-turn-bar
            [pageNo]="pageNo"
            [pageSize]="pageSize"
            [total]="total"
            [length] = 'length'
            (turnEvent)="goPage($event)">
          </app-turn-bar>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="maskAdd">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">新增商品</h4>
      <button type="button" class="close" (click)="closeMaskAdd()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pimg">
            <div class="dropify-wrapper">
              <div class="dropify-message">
                <img *ngIf="goodsAdd.imgPath"  [src]="goodsAdd.imgPath | imgsafeurl:prese1.files" />
              </div>
              <p>点击此处上传图片</p>
              <input type="file" class="dropify" #prese1  id="prese1"  (change)="prese_upload(prese1.files)"  accept="image/gif, image/jpeg, image/png, image/jpg" >
            </div>
          </div>
          <div class="pdetail">
            <div>
              <label>商品编码：</label>
              <input type="text" id="newcode" name="newcode" (blur)="verifyEmpty('newcode','商品编码不能为空')" class="noticetext" placeholder="" [(ngModel)]="goodsAdd.code" maxlength="15">
              <span class="errorMessage"></span>
            </div>
            <div style="margin-top: 15px;">
              <label>商品名称：</label>
              <input type="text" id="newname" name="newname" (blur)="verifyEmpty('newname','商品名称不能为空')" class="noticetext" placeholder="" [(ngModel)]="goodsAdd.name" maxlength="20">
              <span class="errorMessage"></span>
            </div>
            <div style="margin-top: 15px;">
              <div>
                <label>商品价格：</label>
                <input type="number" class="producttext" id="price" name="price" (blur)="verifyEmpty('price','价格不能为空')" [(ngModel)]="goodsAdd.price">&nbsp;&nbsp;元
                <span class="errorMessage"></span>
              </div>
            </div>

            <div style="margin-top: 15px;">
              <div>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态：</label>
                <input type="radio" [ngModelOptions]="{standalone: true}" [(ngModel)]="goodsAdd.status" value="1">上架
                <input type="radio" [ngModelOptions]="{standalone: true}" [(ngModel)]="goodsAdd.status" value="2">下架
              </div>
            </div>
          </div>
        </div>
        <div class="modal-right2">
          <label>商品详情：</label>
          <textarea class="form-control text-info" rows="10"
                    id="adddetail" name="adddetail" (blur)="verifyEmpty('adddetail','商品详情不能为空')"  [(ngModel)]="goodsAdd.detail">
           </textarea>
          <span class="errorMessage" style="display: block; margin-left:73px;"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMaskAdd()">取 消</button>
        <button type="submit" class="btn btn-info" (click)="addGoods()" >保 存</button>
      </div>
    </form>
  </div>
</div>
<div class="maskUpdate">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">修改商品</h4>
      <button type="button" class="close" (click)="closeMaskUp()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pimg">
            <div class="dropify-wrapper">
              <div class="dropify-message">
                <img *ngIf="goodsUp.imgPath" [src]="goodsUp.imgPath | imgsafeurl:prese2.files" />
              </div>
              <p>点击此处上传图片</p>
              <input type="file" class="dropify"  #prese2  id="prese2" (change)="prese_upload2(prese2.files)">
            </div>
          </div>
          <div class="pdetail">
            <div>
              <label>商品编码：</label>
              <input type="text" class="producttext" id="upnewcode" name="upnewcode"  (blur)="verifyEmpty('upnewcode','商品编码不能为空')"   [(ngModel)]="goodsUp.code">
              <span class="errorMessage"></span>
            </div>
            <div style="margin-top:15px;">
              <label>商品名称：</label>
              <input type="text" class="producttext" id="upnewname" name="upnewname"  (blur)="verifyEmpty('upnewname','商品名称不能为空')"   [(ngModel)]="goodsUp.name">
              <span class="errorMessage"></span>
            </div>
            <div style="margin-top: 15px;">
              <div>
                <label>商品价格：</label>
                <input type="number" class="producttext" id="vupprice" name="upprice" (blur)="verifyEmpty('upprice','费用不能为空')"   [(ngModel)]="goodsUp.price">
                <span class="errorMessage"></span>
              </div>
            </div>
            <div style="margin-top: 15px;">
              <div>
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态：</label>
                <input type="radio" [ngModelOptions]="{standalone: true}" [(ngModel)]="goodsUp.status" value="1">上架
                <input type="radio" [ngModelOptions]="{standalone: true}" [(ngModel)]="goodsUp.status" value="2">下架
              </div>
            </div>
          </div>
        </div>
        <div class="modal-right2">
          <label>商品详情：</label>
          <textarea class="form-control" rows="10"
                    id="updetail" name="updetail" (blur)="verifyEmpty('updetail','详情不能为空')"  [(ngModel)]="goodsUp.detail"
                    style="margin-left:73px;margin-top:-20px;border:1px solid #dddddd;width: 88%;!important;height: 140px;background-color: #ffffff !important;"  value="{{goodsUp.detail}}" >
           </textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMaskUp()">取 消</button>
        <button type="submit" class="btn btn-info"   (click)="updateGoods()" >保 存</button>
      </div>
    </form>
  </div>
</div>
<div class="maskView">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">查看商品</h4>
      <button type="button" class="close" (click)="closeMaskView()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pimg">
            <div class="dropify-wrapper">
              <div class="dropify-message">
                <img *ngIf="goodsView.imgPath" [src]="goodsView.imgPath | imgsafeurl" />
              </div>
            </div>
          </div>
          <div class="pdetail">
            <div>
              <label>商品名称：</label>
              {{goodsView.name}}
            </div>
            <div style="margin-top: 15px;">
              <div  style="width: 48%">
                <label>商品价格：</label>
                ￥{{goodsView.price}}
              </div>
            </div>
            <div style="margin-top: 15px;">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态：</label>
              <span class="three" *ngIf="goodsView.status=='1'">上架</span>
              <span class="three" *ngIf="goodsView.status=='2'">下架</span>
            </div>
          </div>
        </div>
        <div class="modal-right2">
          <label>商品详情：</label>
          <textarea name="notice" ui-tinymce
                    class="form-control" rows="10"
                    style="margin-left:73px;margin-top:-20px;border:1px solid #dddddd;width: 88%;!important;height: 140px;background-color: #ffffff !important;" readonly="true" value="{{goodsView.detail}}" >
           </textarea>
        </div>
      </div>
    </form>
  </div>
</div>



