<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head clearfix">
          <div class="b-head-left">
             <span *ngFor="let cata of catas"
                   [ngClass]="cata.routeUrl===rule.routeUrl?'active':''"
                   [routerLink]="['../../../../'+cata.routeUrl]"
             >{{cata.name}}</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../goodsbuy']"><i class="icon-action-undo"></i> 继续订购</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap" *ngIf="rule&&rule.isSelect">
            <ul>
              <li>
                <label>订单编号</label>
                <input class="search-ipt" type="text" name="orderId1" [(ngModel)]="orderId" >
              </li>
              <li>
                <label>订单状态</label>
                <select class="search-ipt" [(ngModel)]="statusDesc">
                  <option value="">全部</option>
                  <option value="10">未支付</option>
                  <option value="20">已付款</option>
                  <option value="40">已发货</option>
                  <option value="50">已完成</option>
                  <option value="0">已取消</option>
                </select>
              </li>
              <li>
                <label>开始时间</label>
                <input class="search-ipt" type="date" name="beginTime"  [(ngModel)]="beginTime" >
              </li>
              <li>
                <label>结束时间</label>
                <input class="search-ipt" type="date" name="endTime"  [(ngModel)]="endTime" >
              </li>
            </ul>
            <div class="search-right">
              <a class="search-btn" href="javascript:;" (click)="getOrderAllList(1)"><i class="icon-magnifier"></i> 查 询</a>
            </div>
          </div>

          <div class="list-table" *ngFor="let order of orders;let idx=index">
            <dt>
            <table class="table-head0">
              <tr>
                <td class="zero">订单编号：{{order.orderNo}}</td>
                <td class="zero">服务中心：{{order.serviceCenter}}</td>
                <td class="zero">订单价格：{{order.payment}}元</td>
                <td class="zero status">交易方式：{{order.paymentTypeDesc}}</td>
                <td class="zero"  *ngIf="order.status==20 || order.status==10" >
                  <button type="button" class="btn btn-info" style="padding: 2px 2px"
                          *ngIf="rule&&rule.isInstall" (click)="update(order.orderNo,40)">已配货</button>
                  <button type="button" class="btn btn-info" style="padding: 2px 2px"
                          *ngIf="rule&&rule.isInstall" (click)="update(order.orderNo,0)">退单</button>
                </td>
              </tr>
              <tr>
                <td class="zero">下单人姓名：{{order.userName}}</td>
                <td class="zero">下单人电话：{{order.telPhone}}</td>
                <td class="zero">收货人：{{order.receiver}}</td>
                <td class="zero status">订单状态：{{order.statusDesc}}</td>
                <td class="zero"  *ngIf="order.status==20 || order.status==10"></td>
              </tr>
              <tr>
                <td class="zero">收货地址：{{order.address}}</td>
                <td class="zero">下单时间：{{order.createTime}}</td>
                <td class="zero" *ngIf="order.expressCompany">物流公司：{{order.expressCompany}}</td>
                <td class="zero" *ngIf="order.expressCompany">快递单号：{{order.expressNum}}</td>
                <td class="zero" *ngIf="!order.expressCompany">
                  <button type="button" class="btn btn-info" style="padding: 2px 2px"
                          (click)="addExpress(order.orderNo,order.status)">录入物流信息</button>
                </td>
                <td class="zero"  *ngIf="order.status==20 || order.status==10" ></td>
              </tr>
            </table>
            </dt>
            <dl>
              <dt>
              <table class="table-head">
                <tr>
                  <td class="fir">商品信息</td>
                  <td class="sec">单价（元）</td>
                  <td class="three">数量</td>
                  <td class="four">合计（元）</td>
                  <td class="zero" >
                    <a class="btn-print" title="打印" (mouseover)="loadFormData(order)" *ngIf="rule&&rule.isSelect">打印
                      <app-print-bar
                        [title] = "title"
                        [formData] = "formData">
                      </app-print-bar>
                    </a>
                  </td>
                </tr>
              </table>
              </dt>
              <dd *ngFor="let goodsItem of order.orderItemVoList;let idx=index">
                <table style="width:100%;">
                  <td class="eight">
                    <img *ngIf="goodsItem.imgPath" [src]="goodsItem.imgPath | imgsafeurl"/>
                  </td>
                  <td class="sec" style="text-align: left"> <p class="headtxt">{{goodsItem.productName}}(编码:{{goodsItem.productId}})</p></td>
                  <td class="sec">￥{{goodsItem.currentUnitPrice}}</td>
                  <td class="three">{{goodsItem.quantity}}</td>
                  <td class="four">￥{{goodsItem.totalPrice}}</td>
                </table>
              </dd>
            </dl>
          </div>
          <!--翻页-->
          <app-turn-bar
            [pageNo] = "pageNo"
            [pageSize] = "pageSize"
            [total] = "total"
            (turnEvent) = "getOrderAllList($event)">
          </app-turn-bar>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mask">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">修改订单</h4>
      <button type="button" class="close" (click)="closeMask()">×</button>
    </div>
    <form class="form-building form-material">
      <input type="hidden" name="updateOrder.id"  [(ngModel)]="updateOrder.orderNo">
      <input type="hidden" name="updateOrder.status"  [(ngModel)]="updateOrder.status">
      <div class="modal-body clearfix">
        <div>
          <label>订单状态：退单</label>
        </div>

        <div class="modal-right">
          <label style="float: left">情况说明：</label>
          <textarea name="notice" class="form-control" rows="10" id="notice"
                    style="width: 85%;!important;"   [(ngModel)]="updateOrder.note" (blur)="isEmpty('notice','说明不能为空')">
               </textarea>
          <span class="errorMessage" style="display: block; margin-left:83px;"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMask()">取 消</button>
        <button type="submit" class="btn btn-info" style="margin-left: 15px;" (click)="updateOrders()" >保 存</button>
      </div>
    </form>
  </div>
</div>
<div class="mask0">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">增加订单物流信息</h4>
      <button type="button" class="close" (click)="closeMask()">×</button>
    </div>
    <form class="form-building form-material">
      <input type="hidden" name="updateOrder.id"  [(ngModel)]="updateOrder.orderNo">
      <input type="hidden" name="updateOrder.status"  [(ngModel)]="updateOrder.status">
      <div class="modal-body clearfix">
        <div class="modal-express">
          <div class="form-control">
            <span class="form-label">物流公司</span>
            <div class="form-inp form-error">
              <select name="expressName" class="company-sel" id="expressCompany" [(ngModel)]="updateOrder.expressCompany"
                      (blur)="isEmpty('expressCompany','物流公司不能为空')">
                <option value="">请选择</option>
                <option *ngFor="let abc of expressName" [value]="abc">{{abc}}</option>
              </select>
              <span class="errorMessage"></span>
            </div>
          </div>
          <div class="form-control">
            <span class="form-label">快递单号</span>
            <div class="form-inp form-error">
              <input name="expressNum" class="company-sel" id="expressNum" [(ngModel)]="updateOrder.expressNum">
              <span class="errorMessage"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMask()">取 消</button>
        <button type="submit" class="btn btn-info" style="margin-left: 15px;" (click)="updateExpress()" >保 存</button>
      </div>
    </form>
  </div>
</div>


