<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <span>服务商管理</span>
          <div class="b-head-right">
            <div class="content-box" onclick="history.go(-1)"><i class="icon-reload"></i>返回</div>
          </div>
        </div>
        <div class="b-con tuanmenu">

          <div class="wrap clearfix">
            <div class="iptgroup">
              <input placeholder="请输入服务商名称" [(ngModel)]="search.applyName" />
            </div>
            <a class="search" href="javascript: void(0);" (click)="providerList()" >查询</a>
            <a class="addbtn" (click)="add()"  href="javascript:;">
              <i class="icon-plus"></i>新增</a>
          </div>
          <div class="list-table">
            <table class="table-head">
              <td class="fir">服务商名称</td>
              <td class="sec">服务商编号</td>
              <td class="three">合作开始时间</td>
              <td class="four">合作结束时间</td>
              <td class="five">服务商介绍</td>
            </table>
            <dl *ngFor="let applier of appliers;let idx=index">
              <dt>
              <div class="ope-list">
                <a class="one"   title="查看" href="javascript:void(0);" (click)="view(applier.applyId)"></a>
                <a class="two"   title="修改" href="javascript:void(0);" (click)="update(applier.applyId)"></a>
                <a class="tre"   title="删除" href="javascript:void(0);" (click)="delete(applier.applyId)"></a>

              </div>
              </dt>
              <dd>
                <table style="width: 100%;">
                  <tr>
                    <td class="fir">{{applier.applyName}}</td>
                    <td class="sec">{{applier.applyId}}</td>
                    <td class="three">{{applier.copStarttime}}</td>
                    <td class="four">{{applier.copEndtime}}</td>
                    <td class="five">{{applier.applyDesc}}</td>
                    <!--<td class="four">{{applier.applyDesc | minLength: [10,'…']}}</td>-->
                  </tr>
                </table>
              </dd>
            </dl>
          </div>
          <app-turn-bar
            [pageNo]="pageNo"
            [pageSize]="pageSize"
            [total]="total"
            [length] = 5
            (turnEvent)="goPage($event)">
          </app-turn-bar>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="maskAdd">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">新增服务商</h4>
      <button type="button" class="close" (click)="closeMaskAdd()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div style="margin-left: 15px;display: none;">
              <label>服务商编号：</label>
              <input type="text" readonly id="supplieId" name="supplieId" (blur)="verifyEmpty('supplieId','服务商编号不能为空')"
                     class="noticetext"  [(ngModel)]="applierAdd.applyId" />
              <span class="errorMessage"></span>
            </div>
            <div style="margin-left: 15px;margin-top: 10px;">
              <label>服务商名称：</label>
              <input type="text" id="suppliername" name="suppliername" (blur)="verifyEmpty('suppliername','服务商名称不能为空')"
                     class="noticetext" placeholder="" [(ngModel)]="applierAdd.applyName" maxlength="15">
              <span class="errorMessage"></span>
            </div>

            <div style="margin-top: 10px;margin-left: 16px;">
              <label>合 作 时 间：</label>
              <input type="date" class="producttext" name="supplierstarttime"  id="supplierstarttime" (blur)="verifyEmpty('supplierstarttime','不能为空')"
                     style="width:115px !important;"   [(ngModel)]="applierAdd.copStarttime" >
              <span class="errorMessage"></span>
              至
              <input type="date" class="producttext" name="supplierendtime" id="supplierendtime" (blur)="verifyEmpty('supplierendtime','不能为空')"
                     style="width:115px !important;margin-left: 5px"  [(ngModel)]="applierAdd.copEndtime" >
              <span class="errorMessage"></span>
            </div>
            <div style="margin-top: 10px;margin-left: 15px;">
              <label>服务商介绍：</label>
              <textarea id="supplierdetail" name="supplierdetail" (blur)="verifyEmpty('supplierdetail','不能为空')"
                        [(ngModel)]="applierAdd.applyDesc" rows="5"></textarea>
              <span class="errorMessage" style="margin-left:84px; margin-top:-15px;" ></span>
            </div>
            <div  style="margin-top: 10px;margin-left: 16px;">
              <label>合 同 附 件：</label>
              <ul class="attachment">
                <li *ngFor="let abc of applierAdd.fileName; let k=index">{{abc}}<a style="margin-left:6px; color:#ff0000" href="javascript:;" (click)="delFile(k,applierAdd.fileId)">×</a></li>
              </ul>
              <a href="javascript:;" style="margin: 15px 0 0 84px;color:#666; border-radius:4px; padding:5px 10px; background: #f6f6f6;" (click)="uploadbutton()">上 传</a>
              <input type="file" class="dropify" #prese id="prese" (change)="upload(prese.files)">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMaskAdd()">取 消</button>
        <button type="submit" class="btn btn-info" (click)="addAppliar()" >保 存</button>
      </div>
    </form>
  </div>
</div>



<div class="maskView">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">服务商信息查看</h4>
      <button type="button" class="close" (click)="closeMaskView()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div style="margin-left: 15px;">
              <label>服务商名称：</label>
              {{applierView.applyName}}
            </div>

            <div style="margin-top: 15px;margin-left: 16px;">
              <label>合 作 时 间：</label>
              {{applierView.copStarttime}}
              至
              {{applierView.copEndtime}}
              <span class="errorMessage"></span>
            </div>

            <div  style="margin-top: 15px;margin-left: 16px;">
              <label>合 同 附 件：</label>
              <ul class="attachment">
                <li *ngFor="let f of file; let k=index">
                  {{f.fileName}}
                  <a style="margin-left:6px;cursor: pointer;" [href]="URL+'/common/file/downLoadFile?path='+f.fileAddress" [download]="f.fileName">
                    <i class="icon-cloud-download"></i>下载
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMaskView()">关 闭</button>
      </div>
    </form>
  </div>
</div>



<div class="maskUpdate">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">修改服务商</h4>
      <button type="button" class="close" (click)="closemaskUpdate()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div style="margin-left: 15px;">
              <label>服务商名称：</label>
              <input type="text" id="vnewnane" name="vnewnane" (blur)="verifyEmpty('vnewnane','服务商名称不能为空')" class="noticetext" placeholder="" [(ngModel)]="applierEdit.applyName">
              <span class="errorMessage"></span>
            </div>

            <div style="margin-top: 15px;margin-left: 16px;">
              <label>合 作 时 间：</label>
              <input type="date" class="producttext" name="upnewstartTime"  id="upnewstartTime" (blur)="verifyEmpty('upnewstartTime','不能为空')" style="width:160px !important;"   [(ngModel)]="applierEdit.copStarttime" >
              <span class="errorMessage"></span>
              至
              <input type="date" class="producttext" name="upnewendTime" id="upnewendTime" (blur)="verifyEmpty('upnewendTime','不能为空')" style="width:160px !important;margin-left: 5px"  [(ngModel)]="applierEdit.copEndtime" >
              <span class="errorMessage"></span>
            </div>

            <div style="margin-top: 15px;margin-left: 15px;">
              <label>服务商介绍：</label>
              <textarea id="supplierdetailup" name="supplierdetailup" (blur)="verifyEmpty('supplierdetailup','服务商介绍不能为空')" class="noticetext" placeholder="" [(ngModel)]="applierEdit.applyDesc" rows="10"></textarea>
              <span class="errorMessage" style="margin-left:84px;"></span>
            </div>
            <div  style="margin-top: 15px;margin-left: 16px;">
              <label>合 同 附 件：</label>
              <ul class="attachment">
                <li *ngFor="let abc of applierEdit.fileName1; let k=index">{{abc}}<a style="margin-left:6px; color:#ff0000" href="javascript:;" (click)="delFile1(k,applierEdit.fileId)">×</a></li>
              </ul>
              <a href="javascript:;" style="color:#666; margin-left:84px; border-radius:4px; padding:5px 10px; background: #f6f6f6;" (click)="uploadbutton1()">上 传</a>
              <input type="file" class="dropify" #prese1 id="prese1" (change)="upload1(prese1.files)">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closemaskUpdate()">取 消</button>
        <button type="submit" class="btn btn-info" (click)="updateAppliar()" >保 存</button>
      </div>
    </form>
  </div>
</div>




