<div class="part">
  <div class="section" style="width: 65%">
    <div class="section-panel">
      <div class="total-chart" id="priceChart">
      </div>
      <div class="total-price">
        <p>总资产（元）</p>
        <span>325.67</span>
      </div>
    </div>
  </div>
  <div class="section" style="width: 35%;padding-left: 20px">
    <div class="section-panel pending-panel">
      <h3>待办事项</h3>
      <ul class="pending">
        <li>待处理工单<sup>0</sup></li>
        <li (click)="linkPendingCost()">待处理订单<sup>3</sup></li>
      </ul>
    </div>
  </div>
</div>
<div class="part">
  <div class="section" style="width: 50%">
    <div class="section-panel">
      <h3>消费账户-近期消费<a (click)="linkCost()">明&nbsp;&nbsp;细</a></h3>
      <div class="history-chart" id="costHistoryChart"></div>
    </div>
  </div>
  <div class="section" style="width: 50%;padding-left: 20px">
    <div class="section-panel">
      <h3>洗衣账户-近期消费<a (click)="linkCostDash()">明&nbsp;&nbsp;细</a></h3>
      <div class="history-chart" id="costDashHistoryChart"></div>
    </div>
  </div>
</div>
<div class="part">
  <div class="section" style="width: 100%">
    <div class="section-panel">
      <h3>服务中心</h3>
      <table class="service-list">
       <tr>
         <td>服务中心</td>
         <td>环城北路</td>
         <td>周一至周五 上午9：00-11：00 下午14:00-16:00</td>
       </tr>
      </table>
    </div>
  </div>
</div>
<div class="part-end"></div>
