<div class="count-area">
  <div class="count-left">
    <h4 class="goods-hd">摇号设置</h4>
    <div class="count-inner goods-inner">
      <h4 class="goods-hd">查询余量</h4>
      <ul class="count-list clearfix">
        <li>
          <label>大楼名称</label>
          <select name="buildingNameS" id="buildingNameS" class="search-ipt search-sel" [(ngModel)]="setInfo.buildingId"
                  (change)="getBuildingName(setInfo.buildingId)">
            <option value="">-请选择-</option>
            <option *ngFor="let num of buildings"
                    [value]="num.ID">
              {{num.NAME}}</option>
          </select>
        </li>
        <li>
          <label >停车证类型</label>
          <select class="search-ipt search-sel" id="searchtype" name="searchtype" [(ngModel)]="setInfo.type"
                  (change)="getPermitInfo()">
            <option value="">-请选择-</option>
            <option value="地面">地面</option>
            <option value="立体车库">立体车库</option>
            <option value="地下车库">地下车库</option>
          </select>
        </li>
        <li>
          <label >停车证名称</label>
          <select class="search-ipt search-sel" id="searchname" name="searchname" [(ngModel)]="setInfo.name">
            <option value="">全部</option>
            <option *ngFor="let num of names"
                    [value]="num">
              {{num}}</option>
          </select>
        </li>
      </ul>
      <h5 class="goods-hd h5">点击<span (click)="getParkNumber()">查看</span>未发放停车证数量
        <input class="search-ipt" style="width:80px;" type="number" name="parkNumber" [(ngModel)]="setInfo.parkNumber"
               disabled="disabled"/>
      </h5>
      <h4 class="goods-hd">规则设置</h4>
      <ul class="count-list clearfix">
        <li>
          <label>分配方式</label>
          <label>
            <input name="new_pstatus" type="radio" [(ngModel)]="setInfo.pstatus" value="1">人员占比
          </label>
          <label>
            <input name="new_pstatus" type="radio" [(ngModel)]="setInfo.pstatus" value="2">全体随机
          </label>
        </li>
      </ul>
      <h4 class="goods-hd">部门日期数量</h4>
      <ul class="count-list clearfix">
        <li>
          <label>选择部门</label>
          <textarea name="deptId" class="search-ipt search-sel" id="deptId"  readonly
          (focus)="openChooseWin()" rows="4">
          </textarea><!--[(ngModel)]="targetName"-->
          <ol *ngIf="targetName" class="deptList">
            <li *ngFor="let num of targetName;let i=index;">{{num}}<span *ngIf="perNum.length>0">({{perNum[i]}})</span></li>
          </ol>
          <div class="modal-more" id="deptSltWin" style="display: none">
            <h5>杭州移动各部门</h5>
            <h5>已选：&nbsp;&nbsp;
              <span>{{targetName}}</span></h5>
            <!--<div class="choose-group">
              <label class="cb-blue">
                <input type="checkbox" name="all" id="all" [(ngModel)]="isAllDept" (change)="chooseAll()">
                <span>所有人员</span>
              </label>
            </div>-->
            <div class="choose-list">
              <div class="choose-group" *ngFor="let dept of deptList;let i=index">
                <label class="cb-blue">
                  <input type="checkbox" [name]="dept.DEPT_ID" [(ngModel)]="dept.choose"
                         [value]="dept.DEPT_ID"
                         (change)="chooseDept()">
                  <span>{{dept.DEPT_NAME}}</span>
                </label>
              </div>
            </div>
            <div  class="modal-more-footer">
              <button  class="btn btn-info" type="submit" (click)="getPersonNum()">确定</button>
            </div>
          </div>
        </li>
        <li>
          <label>有效期至</label>
          <input id="dateTime" type="date" name="dateTime" class="search-ipt" [(ngModel)]="setInfo.useETime">
        </li>
        <li>
          <label>摇号数量</label>
          <input id="lotNumber" type="number" name="lotNumber" class="search-ipt search-sel" [(ngModel)]="setInfo.num">
        </li>
      </ul>
    </div>
    <div class="count-inner">
      <div class="count-build" (click)="beiginDraw()" style="font-size: 24px;">
        <div class="count-icon"><img src="../../../../../assets/image/luck.png"> </div>
        开始摇号
      </div>
    </div>
  </div>
  <div class="count-result" *ngIf="result">
    <h4>摇奖结果公布区</h4>
    <div class="bigBg">
      <table width="100%">
        <tr class="topBg">
          <th>序号</th>
          <th>员工姓名</th>
          <th>员工编号</th>
          <th>车牌号码</th>
          <th>联系电话</th>
          <th style="color:#FF0055">审核意见</th>
        </tr>
        <tr *ngFor="let dept of result;let i=index">
          <td>{{i+1}}</td>
          <td>{{dept.USERNAME}}</td>
          <td>{{dept.USERID}}</td>
          <td>{{dept.CAR_NUMBER}}</td>
          <td>{{dept.TELE_NUM}}</td>
          <td>
            <label>
              <input [name]="'deptstatus'+i" type="radio" [(ngModel)]="status[i]" value="1">同意
            </label>
            <label>
              <input [name]="'deptstatus'+i" type="radio" [(ngModel)]="status[i]" value="2">不同意
            </label>
          </td>
        </tr>
      </table>
      <div class="count-foot"><button (click)="submit()">提交最终结果</button></div>
    </div>
  </div>
</div>
<div class="mask">
  <div class="box">
    <div class="loader">
      <div class="loading-3">
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
        <i></i>
      </div>

    </div>
    <h3 style="width:50%;line-height: 60px; font-size: 40px; text-align: center;margin:100px auto;">正在摇号，请等待...</h3>
  </div>
</div>

