.count-area{
  padding: 20px 20px 0 20px;
  /*min-width: 1140px;*/
}
.count-inner{
  height: auto;
  padding: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
}
.count-inner:focus{
  outline: none;
}
.count-left{
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}

.count-list{
  padding-left: 20px;
}
.count-list>li{
  float: left;
  text-align: left;
  width:33%;
}
.count-list>li>a,.count-build a{
  position: relative;
  color: #8895a3;
}
.count-list>li>a:hover{
  color: #6b7481;
}
.count-point{
  position: absolute;
  bottom: -15px;
  left: 5px;
  padding: 2px 6px;
  border-radius: 50%;
  color: #eeeeee;
  background-color: #f03818;
  box-shadow: 1px 2px 2px #b5bfcc;
  z-index: 1;
}
.count-icon>i{
  font-size: 40px;
}
.count-build{
  display: block;
  padding: 14px;
  margin: 20px 15px;
  border: 1px solid #eee;
  line-height: 30px;
  border-radius: 3px;
  color: #8895a3;
  text-align: center;
  cursor: pointer;
}
.count-build:hover{
  background-color: #f8f8f8;
}
.goods-area{
  padding: 20px;
  min-width: 1100px;
}
.goods-inner{
  width: 100%;
  padding:15px 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 2px 4px 15px rgba(158, 178, 178, 0.33);
  background-image: linear-gradient(45deg, #7FFFD4 25%, transparent 25%, transparent), linear-gradient(-45deg, #7FFFD4 25%, transparent 25%, transparent), linear-gradient(45deg, transparent 75%, #7FFFD4 75%), linear-gradient(-45deg, transparent 75%, #7FFFD4 75%);
}
.goods-hd{
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
    line-height: 20px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Adobe 楷体 Std R";
}
.goods-hd.h5{
  font-size: 15px;
  padding-left:38px;
}
.goods-hd span{
  display: inline-block;
  padding:5px 10px; ;
  background-color: #1ab2ff;
  border-radius: 4px;
  color:#fff;
  cursor: pointer;
  margin:0 5px;
}
.tb-fn {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 24px;
  font-size: 10px;
  color: #999;
  text-align: right;
  cursor: pointer;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;
}
textarea:disabled{
  background-color: rgba(255,255,255,0);
}
.count-list li>label {
  float: left;
  color: #686868;
  height: 30px;
  width: 70px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;;
  text-align: right;
}
.search-ipt {
  height: 20px;
  width: calc(100% - 140px);
  min-width: 70px;
  box-sizing: content-box;
  padding: 3px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e7ea;
  max-width:250px;
}
.modal-more{
  position: absolute;
  width: 700px;
  top: 10%;
  left: 50%;
  margin-left: -350px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 6px 0 6px rgba(0,0,0,.1), -6px 0 6px rgba(0,0,0,.1), 0 6px 6px rgba(0,0,0,.1);
  z-index: 6;
}
.modal-more h5{
  line-height: 30px;
}
.modal-more-footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 3px;
  clear: both;
}
.choose-list{
  padding-bottom: 10px;
  clear: both;
}
.choose-group{
  float: left;
  width: 25%;
  height: 24px;
  line-height: 18px;
  padding: 2px;
  text-align: center;
  box-sizing: border-box;
}
.cb-blue>input[type=checkbox]{
  position: absolute;
  opacity: 0;
}
.cb-blue span{
  display: inline-block;
  width: 100%;
  border:2px solid #d6d5d7;
  border-radius: 3px;
  color: #8d9ea7;
  background-color: #ffffff;
  transition-duration: 300ms;
  box-sizing: border-box;
  cursor: pointer;
}
.cb-blue>input[type=checkbox]:checked+span{
  border:2px solid #03a9f3;
  color: #ffffff;
  background-color: #03a9f3;
}
.fitBox{
  position: relative;
  float: right;
  top: -25px;
  right: -15px;
  padding: 0 5px;
  cursor: pointer;
}
.fitBox a i{
  padding: 0;
}
.btn-close{
  color: #d75452;
}
.btn-add{
  color: #03a9f3;
}
.btn-info {
  margin-left: 15px;
  padding: .3rem 1.2rem;
  border-radius: 4px;
  background: #03a9f3;
  border: 1px solid #03a9f3;
  color: #fff;
}
.btn-info:hover {
  background: #03a9f3;
  opacity: .8;
  border: 1px solid #03a9f3;
  cursor: pointer;
}
.deptList{
  padding:5px 25px;
  max-height:80px;
  line-height:20px;
  overflow-y: auto;
}
.mask{
  display: none;
  position: fixed;
  left:0;
  top:0;
  z-index: 99999;
  width:100%;
  height:100%;
  background-color: rgba(128,128,128,.6);
}
/*.box{
  box-sizing: border-box;
  width: 60%;
  display: flex;
  margin: 15% auto;
  _overflow: hidden;
}*/
.box{
  width:100%;
}
.loader{
  width: 32%;
  _border: 1px solid #ccc;
  _float: left;
  margin:25% auto 0;
  height: 200px;
  display: flex;
  transform: scale(3,3);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
@-webkit-keyframes loading-3{
  50%{
    transform: scale(0.4);
    opacity: 0.3;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.loading-3{
  position: relative;
}
.loading-3 i{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: #333;
}
.loading-3 i:nth-child(1){
  top: 25px;
  left: 0;
  -webkit-animation: loading-3 1s ease 0s infinite;
}
.loading-3 i:nth-child(2){
  top: 17px;
  left: 17px;
  -webkit-animation: loading-3 1s ease 0.12s infinite;
}
.loading-3 i:nth-child(3){
  top: 0;
  left: 25px;
  -webkit-animation: loading-3 1s ease 0.24s infinite;
}
.loading-3 i:nth-child(4){
  top: -17px;
  left: 17px;
  -webkit-animation: loading-3 1s ease 0.36s infinite;
}
.loading-3 i:nth-child(5){
  top: -25px;
  left: 0;
  -webkit-animation: loading-3 1s ease 0.48s infinite;
}
.loading-3 i:nth-child(6){
  top: -17px;
  left: -17px;
  -webkit-animation: loading-3 1s ease 0.6s infinite;
}
.loading-3 i:nth-child(7){
  top: 0;
  left: -25px;
  -webkit-animation: loading-3 1s ease 0.72s infinite;
}
.loading-3 i:nth-child(8){
  top: 17px;
  left: -17px;
  -webkit-animation: loading-3 1s ease 0.84s infinite;
}
.count-result{
  display: none;
  min-height:400px;
  width:100%;
}
.count-result h4{
  text-align: center;
  font:bold 24px/40px "Adobe 楷体 Std R";
}
.bigBg{
  width:100%;
  height:100%;
}
.bigBg td{
  text-align: center;
}
.bigBg tr{
  line-height:36px;
}
.bigBg tr:nth-child(odd){background:#F4F4F4;}
.bigBg tr.topBg{
  width:100%;
  height:40px;
  color:yellow;
  font:bold 18px/40px 'Adobe 楷体 Std R';
  background: repeating-linear-gradient(45deg, orange, #B0E0E6 25px);
  z-index:1;
  -webkit-animation: flymove 20s  linear infinite;
  -moz-animation: flymove 20s linear infinite;
  animation: flymove 20s linear infinite;
}

@-webkit-keyframes flymove{
  0%{background-position:0 0;}
  100%{background-position:-2000px 0;}
}
@-moz-keyframes flymove{
  0%{background-position:0 0;}
  100%{background-position:2000px 0;}
}
.count-foot{
  margin-top:10px;
  height:40px;
}
.count-foot button{
  padding:6px 15px;
  background-color:#1ab2ff;
  color:#fff;
  border-radius: 4px;
  cursor: pointer;
}
