
    <div class="right">
      <div class="wrap-content">
        <div class="wrap-space">
          <div class="wrap-b">
            <div class="b-head clearfix">
              <div class="b-head-left">
                <span [routerLink]="['../vegtable']">净菜商品管理</span>
                <span [routerLink]="['../vegorder']" class="active">订单管理</span>
                <span [routerLink]="['../count']">净菜统计</span>
              </div>
              <div class="b-head-right">
                  <div class="content-box" [routerLink]="['../vegbuy']"><i class="icon-action-undo"></i> 继续订购</div>
              </div>
            </div>
            <div class="b-con tuanmenu">
              <div class="wrap">
                <ul>
                  <li>
                    <label>净菜名称：</label>
                    <input type="text"  [(ngModel)]="productName" name="productName">
                  </li>
                  <li>
                    <label>订单编号：</label>
                    <input type="text" [(ngModel)]="orderId" name="orderId">
                  </li>
                  <li>
                    <label>服务中心：</label>
                    <select class="noticetext" [(ngModel)]="serviceCenter">
                      <option value="">-全部-</option>
                      <option *ngFor="let center of serverCenters; let idx=index" value="{{center.name}}">{{center.name}}</option>
                    </select>
                  </li>
                  <li>
                    <label>开始日期：</label>
                    <input type="date" [(ngModel)]="orderBTime" name="orderBTime">
                  </li>
                  <li>
                    <label>截止日期：</label>
                    <input type="date" [(ngModel)]="orderETime" name="orderETime">
                  </li>
                  <li>
                    <label>订单状态：</label>
                    <select class="noticetext" [(ngModel)]="orderStatus" name="orderType">
                      <option value="">全部</option>
                      <option value="0">已付款</option>
                      <option value="4">已配货</option>
                      <option value="1">已到货</option>
                      <option value="2">退单</option>
                    </select>
                  </li>
                </ul>
                <div class="search">
                  <a href="javascript: void(0);" (click)="getOrderAllList()" >查 &nbsp;&nbsp;询</a>
                  <a href="javascript: void(0);" (click)="exportOrderAllList()" >导 &nbsp;&nbsp;出</a>
                  <a href="javascript: void(0);" (click)="batchCook()" >批量配货</a>
                </div>
              </div>

              <div class="list-table" *ngFor="let order of orders;let idx=index">
                <dt>
                <table class="table-head0">
                  <tr>
                    <td class="zero">订单编号：{{order.id}}</td>
                    <td class="zero">服务中心：{{order.serviceCenter}}</td>
                    <td class="zero">订单价格：{{order.payment}}元</td>
                    <td class="zero status" *ngIf="order.status=='0'">订单状态：已付款</td>
                    <td class="zero status" *ngIf="order.status=='4'">订单状态：已配货</td>
                    <td class="zero status" *ngIf="order.status=='1'">订单状态：已到货</td>
                    <td class="zero status" *ngIf="order.status=='2'">订单状态：退单</td>
                    <td class="zero">下单时间：{{order.payTime}}</td>
                    <td class="zero" *ngIf="order.status=='0'" >
                      <button type="button" class="btn btn-info" style="padding: 2px 2px" (click)="update(order.id,'4')">已配货</button>
                      <button type="button" class="btn btn-info" style="padding: 2px 2px" (click)="update(order.id,'2')">退单</button>
                    </td>
                  </tr>
                </table>
                </dt>
                <dl>
                  <dt>
                  <table class="table-head">
                    <tr>
                      <td class="fir">净菜信息</td>
                      <td class="sec">单价（元）</td>
                      <td class="three">数量</td>
                      <td class="four">合计（元）</td>
                      <td class="zero">
                        <!--<a class="tre"  title="删除" href="javascript:void(0);" (click)="delete(order.id)"></a>-->
                      </td>
                      <td class="zero" >
                        <a class="btn-print" (mouseover)="loadFormData(order)">打印
                          <app-print-bar
                            [title] = "title"
                            [formData] = "formData">
                          </app-print-bar>
                        </a>
                      </td>
                    </tr>
                  </table>
                  </dt>
                  <dd *ngFor="let vegetableOrderItem of order.vegetableOrderItems;let idx=index">
                    <table style="width:100%;">
                      <td class="eight">
                        <img *ngIf="vegetableOrderItem.imgPath" [src]="vegetableOrderItem.imgPath | imgsafeurl"/>
                      </td>
                      <td class="sec" style="text-align: left"> <p class="headtxt">{{vegetableOrderItem.productName}}</p></td>
                      <td class="sec">￥{{vegetableOrderItem.unitPrice}}</td>
                      <td class="three">{{vegetableOrderItem.quantity}}</td>
                      <td class="four">￥{{vegetableOrderItem.totalPrice}}</td>
                    </table>
                  </dd>
                </dl>
              </div>
              <app-turn-bar
                [pageNo]="pageNo"
                [pageSize]="pageSize"
                [total]="total"
                [length] = 5
                (turnEvent)="goPage($event)">
              </app-turn-bar>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mask">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">修改订单</h4>
          <button type="button" class="close" (click)="closeMask()">×</button>
        </div>
        <form class="form-building form-material">
          <input type="hidden" name="updateOrder.id"  [(ngModel)]="updateOrder.id">
          <input type="hidden" name="updateOrder.status"  [(ngModel)]="updateOrder.status">
          <div class="modal-body clearfix">
            <div>
              <label>订单状态：退单</label>
            </div>

            <div class="modal-right">
              <label style="float: left">情况说明：</label>
              <textarea name="notice" id="notice"
                        class="form-control" rows="10"
                        style="width: 85%;!important;"   [(ngModel)]="updateOrder.note" (blur)="isEmpty('notice','说明不能为空')" >
               </textarea>
              <span class="errorMessage" style="display: block; margin-left:83px;"></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeMask()">取 消</button>
            <button type="submit" class="btn btn-info" (click)="updateOrders()" >保 存</button>
          </div>
        </form>
      </div>
    </div>
    <div class="batch">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">批量配货</h4>
          <button type="button" class="close" (click)="closeBatch()">×</button>
        </div>
        <form class="form-building form-material">
          <div class="modal-body clearfix">
            <div>
              <label>订单时间{{orderETime}}之前，确定批量配货吗？</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="closeBatch()">取 消</button>
            <button type="submit" class="btn btn-info" (click)="confirmBatch()" >确认配货</button>
          </div>
        </form>
      </div>
    </div>


