<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <span>订单信息</span>
          <div class="b-head-right">
            <div class="content-box" onclick="history.go(-1)">
              <i class="icon-action-undo"></i>继续购物</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap">
            <ul>
              <li>
                <select [(ngModel)]="search" >
                  <option value="">全部</option>
                  <option value="0">已付款</option>
                  <option value="1">已到货</option>
                  <option value="2">退单</option>
                  <option value="4">已配货</option>
                </select>
              </li>
              <li><a class="search" href="javascript: void(0);" (click)="getOrderList(1)" >查询</a></li>
            </ul>
          </div>
          <div class="div-none" *ngIf="orders&&orders.length === 0">暂无信息</div>
          <div class="list-table" *ngFor="let order of orders;let idx=index">
            <dt>
            <table class="table-head0">
              <tr>
                <td class="zero">订单编号：{{order.orderNo}}</td>
                <td class="zero">服务中心：{{order.serviceCenter}}</td>
                <td class="zero">下单时间：{{order.payTime}}</td>
                <td class="zero">订单价格：￥{{order.payment|number:'1.2-2'}}</td>
                <td class="zero status" *ngIf="order.status=='0'">订单状态：已付款</td>
                <td class="zero status" *ngIf="order.status=='4'">订单状态：已配货</td>
                <td class="zero status" *ngIf="order.status=='1'">订单状态：已到货</td>
                <td class="zero status" *ngIf="order.status=='2'">订单状态：退单</td>
              </tr>
            </table>
            </dt>
            <dl>
              <dt>
              <table class="table-head">
                <tr>
                  <td class="fir">商品信息</td>
                  <td class="sec">单价（元）</td>
                  <td class="three">数量</td>
                  <td class="four">合计（元）</td>
                  <td class="zero"  *ngIf="order.status=='4'" >
                    <button type="button" class="btn btn-info" style="padding: 2px 2px" (click)="updateOrders(order.id,'1')">确认收货</button>
                  </td>
                </tr>
              </table>
              </dt>
              <dd  *ngFor="let item of order.orderItems;let idx=index">
                <table style="width:100%;">
                  <td class="eight">
                    <img *ngIf="item.imagePath!==''" [src]="ipSetting.ip + item.imagePath"/>
                  </td>
                  <td class="sec" style="text-align: left"> <p class="headtxt">{{item.productName}}</p></td>
                  <td class="sec">￥{{item.unitPrice|number:'1.2-2'}}</td>
                  <td class="three">{{item.quantity}}</td>
                  <td class="four">￥{{item.totalPrice|number:'1.2-2'}}</td>
                </table>
              </dd>
            </dl>
          </div>
        </div>
        <!--翻页-->
        <app-turn-bar
          [pageNo] = "pageNo"
          [pageSize] = "pageSize"
          [total] = "total"
          (turnEvent) = "getOrderList($event)">
        </app-turn-bar>
      </div>
    </div>
  </div>
</div>




