
<div class="energy">
  <div class="energy-header clearfix">
    <a href="javascript:;" class="active" (click)="waterFade($event)">用水管理</a>
    <a href="javascript:;" (click)="electricFade($event)">用电管理</a>
    <a href="javascript:;" (click)="gasFade($event)">燃气管理</a>
  </div>
  <div class="energy-cont">
    <div class="energy-chandlery clearfix">
      <ul class="company-search clearfix">

        <li >
          <label >大楼名称</label>
          <select name="searchB" class="search-ipt" [(ngModel)]="search.buildingName">
            <option value="">-全部-</option>
            <option *ngFor="let num of buildings"
                    [value]="num.NAME">
              {{num.NAME}}</option>
          </select>
        </li>
        <li >
          <label >开始时间</label>
          <input type="month" name="searchC" class="search-ipt" [(ngModel)]="search.bTime">
        </li>
        <li >
          <label >结束时间</label>
          <input type="month" name="searchD" class="search-ipt" [(ngModel)]="search.eTime">
        </li>
      </ul>
      <div class="search-right"><a href="javascript:;" class="search-btn" (click)="listSearch()"><i class="icon-magnifier"></i> 查 询</a></div>
    </div>
    <div class="row" *ngIf="rule&&jurisdiction&&jurisdiction.isInstall">
      <a class="btn btn-lead" href="javascript:;" (click)="leadIn()"><i class="icon-docs"></i> 导 入</a>
      <a class="btn btn-new" href="javascript:;" (click)="leadOut()"><i class="icon-docs"></i> 导 出</a>
      <a class="btn btn-new" href="javascript:;" (click)="creatList()"><i class="icon-plus"></i> 新 增</a>
    </div>
    <!--用水信息-->
    <div class="energy-container energy-water">
      <div class="table-respons">
        <table class="table" width="100%">
          <thead>
            <tr>
              <th *ngFor="let title of Head; let i=index">{{title}}</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let inner of record; let i=index">
            <td>{{inner.buildingNum}}</td>
            <td>{{inner.buildingName}}</td>
            <td>{{inner.month}}</td>
            <td>{{inner.lastNum}}</td>
            <td>{{inner.nomNum}}</td>
            <td>{{inner.useNum}}</td>
            <td>{{inner.unitprice}}</td>
            <td>{{inner.cost}}</td>
            <td>
              <a href="javascript:void(0)" class="text-inverse" *ngIf="rule&&jurisdiction&&jurisdiction.isUpdate"
                 (click)="editAttach(i);" style="padding-right: 10px;">
                <i class="icon-pencil"></i>
              </a>
              <a href="javascript:void(0)" class="text-inverse" *ngIf="rule&&jurisdiction&&jurisdiction.isDelete"
                 (click)="delAttach(inner.id);">
                <i class="icon-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-turn-bar
      [pageNo]="pageNo"
      [pageSize]="pageSize"
      [total]="total"
      [length] = 5
      (turnEvent)="goPage($event)">
    </app-turn-bar>
  </div>
</div>
<!--新增能耗信息弹窗-->
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>新增能耗信息</p>
      <button class="close" (click)="recordCancel()">×</button>
    </div>
    <form class="repair-form clearfix" method="post" name="topForm" >
      <div class="form-control clearfix">
        <span class="form-label">大楼名称</span>
        <div class="form-inp">
          <select id="buildingId" name="buildingId" class="company-ipt company-sel" [(ngModel)]="repairname.buildingId" (blur)="verifyId()">
            <option *ngFor="let num of buildings"
                    [value]="num.ID">
              {{num.NAME}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">月份</span>
        <div class="form-inp">
          <input autocomplete="off" class="company-ipt" id="month" name="month" required type="month" [(ngModel)]="repairname.month" (blur)="verifymonth()">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">上期度数</span>
        <div class="form-inp">
          <input autocomplete="off" type="number" id="lastNum" name="lastNum" class="company-ipt company-sel"
                 [(ngModel)]="repairname.lastNum" (blur)="verifylastNum()">

          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">本期度数</span>
        <div class="form-inp">
          <input autocomplete="off" class="company-ipt" id="nomNum" name="nomNum" required type="text" [(ngModel)]="repairname.nomNum" (blur)="verifynomNum()" maxlength="9">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">本月使用数</span>
        <div class="form-inp">
          <input autocomplete="off" type="number" id="useNum" name="useNum" class="company-ipt company-sel" [(ngModel)]="repairname.useNum"
                 (blur)="verifyuseNum()" maxlength="9">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix">
        <span class="form-label">单价</span>
        <div class="form-inp">
          <input autocomplete="off" class="company-ipt" id="unitprice" name="unitprice" required type="number" [(ngModel)]="repairname.unitprice" (blur)="verifyunitprice()" maxlength="5">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control  clearfix" *ngIf="!editBool">
        <span class="form-label" id="doubleT">水费</span>
        <div class="form-inp">
          <input autocomplete="off" class="company-ipt" name="cost" required type="number" [(ngModel)]="repairname.cost" maxlength="5">
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>

    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="recordSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="recordCancel()">取 消</button>
    </div>
  </div>
</div>
<!-- Induction 导入  -->
<div class="modal-back" id="induction" style="display:none;">
  <div class="modal induction">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导入</h4>
          <button type="button" class="close pull-right" (click)="closeInduction()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body clearfix">
          <div class="form-control">
            <div class="form-inp clearfix">
              <div class="select-file">
                <input type="file" value="" id="prese" #prese (change)="prese_upload(prese.files)" accept="application/vnd.ms-excel,.xlsx">
                <a onclick="$('#prese').trigger('click')">选取文件</a>
              </div>
              <div class="download-file">
                <a id="downLoadTemplate" href="/proxy/building/energy/exportTemplate">下载模板</a>
              </div>
            </div>
          </div>
          <div class="foot" style="height:30px;">
            <!-- <button type="submit" class="btn-mask btn-info" (click)="inductionUploadFile(prese2.files)">确 定</button>
             <button type="button" class="btn-mask btn-danger" (click)="closeInductionDialog()">取 消</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Deriving 导出 -->
<div class="modal-back" id= "deriving" style="_display:none;">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导 出</h4>
          <button type="button" class="close pull-right" (click)="closeDeriving()">×</button>
        </div>
        <div class="modal-body">
          <!-- excel 导出 -->
          <div class="excel-out">
            <p>信息表.xls</p>
          </div>
          <!-- footer -->
          <div class="foot">
            <button type="submit" class="btn-mask btn-info" (click)="downDeriving()">确 定</button>
            <button type="button" class="btn-mask btn-danger" (click)="closeDeriving()">取 消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
