.wrap-content{
  padding:20px;
}
.b-head{
  border-bottom: 2px solid #f7fbfe;
}
.b-head span{
  font-size: 16px;
  line-height: 36px;
  padding: 0 20px;
  display: inline-block;
  color: #04a9f3;
  cursor: pointer;
  outline: none;
}
.b-head span.active{
  color: #ff5c39;
  border-bottom: 3px solid #ff5c39;
}
.b-head-left{float: left;}
.b-head-right{float: right;right: 40px;}
.b-head-right .content-box{float: left; padding-left: 10px;padding-right: 10px;border:1px solid #eee;margin-right:10px;line-height: 32px;border-radius: 3px;font-size: 15px;color: #ff3c00; outline:none;}
.b-head-right .content-box:last-child{
  margin-right:0;
}
.b-head-right .content-box i{font-size:14px;}
.b-head-right .content-box img{margin-right: 4px;vertical-align: -3px}
.b-head-right .content-box:hover{cursor: pointer;border-color: #ff3c00;}
.b-con .wrap{
  margin:15px 0 ;
}
.btn{
  padding: 9px 20px;
  border-radius: 5px;
  color: #fff;
  outline:none;
  cursor: pointer;
  transition: all .5s;
}
.btn-danger{
  border-radius:6px;
  font-size: 14px;
  background: #fb9678;
}
.btn-info{
  margin-left: 15px;
  background: #03a9f3;
}
.btn-info:hover{
  background: #74A4F3;
}
.btn-danger:hover{ background: #ff3c00;}

.maskUpdate,.maskAdd {
  display: none;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,.4);
  z-index:999;
}
.modal-content{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  width:463px;
  margin:40px auto 0;
}
.close{
  cursor: pointer;
}
.modal-header{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  background-color: #f1f5f8;
}
.modal-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px;
  background-color: #f1f5f8;
}
button{
  border:none;
  font-size:16px;
  background: none;
}
.modal-title{
  font-size:18px;
  color:#2b2b2b;
}
.modal-body{
  position: relative;
  padding: 15px;
}
.modal-left{
  width:180px;
  height:200px;
  border: 2px solid #E5E5E5;
  float:left;
}
.modal-right{
  width:260px;
  margin-left:20px;
  float: left;
}
.errorMessage{
  color: #ff0000;
  font-size: 12px;
}
.list-table{
  width: 100%;
  min-height:270px;
  margin-top: 10px;
}
.list-table .table-head{
  line-height: 34px;
  width: 100%;
}
.list-table thead{
  width: 100%;
  height: 34px;
  background: #eaf8ff;
  border: 1px solid #aed8ff;
  color: #333;
}
.list-table .table-head td{
  text-align: center;
  text-indent: 0;
  font-size: 12px;
  color: #333;
}
.list-table tbody{
  border:1px solid #d4d4d4;
}
table tbody tr:nth-child(odd){background:#F4F4F4;}
.list-table .fir{
  width: 10%;
}
.list-table .sec{
  width: 12%;
}
.list-table .five{
  min-width:70px;
}
select,input{
  outline:medium;
  width: 170px;
  padding:0 10px;
  box-sizing: content-box;
  height: 31px;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px #ddd inset;
  -webkit-box-shadow: 0 0 3px #ddd inset;
  border-radius: 4px;
}
.list-table .ope-list a {
  width: 22px;
  height: 22px;
  display: inline-block;
}
.list-table .ope-list a.two{
  background: url('../../../../../assets/image/icon-edit.png') no-repeat;
  margin:10px 10px 0 0;
}
.list-table .ope-list a.tre{
  background: url('../../../../../assets/image/icon-del.png') no-repeat;
}
.form-control span{
  opacity: 0;
}
.form-error span{
   opacity: 1;
 }
