<div class="wrap-content">
  <div class="wrap-space">
    <div class="wrap-b">
      <div class="b-head clearfix">
        <div class="b-head-left">
          <span [routerLink]="['../price']">服务内容</span>
          <span class="active">服务时间</span>
        </div>

        <div class="b-head-right">
          <div class="content-box" onclick="history.go(-1)"><i class="icon-reload"></i>返回</div>
        </div>
      </div>
      <div class="b-con">
        <div class="wrap clearfix">
          <select class="facilitator" [(ngModel)]="serveChat" name="serveChat22" (change)="facChange()">
            <option *ngFor="let applier of applierList;let idx=index" value="{{applier.applyId}}" >{{applier.applyName}}</option>
          </select>
          <a class="btn btn-danger"  (click)="add()" href="javascript:;" style="padding: 7px 15px;float: right;"><i class="icon-plus"></i> 新增</a>
        </div>
        <div class="list-table">
          <table class="table-head">
            <thead>
              <tr>
                <th class="fir">服务中心</th>
                <th class="sec">星期一</th>
                <th class="sec">星期二</th>
                <th class="sec">星期三</th>
                <th class="sec">星期四</th>
                <th class="sec">星期五</th>
                <th class="sec">星期六</th>
                <th class="sec">星期日</th>
                <td class="five">操作
                </td>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products;let idx=index">
              <td class="fir">{{product.center.name}}</td>
              <td class="sec" *ngFor="let abc of product.time;let zot=index" ><p *ngIf="abc.btime!==null">{{abc.btime}}--{{abc.etime}}</p></td>
              <td class="five">
                <div class="ope-list">
                  <a class="two" title="修改" href="javascript:void(0);" (click)="update(product.center.id,product.center.name,idx)"></a>
                  <a class="tre" title="删除" href="javascript:void(0);" (click)="delete(product.center.id)"></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="maskAdd">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">新增服务时间</h4>
      <button type="button" class="close" (click)="closeMaskAdd()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div class="form-control">
              <label>服务商：</label>
              <select id="serveChat" name="serveChat" class="noticetext"
                      (blur)="verifyEmpty('serveChat','服务商不能为空')"
                      [(ngModel)]="productAdd.facilitatorId">
                <!--<option value="">-请选择-</option>-->
                <option *ngFor="let applier of applierList;let idx=index" value="{{applier.applyId}}">{{applier.applyName}}</option>
              </select>
              <span class="errorMessage"></span>
            </div>
            <div class="form-control">
              <label>服务中心：</label>
              <select id="servePlace" name="servePlace" class="noticetext"
                      (blur)="verifyEmpty('servePlace','服务中心不能为空')"
                      [(ngModel)]="productAdd.centerId">
                <!--<option value="">-请选择-</option>-->
                <option *ngFor="let center of serverCenters;let idx=index" value="{{center.id}}">{{center.name}}</option>
              </select>
              <span class="errorMessage"></span>
            </div>
            <div class="form-control">
              <label>服务时间：</label>
              <select id="serveDate" class="noticetext" name="serveDate" (blur)="verifyEmpty('serveDate','服务时间不能为空')"
                      [(ngModel)]="productAdd.day">
                <option value="">-请选择-</option>
                <option value="1">星期一</option>
                <option value="2">星期二</option>
                <option value="3">星期三</option>
                <option value="4">星期四</option>
                <option value="5">星期五</option>
                <option value="6">星期六</option>
                <option value="7">星期日</option>
              </select>
              <span class="errorMessage"></span>
            </div>
            <div class="form-control">
              <label>开始时间：</label>
              <input type="time" id="bTime_add" class="noticetext" name="bTime_add"
                     (blur)="verifyEmpty('bTime_add','开始时间不能为空')" maxlength="20"  [(ngModel)]="productAdd.bTime">
              <span class="errorMessage"></span>
            </div>
            <div class="form-control">
              <label>结束时间：</label>
              <input type="time" id="eTime_add" class="noticetext"  name="eTime_add" (blur)="verifyEmpty('eTime_add','结束时间不能为空')"   [(ngModel)]="productAdd.eTime" maxlength="10">
              <span class="errorMessage"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMaskAdd()">取 消</button>
        <button type="submit" class="btn btn-info" (click)="addProduct()" >保 存</button>
      </div>
    </form>
  </div>
</div>
<div class="maskUpdate">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">修改服务时间</h4>
      <button type="button" class="close" (click)="closeMaskUp()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div>
              <div>
                <label>服务中心：</label>
                <input id="supplierId_edit" name="supplierId_edit" disabled="disabled" value="">
              </div>
            </div>
            <div style="margin-top: 10px;">
              <label>开始时间：</label>
              <input type="time" id="appcotent_edit"  class="noticetext" name="appcotent_edit"  (blur)="verifyEmpty('appcotent_edit','时间不能为空')" maxlength="20"
                     [(ngModel)]="productUp.appcotent">
              <span class="errorMessage"></span>
            </div>
            <div style="margin-top: 10px;">
              <label>结束时间：</label>
              <input type="time" id="unit_edit"  class="noticetext" name="unit_edit" (blur)="verifyEmpty('unit_edit','时间不能为空')"   [(ngModel)]="productUp.unit" maxlength="10">
              <span class="errorMessage"></span>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMaskUp()">取 消</button>
        <button type="submit" class="btn btn-info"   (click)="updateProduct()" >保 存</button>
      </div>
    </form>
  </div>
</div>

