.count-area{
  padding: 20px 20px 0 20px;
}
.count-inner{
  padding: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
}
.count-left{
  display: inline-block;
  width: 80%;
  min-width: 800px;
  padding-right: 20px;
  box-sizing: border-box;
}
.count-right{
  float: right;
  width: 20%;
}
.count-inner{
  height: 160px;
}
.count-list>li{
  float: left;
  width: 110px;
  height: 80px;
  text-align: center;
}
.count-list>li>a,.count-build a{
  position: relative;
  color: #8895a3;
}
.count-list>li>a:hover{
  color: #6b7481;
}
.count-point{
  position: absolute;
  bottom: -15px;
  left: 5px;
  padding: 2px 6px;
  border-radius: 50%;
  color: #eeeeee;
  background-color: #f03818;
  box-shadow: 1px 2px 2px #b5bfcc;
  z-index: 1;
}
@keyframes pointShark
{
  0% {bottom: -15px;left:5px;}
  25% {bottom: -10px;left:10px;}
  50% {bottom: -15px;left:15px;}
  75% {bottom: -20px;left:10px;}
  100% {bottom: -15px;left:5px;}
}
.count-list>li>a:hover .count-point{
  animation: pointShark 500ms;
  -webkit-animation: pointShark 500ms;
}
.count-icon>i{
  font-size: 40px;
}
.count-build{
  display: block;
  padding: 14px;
  margin: 20px 15px;
  border: 1px solid #eee;
  line-height: 30px;
  border-radius: 3px;
  color: #8895a3;
  text-align: center;
  cursor: pointer;
}
.count-build:hover{
  background-color: #f8f8f8;
}
.goods-area{
  padding: 20px;
  min-width: 1100px;
}
.goods-inner{
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
}
.goods-inner:hover,.count-inner:hover{
  box-shadow: 2px 4px 15px rgba(158, 178, 178, 0.33);
}
.goods-hd{
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: 600;
}
.goods-hd>em{
  float: left;
  display: inline;
  height: 24px;
  margin-right: 5px;
  font-size: 20px;
  font-family: "Adobe 楷体 Std R";
}
.goods-hd p {
  display: block;
  line-height: 24px;
  height: 24px;
  color: #999;
  font-weight: 400;
}
.tb-fn {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 24px;
  font-size: 10px;
  color: #999;
  text-align: right;
  cursor: pointer;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;
}
.goods-list{
  padding: 0 21px;
  min-height: 200px;
  overflow: hidden;
  clear: both;
}
.goods-list li{
  display: block;
  float: left;
  width: 48.5%;
  overflow: hidden;
  margin: 0 0.5% 25px 0;
  cursor: pointer;
}
.goods-list li a{
  width: 100%;
  height: 100%;
  color: #0c0d0e;
}
.goods-list li a h5 {
  margin-top: 5px;
  font-size: 16px;
  overflow: hidden;
  line-height: 28px;
  font-weight: normal;
}
.goods-list a:hover h5,.goods-list a:hover h6{
  color: #F40;
}
.goods-list a h6{
  font-size: 14px;
  color: #fb9678;
}
.goods-list a textarea,.goods-list a p{
  width: 100%;
  line-height: 24px;
  border: none;
  color: #999;
  font-size: 14px;
  overflow: hidden;
}
.goods-list a:hover textarea{
  overflow-y: auto;
}
textarea:disabled{
  background-color: rgba(255,255,255,0);
}
.img-wrap{
  float: left;
  height: 180px;
  width: 240px;
  background: #4f4f4f;
  overflow: hidden;
}
.img-wrap img{
  width: 100%;
  height: auto;
  min-height: 180px;
  display: block;
  background: #fff;
  opacity: .9;
  filter: alpha(opacity=90);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.img-wrap:hover img {
  opacity: .8;
  filter: alpha(opacity=80);
}
.goods-msg{
  height: 180px;
  overflow: hidden;
  padding: 0 4px 0 6px;
}
.goods-extra{
  height: 20px;
  line-height: 20px;
}
.goods-extra i{
  padding-right: 5px;
}
.response{
  color: #03a9f3;
}
.finish{
  color: #30e260;
}
.nonTarget{
  color: #a9d8d8;
}
.wait{
  color: #fb9678;
}
.fn1{
  color: #cc539f;
}
.btn-fn1 {
  display: inline-block;
  border-radius: 10px;
  height: 24px;
  padding: 0 10px;
  color: #ffffff;
  background-color: #cc539f;
  transition-duration: 200ms;
}
.btn-fn1:hover{
  background-color: #f059c2;
}
.fn2{
  color: #cc761b;
}
.btn-fn2 {
  display: inline-block;
  border-radius: 10px;
  height: 24px;
  padding: 0 10px;
  color: #ffffff;
  background-color: #cc761b;
  transition-duration: 200ms;
}
.btn-fn2:hover{
  background-color: #ec8700;
}
.fn3{
  color: #cc1c24;
}
.btn-fn3 {
  display: inline-block;
  border-radius: 10px;
  height: 24px;
  padding: 0 10px;
  color: #ffffff;
  background-color: #cc1c24;
  transition-duration: 200ms;
}
.btn-fn3:hover{
  background-color: #fe1d26;
}
.btn-mg {
  display: inline-block;
  border-radius: 11px;
  border: 2px solid #999;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  color: #999;
  transition-duration: 200ms;
}
.btn-mg:hover{
  color: #bfbfbf;
  border-color: #bfbfbf;
}
.btn-mg.active:after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: #f03818;
  box-shadow: 1px 2px 2px #b5bfcc;
}
.clearBoth{
  clear: both;
}
.div-none{
  padding: 0 10px;
  margin: 120px 0;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: #b6b6b6;
}
.div-more{
  padding: 0 21px;
  text-align: right;
  color: #999;
}
.div-more>a{
  color: #999;
  cursor: pointer;
}
.div-more>a:hover{
  color: #5d5d5d;
}
.div-more>a:after{
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 2px 0;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  transition: .2s;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.goods-search{
  position: relative;
  bottom: 10px;
  text-align: right;
}
.goods-search-ipt{
  display: inline-block;
  width: 200px;
  height: 30px;
  border: 1px solid #66cdff;
  border-radius: 3px;
}
.goods-search-ipt input{
  width: 165px;
  height: 26px;
  border: none;
  outline: none;
}
.goods-search-btn{
  text-decoration: none;
  padding: 6px 15px;
  margin: 0 5px;
  background: #66cdff;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  letter-spacing: 2px;
}
