<div class="view">
  <!--顶部TAB栏-->
  <div class="tab-bar">
    <ul>
      <li [class]="watchType?'active':''">
        <input class="tab" type="button"
               value="物业档案管理">
      </li>
      <li [class]="watchType?'':'active'">
        <input class="tab" type="button" value="物业档案台账管理">
      </li>
      <li class="tab-right">
        <label><i class="icon-direction"></i>类型</label>
        <select>
          <option>请选择</option>
        </select>
      </li>
    </ul>
  </div>





</div>
