<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<div class="main">
  <!--标题栏-->
  <div class="header">
    <img src="../../../../assets/image/icon_3line.png">
    <h2>团购管理/购物车</h2>
    <div class="header-right">
      <img src="../../../../assets/image/icon_wheel.png">
    </div>
    <div class="header-right">
      <img src="../../../../assets/image/icon_email.png">
    </div>

  </div>

  <router-outlet>
    <!--购物车-->
    <div class="view" style="background-color: #ffffff;margin-top: 10px">
      <!--getCartList接口-->




    </div>
  </router-outlet>

</div>

<app-footer></app-footer>
