<div class="repair">
  <div class="repair-header clearfix">
    <a href="javascript:;" class="active" (click)="recordFade($event)">大楼装修记录</a>
    <a href="javascript:;" (click)="contractFade($event)">大楼装修合同</a>
  </div>
  <div class="repair-cont">
    <div class="box1">
      <div class="repair-chandlery clearfix">
        <ul class="record-search clearfix">
          <li>
            <label>大楼编号</label>
            <input type="text" name="buildingId" class="search-ipt" [(ngModel)]="searchRepair.buildingId">
          </li>
          <li >
            <label >大楼名称</label>
            <input type="text" name="buildingName" class="search-ipt" [(ngModel)]="searchRepair.buildingName">
          </li>
          <li >
            <label >开始时间</label>
            <input type="date" class="search-ipt" name="decorateBtime" [(ngModel)]="beginTime" >
          </li>
          <li>
            <label>结束时间</label>
            <input type="date" class="search-ipt" name="decorateEtime" [(ngModel)]="endTime">
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a>
        </div>
      </div>
    </div>
    <div class="box2">
      <div class="repair-chandlery clearfix">
        <ul class="contract-search clearfix">
          <li>
            <label>大楼编号</label>
            <input type="text" name="buildingId" class="search-ipt" [(ngModel)]="searchContract.buildingId">
          </li>
          <li >
            <label >大楼名称</label>
            <input type="text" name="buildingName" class="search-ipt" [(ngModel)]="searchContract.buildingName">
          </li>
          <li >
            <label >开始时间</label>
            <input type="date" name="contractBtime" class="search-ipt" [(ngModel)]="beginTime">
          </li>
          <li>
            <label>结束时间</label>
            <input type="date" name="contractEtime" class="search-ipt" [(ngModel)]="endTime">
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a>

        </div>
      </div>
    </div>
    <div class="row">
      <a href="javascript:;" class="btn btn-new" (click)="repairNew()"><i class="icon-plus"></i> 新 增</a>
    </div>
    <!--维修记录-->
    <div class="repair-container repair-record clearfix">
      <ul class="form-msg clearfix" *ngFor="let inner of record; let i=index">
        <li class="form-bar">
          <span class="form-title">大楼编号</span>
          <span class="word">{{inner.buildingId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">大楼名称</span>
          <span class="word">{{inner.buildingName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修单编号</span>
          <span class="word">{{inner.recordId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修楼层</span>
          <span class="word">{{inner.decorateFloor}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修部门</span>
          <span class="word">{{inner.cmccDepartment}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修部门联系人</span>
          <span class="word">{{inner.cmccContacts}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修部门电话</span>
          <span class="word">{{inner.cmccPhone}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修公司</span>
          <span class="word">{{inner.decorateDepartment}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修公司联系人</span>
          <span class="word">{{inner.decorateContacts}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修公司电话</span>
          <span class="word">{{inner.decoratePhone}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修开始时间</span>
          <span class="word">{{inner.decorateBtime}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修结束时间</span>
          <span class="word">{{inner.decorateEtime}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">装修费用</span>
          <span class="word">{{inner.decorateCost}}</span>
        </li>
        <li class="form-bar form-texarea">
          <span class="form-title">装修详细内容</span>
          <span class="word">{{inner.decorateNote}}</span>
        </li>
        <li class="form-btn" (click)="editRecord(i)">编&nbsp;&nbsp;辑</li>
        <li class="form-btn form-btn2" (click)="delRecord(i)">删&nbsp;&nbsp;除</li>
      </ul>
    </div>
    <!--维修合同-->
    <div class="repair-container repair-contract clearfix">
      <ul class="form-msg clearfix" *ngFor="let ctct of contract; let i=index">
        <li class="form-bar">
          <span class="form-title">大楼编号</span>
          <span class="word">{{ctct.buildingId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">大楼名称</span>
          <span class="word">{{ctct.buildingName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">合同编号</span>
          <span class="word">{{ctct.contractId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">甲方</span>
          <span class="word">{{ctct.cmccName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">甲方联系人</span>
          <span class="word">{{ctct.cmccContacts}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">甲方联系电话</span>
          <span class="word">{{ctct.cmccPhone}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">乙方</span>
          <span class="word">{{ctct.name}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">乙方联系人</span>
          <span class="word">{{ctct.contacts}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">乙方联系电话</span>
          <span class="word">{{ctct.phone}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">合同状态</span>
          <span class="word">{{ctct.contractStatus}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">合同开始时间</span>
          <span class="word">{{ctct.contractBtime}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">合同结束时间</span>
          <span class="word">{{ctct.contractEtime}}</span>
        </li>
        <li class="form-bar form-texarea">
          <span class="form-title">服务合同</span>
          <a style="color:#686868; margin-left:20px; color: #1eaaf0" [href]="+'/proxy'+ ctct.filePath[j] " *ngFor="let abc of ctct.fileName; let j=index">{{abc}}</a>
        </li>
        <li class="form-btn" (click)="editContract(i)">编&nbsp;&nbsp;辑</li>
        <li class="form-btn form-btn2" (click)="delContract(i)">删&nbsp;&nbsp;除</li>
      </ul>
    </div>
    <div class="turn" *ngIf="pages.length > 1">
      <ul>
        <li *ngFor="let i of pages"
            [hidden] = "pageLimit(i)"
            [ngClass]="{'active':i === pageNo}"
            (click)="goPage(i);">
          {{i}}
        </li>
      </ul>
    </div>
  </div>
</div>
<!--新增编辑记录弹框-->
<div class="mask mask-repair">
  <div class="new-repair">
    <div class="mask-head"><i class="icon-film"></i> <p>新增维修记录</p>
      <button class="close" (click)="recordCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">大楼编号</span>
        <div class="form-inp">
          <select id="Id" name="Id" class="company-ipt company-sel" [(ngModel)]="repairname.buildingId" (blur)="verifyId()">
            <option *ngFor="let num of buildings"
                    [value]="num.BUILDING_ID">
              {{num.BUILDING_ID}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修单编号</span>
        <div class="form-inp">
          <input type="text" id="recordId" class="company-ipt" name="recordId" [(ngModel)]="repairname.recordId" (blur)="verifyRecordId()" required minlength="4" placeholder="请输入Z和四位数字" maxlength="5">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修楼层</span>
        <div class="form-inp">
          <input type="text" id="decorateFloor" class="company-ipt" name="decorateFloor" [(ngModel)]="repairname.decorateFloor" (blur)="verifydecorateFloor()" required placeholder="例如：1F" maxlength="20">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修操作部门</span>
        <div class="form-inp">
          <input id="cmccDepartment" name="cmccDepartment" class="company-ipt" [(ngModel)]="repairname.cmccDepartment" (blur)="verifyCmccDepartment()" type="text" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修部门联系人</span>
        <div class="form-inp">
          <input id="cmccContacts" name="cmccContacts" class="company-ipt" [(ngModel)]="repairname.cmccContacts" (blur)="verifyCmccContacts()" type="text" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修部门电话</span>
        <div class="form-inp">
          <input id="cmccPhone" name="cmccPhone" class="company-ipt" [(ngModel)]="repairname.cmccPhone" (blur)="verifyCmccPhone()" type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修公司</span>
        <div class="form-inp">
          <input id="decorateDepartment" name="decorateDepartment" class="company-ipt" [(ngModel)]="repairname.decorateDepartment" (blur)="verifydecorateDepartment()" type="text" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修公司联系人</span>
        <div class="form-inp">
          <input id="decorateContacts" name="decorateContacts" class="company-ipt" [(ngModel)]="repairname.decorateContacts" (blur)="verifydecorateContacts()" type="text" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修公司电话</span>
        <div class="form-inp">
          <input id="decoratePhone" name="decoratePhone" class="company-ipt" [(ngModel)]="repairname.decoratePhone" (blur)="verifydecoratePhone()" type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修开始时间</span>
        <div class="form-inp">
          <input id="decorateBtime" name="decorateBtime" class="company-ipt" [(ngModel)]="repairname.decorateBtime" (blur)="verifydecorateBtime()" type="date">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修结束时间</span>
        <div class="form-inp">
          <input id="decorateEtime" name="decorateEtime" class="company-ipt" [(ngModel)]="repairname.decorateEtime" (blur)="verifydecorateEtime()" type="date">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">装修费用</span>
        <div class="form-inp">
          <input id="decorateCost" name="decorateCost" class="company-ipt" [(ngModel)]="repairname.decorateCost" onkeypress="return event.keyCode>=48&&event.keyCode<=57" (blur)="verifydecorateCost()" type="text" maxlength="9">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">装修详细内容</span>
        <div class="form-inp">
          <textarea id="repairNote" name="decorateNote" [(ngModel)]="repairname.decorateNote" (blur)="verifydecorateNote()" maxlength="500"></textarea>
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="recordSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="recordCancel()">取 消</button>
    </div>
  </div>
</div>
<!--新增编辑合同弹窗-->
<div class="mask mask-contract">
  <div class="new-repair new-contract">
    <div class="mask-head"><i class="icon-film"></i> <p>新增装修合同</p>
      <button class="close" (click)="contractCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">大楼编号</span>
        <div class="form-inp">
          <select id="contractId" name="contractId" class="company-ipt company-sel" [(ngModel)]="contractName.buildingId" (blur)="verifyContractId()">
            <option *ngFor="let num of buildings"
                    [value]="num.BUILDING_ID">
              {{num.BUILDING_ID}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">合同编号</span>
        <div class="form-inp">
          <input type="text" id="contractNum" class="company-ipt" name="contractNum" [(ngModel)]="contractName.contractId" (blur)="verifycontractNum()" required maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">甲方</span>
        <div class="form-inp">
          <input type="text" id="cmccName" class="company-ipt" name="cmccName" [(ngModel)]="contractName.cmccName" (blur)="verifyCmccName()" required placeholder="请输入各级移动公司全称" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">甲方联系人</span>
        <div class="form-inp">
          <input type="text" id="contractcmccContacts" class="company-ipt" name="cmccContacts" [(ngModel)]="contractName.cmccContacts" (blur)="verifycontractcmccContacts()" required maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">甲方联系人电话</span>
        <div class="form-inp">
          <input id="contractcmccPhone" name="cmccPhone" class="company-ipt" [(ngModel)]="contractName.cmccPhone" (blur)="verifycontractcmccPhone()" type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">乙方</span>
        <div class="form-inp">
          <input id="contractname2" name="contractname2" class="company-ipt" [(ngModel)]="contractName.name" (blur)="verifycontractname2()" type="text" placeholder="请输入维修单位全称" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">乙方联系人</span>
        <div class="form-inp">
          <input id="contacts" name="contacts" class="company-ipt" [(ngModel)]="contractName.contacts" (blur)="verifycontacts()" type="text" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">乙方联系电话</span>
        <div class="form-inp">
          <input id="phone" name="phone"  class="company-ipt" [(ngModel)]="contractName.phone" (blur)="verifyphone()" type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">合同开始时间</span>
        <div class="form-inp">
          <input id="contractBtime" name="contractBtime" class="company-ipt" [(ngModel)]="contractName.contractBtime" (blur)="verifycontractBtime()" type="date">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">合同结束时间</span>
        <div class="form-inp">
          <input id="contractEtime" name="contractEtime" class="company-ipt" [(ngModel)]="contractName.contractEtime" (blur)="verifycontractEtime()" type="date">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control form-alone">
        <span class="form-label">服务合同</span>
        <ul class="contract-list">
          <li *ngFor="let abc of contractName.fileName; let k=index">{{abc}}<a  href="javascript:;" (click)="delFile(k)">×</a> </li>
        </ul>
        <div class="form-inp" style=" margin-top:5px;">
          <a href="javascript:;" style="color:#666; margin-left:127px; border-radius:4px; padding:5px 10px; background: #f6f6f6;" onclick="$('#prese').trigger('click')">上 传</a>
          <input type="file" class="dropify" #prese id="prese" style="visibility: hidden;"
                 (change)="prese_upload(prese.files)">
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="contractSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="contractCancel()">取 消</button>
    </div>
  </div>
</div>

