<!--页面标题-->
<div class="nav-title">
  <a><h4>商品管理</h4></a>
  <div class="b-head-right">
    <div class="content-box" tabindex="0" (click)="linkStatistics(1)">
      <i class="icon-earphones"></i> 报表
    </div>
    <div class="content-box" tabindex="0" onclick="history.go(-1)">
      <i class="icon-reload"></i> 返回
    </div>
  </div>
</div>
<!--搜索栏-->
<div class="search-bar">
  <ul>
    <li><label>商品名称</label>
      <input type="text" name="search" [(ngModel)]="search.name">
    </li>
    <li><label>类型</label>
      <select name="search" [(ngModel)]="search.type">
        <option>型号1</option>
        <option>型号2</option>
        <option>型号3</option>
      </select>
    </li>
    <li>
      <a (click)="getSale(1);"><i class="icon-magnifier"></i>查询</a>
    </li>
    <li>
      <a class="btn-danger"
         (click)="fadeBom()">
        <i class="icon-plus"></i>
        添加
      </a>
    </li>
  </ul>
</div>
<!--表头-->
<div class="table-head" style="margin-top: 10px">
  <table border="0" cellspacing="0" cellpadding="0" class="list-box">
    <tr class="row list-title" style="height:45px;">
      <th width="15%" class="text-left">商品名称</th>
      <th width="5%" class="text-left">类型</th>
      <th width="15%">图片</th>
      <th width="7%">价格(元)</th>
      <th width="5%">数量</th>
      <th width="10%">开始时间</th>
      <th width="10%">结束时间</th>
      <th width="15%" class="text-left">抢购对象</th>
      <th width="8%">审核状态</th>
      <th width="10%">操作</th>
    </tr>
  </table>
</div>
<!--表格内容-->
<div class="table-content" style="min-height: 500px">
  <table border="0" cellspacing="0" cellpadding="0" class="list-box">
    <tr class="row"  style="height:100px;" *ngFor="let sale of saleList;let i = index">
      <td width="15%" class="text-left">
        <span>
          {{sale.name}}
        </span>
      </td>
      <td width="5%" class="text-left">
        <p class="tb-text">
          {{sale.type}}
        </p>
      </td>
      <td width="15%" class="box-demo">
        <img *ngIf="sale.imgPathList&&sale.imgPathList.length>0"
             [src]="sale.imgPathList[0] | imgsafeurl">
      </td>
      <td width="7%">
        {{sale.price | number:'1.2-2'}}
      </td>
      <td width="5%">
        {{sale.maxNumber}}
      </td>
      <td width="10%">
        {{sale.beginTime| date:'yyyy/MM/dd HH:mm:ss'}}
      </td>
      <td width="10%">
        {{sale.endTime| date:'yyyy/MM/dd HH:mm:ss'}}
      </td>
      <td width="15%" class="text-left">
        <p class="tb-text">
        {{sale.targetName}}
        </p>
      </td>
      <td width="8%">
        <span *ngIf="sale.isCheck==='pass'">通过</span>
        <span *ngIf="sale.isCheck==='fail'" [title]="sale.checkNote">不通过</span>
        <span *ngIf="sale.isCheck==='pending'">待审核</span>
      </td>
      <td width="10%" class="box-option">
        <a (click)="linkDetail(sale.id)">
          <i class="icon-screen-desktop"></i>详情
        </a>
        <a (click)="edit(sale)">
          <i class="icon-pencil"></i>编辑
        </a>
        <a (click)="check(sale)">
          <i class="icon-settings"></i>审核
        </a>
        <a (click)="delete(sale.id)">
          <i class="icon-trash"></i>删除
        </a>
      </td>
    </tr>
  </table>
  <div class="div-none" *ngIf="saleList&&saleList.length < 1">
    <p>暂无信息</p>
  </div>
</div>
<!--翻页-->
<app-turn-bar
  [pageNo] = "pageNo"
  [pageSize] = "pageSize"
  [total] = "total"
  (turnEvent) = "getSale($event)">
</app-turn-bar>

<!--新建-->
<div class="mask" id="product" style="display: none;">
  <div  class="modal-content">
    <div  class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>{{winTitle}}商品信息</h4>
      <button class="modal-close" type="button" (click)="closeMask()">×</button>
    </div>
    <form  class="form-building form-material ng-untouched ng-pristine ng-valid" novalidate="">
      <div  class="modal-body clearfix">
        <div class="modal-left">
          <div class="dropify-wrapper" *ngFor="let img of copySale.imgPathList;let i = index">
            <a class="top-trash" title="删除图片" (click)="delImgPath(i)">x</a>
            <div  class="dropify-message">
              <img [src]="img | imgsafeurl" *ngIf="img">
            </div>
          </div>
          <div  class="dropify-wrapper bpt">
            <div  class="dropify-message"></div>
            <p>点击上传图片</p>
            <input  class="dropify" type="file"  id="press" #press
                    (change)="prese_upload(press.files)">
          </div>
          <span class="error"></span>
        </div>
        <div  class="modal-right">
          <div  class="form-group">
            <label  class="control-label"><span>商品名称</span>
              <input class="form-control" id="name"
                     name="name" placeholder="" type="text"
                     [(ngModel)]="copySale.name"
                     (blur)="verifyEmpty(copySale.name,'name')">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>商品类型</span>
              <select class="form-control" id="type" name="type"
                     [(ngModel)]="copySale.type"
                     (blur)="verifyEmpty(copySale.type,'type')">
                <option>型号1</option>
                <option>型号2</option>
                <option>型号3</option>
              </select>
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>价格&nbsp;(元)</span>
              <input class="form-control" id="price"
                     name="price" placeholder="" type="number"
                     [(ngModel)]="copySale.price"
                     (blur)="verifyEmpty(copySale.price,'price')">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>内容介绍</span>
              <textarea class="form-control" id="summary" name="summary" rows="5"
                        style="line-height: 20px;"
                        [(ngModel)]="copySale.summary"
                        (blur)="verifyEmpty(copySale.summary,'summary')"
              ></textarea>
            </label>
            <div class="error"></div>
          </div>
        </div>
        <div  class="modal-right">
          <div  class="form-group">
            <label  class="control-label"><span>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量</span>
              <input class="form-control" id="maxNumber"
                     name="maxNumber" placeholder="" type="number"
                     [(ngModel)]="copySale.maxNumber"
                     (blur)="verifyEmpty(copySale.maxNumber,'maxNumber')">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>开始时间</span>
              <input class="form-control" id="beginTime"
                     name="beginTime" placeholder="" type="datetime-local"
                     [(ngModel)]="copySale.beginTime"
                     (blur)="verifyEmpty(copySale.beginTime,'beginTime')">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>结束时间</span>
              <input class="form-control" id="endTime" title="可选"
                     name="endTime" placeholder="" type="datetime-local"
                     [(ngModel)]="copySale.endTime">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>抢购对象</span>
              <textarea class="form-control" rows="4" style="line-height: 20px"
                        id="deptName" name="deptName" readonly
                     [(ngModel)]="copySale.targetName">
              </textarea>
              <a class="btn-slt btn-info" onclick="$('#deptSltWin').show()">选取</a>
            </label>
            <div class="error"></div>
          </div>
          <div class="modal-more" id="deptSltWin" style="display: none">
            <h5>杭州移动各部门</h5>
            <h5>已选：&nbsp;&nbsp;
              <span>{{copySale.targetName}}</span></h5>
            <div class="choose-group">
              <label class="cb-blue">
                <input type="checkbox" name="all" id="all" [(ngModel)]="isAllDept" (change)="chooseAll()">
                <span>所有人员</span>
              </label>
            </div>
            <div class="choose-list">
              <div class="choose-group" *ngFor="let dept of deptList;let i=index">
                <label class="cb-blue">
                  <input type="checkbox" [name]="dept.DEPT_ID" [(ngModel)]="dept.choose"
                         [value]="dept.DEPT_ID"
                         (change)="chooseDept()">
                  <span>{{dept.DEPT_NAME}}</span>
                </label>
              </div>
            </div>
            <div  class="modal-more-footer">
              <button  class="btn btn-info" type="submit"
                       onclick="$('#deptSltWin').fadeOut()">确定</button>
            </div>
          </div>
        </div>
      </div>
      <div  class="modal-footer">
        <button  class="btn btn-info" type="submit"
                 (click)="submit()">保 存</button>
        <button  class="btn btn-danger" type="button"
                 (click)="closeMask()">取 消</button>
      </div>
    </form>
  </div>
</div>

<!--审核意见-->
<div class="mask" style="display: none;" id="check">
  <div  class="modal-content" style="width: 360px;margin-left: -180px">
    <div  class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>商品审核</h4>
      <button class="modal-close" type="button" (click)="closeCheck()">×</button>
    </div>
    <form  class="form-building form-material ng-untouched ng-pristine ng-valid" novalidate="">
      <div  class="modal-body clearfix">
        <div class="modal-right">
          <div  class="form-group">
            <label  class="control-label"><span>审核状态</span>
              <label for="status1">
                <input id="status1" name="status"
                       type="radio" value="pass"
                       [(ngModel)]="copySale.isCheck"
                       (blur)="verifyEmpty(copySale.isCheck,'status1')">
                通过
              </label>
              <label for="status2">
                <input id="status2" name="status"
                       type="radio" value="fail"
                       [(ngModel)]="copySale.isCheck"
                       (blur)="verifyEmpty(copySale.isCheck,'status2')">
                不通过
              </label>
              <div class="error"></div>
            </label>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>审核意见</span>
              <textarea class="form-control" id="checkNote" name="checkNote" rows="5"
                        style="line-height: 30px;"
                        [(ngModel)]="copySale.checkNote"
              ></textarea>
            </label>
            <div class="error"></div>
          </div>
        </div>
      </div>
    </form>
    <div  class="modal-footer">
      <button  class="btn btn-info" type="submit"
               (click)="submitCheck()">确  定</button>
    </div>
  </div>
</div>
