
<div class="goods-inner">
  <div class="b-head-right">
    <div class="content-box" tabindex="0" onclick="history.go(-1)">
      <i class="icon-reload"></i> 返回
    </div>
  </div>
  <h4 class="goods-hd">
    <em class="fn2">限时抢</em>
    <p>
      <span class="subtitle">限时限量提供</span>
    </p>
  </h4>
  <div class="opt-box">
     <span class="tb-fn">
      <div class="box-search" ><label>商品名称</label>
        <input type="text" [(ngModel)]="search.name">
        <a (click)="getSaleProductList(search,1);"><i class="icon-magnifier"></i>搜索</a>
      </div>
    </span>
  </div>
  <ul class="goods-list" *ngIf="saleProducts && saleProducts.length > 0">
    <li *ngFor="let sale of saleProducts">
      <a (click)="linkSale(sale.id)">
        <div class="img-wrap">
          <img *ngIf="sale.imgPathList&&sale.imgPathList.length>0"
               [src]="ipSetting.imgUrl+sale.imgPathList[0]">
        </div>
        <div class="goods-msg">
          <h5>{{sale.name}}</h5>
          <p class="marker-type"><span>限量{{sale.maxNumber}}件</span></p>
          <textarea  rows="5" readonly>{{sale.summary}}</textarea>
        </div>
      </a>
    </li>
  </ul>
  <div class="div-none" *ngIf="saleProducts && saleProducts.length === 0">
    <p>此处空空如也</p>
  </div>
</div>
<div class="box-loading" *ngIf="pageNo<maxPageNo">
  <span (click)="scrollMore()"></span>
</div>

