<!--<div class="imgs">
    <img src="{{img.Url}}" alt="" class="img"
   *ngFor="let img of imgs;let i=index"
   (mySwipe)="Change($event)"
   [@imgMove]="ImgState(i)">
</div>

<div class="btn" (click)="Prev()">Prev</div>
<div class="btn" (click)="Next()">Next</div>-->
<div class="bannerContainer">
  <ul class="bannerPicList">
    <li *ngFor="let abc of imgData;let i=index" [class.active]="currentPic==i">
        <img [src]="ipSetting.imgUrl+abc.imagePath">
    </li>
    <!--<li [class.active]="currentPic==0"> <img src="assets/image/z1.jpg"/></li>
    <li [class.active]="currentPic==1"> <img src="assets/image/z2.jpg"/></li>
    <li [class.active]="currentPic==2"> <img src="assets/image/z3.jpg"/></li>-->
  </ul>
  <ul class="bannerBtnList">
    <li *ngFor="let abc of imgData;let i=index"><span class="picBtn" (click)="changebanner(i)"></span></li>
    <!--<li><span class="picBtn" (click)="changebanner(0)"></span></li>
    <li><span class="picBtn" (click)="changebanner(1)"></span></li>
    <li><span class="picBtn" (click)="changebanner(2)"></span></li>-->
  </ul>
</div>
