<div class="b-head">
  <span>订单信息</span>
  <div class="b-head-right">
    <div class="content-box" onclick="history.go(-1)">
      <i class="icon-action-undo"></i>继续购物</div>
  </div>
</div>
<div class="b-con">
  <div class="wrap">
    <ul>
      <li><label>商品名称</label>
        <input name="searchName" type="text" [(ngModel)]="search.productName">
      </li>
      <li><a class="search" (click)="getOrderList(1)" >查询</a></li>
    </ul>
  </div>
  <div class="div-none" *ngIf="orders&&orders.length === 0">暂无信息</div>
  <div class="list-table" *ngFor="let order of orders;let idx=index">
    <table class="table-head">
      <tr>
        <td>订单编号：{{order.id}}</td>
        <td>订单价格：{{order.total | number:'1.2-2'}}元</td>
        <td>订单状态：{{order.status}}</td>
        <td>下单时间：{{order.createTime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
      </tr>
      <tr>
        <td>收货人姓名：{{order.userName}}</td>
        <td>收货人电话：{{order.telNumber}}</td>
        <td>收货地址：{{order.address}}</td>
        <td>付款时间：{{order.payTime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
      </tr>
      <tr>
        <td colspan="4">备注：{{order.note}}</td>
      </tr>
    </table>
    <table class="item-head">
      <tr>
        <td>商品信息</td>
        <td>单价（元）</td>
        <td class="center">商品类型</td>
        <td>数量</td>
        <td>合计（元）</td>
        <td>
          <a class="btn-print btn-danger" (mouseover)="loadFormData(order)">打印
            <app-print-bar
              [title] = "'限时抢订单'"
              [formData] = "formData">
            </app-print-bar>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <img *ngIf="order.imgPathList&&order.imgPathList.length>0"
               [src]="order.imgPathList[0] | imgsafeurl"/>
          {{order.productName}}
        </td>
        <td>￥{{order.total | number:'1.2-2'}}</td>
        <td class="center">{{order.productType}}</td>
        <td>1</td>
        <td>￥{{order.total | number:'1.2-2'}}</td>
      </tr>
    </table>
  </div>
</div>
<!--翻页-->
<app-turn-bar
  [pageNo] = "pageNo"
  [pageSize] = "pageSize"
  [total] = "total"
  (turnEvent) = "getOrderList($event)">
</app-turn-bar>



