<div class="view">
  <div class="top-right">
    <button class="btn-edit"
            *ngIf="rule&&rule.isUpdate"
            (click)="initEdit()">
      <i class="icon-pencil"></i> 编辑</button>
  </div>
  <ul class="form-msg">
    <li class="form-bar">
      <label>
        <span class="form-title">大楼编号</span>
        <input type="text" name="buildingId" class="ipt" disabled
               [(ngModel)]="copyBuilding.buildingId">
        <span class="word">{{building.buildingId | emptyValue:'暂无数据'}}</span>
      </label>
      <div class="error"></div>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼名称</span>
        <input type="text" name="name" class="ipt"
               [(ngModel)]="copyBuilding.name">
        <span class="word">{{building.name | emptyValue:'暂无数据'}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼性质</span>
        <select class="ipt" [(ngModel)]="copyBuilding.type">
          <option>自购</option>
          <option>自建</option>
          <option>租赁</option>
        </select>
        <!--<input type="text" name="type" class="ipt"
               [(ngModel)]="copyBuilding.type">-->
        <span class="word">{{building.type | emptyValue:'暂无数据'}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼用途</span>
        <select  class="ipt" [(ngModel)]="copyBuilding.use">
          <option>办公</option>
          <option>机房</option>
          <option>营业厅</option>
        </select>
        <!--<input type="text" name="use" class="ipt"
               [(ngModel)]="copyBuilding.use">-->
        <span class="word">{{building.use | emptyValue:'暂无数据'}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼归属</span>
        <select class="ipt" [(ngModel)]="copyBuilding.belongTo">
          <option>市公司</option>
          <option>县区分公司</option>
        </select>
        <!--<input type="text" name="belongTo" class="ipt"
               [(ngModel)]="copyBuilding.belongTo">-->
        <span class="word">{{building.belongTo | emptyValue:'暂无数据'}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼使用部门</span>
        <input type="text" name="useDepartment" class="ipt"
               [(ngModel)]="copyBuilding.useDepartment">
        <span class="word">{{building.useDepartment | emptyValue:'暂无数据'}}</span>
      </label>
    </li>
    <li class="form-bar">
    <label>
      <span class="form-title">地址</span>
      <input type="text" name="area" class="ipt"
             [(ngModel)]="copyBuilding.address">
      <span class="word">{{building.address | emptyValue:'暂无数据'}}</span>
    </label>
  </li>
    <li class="form-bar">
      <label>
        <span class="form-title">经度</span>
        <input type="number" name="lon" class="ipt" (blur)="updateMarker()"
               [(ngModel)]="copyBuilding.lon">
        <span class="word">{{building.lon | emptyValue:'暂无数据'}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">纬度</span>
        <input type="number" name="lat" class="ipt" (blur)="updateMarker()"
               [(ngModel)]="copyBuilding.lat">
        <span class="word">{{building.lat | emptyValue:'暂无数据'}}</span>
      </label>
    </li>
  </ul>
  <div style="clear: both;"></div>
</div>
<div class="div-map" id="map"></div>
<div class="box-option">
  <button class="btn-submit" (click)="submit()">保存</button>
  <button class="btn-close" (click)="closeEdit()">取消</button>
</div>

