<div class="view">
  <div class="top-right">
    <a class="btn-edit" href="javascript:;" (click)="initEdit()"><i class="icon-pencil"></i> 编辑</a>
  </div>
  <ul class="form-msg">
    <li class="form-bar">
      <label>
        <span class="form-title">大楼编号</span>
        <input type="text" name="buildingId" class="ipt"
               [(ngModel)]="copyBuilding.buildingId">
        <span class="word">{{building.buildingId}}</span>
      </label>
      <div class="error">12121</div>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼名称</span>
        <input type="text" name="name" class="ipt"
               [(ngModel)]="copyBuilding.name">
        <span class="word">{{building.name}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼性质</span>
        <select class="ipt" [(ngModel)]="copyBuilding.type">
          <option>自购</option>
          <option>自建</option>
          <option>租赁</option>
        </select>
        <!--<input type="text" name="type" class="ipt"
               [(ngModel)]="copyBuilding.type">-->
        <span class="word">{{building.type}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼用途</span>
        <select  class="ipt" [(ngModel)]="copyBuilding.use">
          <option>办公</option>
          <option>机房</option>
          <option>营业厅</option>
        </select>
        <!--<input type="text" name="use" class="ipt"
               [(ngModel)]="copyBuilding.use">-->
        <span class="word">{{building.use}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼归属</span>
        <select class="ipt" [(ngModel)]="copyBuilding.belongTo">
          <option>市公司</option>
          <option>县区分公司</option>
        </select>
        <!--<input type="text" name="belongTo" class="ipt"
               [(ngModel)]="copyBuilding.belongTo">-->
        <span class="word">{{building.belongTo}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">大楼使用部门</span>
        <input type="text" name="useDepartment" class="ipt"
               [(ngModel)]="copyBuilding.useDepartment">
        <span class="word">{{building.useDepartment}}</span>
      </label>
    </li>
    <li class="form-bar">
    <label>
      <span class="form-title">地址</span>
      <input type="text" name="area" class="ipt"
             [(ngModel)]="copyBuilding.address">
      <span class="word">{{building.address}}</span>
    </label>
  </li>
    <li class="form-bar">
      <label>
        <span class="form-title">经度</span>
        <input type="text" name="lat" class="ipt" (blur)="updateMarker()"
               [(ngModel)]="copyBuilding.lat">
        <span class="word">{{building.lat}}</span>
      </label>
    </li>
    <li class="form-bar">
      <label>
        <span class="form-title">纬度</span>
        <input type="text" name="lon" class="ipt" (blur)="updateMarker()"
               [(ngModel)]="copyBuilding.lon">
        <span class="word">{{building.lon}}</span>
      </label>
    </li>
  </ul>
</div>
<div class="div-map" id="map"></div>
<div class="box-option">
  <input class="btn-close" type="button" value="取消"
         (click)="closeEdit()">
  <input class="btn-submit" type="button" value="提交"
         (click)="submit()">
</div>

