.div-map{
  width:100%;
  height:320px;
  box-shadow: 0 0 50px #ccc2c2 inset;
}
.view{
  padding: 20px 0;
}
.img-border{
  float: left;
  width:500px;
  height:320px;
  padding-right: 5%;
  padding-bottom: 20px;
  overflow: hidden;
}
.div-img{
  width: 100%;
}
.form-msg{
  margin-bottom: 15px;
  float: left;
}
.form-msg>li input,.form-msg>li select{
  display: none;
  height: 24px;
  width: 50%;
  line-height: 24px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #686868;
}
.form-msg>li input:focus,.form-msg>li select:focus{
  border-color:#2b2b2b;
}
.form-msg>li select{
  width: calc( 50% + 32px);
}
.bigText{
  display: none;
  height: 200px;
  width: calc(50% - 250px);
  padding: 0 15px;
  border: 1px solid #b5d7fc;
  border-radius: 5px;
  color: #686868;
}
@media (min-width: 1200px) {
  .form-bar{
    min-width: 300px;
    width: 33%;
    float: left;
  }
}
@media (max-width: 1200px){
  .form-bar{
    min-width: 300px;
    width: 50%;
    float: left;
  }
}
.form-bar{
  height: 35px;
  min-width: 300px;
  float: left;
  line-height: 30px;
  color: #686868;
  font-size: 12px;
}
.form-title{
  display: inline-block;
  width: 110px;
  padding-right:10px;
  margin-right: 10px;
  background-color: #f8f8f8;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}
.word{
  display: inline-block;
  padding-left: 20px;
}
.full-line{
  clear: both;
  width: 100%;
  height: auto;
}
.full-line .form-title{
  float: left;
}
.summary-text{
  clear: both;
  display: inline-block;
  width: calc(100% - 120px);
}
.top-right{
  text-align: right;
  margin-bottom: 15px;
}
.btn-edit{
  border: 1px solid #fff;
  margin-left: 10px;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
  background-color: #fb9678;
  cursor: pointer;
  transition: all .5s;
}
.btn-edit:hover{
  opacity: .8;
  border-color:#fb9678;
}
.btn-close{
  border:1px solid #fff;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  transition: all 0.7s;
}
.btn-submit{
  border:1px solid #fff;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #04a9f3;
  color: #fff;
  cursor: pointer;
  margin-right:24px;
  transition: all 0.7s;
}
.box-option{
  display: none;
  text-align: center;
  width: 100%;
  height: 40px;
  margin: 10px auto 0 ;
}
.btn-submit:hover{
  border-color: #04a9f3;
  opacity: .8;
}
.btn-close:hover{
  border-color: #ccc;
  opacity: .8;
}

