<div class="guard">
  <div class="guard-header clearfix">
    <a href="javascript:;" class="active" (click)="companyFade($event)">保洁绿化服务公司</a>
    <a href="javascript:;" (click)="archFade($event)">保洁绿化人员档案</a>
  </div>
  <div class="guard-cont">
    <div class="guard-chandlery clearfix">
      <div class="box1">
        <ul class="company-search clearfix">
          <li>
            <label>大楼编号</label>
            <input type="text" name="dfdf" class="search-ipt" maxlength="4" [(ngModel)]="searchCompany.buildingId">
          </li>
          <li >
            <label >大楼名称</label>
            <input type="text" name="drfg" class="search-ipt" maxlength="22" [(ngModel)]="searchCompany.buildingName">
          </li>
          <li >
            <label >服务公司名称</label>
            <input type="text" name="fghrr" class="search-ipt" maxlength="22" [(ngModel)]="searchCompany.companyName">
          </li>
        </ul>
        <div class="search-right"><a href="javascript:;" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a></div>
      </div>
      <div class="box2">
        <ul class="company-search clearfix">
          <!--<li>
            <label>大楼编号</label>
            <input type="text" class="search-ipt" [(ngModel)]="searchArch.buildingId">
          </li>
          <li >
            <label>大楼名称</label>
            <input type="text" class="search-ipt" [(ngModel)]="searchArch.buildingName">
          </li>-->
          <li >
            <label>服务公司名称</label>
            <input type="text" name="fghxcvv" class="search-ipt" maxlength="22" [(ngModel)]="searchArch.companyName">
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" name="fsgdfzx" class="search-btn" (click)="repairSearch()"><i class="icon-magnifier"></i> 查 询</a>
        </div>
      </div>
    </div>
    <!--服务公司-->
    <div class="guard-container guard-company">
      <div class="row text-right">
        <!--<a class="btn btn-lead" href="javascript:;"><i class="icon-docs"></i> 批量导入</a>-->
        <a class="btn btn-new" href="javascript:;" (click)="addCompany()"><i class="icon-plus"></i> 新 增</a>
      </div>
      <ul class="form-msg clearfix" *ngFor="let inner of record; let i=index">
        <li class="form-bar">
          <span class="form-title text-right">大楼编号</span>
          <span class="form-word">{{inner.buildingId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">大楼名称</span>
          <span class="form-word">{{inner.buildingName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">服务公司名称</span>
          <span class="form-word">{{inner.companyName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">派驻大楼保洁绿化人数</span>
          <span class="form-word">{{inner.personNum}}</span>
        </li>
        <li class="form-btn" (click)="editRecord(i)"><i class="icon-pencil"></i></li>
        <li class="form-btn form-del" (click)="delRecord(i)"><i class="icon-trash"></i></li>
      </ul>
    </div>
    <!--人员档案-->
    <div class="guard-container guard-arch">
      <div class="row text-right">
        <a class="btn btn-lead" href="javascript:;" (click)="inductionDialog()"><i class="icon-docs"></i> 批量导入</a>
        <a class="btn btn-new" href="javascript:;" (click)="exportFile()"><i class="icon-docs"></i> 导 出</a>
        <a class="btn btn-new" href="javascript:;" (click)="addCompany()"><i class="icon-plus"></i> 新 增</a>
      </div>
      <ul class="form-msg clearfix" *ngFor="let inner of contract; let i=index">
        <li class="form-bar">
          <span class="form-title text-right">服务公司名称</span>
          <span class="form-word">{{inner.companyName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">人员姓名</span>
          <span class="form-word">{{inner.personName}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">人员编号</span>
          <span class="form-word">{{inner.personId}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">联系电话</span>
          <span class="form-word">{{inner.personPhone}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">身份证号码</span>
          <span class="form-word">{{inner.personIdcard}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">年龄</span>
          <span class="form-word">{{inner.personAge}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">性别</span>
          <span class="form-word">{{inner.personSex}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title text-right">人员状态</span>
          <span class="form-word">{{inner.personStatus}}</span>
        </li>
        <li class="form-photo">
          <img [src]="+'/proxy'+inner.imgPath" *ngIf="inner.imgPath">

        </li>
        <li class="form-btn" (click)="editContract(i)"><i class="icon-pencil"></i></li>
        <li class="form-btn form-del" (click)="delContract(i)"><i class="icon-trash"></i></li>
      </ul>
    </div>
    <div class="turn" *ngIf="pages.length > 1">
      <ul>
        <li *ngFor="let i of pages"
            [hidden] = "pageLimit(i)"
            [ngClass]="{'active':i === pageNo}"
            (click)="goPage(i);">
          {{i}}
        </li>
      </ul>
    </div>
  </div>
</div>
<!--新增服务公司弹窗-->
<div class="mask mask-repair">
  <div class="new-company">
    <div class="mask-head"><i class="icon-film"></i> <p>新增服务公司</p>
      <button class="close" (click)="recordCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="company-form">
      <div class="form-control clearfix">
        <span class="form-label">大楼编号</span>
        <div class="form-inp">
          <select id="ID" name="ID" class="company-ipt company-sel" [(ngModel)]="repairname.buildingId" (blur)="verifyId()">
            <option *ngFor="let num of buildings"
                    [value]="num.BUILDING_ID">
              {{num.BUILDING_ID}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">服务公司名称</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="companyName" name="companyName" [(ngModel)]="repairname.companyName" (blur)="verifycompanyName()" required minlength="4" maxlength="22">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control clearfix">
        <span class="form-label">派驻大楼保洁绿化人数</span>
        <div class="form-inp">
          <input type="text" autocomplete="off" class="company-ipt" id="personNum" name="personNum" [(ngModel)]="repairname.personNum" (blur)="verifypersonNum()" required minlength="4" maxlength="4">
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="recordSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="recordCancel()">取 消</button>
    </div>
  </div>
</div>
<!--新增档案信息弹窗-->
<div class="mask mask-contract">
  <div class="new-arch">
    <div class="mask-head"><i class="icon-film"></i> <p>新增人员档案</p>
      <button class="close" (click)="contractCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="arch-form clearfix">
      <div class="form-left">
        <div class="form-control clearfix">
          <span class="form-label">服务公司名称</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="companyName2" name="companyName2" [(ngModel)]="contractName.companyName" (blur)="verifycompanyName2()" required maxlength="22">
            <span class="errorMessage">不能为空</span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">人员姓名</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="personName" name="personName" [(ngModel)]="contractName.personName" (blur)="verifypersonName()" required maxlength="22">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">人员编号</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="personId" name="personId" [(ngModel)]="contractName.personId" (blur)="verifypersonId()" required minlength="8" maxlength="8">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">联系电话</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="personPhone" name="personPhone" [(ngModel)]="contractName.personPhone" (blur)="verifypersonPhone()" required>
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">身份证号</span>
          <div class="form-inp">
            <input type="text" autocomplete="off" class="company-ipt" id="personIdcard" name="personIdcard" [(ngModel)]="contractName.personIdcard" (blur)="verifypersonIdcard()" required maxlength="18">
            <span class="errorMessage"></span>
          </div>
        </div>
        <div class="form-control clearfix">
          <span class="form-label">在职状态</span>
          <div class="form-inp">
            <select class="company-ipt company-sel" id="personStatus" name="personStatus"
                    [(ngModel)]="contractName.personStatus"
                    (blur)="verifypersonStatus()">
              <option value="在职">在职</option>
              <option value="离职">离职</option>
            </select>
            <span class="errorMessage"></span>
          </div>
        </div>
      </div>
      <div class="form-right">
        <div class="person-img">
          <div class="dropify-wrapper">
            <div class="dropify-message">
              <img *ngIf="contractName.imgPath" [src]="'/proxy/' + contractName.imgPath"  />
            </div>
            <p *ngIf="!contractName.imgPath">点击此处上传图片</p>
            <input type="file" class="dropify" #prese id="prese"
                   (change)="prese_upload(prese.files)">
          </div>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="contractSubmit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="contractCancel()">取 消</button>
    </div>
  </div>
</div>
<!-- Induction 导入  -->
<div class="modal-back" id="induction" style="display:none;">
  <div class="modal induction">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导入</h4>
          <button type="button" class="close pull-right" (click)="closeInductionDialog()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body clearfix">
          <div class="form-control">
            <!--<span class="form-label">文件名称</span>-->
            <div class="form-inp clearfix">
              <!--<input id="uploadFileName" type="text" value="" name="" style="border:1px solid #ccc;margin-top:34px; height:30px; text-indent: 2em; margin-right:8px;">-->
              <div class="select-file">
                <input type="file" value="" id="prese2" #prese2 (change)="prese_upload2(prese2.files)" accept="application/vnd.ms-excel,.xlsx">
                <a onclick="$('#prese2').trigger('click')">选取文件</a>
              </div>
              <div class="download-file">
                <a id="downLoadTemplate" target="_blank" href="/proxy/building/person/exportTemplate">下载模板</a>
              </div>
            </div>
          </div>
          <div class="foot" style="height:30px;">
            <!-- <button type="submit" class="btn-mask btn-info" (click)="inductionUploadFile(prese2.files)">确 定</button>
             <button type="button" class="btn-mask btn-danger" (click)="closeInductionDialog()">取 消</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Deriving 导出 -->
<div class="modal-back" id= "deriving" style="_display:none;">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导 出</h4>
          <button type="button" class="close pull-right" (click)="closeDeriving()">×</button>
        </div>
        <div class="modal-body">
          <!-- excel 导出 -->
          <div class="excel-out">
            <p>信息表.xls</p>
          </div>
          <!-- footer -->
          <div class="foot">
            <button type="submit" class="btn-mask btn-info" (click)="downDeriving()">确 定</button>
            <button type="button" class="btn-mask btn-danger" (click)="closeDeriving()">取 消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
