
<!--搜索栏-->
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <span *ngFor="let cata of catas"
                [ngClass]="cata.routeUrl===rule.routeUrl?'active':''"
                [routerLink]="['../../../../'+cata.routeUrl]"
          >{{cata.name}}</span>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../supbuy']">
              <i class="icon-action-undo"></i>继续购物</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap" *ngIf="rule&&rule.isSelect">
            <ul>
              <li>
                <label>订单编号</label>
                <input type="text" name="number" [(ngModel)]="search.orderNo">
              </li>
              <li>
                <label>创建时间</label>
                <input type="date" name="creatBgtime" [(ngModel)]="search.creatBgtime">
                -
                <input type="date" name="creatEdtime" [(ngModel)]="search.creatEdtime">
              </li>

              <li>
                <label>发货时间</label>
                <input type="date" name="giveBgtime" [(ngModel)]="search.giveBgtime">
                -
                <input type="date" name="giveEdtime" [(ngModel)]="search.giveEdtime">
              </li>
              <li>
                <label>订单人</label>
                <input type="text" name="own" [(ngModel)]="search.userName">
              </li>
              <li>
                <label>订单人部门</label>
                <input type="text" name="ownDpt" [(ngModel)]="search.deptId">
              </li>
              <li class="s-box"><a class="btn search" (click)="getOrderAllList(1)">查询</a></li>
              <li class="right-box">
                <a class="btn btn-danger"  href="javascript:;" (click)="export()">
                  <i class="icon-plus"></i> 导出</a>
              </li>
            </ul>
          </div>
          <!--表头-->
          <div class="table-head">
            <table border="0" cellspacing="0" cellpadding="0" class="list-box">
              <tr class="row list-title">
                <th style="width: 20px">
                  <input type="checkbox" name="all" [(ngModel)]="all" (change)="checkedAll()"></th>
                <th>序号</th>
                <th>订单编号</th>
                <th>订单人</th>
                <th>订单人部门</th>
                <th class="tleft">
                  <select name="searchStatus" [(ngModel)]="search.status" (change)="getOrderAllList(1)">
                    <option value="">订单状态</option>
                    <option value="0">已付款</option>
                    <option value="4">已配货</option>
                    <option value="1">已到货</option>
                    <option value="2">退单</option>
                  </select>
                </th>
                <th class="tleft">
                  <select name="service" [(ngModel)]="search.serviceCenter" (change)="getOrderAllList(1)" >
                    <option value="">服务中心</option>
                    <option *ngFor="let service of serviceCenters">{{service.name}}</option>
                  </select>
                </th>
                <th class="tleft goods">商品名称</th>
                <th>单价（元）</th>
                <th>数量</th>
                <th>总计（元）</th>
                <th>创建时间</th>
                <th>发货时间</th>
              </tr>
              <tr class="row" *ngFor="let order of orders;let i = index">
                <td style="width: 20px">
                  <input type="checkbox" name="orderCheck" [value]="order.id" (change)="checkIsAll()">
                </td>
                <td>{{(pageNo-1)*pageSize+i+1}}</td>
                <td>{{order.orderNo}}</td>
                <td>{{order.userName}}</td>
                <td>{{order.deptId}}</td>
                <td class="tleft">
                  <select  class="slt-none" [name]="'status'+i" [(ngModel)]="order.status" disabled>
                    <option value="0">已付款</option>
                    <option value="4">已配货</option>
                    <option value="1">已到货</option>
                    <option value="2">退单</option>
                  </select>
                </td>
                <td class="tleft">{{order.serviceCenter}}</td>
                <td class="tleft">
                  <p class="goods" *ngFor="let item of order.orderItems">
                    {{item.productName}}
                  </p>
                </td>
                <td>
                  <p *ngFor="let item of order.orderItems">
                    {{item.unitPrice|number:'1.2-2'}}
                  </p>
                </td>
                <td>
                  <p *ngFor="let item of order.orderItems">
                    {{item.quantity}}
                  </p>
                </td>
                <td>{{order.payment |number:'1.2-2'}}</td>
                <td>{{order.createTime}}</td>
                <td>{{order.sendTime}}</td>
              </tr>
            </table>
          </div>
          <div class="div-none" *ngIf="orders&&orders.length === 0">暂无数据</div>
        </div>
        <!--翻页-->
        <app-turn-bar
          [pageNo] = "pageNo"
          [pageSize] = "pageSize"
          [total] = "total"
          (turnEvent) = "getOrderAllList($event)">
        </app-turn-bar>
      </div>
    </div>
  </div>
</div>

