
<!--搜索栏-->
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <span [routerLink]="['../supermarketProduct']">超市商品管理</span>
          <span [routerLink]="['../supermarketApplier']">供应商管理</span>
          <span [routerLink]="['../order']">订单管理</span>
          <span class="active" [routerLink]="['../count']">订单报表</span>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../supbuy']">
              <i class="icon-action-undo"></i>继续购物</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap">
            <ul>
              <li>
                <label>订单状态</label>
                <select name="searchStatus">
                  <option value="0">已付款</option>
                  <option value="4">已配货</option>
                  <option value="1">已到货</option>
                  <option value="2">退单</option>
                </select>
              </li>
              <li>
                <label>订单生成时间</label>
                <input type="date" name="creatBgtime" style="width: 80px;">
                -
                <input type="date" name="creatEdtime" style="width: 80px;">
              </li>
              <li>
                <label>订单发货时间</label>
                <input type="date" name="giveBgtime" style="width: 80px;">
                -
                <input type="date" name="giveEdtime" style="width: 80px;">
              </li>
              <li>
                <label>订单人</label>
                <input type="text" name="own">
              </li>
              <li>
                <label>订单部门</label>
                <input type="text" name="ownDpt">
              </li>
              <li><a class="search" href="javascript: void(0);" >查询</a></li>
            </ul>
            <a class="btn btn-danger"  href="javascript:;" (click)="export()">
              <i class="icon-plus"></i> 导出</a>
          </div>
          <!--表头-->
          <div class="table-head">
            <table border="0" cellspacing="0" cellpadding="0" class="list-box">
              <tr class="row list-title">
                <th >序号</th>
                <th >部门名称</th>
                <th >订购人数</th>
                <th >消费合计</th>
                <th >购买数量</th>
              </tr>
              <tr class="row">
                <td >1</td>
                <td >支撑中心</td>
                <td ><span>28</span></td>
                <td >￥23</td>
                <td>2</td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

