
<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>门禁权限信息及变更日志</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--搜索栏-->
    <!--<div class="search-bar">
      <ul>
        <li><label>HRMIS</label>
          <input type="text" name="searchUserId" [(ngModel)]="search.userid">
        </li>
        <li><label>部门</label>
          <select name="searchDeptId" [(ngModel)]="search.deptId">
            <option value="">全部</option>
            <option *ngFor="let dept of deptList" [value]="dept.DEPT_ID">{{dept.DEPT_NAME}}</option>
          </select>
        </li>
        <li><label>大楼名称</label>
          <select name="searchBuildID" [(ngModel)]="search.building">
            <option value="">全部</option>
            <option *ngFor="let building of buildings" [value]="building.ID">{{building.NAME}}</option>
          </select>
        </li>
        <li>
          <a (click)="getUserList(1);"><i class="icon-magnifier"></i>&nbsp;查询</a>
        </li>
      </ul>
    </div>-->
    <div class="cont-inner clearfix">
      <ul class="card-left">
        <li>员工姓名</li>
        <li>归属部门</li>
        <li>员工编号</li>
        <li>工号牌编号</li>
        <li>工号牌类型</li>
      </ul>
      <ul class="card-right">
        <li>{{recordUser.employee}}</li>
        <li>{{recordUser.deptId}}</li>
        <li>{{recordUser.employNo}}</li>
        <li>{{recordUser.cardNo}}</li>
        <li>{{recordUser.cardType}}</li>
      </ul>
      <!--<div class="note">
        <div class="title"><span>备注</span><p>{{newCard.note}}</p></div>

      </div>-->
    <!--表头-->
    </div>
    <div class="table-head" style="margin-top: 10px">
      <h2>门禁权限信息</h2>
      <table border="0" cellspacing="0" cellpadding="0" class="list-box" *ngIf="record.length>0">
        <tr class="row list-title" style="height:45px;">
          <th width="6%">序号</th>
          <th width="20%">大楼名称</th>
          <th width="10%">楼层</th>
          <th width="10%">房间</th>
          <th width="20%">授权时间</th>
        </tr>
        <tr class="row" *ngFor="let inner of record;let i=index">
          <td width="6%">{{i+1}}</td>
          <td width="20%">{{inner.buildingName}}</td>
          <td width="10%">{{inner.floorNum}}</td>
          <td width="10%">{{inner.roomNum}}</td>
          <td width="20%">{{inner.handleTime}}</td>
        </tr>
      </table>

      <div class="div-none" *ngIf="record.length === 0">
        <p>暂无门禁权限信息</p>
      </div>
    </div>
    <div class="table-head" style="margin-top: 10px">
      <h2>历史变更记录</h2>
      <div style="min-height: 300px;">
        <table border="0" cellspacing="0" cellpadding="0" class="list-box" *ngIf="history.length>0">
          <tr class="row list-title" style="height:45px;">
            <th width="10%">员工编号</th>
            <th width="10%">员工姓名</th>
            <th width="15%">员工部门</th>
            <!--<th width="8%" class="text-left">工号牌编号</th>
            <th width="8%" class="text-left">工号牌类型</th>
            <th width="8%" class="text-left">大楼名称</th>
            <th width="8%" class="text-left">楼层</th>
            <th width="8%" class="text-left">房间</th>-->
            <th width="10%">变动类型</th>
            <th width="10%">变动对象</th>
            <th width="15%">变动时间</th>
          </tr>
          <tr class="row" *ngFor="let abc of history;let i=index">
            <td width="10%">{{abc.userId}}</td>
            <td width="10%">{{abc.userName}}</td>
            <td width="15%">{{abc.userDept}}</td>
            <!--<td>{{abc}}</td>
            <td>{{abc}}</td>
            <td>{{abc}}</td>
            <td>{{abc}}</td>
            <td>{{abc}}</td>-->
            <td width="10%">{{abc.handleType}}</td>
            <td width="10%">{{abc.handleContent}}</td>
            <td width="15%">{{abc.handleTime}}</td>
          </tr>
        </table>
      </div>

      <div class="div-none" *ngIf="history.length === 0">
        <p>暂无历史操作记录</p>
      </div>
      <!--翻页-->
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        (turnEvent)="getGuardRecord($event)">
      </app-turn-bar>
    </div>


  </div>
</div>
