<div id="wrapper">
  <div id="slider-wrap">
    <ul id="slider">
      <li *ngFor="let panel of list;let i = index;"
          (click)="linkAddress(panel.url)"
          [ngStyle]="{'background':colorList[i]}">
        <div>
          <h3>#{{i+1}} {{panel.title}}</h3>
          <span *ngIf="panel.content">Sub-title #1</span>
        </div>
        <i class="fa fa-image"></i>
      </li>
    </ul>

    <!--controls-->
    <div class="btns" id="next" (click)="slideRight()"><i class="fa fa-arrow-right"></i></div>
    <div class="btns" id="previous" (click)="slideLeft()"><i class="fa fa-arrow-left"></i></div>
    <div id="counter">{{pos+1}}/{{totalSlides}}</div>

    <div id="pagination-wrap">
      <ul>
        <li *ngFor="let li of list;let i = index" [ngClass]="i === pos?'active':''"></li>
      </ul>
    </div>
    <!--controls-->
  </div>
</div>
