<div class="wrap">
  <div class="cont">
    <div class="row">
      <div class="row-title">停车证信息</div>
    </div>
    <div class="cont-inner">
      <div class="repair-chandlery clearfix">
        <ul class="record-search clearfix">
          <li >
            <label >员工部门</label>
            <select name="buildingName" class="search-ipt search-sel" [(ngModel)]="searchInfo.useUserDept">
              <option value="">-全部-</option>
              <option *ngFor="let num of deptList"
                      [value]="num.DEPT_NAME">
                {{num.DEPT_NAME}}</option>
            </select>
          </li>
          <li>
            <label >员工编号</label>
            <input type="text" name="searchuserId" class="search-ipt" [(ngModel)]="searchInfo.useUserId">
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
        </div>
      </div>
      <div class="row-no">
        <a href="javascript:;" class="btn search-btn" (click)="addVehicle()"><i class="icon-plus"></i>&nbsp;&nbsp;新 增</a>
        <a href="javascript:;" class="btn search-btn" (click)="leadIn()"><i class="icon-docs"></i>&nbsp;&nbsp;导 入</a>
        <a href="javascript:;" class="btn search-btn" (click)="leadOut()"><i class="icon-docs"></i>&nbsp;&nbsp;导 出</a>
      </div>
      <ul class="card-list clearfix">
        <li *ngFor="let inner of record;let i=index" class="room-card">
          <div class="room-title clearfix">
            <h5>员工姓名 :{{inner.useUserName}}</h5>
            <h5>员工编号 :{{inner.useUserId}}</h5>
            <h5>员工部门 :{{inner.useUserDept}}</h5>
            <h5>车牌号码 :{{inner.useCarCode}}</h5>
            <h5>员工电话 :{{inner.useUserTel}}</h5>
            <h6>
              <i class="icon-pencil" (click)="editCardInfo(inner.id,inner.useUserId)"></i>
              <i (click)="delCardInfo(inner.id)" class="icon-trash"></i>
            </h6>
          </div>
          <table width="100%">
            <tr style="height: 40px; background-color: #EEEEE0; text-align: center">
              <th>大楼名称</th>
              <th>停车证名称</th>
              <th>停车证类型</th>
              <th>停车证编号</th>
              <th>停车证有效期</th>
              <th>状态</th>
              <th>发放日期</th>
              <th>备注</th>
            </tr>
            <tr style="height: 36px; text-align: center">
              <td>{{inner.buildingName}}</td>
              <td>{{inner.name}}</td>
              <td>{{inner.type}}</td>
              <td>{{inner.code}}</td>
              <td>{{inner.eTime}}</td>
              <td *ngIf="inner.status ==='valid'">未发放</td>
              <td *ngIf="inner.status ==='use'">已发放</td>
              <td *ngIf="inner.status ==='invalid'">失效</td>
              <td>{{inner.bTime}}</td>
              <td>{{inner.note}}</td>
            </tr>
          </table>
        </li>
        <!--<li class="room-card">
          <div class="room-title clearfix">
            <h5>员工姓名 :XXX</h5>
            <h5>员工编号 :XXX</h5>
            <h5>员工部门 :XXX</h5>
            <h5>车牌号码 :XXX</h5>
            <h5>员工电话 :XXX</h5>
            <h6>
              <i class="icon-pencil" (click)="editCardInfo(1)"></i>
              <i (click)="delCardInfo(2)" class="icon-trash"></i>
            </h6>
          </div>
          <table width="100%">
            <tr style="height: 36px; background-color: #c8c6c6;">
              <th>大楼名称</th>
              &lt;!&ndash;<th>大楼编号</th>&ndash;&gt;
              <th>停车证名称</th>
              <th>停车证类型</th>
              <th>停车证编号</th>
              <th>停车证有效期</th>
              <th>状态</th>
              <th>发放日期</th>
              <th>备注</th>
            </tr>
            <tr style="height: 36px;">
              <td>XXX</td>
              &lt;!&ndash;<td>XXX</td>&ndash;&gt;
              <td>XXX</td>
              <td>XXX</td>
              <td>XXX</td>
              <td>XXX</td>
              <td>XXX</td>
              <td>XXX</td>
              <td>XXX</td>
            </tr>
          </table>
        </li>-->
      </ul>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length] = 'length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>
</div>
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>新增停车证信息</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">大楼名称</span>
        <div class="form-inp">
          <select class="company-ipt company-sel form-disable" name="buildingName" id="buildingName" [(ngModel)]="newCard.buildingName"
                  (blur)="verifybuildingName()" (change)="queryBuilding(newCard.buildingName)" >
            <option value="">请选择</option>
            <option *ngFor="let name of buildings" [value]="name.NAME">{{name.NAME}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <!--<div class="form-control">
        <span class="form-label">大楼编号</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" type="text" name="buildingId" id="buildingId"
                 [(ngModel)]="newCard.buildingId" disabled="disabled">
          <span class="errorMessage"></span>
        </div>
      </div>-->
      <div class="form-control">
        <span class="form-label">停车证名称</span>
        <div class="form-inp">
          <input type="text" id="name" class="company-ipt form-disable" name="name" [(ngModel)]="newCard.name"
                 (blur)="verifyname()" maxlength="25"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">停车证类型</span>
        <div class="form-inp">
          <select class="company-ipt company-sel form-disable" name="type" id="type" [(ngModel)]="newCard.type"
                  (blur)="verifytype()" >
            <option value="">请选择</option>
            <option value="地面">地面</option>
            <option value="立体车库">立体车库</option>
            <option value="地下车库">地下车库</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">停车证编号</span>
        <div class="form-inp">
          <input type="text" class="company-ipt form-disable" id="code" name="code" [(ngModel)]="newCard.code"
                 (blur)="verifycode()" maxlength="18"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">状态</span>
        <div class="form-inp">
          <select class="company-ipt company-sel form-disable" name="status" id="status" [(ngModel)]="newCard.status"
                  (blur)="verifystatus()" >
            <option value="">请选择</option>
            <option value="use">已发放</option>
            <option value="valid">未发放</option>
            <option value="invalid">失效</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">停车证有效期</span>
        <div class="form-inp">
          <input type="date" class="company-ipt" name="eTime" id="eTime" [(ngModel)]="newCard.eTime"
                 (blur)="verifyeTime()"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发放日期</span>
        <div class="form-inp">
          <input type="date" class="company-ipt" name="userDept" id="bTime" [(ngModel)]="newCard.bTime"
                 /><!--(blur)="verifybTime()"-->
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发放员工编号</span>
        <div class="form-inp">
          <input id="useUserId" class="company-ipt" name="useUserId" type="text" [(ngModel)]="newCard.useUserId"
                 (keyup)="getUserName(newCard.useUserId);getUserCar(newCard.useUserId)" maxlength="8"/><!--(blur)="verifyuseUserId()"-->
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发放员工姓名</span>
        <div class="form-inp">
          <input id="useUserName" class="company-ipt" name="useUserName" type="text" [(ngModel)]="newCard.useUserName"
                  maxlength="25"/><!--(blur)="verifyuseUserName()"-->
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发放员工部门</span>
        <div class="form-inp">
          <input id="useUserDept" class="company-ipt" name="useUserDept" type="text" [(ngModel)]="newCard.useUserDept"
                 maxlength="25"><!--(blur)="verifyuseUserDept()" -->
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车牌号码</span>
        <div class="form-inp">
          <input id="useCarCode" class="company-ipt" name="useCarCode" type="text" [(ngModel)]="newCard.useCarCode"
                 (blur)="verifyuseCarCode()" maxlength="25">
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">备注</span>
        <div class="form-inp">
          <input id="note" class="company-ipt" name="note" type="text" [(ngModel)]="newCard.note"><!--(blur)="verifynote()"-->
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
<!-- Induction 导入  -->
<div class="modal-back" id="induction" style="display:none;">
  <div class="modal induction">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导入</h4>
          <button type="button" class="close pull-right" (click)="closeInduction()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body clearfix">
          <div class="form-control">
            <div class="form-inp clearfix">
              <div class="select-file">
                <input type="file" value="" id="prese" #prese (change)="prese_upload(prese.files)" accept="application/vnd.ms-excel,.xlsx">
                <a onclick="$('#prese').trigger('click')">选取文件</a>
              </div>
              <div class="download-file">
                <a id="downLoadTemplate" [href]="ipSetting.ip+'/building/parking/exportTemplate'">下载模板</a>
              </div>
            </div>
          </div>
          <div class="foot" style="height:30px;">
            <!-- <button type="submit" class="btn-mask btn-info" (click)="inductionUploadFile(prese2.files)">确 定</button>
             <button type="button" class="btn-mask btn-danger" (click)="closeInductionDialog()">取 消</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Deriving 导出 -->
<div class="modal-back" id= "deriving" style="_display:none;">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">导 出</h4>
          <button type="button" class="close pull-right" (click)="closeDeriving()">×</button>
        </div>
        <div class="modal-body">
          <!-- excel 导出 -->
          <div class="excel-out">
            <p>信息表.xls</p>
          </div>
          <!-- footer -->
          <div class="foot">
            <button type="submit" class="btn-mask btn-info" (click)="downDeriving()">确 定</button>
            <button type="button" class="btn-mask btn-danger" (click)="closeDeriving()">取 消</button>
          </div>
        </div>
      </div>
    </div>
  </div>
