.main{
  display: flex;
  height: 100%;
}
.nav-left {
/*  position: absolute;
  left:0;
  top:0px;
  z-index:5;*/

  flex: 0 0 190px;
  height:100%;
  background-color:#fff;
  overflow-x: hidden;
  overflow-y: visible;
  border-right:1px solid #e1eaf2;
}
.nav-right{
  width: 100%;
  height: 100%;
}
.nav-list{
  width:100%;
  font-size:15px;
  text-align: left;
  margin:0 auto;
  color:#8895a3;
  cursor: pointer;
}
.nav-list a{
  color:#8895a3;
}
.nav-list>li{
  width:100%;
}
.menu-one{
  position: relative;
  line-height:56px;
  width:100%;
  box-sizing: border-box;
  padding:0 10%;
}
.active.menu-one{
  background-color:#fafafa;
}
.menu-one i{
  transform: scale(.7,.7);
  margin-top:7px;
}
.menu-one span{
  display: block;
  position: absolute;
  right:16px;
  top:25px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  transition: .2s;
  transform:rotate(135deg);
}
.active.menu-one span{
  transform:rotate(225deg);
}
.menu-second{
  width:80%;
  margin:0 auto;
  display: none;
}
.menu-second>li{
  line-height:45px;
  text-indent:36px;
}
.menu-second a:hover{
  color:#03a9f3;
}
.menu-second a.active{
  color:#333;
}
.nav-admin{
  text-align: center;
}
.logo{
  box-sizing: border-box;
  padding:5% 5%;
  height:68px;
  width:100%;
}
.logo>img{
  width: 100%;
}
.user-photo{
  width:60px;
  height:60px;
  margin:15px auto;
  border-radius:50%;

}
.user-photo img{
  border-radius:50%;
}
.user-name{
  height: 18px;
  margin-bottom:15px;
  font-size: 14px;
  line-height: 12px;
  position: relative;
  color:#666;
  cursor: pointer;
}
.user-name:after{
  border: 4px solid transparent;
  border-top: 4px solid #666;
  width: 0;
  height: 0;
  position: absolute;
  top:4px;
  content: ' '
}
.user-onner{
  width:160px;
  height:1px;
  position: relative;
  margin:0 auto;
}
.user-menu{
  display:none;
  position: absolute;
  left:0;
  top:-17px;
  width:100%;
  border-radius:4px;
  z-index: 1;
  background-color:#fff;
  transition: all .5s;
  border:1px solid #CCCCCC;
}
.user-menu>li{
  padding:6px 0;
}
/*@media screen and (min-width: 1600px){

}*/
.user-name:hover + .user-onner>.user-menu{
  display: block;
}
.user-onner>.user-menu:hover{
  display: block;
}
.J_menuItem{
  cursor: pointer;
  display: block;
  padding: 9px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.J_menuItem:hover{
  background-color: #f7fafc;
}

.maskword {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  z-index: 999;
}
.modal-content{
  width: 500px;
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -250px;
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  background-color: #f1f5f8;
}
.modal-close{
  cursor: pointer;
  border: none;
  font-size: 18px;
  background: none;
  outline: none;
  font-family: 'Microsoft YaHei', 'Arial';
}
.modal-body {
  position: relative;
  padding: 15px;
  background: #fff;
}
.modal-right {
  width: 400px;
  margin-left: 20px;
  float: left;
}
.modal-footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 15px;
  background-color: #f1f5f8;
}
.btn-info {
  margin-left: 15px;
  padding: .3rem 1.2rem;
  border-radius: 4px;
  background: #03a9f3;
  border: 1px solid #03a9f3;
  color: #fff;
}
.btn-info:hover {
  background: #03a9f3;
  opacity: .8;
  border: 1px solid #03a9f3;
  cursor: pointer;
}
.control-label{
  display: block;
  color: #8d9ea7;
}
.control-label>span{
  display: inline-block;
  width: 60px;
  padding-right: 10px;
}
.form-control {
  color: #565656;
  height: 38px;
  width: 60%;
  max-width: 100%;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px;
  padding: 0;
  transition: background 0s ease-out 0s;
  background-image: linear-gradient(#03a9f3, #03a9f3), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  border: 0;
  border-radius: 0;
  box-shadow: none;
  float: none;
}
.form-group a{
  color: #1c39b6;
  cursor: pointer;
}
.form-group a:hover{
  color: #3b7eb6;
}
select{
  width: calc(100% - 90px);
  padding: 0 10px;
}
.btn-danger{
  padding: .3rem 1.2rem;
  padding-left:16px;
  padding-right:16px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  font-size: 14px;
  color: #fff;
  background: #fb9678;
  border: 1px solid #fb9678;
  cursor: pointer;
}
.btn-danger.disabled.focus,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger.focus,
.btn-danger:focus,
.btn-danger:hover {
  background: #fb9678;
  opacity: .8;
  color: #ffffff;
  border: 1px solid #fb9678;
}
.error{
  width: 276px;
  /*  height: 18px;*/
  padding-left: 75px;
  font-size: 10px;
  color: #d75452;
}
.red,.table-content .row .red{
  border: 0.5px solid #d75452;
  border-radius: 5px;
}
