<!--<div class="nav-left">
  <p>
    杭分统一门户<input type="button" (click)="loginOut()" value="登出"/>
  </p>
  <ul>
    <li *ngFor="let catalog of catalogs">
      <p>{{catalog.name}}</p>
      <ul>
        <li *ngFor="let child of catalog.childs">
          <a [routerLink]="[child.routeUrl]">{{child.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>-->
<div class="nav-left">
  <div class="nav-heaader">
    <div class="logo"><img src="../../../assets/image/yd_logo.png" alt="images/logo" /> </div>
    <div class="nav-admin">
      <div class="user-photo"><img alt="image"  src="../../../assets/image/admin.jpg" /></div>
      <h3 class="user-name">我的哥&nbsp;&nbsp;</h3>
      <div class="user-onner">
        <ul class="user-menu animated fadeInRight">
          <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
          </li>
          <li><a class="J_menuItem" href="profile.html">个人资料</a>
          </li>
          <li><a class="J_menuItem" href="contacts.html">联系我们</a>
          </li>
        </ul>
      </div>

    </div>
    <ul class="nav-list">
      <li *ngFor="let catalog of catalogs;">
        <!--<li (click)="Listslider($event)">-->
        <div class="menu-one" (click)="Listslider($event)"><i class="icono-codepen" ></i> {{catalog.name}}<span></span></div>
        <ol class="menu-second">
          <li *ngFor="let child of catalog.childs">
            <a [routerLink]="[child.routeUrl]" class="item">{{child.name}}</a>
          </li>
        </ol>
      </li>

    </ul>
  </div>
</div>

<router-outlet></router-outlet>
