<!--搜索栏-->
<div class="limit-height">
  <div class="box-plus">
    <h3>当前楼层：{{floor.floorNum}}</h3>
    <a class="btn-danger"
       *ngIf="rule&&rule.isInstall"
       (click)="addNewRoom()">
      <i class="icon-plus"></i>
      新增
    </a>
    <div class="b-head-right">
      <div class="content-box" tabindex="0" (click)="back()">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
  </div>
  <div class="room-list" *ngIf="rooms">
    <ul style="min-height: 720px">
      <li class="room-card" *ngFor="let room of rooms;let i = index">
        <h5> {{room.roomUse}}</h5>
        <div class="card-border">
          <h6>{{room.roomNum}}室
            <i class="icon-pencil"
               *ngIf="rule&&rule.isUpdate"
               (click)="initEdit(i)"></i>
            <i class="icon-trash"
               *ngIf="rule&&rule.isDelete"
               (click)="delRoom(room.id)"> </i>
          </h6>
          <div class="card-left">
            <label>
              <span class="form-title">房间面积</span>
              <p>{{room.roomArea}}</p>
            </label>
            <label *ngIf="room.seatingNum">
              <span class="form-title">设计座位数</span>
              <p>{{room.seatingNum}}</p>
            </label>
            <label>
              <span class="form-title">实际用途</span>
              <p class="long-text">{{room.roomUseReal}}</p>
            </label>
          </div>
          <div class="card-right">
            <div  class="card-wrapper">
              <div  class="card-message">
                <img [src]="'/proxy'+room.imgPath" *ngIf="room.imgPath"  (click)="viewImg(room.imgPath)">
                <div class="text-center">
                  <a class="text-muted font-12" href="javascript:;"  (click)="viewImg(room.imgPath)">
                    <i class="icon-magnifier-add"></i> 放大
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div style="clear: both"></div>
        </div>
      </li>
    </ul>
    <div class="div-none" *ngIf="copyRooms.length < 1">
    <p>暂无信息</p>
    </div>
    <!--翻页-->
    <app-turn-bar
      [pageNo]="pageNo"
      [pageSize]="pageSize"
      [total]="total"
      (turnEvent)="getRoomInfo($event)">
    </app-turn-bar>
  </div>
</div>
<!--新建-->
<div class="mask" style="display: none;">
  <div  class="modal-content">
    <div  class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>{{title}}房间信息</h4>
      <button class="modal-close" type="button" (click)="closeNewView()">×</button>
    </div>
    <form  class="form-building form-material ng-untouched ng-pristine ng-valid" novalidate="">
      <div  class="modal-body clearfix">
        <div class="modal-left">
          <div  class="dropify-wrapper" id = "newImgPath">
            <div  class="dropify-message">
              <img [src]="'/proxy'+newRoom.imgPath" *ngIf="newRoom.imgPath">
            </div>
            <p>点击此处上传房间平面图</p>
            <input  class="dropify" type="file" #pres  id="pres"
                    (change)="presepic_upload(pres.files)"
                    (blur)="verifyImgPath(newRoom.imgPath,'newImgPath')">
          </div>
        </div>
        <div   class="modal-right">
          <div  class="form-group">
            <label  class="control-label"><span>房间号</span>
              <input class="form-control" id="newRoomNum"
                     name="roomNum" placeholder="" type="number"
                     [(ngModel)]="newRoom.roomNum"
                     (blur)="verifyEmpty(newRoom.roomNum,'newRoomNum');">
            </label>
            <div class="error"></div>
          </div>
          <div class="form-group">
            <label class="control-label"><span>房间用途</span>
              <select  class="form-control" id="newRoomUse"
                       name="roomUse"
                       [(ngModel)]="newRoom.roomUse"
                       (blur)="verifyEmpty(newRoom.roomUse,'newRoomUse');"
                       >
                <option value="">请选择</option>
                <option>总经理办公室</option>
                <option>副总经理办公室</option>
                <option>中层办公室</option>
                <option>员工办公室</option>
                <option>会议室</option>
                <option>电视电话会议室</option>
                <option>接待室</option>
                <option>休息间</option>
                <option>茶水间</option>
                <option>文印室</option>
                <option>员工餐厅</option>
                <option>餐厅包间</option>
                <option>厨房</option>
                <option>洗手间</option>
                <option>设备间</option>
                <option>多功能厅</option>
                <option>活动室</option>
                <option>职工小小家</option>
                <option>员工服务中心</option>
                <option>其他</option>
              </select>
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>面积(平米)</span>
              <input class="form-control" id="newRoomArea"
                     name="roomArea" placeholder="" type="number"
                     [(ngModel)]="newRoom.roomArea"
                     (blur)="verifyEmpty(newRoom.roomArea,'newRoomArea');">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group" *ngIf="newRoom.roomUse == '员工办公室'">
            <label  class="control-label"><span>设计座位数</span>
              <input class="form-control" id="newSeatingNum"
                     name="seatingNum" placeholder="" type="text"
                     [(ngModel)]="newRoom.seatingNum"
                     (blur)="verifySeatNumber(newRoom.seatingNum,'newSeatingNum');"
              >
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label">
              <span style="vertical-align: top;">实际用途</span>
              <textarea class="form-control" id="newRoomUserReal"
                     name="roomUseReal" placeholder="" type="text"
                     [(ngModel)]="newRoom.roomUseReal"
                     (blur)="verifyEmpty(newRoom.roomUseReal,'newRoomUserReal');
                     verifyMaxLength(newRoom.roomUseReal,'newRoomUserReal',50)"
                    (keyup)="newRoom.roomUseReal = limitText(newRoom.roomUseReal,50)"
              ></textarea>
            </label>
            <div class="error"></div>
          </div>
        </div>
      </div>
      <div  class="modal-footer">
        <button  class="btn btn-info" type="submit"
                 (click)="submit()">保 存</button>
        <button  class="btn btn-danger" type="button"
                 (click)="closeNewView()">取 消</button>
      </div>
    </form>
  </div>
</div>
<!--图片查看器-->
<div class="view-img" [hidden]="isViewImg">
  <div class="back"></div>
  <span class="close" (click)="closeViewImg()"></span>
  <img class="big-img" *ngIf="imgSrcView"
       [ngStyle]="{'width':imgWidth+'px','margin-left':- imgWidth/2 +'px'}"
       [src]="imgSrcView">
  <div class="option-bar">
    <span class="enlarge" (click)="addImg()"></span>
    <span class="less" (click)="decsImg()"></span>
  </div>
</div>
