.auto-height{
  height: calc(100% - 60px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #edf1f5;
}
.main{
  width: 100%;
  height:auto;
  min-height: calc(100% - 50px);
  background-color: #edf1f5;
}
.main:after{
  content: "";
  clear: both;
}
@media screen and (max-width: 1400px){
  .auto-height{
    height: calc(100% - 40px);
  }
  .main{
    min-height: calc(100% - 40px);
  }
}
