<div class="main">
  <!--标题栏-->
<div class="header">
  <img src="../../../assets/image/icon_3line.png">
  <h2>大楼管理/大楼基础信息</h2>
  <div class="header-right">
    <a class="waves-effect waves-light" (click)="loginOut()">
      <span class="hidden-xs">退出&nbsp;&nbsp;<i class="icon-close"></i></span> </a>
  </div>
  <div class="header-right">
    <img src="../../../assets/image/icon_wheel.png">
  </div>
  <div class="header-right">
    <img src="../../../assets/image/icon_email.png">
  </div>
</div>
<router-outlet></router-outlet>
</div>
<global-footer></global-footer>
