
<!--购物车-->
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <div class="b-head-left">
            <span class="active">我的购物车</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../goodsbuy']"><i class="icon-action-undo"></i> 继续订购</div>
            <div class="content-box" [routerLink]="['../goodsorder']"><i class="icon-film"></i> 我的订单</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="list-table">
            <table class="table-head">
              <td class="fir">商品信息</td>
              <td class="sec">单价(元)</td>
              <td class="three">数量</td>
              <td class="four">合计（元）</td>
            </table>
            <dl  *ngFor="let cart of carts;let idx=index">
              <dt>
                <span>商品名称：{{cart.productName}} &nbsp; &nbsp; &nbsp; &nbsp; 商品编码：{{cart.productId}}</span>
              <div class="ope-list">
                <a class="tre" href="javascript:void(0)" (click)="del(cart.productId)"></a>
              </div>
              <div class="clearfix"></div>
              </dt>
              <dd>
                <table class="list-body">
                  <td class="fir">
                    <img *ngIf="cart.imgPath" [src]="cart.imgPath | imgsafeurl"/>
                  </td>
                  <td class="sec">￥{{cart.productPrice}}</td>
                  <td class="three">
                    <ul class="btn-numbox">
                      <li><span class="number"></span></li>
                      <li>
                        <ul class="count">
                          <li (click)="onclikjian(idx,cart.productId)"><span id="num-jian" class="num-jian">-</span></li>
                          <li><input type="text" class="input-num" readonly id="input-num-{{idx}}" [ngModelOptions]="{standalone: true}"  [(ngModel)]="cart.quantity" /></li>
                          <li  (click)="onclikadd(idx,cart.productId)"><span id="num-jia" class="num-jia">+</span></li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                  <td class="six">
                    <label id="unionPrice">￥{{cart.productTotalPrice}}</label>
                  </td>
                </table>
              </dd>
            </dl>
            <!--<div class="buy-way">
              <label>购买类型：</label>
              <label>
                <input name="buyWay" type="radio" [(ngModel)]="pstatus" value="1">自用
              </label>
              <label>
                <input name="buyWay" type="radio" [(ngModel)]="pstatus" value="2">赠送他人
              </label>
            </div>-->
          </div>
        </div>
        <div class="b-foot">
          <div class="total"><label>总计：</label> <span>￥{{mutipalPrice}}</span>
            <button type="button" class="btn btn-info" (click)="balanceCart()">结算</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--支付窗口-->
<div class="maskSubmitOrder">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">提交订单</h4>
      <button type="button" class="close" (click)="closeSubmitOrder()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div>
              <div>
                <label>服务中心：</label>
                <select class="noticetext" id="serverCenter_add" name="serverCenter_add" [(ngModel)]="serviceCenter"  (blur)="verifyEmpty('serverCenter_add','服务中心不能为空')">
                  <option value="">-请选择-</option>
                  <option value="环北服务中心">环北服务中心</option>
                  <option *ngFor="let center of serverCenters;let idx=index" value="{{center.name}}">{{center.name}}</option>
                </select>
                <span class="errorMessage"></span>
              </div>
              <div style="margin-top: 10px;">
                <label>支付方式：</label>
                <select class="noticetext" id="payType" name="payType" [(ngModel)]="payType"  (blur)="verifyEmpty('payType','支付类型不能为空')">
                  <option value="1">一卡通支付</option>
                  <option value="2">线下支付</option>
                </select>
                <span class="errorMessage"></span>
              </div>
              <div style="margin-top: 10px;">
                <label>收货人姓名：</label>
                <input type="text" id="receiver" class="noticetext" [(ngModel)]="receiver" name="receiver" (blur)="verifyEmpty('receiver','收货人不能为空')">
                <span class="errorMessage"></span>
              </div>
              <div style="margin-top: 10px;">
                <label>收货人电话：</label>
                <input type="text" id="telNumber" class="noticetext" [(ngModel)]="telNumber" name="telNumber" (blur)="verifyEmpty('telNumber','收货人不能为空')">
                <span class="errorMessage"></span>
              </div>
              <div style="margin-top: 10px;">
                <label>收货地址：</label>
                <input type="text" style="width: 210px;"  id="address" class="noticetext" [(ngModel)]="myAddress" name="address" (blur)="verifyEmpty('address','收货地址不能为空')">
                <span class="errorMessage"></span>
              </div>
              <div style="margin-top: 10px;">
                <label>验 证 码：</label>
                <input type="text" style="width: 60px; margin-left:6px;"  id="message" class="noticetext"  name="message" (blur)="verifyEmpty('message','短信验证码不能为空')">
                <button type="button" style="padding: 5px 9px;border-radius: 5px;color: #fff;outline: none;cursor: pointer;margin-left: 13px;" class=" btn-danger" (click)="getcode()">获取验证码</button>
                <span class="errorMessage"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeSubmitOrder()">取 消</button>
        <button type="submit" class="btn btn-info" (click)="saveSubmitOrder()" >支 付</button>
      </div>
    </form>
  </div>
</div>
