.wrap-content{
  width: 100%;
}
.wrap-space{
  padding: 30px;
}
.wrap-b{
  background: #fff;
  padding: 20px;
}
.b-head{
  border-bottom: 2px solid #f7fbfe;
  padding-bottom:10px;
}
.b-head span{
  font-size: 16px;
  line-height: 36px;
  padding: 0 20px;
  display: inline-block;
  color: #04a9f3;
}
.b-head span.active{
  color: #ff5c39;
  border-bottom: 3px solid #ff5c39;
}
.b-head-right{float: right;right: 40px;margin-top: -40px;}
.b-head-right .content-box{float: left; padding-left: 10px;padding-right: 10px;border:1px solid #eee;margin-right:10px;line-height: 36px;border-radius: 3px;font-size: 15px;color: #ff3c00;}
.b-head-right .content-box:last-child{
  margin-right:0;
}
.b-head-right .content-box i{font-size:14px;}
.b-head-right .content-box img{margin-right: 4px;vertical-align: -3px}
.b-head-right .content-box:hover{cursor: pointer;border-color: #ff3c00;}

.b-con h2{
  font-weight: normal;
  margin: 40px 0 28px 0;
  font-size: 22px;
  text-indent: 20px;
}
.in-list label{
  margin-right: 10px;
}
.in-list select,.in-list input{
  margin-right: 50px;
}
.in-list .name{
  width: 22%;
  height: 24px;
  font-size: 16px;
  border: 1px solid #ccc;
}
.in-list .lou-num{
  width: 18%;
  height: 24px;
  font-size: 16px;
  border: 1px solid #ccc;
}
.in-list .fang-num{
  width: 18%;
  height: 24px;
  font-size: 16px;
  border: 1px solid #ccc;
}
.row{
  display: block;
}
.btn{
  padding: 13px 30px;
  border-radius: 5px;
  color: #fff;
  outline:none;
  cursor: pointer;
}
.btn-yd{
  background: #ff5400;
}
.btn:hover{
  background: #ff3c00;
}
.mt30{
  margin-top: 40px;
}
.mb30{
  margin-bottom: 40px;
}
.line-txt{
  width: 100%;
  height: 40px;
  background: #f5f5f5;
}
.line-txt span{
  float: left;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #66cdff;
}

/*团购*/
.clearb{
  clear: both;
}
.mt20{
  margin-top: 2px;
}
.tuan{
  margin-top: 10px;
  border: 1px solid #eee;
}
.tuan .txt p{
  text-indent: 2em;
  color: #999;
  padding:10px;
}
.tuan dl{

}
.tuan dt{
  display: inline-block;
  float: left;
}
.tuan dd{
  display: inline-block;
  padding-top:5px;
}
.tuan .name-great{
  color: #333;
  font-size: 16px;
}
.tuan .line-nav{
  margin:24px 0;
}
.tuan .line-nav li{
  display: inline-block;
  /*float*/
  margin-right: 10px;
  padding: 5px 10px;
  background: #fc9778;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
}
.tuan .bg-value{
  width: 573px;
  height: 50px;
  background: url(../../../../../assets/image/icon-price.png) no-repeat left center;
  position: relative;
  margin-top: 9px;
}
.tuan .value{
  height: 49px;
  line-height: 49px;
}
.tuan .yudingbtn{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 30px;
  background: #ff5400;
  border-radius: 6px;
  float: right;
  margin: 7px 40px 0 0;
}
.tuan .yudingbtn:hover{
  color: #fff;
  background: #ff3c00;
}
.tuan .bg-value .value{
  color: #ff5c39;
  font-size: 33px;
  text-indent: 25px;
  display: inline-block;
}
.tuan .time{
  margin: 15px 0 35px 0;
  font-size: 14px;
  height: 25px;
  line-height: 26px;
  text-indent: 25px;
  background: url('../../../../../assets/image/icon-time.jpg') no-repeat;
}
.tuan .list-txt{
  margin: 10px 0;
}
.tuan .list-txt li{
  margin: 10px 0;
}
.tuan .txt-name{
  width: 100px;
  display: inline-block;
  color: #999;
}
.tuan .txt-value{
  color: #333;
  margin-left: -33px;
}
.tuan .line-txt{
  margin-top: 12px;
}

.wrap-b .wrap{
  margin: 10px 0;

}
.wrap-b .iptgroup{
  width: 200px;
  height: 30px;
  border: 1px solid #66cdff;
  border-radius: 3px;
  float: left;
  position: relative;
}
.wrap-b .iptgroup .ipt-search{
  width: 26px;
  height: 26px;
  background: url('../../../../../assets/image/icon-search.jpg') no-repeat;
  position: absolute;
  top: 0;
  right: 7px;
}
.wrap-b .iptgroup input{
  width: 165px;
  height: 26px;
  border: none;
  outline: none;
  position: absolute;
  top: 1px;
  left: 10px;
}
.wrap-b .search{
  text-decoration: none;
  padding: 6px 15px;
  margin: 0 5px;
  background: #66cdff;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  letter-spacing: 2px;
  float: left;
}
.wrap-b .add{
  text-decoration: none;
  padding: 6px 15px;
  background: #66cdff;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  letter-spacing: 2px;
  float: left;
}
.showpic{
  width:230px;
  height:180px;
}
.showpic img{
  width:auto;
  height:auto;
  max-width:90%;
  max-height:90%;
  padding: 5%;
  margin: 0;
  float: left;
}
.mask3{
  display: none;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,.4);
  z-index:999;
}
.modal-content{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  width:650px;
  margin:120px auto 0;
  overflow-x: scroll;
  height: 400px;
}
.modal-header{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px;
  background-color: #f1f5f8;
}
.modal-title{
  font-size:16px;
  color:#2b2b2b;
}
.modal-right2{
  width: 100%;
  text-align: -webkit-center;
  margin-top: 10px;
}
.modal-body{
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}
sup{
  background: red;
  color: white;
  border-radius: 5px; /*圆角*/
  padding: 0 3px; /*左右边距*/
  top: -1em; /*数字离图片右上角的高度*/
  left: 1em;
}
.b-head strong{
  color: red;
  font-weight:normal;
  display:inline-block;
  border-radius: 5px; /*圆角*/
  padding: 0 3px; /*左右边距*/
  top: -1em; /*数字离图片右上角的高度*/
  left: 1em;

}
.sltgroup{
  float: left;
  padding-right: 10px;
}
.sltgroup label{
  display: inline-block;
  width: 80px;
  color: #999999;
}
.sltgroup select{
  position: relative;
  width: 120px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #66cdff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #999999;
}
.tuan .name-great.note{
  font-size: 10px;
  font-weight: 700;
  color: #9d9d9d;
}
.noticeInfo{
  float: right;
  font-size: 12px;
  line-height:15px;
  height:45px;
  color:#ff0000;
  width:400px;
}
