
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head clearfix">
          <div class="b-head-left">
            <span class="active">商品预定</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" (click)="gotoMange()" *ngIf="rule&&(rule.isUpdate||rule.isInstall||rule.isDelete)"><i class="icon-grid"></i> 进入管理</div>
            <div class="content-box" [routerLink]="['../goodsorder']"><i class="icon-film"></i> 我的订单</div>
            <div class="content-box" [routerLink]="['../goodscart']"><i class="icon-basket-loaded"></i> 购物车 <strong>({{cartsize}})</strong>
            </div>
          </div>
        </div>
        <div class="wrap clearfix">
          <div class="sltgroup">
            <label>供应商类别</label>
            <select name="searchArm" [(ngModel)]="search.code">
              <option value="">全部</option>
              <option *ngFor="let provider of providers" [value]="provider">{{provider}}类</option>
            </select>
          </div>
          <div class="iptgroup">
            <input placeholder="请输入商品名称" name="name"  [(ngModel)]="search.name"  />
          </div>
          <a class="search" href="javascript: void(0);" (click)="getGoodsShowList(1)">查询</a>
          <div class="noticeInfo">A类、B类产品只限送浙江省内，C类只限杭州八大城区(上城、下城、江干、拱墅、西湖、滨江、萧山、余杭)。A类、B类、C类各满100元起送。
          </div>
        </div>
        <div class="tuan"  *ngFor="let good of goods;let idx=index">
          <div class="row mt20">
            <dl>
              <dt class="showpic">
                <img *ngIf="good.imgPath" [src]="good.imgPath | imgsafeurl"/>
              </dt>
              <dd>
                <span class="name-great note">(编码:{{good.code}})</span>
                <span class="name-great">{{good.name}}</span>
                <div class="bg-value">
                  <span class="value">¥{{good.price}}</span>
                  <a class="yudingbtn" href="javascript: void(0);" (click)="addToCart(good.code)">预订</a>
                </div>
              </dd>
            </dl>
          </div>
          <div class="clearb"></div>
          <div class="line-txt">
            <span>商品描述</span>
          </div>
          <div class="txt">
            <p>{{good.detail}}</p>
          </div>
        </div>
        <app-turn-bar
          [pageNo]="pageNo"
          [pageSize]="pageSize"
          [total]="total"
          (turnEvent)="getGoodsShowList($event)">
        </app-turn-bar>
      </div>
    </div>
  </div>
</div>
