
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <span>预定洗衣服务</span>
          <div class="b-head-right">
            <div class="content-box" onclick="history.go(-1)"><i class="icon-reload"></i>返回</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap">
            <a class="btn btn-danger"  (click)="add()" href="javascript:;" style="padding: 6px 22px;"><i class="icon-plus"></i> 新增服务</a>
          </div>
          <div class="list-table" *ngFor="let order of orders;let idx=index">
            <table class="table-head">
              <td class="sec">服务商</td>
              <td class="sec">服务内容</td>
              <td class="three">单价</td>
              <td class="three">数量</td>
              <td class="three">合计</td>
              <td class="four">单位</td>
              <td class="five">操作</td>
            </table>
            <dl *ngFor="let item of order.orderItems;let idx=index">
              <dd>
                <table style="width: 100%;">
                  <tr>
                    <td class="sec">{{item.appcontent}}</td>
                    <td class="sec">{{item.appcontent}}</td>
                    <td class="three">{{item.unitPrice}}</td>
                    <td class="three">{{item.quantity}}</td>
                    <td class="three">{{item.totalPrice}}</td>
                    <td class="four">{{item.unit}}</td>
                    <td class="five">
                      <div class="ope-list">
                        <a class="tre" title="删除" href="javascript:void(0);" (click)="delete(item.id)"></a>
                      </div>
                    </td>
                  </tr>
                </table>
              </dd>
            </dl>
            <div class="wrap clearfix">
              <a class="btn btn-danger"  (click)="submitOrder()" href="javascript:;" style="padding: 6px 22px;float: right; line-height: 20px; background-color:#03a9f3"><i class="icon-check"></i> 提交订单</a>
            </div>
          </div>

          <app-turn-bar
            [pageNo]="pageNo"
            [pageSize]="pageSize"
            [total]="total"
            [length] = 5
            (turnEvent)="goPage($event)">
          </app-turn-bar>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="maskAdd">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">新增洗衣订单</h4>
      <button type="button" class="close" (click)="closeMaskAdd()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div>
              <!-- <div>
                 <label>服务中心：</label>
                 <select id="serverCenter_add" name="serverCenter_add" [(ngModel)]="myOrder.serviceCenter"  (blur)="verifyEmpty('serverCenter_add','服务中心不能为空')">
                   <option value="">-请选择-</option>
                   <option *ngFor="let center of serverCenters;let idx=index" value="{{center.name}}">{{center.name}}</option>
                 </select>
                 <span class="errorMessage"></span>
               </div>-->
              <div style="margin-top: 10px;" ><!--*ngIf="myOrder.facilitator"-->
                <label>服务商：</label>
                <select id="supplierId_add" name="supplierId_add" [(ngModel)]="orderItemAdd.applyid" (change)="changeContent()"  (blur)="verifyEmpty('supplierId_add','服务商不能为空')">
                  <option value="">-请选择-</option>
                  <option *ngFor="let applier of applierList;let idx=index" value="{{applier.applyId}}">{{applier.applyName}}</option>
                </select>
                <span class="errorMessage"></span>
              </div>
            </div>
            <div style="margin-top: 10px;">
              <label>服务内容：</label>
              <select id="appcotent_add" name="appcotent_add" [(ngModel)]="orderItemAdd.appcontent" (change)="changeContent1()"  (blur)="verifyEmpty('appcotent_add','服务内容不能为空')">
                <option value="">-请选择-</option>
                <option *ngFor="let product of products;let idx=index" value="{{product.appcotent}}">{{product.appcotent}}</option>
              </select>
              <span class="errorMessage"></span>
            </div>
            <div style="margin-top: 10px;">
              <label>单位：</label>
              <input type="text" readonly id="unit_add" class="noticetext"  name="unit_add" disabled="disabled" [(ngModel)]="orderItemAdd.unit">
              <span class="errorMessage"></span>
            </div>
            <div>
              <div style="margin-top: 10px;">
                <label>价格(元)：</label>
                <input type="text"  readonly id="price_add" class="noticetext"  name="price_add" disabled="disabled"
                       [(ngModel)]="orderItemAdd.unitPrice">&nbsp;&nbsp;&nbsp;
                <span class="errorMessage"></span>
              </div>
            </div>
            <div style="margin-top: 10px;">
              <label>数量：</label>
              <ul class="count">
                <li (click)="onclikjian()"><span id="num-jian" class="num-jian">-</span></li>
                <li><input type="text" readonly id="quantity_add" style="width: 40px;height: 26px; padding:0 10px; margin:0 5px;"
                           class="noticetext" name="quantity_add" (blur)="verifyEmpty('quantity_add','数量不能为空')"
                           [(ngModel)]="orderItemAdd.quantity"></li>
                <li  (click)="onclikadd()"><span id="num-jia" class="num-jia">+</span></li>
              </ul>
              <span class="errorMessage"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMaskAdd()">取 消</button>
        <button type="submit" class="btn btn-info" (click)="addOrderItem()" >保 存</button>
      </div>
    </form>
  </div>
</div>

<div class="maskSubmitOrder">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">提交订单</h4>
      <button type="button" class="close" (click)="closeSubmitOrder()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div>
              <div>
                <label>支付方式：</label>
                <select id="myOrderNote" name="myOrderNote" [(ngModel)]="myOrder.note"  (blur)="verifyEmpty('myOrderNote','支付方式不能为空')">
                  <option value="【线上支付】">一卡通支付</option>
                  <option value="【线下支付】">线下支付</option>
                </select>
                <span class="errorMessage"></span>
              </div>
              <div style="margin-top: 10px;">
                <label>服务中心：</label>
                <select id="serverCenter_add" name="serverCenter_add" [(ngModel)]="myOrder.serviceCenter"  (blur)="verifyEmpty('serverCenter_add','服务中心不能为空')">
                  <option value="">-请选择-</option>
                  <option *ngFor="let center of serverCenters;let idx=index" value="{{center.name}}">{{center.name}}</option>
                </select>
                <span class="errorMessage"></span>
              </div>
              <div style="margin-top: 10px;">
                <label>验证码：</label>
                <input type="text" style="width: 45px;"  id="message" class="noticetext"  name="message" (blur)="verifyEmpty('message','短信验证码不能为空')">
                <button type="button" style="padding: 5px 9px;border-radius: 5px;color: #fff;outline: none;cursor: pointer;margin-left: 13px;" class=" btn-danger" (click)="getcode()">获取验证码</button>
                <span class="errorMessage"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeSubmitOrder()">取 消</button>
        <button type="submit" class="btn btn-info" (click)="saveSubmitOrder()" >保 存</button>
      </div>
    </form>
  </div>
</div>
