<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>工号牌申请表</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>

    <!--<img *ngIf="groupProduct.imgPathList" [src]="groupProduct.imgPathList[0] | imgsafeurl"/>-->
    <!--<img src="../../../../assets/image/work_card_flowchart.png"/>-->

    <div class="warp">
      <div class="warp-left">
        <div class="warp-fist">
          <img src="../../../../assets/image/work_card_flowchart.png"/>
        </div>
      </div>
      <div class="warp-right">
        <div class="form-group">
          <label class="control-label"><span>员工编号</span>
            <input class="form-control" id="name"
                   name="name" placeholder="" type="text">
            <!--[(ngModel)]="shareProduct.name"-->
            <!--(blur)="verifyEmpty(shareProduct.name,'name')">-->
          </label>
          <div class="error"></div>
        </div>
        <div class="form-group">
          <label class="control-label"><span>员工姓名</span>
            <input class="form-control" id="price"
                   name="price" placeholder="" type="text">
            <!--[(ngModel)]="shareProduct.unitPrice"-->
            <!--(blur)="verifyEmpty(shareProduct.unitPrice,'price')">-->
          </label>
          <div class="error"></div>
        </div>
        <div class="form-group">
          <label class="control-label"><span>员工部门</span>
            <select class="form-control" id="deptId" name="deptId"
                    [(ngModel)]="entrySecurity.deptId" (blur)="verifyEmpty(entrySecurity.deptId,'deptId')">
              <option *ngFor="let dept of deptList" [value]="dept.DEPT_ID">{{dept.DEPT_NAME}}</option>
            </select>
          </label>
          <div class="error"></div>
        </div>
        <div class="form-group">
          <label class="control-label"><span>申请类型</span>
            <div class="choose-group" *ngFor="let type of types;let i=index">
              <label class="cb-blue">
                <input type="radio" name="productType"
                       [(ngModel)]="entrySecurity.productType" [value]="type">
                <span>{{type}}</span>
              </label>
            </div>
          </label>
          <div class="error"></div>
        </div>

        <div class="modal-right">
          <div class="form-group">
            <label class="control-label"><span>申请原因</span>
              <textarea class="form-control" type="text" rows="4" style="margin-top: -29px; margin-left: 60px; line-height: 20px; width: 500px"
                        id="deptName" name="deptName">
              </textarea>
              <!--readonly [(ngModel)]="shareProduct.targetName">-->
            </label>
            <div class="error"></div>
          </div>
          <div style="text-align: right">
            <button class="btn btn-info" type="submit"
                    (click)="submitPassword()">提交
            </button>
          </div>
        </div>
      </div>

      <!--表头-->
      <div class="table-head" style="margin-top: 10px">
        <table border="0" cellspacing="0" cellpadding="0" class="list-box">
          <tr class="row list-title" style="height:45px;">
            <th width="10%" class="text-left">流程节点</th>
            <th width="8%" class="text-left">当前处理人</th>
            <th width="10%">下一处理人</th>
            <th width="15%">处理时间</th>
            <th width="50%" class="text-left">处理意见</th>
          </tr>
        </table>
      </div>
      <!--表格内容-->
      <div class="table-content" style="min-height: 360px">
        <table border="0" cellspacing="0" cellpadding="0" class="list-box">
          <tr class="row" *ngFor="let log of applyList;let i = index">
            <td width="10%" class="text-left">
              {{log.userId}}
            </td>
            <td width="10%" class="text-left">
              {{log.operationModule}}
            </td>
            <td width="10%">
              {{log.clientIp}}
            </td>
            <td width="15%">
              <p>{{log.operationTime| date:'yyyy/MM/dd HH:mm:ss'}}</p>
            </td>
            <td width="50%" class="text-left">
              <p class="big-text">{{log.operationContent}}</p>
            </td>
          </tr>
        </table>
        <div class="div-none" *ngIf="applyList.length === 0">
          <p>暂无信息</p>
        </div>
      </div>
      <!--翻页-->
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        (turnEvent)="getSystemLogger($event)">
      </app-turn-bar>

    </div>
  </div>
</div>
