<!--统计信息盘-->
<div class="count-area">
  <div class="count-left">
    <div class="count-inner">
    <h4 class="goods-hd">
      <em class="fn1">信息管理</em>
      <p>
        <span class="subtitle"></span>
      </p>
      <span class="tb-fn">
      </span>
    </h4>
    <ul class="count-list">
      <li>
        <a [routerLink]="['../myPush']">
          <span class="count-point" *ngIf="tips[0].NUM!==0">{{tips[0].NUM}}</span>
          <div class="count-icon"><i class="icon-present"></i></div>
          我的物品
        </a>
      </li>
      <li *ngIf="tips[4].isAdmin">
        <a [routerLink]="['../check']">
          <span class="count-point" *ngIf="tips[1].NUM!==0">{{tips[1].NUM}}</span>
          <div class="count-icon"><i class="icon-hourglass"></i></div>
          我的审核
        </a>
      </li>
      <li>
        <a [routerLink]="['../reserve']">
          <span class="count-point" *ngIf="tips[2].NUM!==0">{{tips[2].NUM}}</span>
          <div class="count-icon"><i class="icon-notebook"></i></div>
          我的预定
        </a>
      </li>
      <li>
        <a [routerLink]="['../resell']">
          <span class="count-point" *ngIf="tips[3].NUM!==0">{{tips[3].NUM}}</span>
          <div class="count-icon"><i class="icon-loop"></i></div>
          我的转卖
        </a>
      </li>
    </ul>
      <div style="clear: both"></div>
    </div>
  </div>
  <div class="count-right">
    <div class="count-inner" [routerLink]="['../new']">
      <div class="count-build">
        <a >
          <div class="count-icon"><i class="icon-cloud-upload"></i></div>
          我要发布
        </a>
      </div>
    </div>
  </div>
</div>

<div class="goods-area">
  <!--共享物品-->
  <div class="goods-inner">
    <h4 class="goods-hd">
      <em class="fn3">共享物品</em>
      <p>
        <span class="subtitle"></span>
      </p>
      <span class="tb-fn"></span>
    </h4>
    <div class="goods-search">
    <div class="goods-search-ipt">
      <input placeholder="请输入物品名称" [(ngModel)]="search.name"/>
    </div>
    <a class="goods-search-btn" (click)="getProductList(1)">查询</a>
  </div>
    <ul class="goods-list" *ngIf="shareProducts && shareProducts.length > 0">
      <li *ngFor="let product of shareProducts">
        <a>
          <div class="img-wrap">
            <img *ngIf="product.imgPathList&&product.imgPathList.length>0"
                 [src]="ipSetting.imgUrl+product.imgPathList[0] | imgsafeurl">
          </div>
          <div class="goods-msg">
            <h5>{{product.name}}</h5>
            <p class="marker-type"><span>库存{{product.amount}}件</span></p>
            <div class="btn-form-back">
              <span>¥{{product.unitPrice| number:'1.2-2'}}</span>
              <a class="btn_yuding"  [routerLink]="['../detail',product.id]">详情</a>
            </div>
            <p>开始时间：{{product.bTime|date:'yyyy/MM/dd HH:mm:ss'}}</p>
            <p>结束时间：{{product.eTime|date:'yyyy/MM/dd HH:mm:ss'}}</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="div-none" *ngIf="shareProducts.length === 0">
      <p>此处空空如也</p>
    </div>
    <div style="padding-left: 21px">
    <!--翻页-->
    <app-turn-bar
      [pageNo] = "pageNo"
      [pageSize] = "pageSize"
      [total] = "total"
      (turnEvent) = "getProductList($event)">
    </app-turn-bar>
  </div>
  </div>
  <div class="clearBoth"></div>
</div>

