
<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>我的群组</h4></a>
      <div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>
    </div>
    <!--搜索栏-->
    <!--<div class="search-bar">
      <ul class="clearfix">
        <li><label>群组名称</label>
          <input type="text" name="searchUserId" [(ngModel)]="search.name">
        </li>
        <li><label>群组状态</label>
          <select name="searchDeptId" [(ngModel)]="search.status" style="width: 168px;">
            <option value="">全部</option>
            <option [value]="1">可用</option>
            <option [value]="0">不可用</option>
          </select>
        </li>
        <li style="float:right">
          <a (click)="getUserList(1);"><i class="icon-magnifier"></i>&nbsp;查询</a>
        </li>
      </ul>
    </div>-->
    <!--表头-->
    <div class="table-head" style="margin-top: 10px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row list-title" style="height:45px;">
          <th width="20%" class="text-left">群组名称</th>
          <th width="20%" class="text-left">关联部门</th>
          <th width="20%" class="text-left">群组状态</th>
          <!--<th width="20%" class="text-left">操作</th>-->
        </tr>
      </table>
    </div>
    <div class="table-content" style="min-height: 360px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row" *ngFor="let group of groupList;let i = index">
          <td width="12%" class="text-left">
            {{group.name}}
          </td>
          <td *ngIf="group.isdept==='0'" width="12%" class="text-left">
            否
          </td>
          <td *ngIf="group.isdept==='1'" width="12%" class="text-left">
            是
          </td>
          <td *ngIf="group.status==='1'" width="12%" class="text-left" style="color:#00a379;">
            可用
          </td>
          <td *ngIf="group.status==='0'" width="12%" class="text-left" style="color: #ff0000;">
            不可用
          </td>
          <!--<td width="12%" class="text-left">
            <i class="icon-user-unfollow" title="取消授权" (click)="cancelAuthorization(group)"></i>
          </td>-->
        </tr>
      </table>
      <div class="div-none"  *ngIf="groupList.length === 0">
        <p>暂无信息</p>
      </div>
    </div>
    <!--翻页-->
    <!--<app-turn-bar-->
      <!--[pageNo]="pageNo"-->
      <!--[pageSize]="pageSize"-->
      <!--[total]="total"-->
      <!--[length]="length"-->
      <!--(turnEvent)="getUserList($event)">-->
    <!--</app-turn-bar>-->
  </div>
</div>

