
<!--大楼搜索栏-->
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <div class="b-head-left">
            <span class="active">我的订单</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" onclick="history.go(-1)"><i class="icon-action-undo"></i> 继续订购</div>
            <!--<div class="content-box" [routerLink]="['../goodscart']"><i class="icon-basket-loaded"></i> 购物车</div>-->
          </div>
        </div>
        <!--<div>
          <i class="icon-action-redo"></i><i class="icon-action-undo"></i><i class="icon-anchor"></i><i class="icon-arrow-down-circle"></i><i class="icon-arrow-left-circle"></i><i class="icon-arrow-right-circle"></i><i class="icon-arrow-up-circle"></i><i class="icon-badge"></i><i class="icon-bag"></i><i class="icon-ban"></i><i class="icon-basket"></i><i class="icon-basket-loaded"></i><i class="icon-bell"></i><i class="icon-book-open"></i><i class="icon-briefcase"></i><i class="icon-bubble"></i><i class="icon-bubbles"></i><i class="icon-calculator"></i><i class="icon-bulb"></i><i class="icon-calender"></i><i class="icon-call-end"></i><i class="icon-chart"></i><i class="icon-check"></i><i class="icon-chemistry"></i>
          <i class="icon-clock"></i><i class="icon-close"></i><i class="icon-cloud-download"></i><i class="icon-cloud-upload"></i><i class="icon-compass"></i><i class="icon-control-end"></i><i class="icon-control-forward"></i><i class="icon-control-pause"></i><i class="icon-control-play"></i><i class="icon-control-rewind"></i><i class="icon-control-start"></i><i class="icon-credit-card"></i><i class="icon-crop"></i><i class="icon-cup"></i><i class="icon-cursor"></i><i class="icon-cursor-move"></i><i class="icon-diamond"></i>
          <i class="icon-direction"></i><i class="icon-directions"></i><i class="icon-disc"></i><i class="icon-dislike"></i><i class="icon-doc"></i><i class="icon-docs"></i><i class="icon-drawar"></i><i class="icon-drop"></i><i class="icon-earphones"></i><i class="icon-earphones-alt"></i><i class="icon-emotsmile"></i><i class="icon-energy"></i><i class="icon-envelope"></i>
          <i class="icon-envelope-letter"></i><i class="icon-envelope-open"></i><i class="icon-equalizer"></i><i class="icon-eye"></i><i class="icon-game-controller"></i><i class="icon-frame"></i><i class="icon-folder-alt"></i><i class="icon-folder"></i><i class="icon-flag"></i><i class="icon-fire"></i><i class="icon-film"></i><i class="icon-feed"></i><i class="icon-eyeglass"></i><i class="icon-ghost"></i><i class="icon-globe"></i><i class="icon-globe-alt"></i><i class="icon-graduation"></i>
          <i class="icon-graph"></i><i class="icon-grid"></i><i class="icon-handbag"></i><i class="icon-heart"></i><i class="icon-home"></i><i class="icon-hourglass"></i><i class="icon-info"></i><i class="icon-key"></i><i class="icon-layers"></i><i class="icon-like"></i><i class="icon-link"></i><i class="icon-list"></i><i class="icon-location-pin"></i>
          <i class="icon-lock"></i><i class="icon-lock-open"></i><i class="icon-login"></i><i class="icon-logout"></i><i class="icon-loop"></i><i class="icon-magic-wand"></i><i class="icon-magnet"></i><i class="icon-magnifier"></i>
          <i class="icon-magnifier-add"></i><i class="icon-magnifier-remove"></i><i class="icon-microphone"></i><i class="icon-mouse"></i><i class="icon-music-tone"></i><i class="icon-music-tone-alt"></i><i class="icon-mustache"></i><i class="icon-note"></i><i class="icon-notebook"></i><i class="icon-paper-clip"></i><i class="icon-paper-plane"></i>
          <i class="icon-pencil"></i><i class="icon-people"></i><i class="icon-phone"></i><i class="icon-picture"></i><i class="icon-pie-chart"></i><i class="icon-pin"></i><i class="icon-plane"></i><i class="icon-playlist"></i><i class="icon-plus"></i><i class="icon-power"></i><i class="icon-present"></i><i class="icon-printer"></i><i class="icon-puzzle"></i><i class="icon-question"></i><i class="icon-refresh"></i><i class="icon-reload"></i><i class="icon-rocket"></i><i class="icon-screen-desktop"></i><i class="icon-screen-smartphone"></i><i class="icon-screen-tablet"></i><i class="icon-settings"></i><i class="icon-share"></i><i class="icon-share-alt"></i><i class="icon-shield"></i><i class="icon-shuffle"></i><i class="icon-size-actual"></i><i class="icon-size-fullscreen"></i>
          <i class="icon-social-dribbble"></i><i class="icon-social-dropbox"></i><i class="icon-social-facebook"></i><i class="icon-social-twitter"></i><i class="icon-social-youtube"></i><i class="icon-speech"></i><i class="icon-speedometer"></i><i class=""></i><i class="icon-star"></i><i class="icon-support"></i>
          <i class="icon-symble-female"></i><i class="icon-symbol-male"></i><i class="icon-tag"></i><i class="icon-target"></i><i class="icon-trash"></i><i class="icon-trophy"></i><i class="icon-umbrella"></i><i class="icon-user"></i><i class="icon-user-female"></i><i class="icon-user-follow"></i><i class="icon-user-following"></i>
          <i class="icon-user-unfollow"></i><i class="icon-vector"></i><i class="icon-volume-1"></i><i class="icon-volume-2"></i><i class="icon-volume-off"></i><i class="icon-wallet"></i><i class="icon-wrench"></i>
          <i class="icon-call-in"></i><i class="icon-call-out"></i><i class="icon-camera"></i><i class="icon-camrecorder"></i>
        </div>-->
        <div class="b-con tuanmenu">
          <div class="list-table" *ngFor="let order of orders;let idx=index">
            <dt>
            <table class="table-head0">
              <tr>
                <td class="zero">订单编号：{{order.orderNo}}</td>
                <td class="zero">下单时间：{{order.createTime}}</td>
                <td class="zero">订单价格：￥{{order.payment}}</td>
                <td class="zero">交易方式：{{order.paymentTypeDesc}}</td>
                <td class="zero status">订单状态：{{order.statusDesc}}</td>
              </tr>
            <tr>
              <td class="zero">收货人：{{order.receiver}}</td>
              <td class="zero">收货地址：{{order.address}}</td>
              <td></td><td></td><td></td>
            </tr>
            </table>
            </dt>
            <dl>
              <dt>
              <table class="table-head">
                <tr>
                  <td class="fir">商品信息</td>
                  <td class="sec">单价（元）</td>
                  <td class="three">数量</td>
                  <td class="four">合计（元）</td>
                  <td class="zero"  *ngIf="order.status==40" >
                    <button type="button" class="btn btn-info" style="padding: 3px 5px"
                            (click)="updateOrders(order.orderNo,50)">确认收货</button>
                  </td>
                </tr>
              </table>
              </dt>
              <!--  <dd *ngFor="let orderItem of order.groupOrderItems;let idx=index">-->
              <dd  *ngFor="let goodsOrderItem of order.orderItemVoList;let idx=index">
                <table style="width:100%;">
                  <td class="eight">
                    <img *ngIf="goodsOrderItem.imgPath" [src]="goodsOrderItem.imgPath | imgsafeurl"/>
                  </td>
                  <td class="sec" style="text-align: left"> <p class="headtxt">{{goodsOrderItem.productName}}(编码:{{goodsOrderItem.productId}})</p></td>
                  <td class="sec">￥{{goodsOrderItem.currentUnitPrice}}</td>
                  <td class="three">{{goodsOrderItem.quantity}}</td>
                  <td class="four">￥{{goodsOrderItem.totalPrice}}</td>
                </table>
              </dd>
            </dl>
          </div>
        </div>
        <!--翻页-->
        <app-turn-bar
          [pageNo] = "pageNo"
          [pageSize] = "pageSize"
          [total] = "total"
          (turnEvent) = "getOrderList($event,chooseId)">
        </app-turn-bar>
      </div>
    </div>
  </div>
</div>




