
<!--大楼搜索栏-->
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <div class="b-head-left">
            <span class="active">我的订单</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../goodsbuy']"><i class="icon-action-undo"></i> 继续订购</div>
            <!--<div class="content-box" [routerLink]="['../goodscart']"><i class="icon-basket-loaded"></i> 购物车</div>-->
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="list-table" *ngFor="let order of orders;let idx=index">
            <dt>
            <table class="table-head0">
              <tr>
                <td class="zero">订单编号：{{order.orderNo}}</td>
                <td class="zero">下单时间：{{order.createTime}}</td>
                <td class="zero">订单价格：￥{{order.payment}}</td>
                <td class="zero">交易方式：{{order.paymentTypeDesc}}</td>
                <td class="zero">收货地址：{{order.address}}</td>
                <td class="zero status">订单状态：{{order.statusDesc}}</td>
              </tr>
            </table>
            </dt>
            <dl>
              <dt>
              <table class="table-head">
                <tr>
                  <td class="fir">商品信息</td>
                  <td class="sec">单价（元）</td>
                  <td class="three">数量</td>
                  <td class="four">合计（元）</td>
                  <td class="zero"  *ngIf="order.status==40" >
                    <button type="button" class="btn btn-info" style="padding: 3px 5px"
                            (click)="updateOrders(order.orderNo,50)">确认收货</button>
                  </td>
                </tr>
              </table>
              </dt>
              <!--  <dd *ngFor="let orderItem of order.groupOrderItems;let idx=index">-->
              <dd  *ngFor="let goodsOrderItem of order.orderItemVoList;let idx=index">
                <table style="width:100%;">
                  <td class="eight">
                    <img *ngIf="goodsOrderItem.imgPath" [src]="goodsOrderItem.imgPath | imgsafeurl"/>
                  </td>
                  <td class="sec" style="text-align: left"> <p class="headtxt">{{goodsOrderItem.productName}}(编码:{{goodsOrderItem.productId}})</p></td>
                  <td class="sec">￥{{goodsOrderItem.currentUnitPrice}}</td>
                  <td class="three">{{goodsOrderItem.quantity}}</td>
                  <td class="four">￥{{goodsOrderItem.totalPrice}}</td>
                </table>
              </dd>
            </dl>
          </div>
        </div>
        <!--翻页-->
        <app-turn-bar
          [pageNo] = "pageNo"
          [pageSize] = "pageSize"
          [total] = "total"
          (turnEvent) = "getOrderList($event,chooseId)">
        </app-turn-bar>
      </div>
    </div>
  </div>
</div>




