.content-area{
  padding: 20px;
}
.content-inner{
  padding: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
  transition-duration: 300ms;
}
.content-inner:hover{
  box-shadow: 2px 4px 15px rgba(158, 178, 178, 0.33);
}
.nav-title{
  margin-bottom: 10px;
  font-size: 14px;
  border-bottom: 2px solid #f7fafc;
}
.nav-title>a>h4{
  display: inline-block;
  line-height: 35px;
  color: #fb9678;
  border-bottom: 2px solid #fb9678;
}
.b-head-right{
  float: right;
}
.content-box{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #eee;
  margin-right: 10px;
  line-height: 28px;
  border-radius: 3px;
  font-size: 15px;
  color: #ff3c00;
  outline: none;
  cursor: pointer;
}
.content-box:hover{
  border-color: #ff3c00;
}
.warp{
  padding: 15px;
}
.warp-fist{
  width: 300px;
  height: 225px;
  margin-right: 5px;
  line-height: 225px;
  border: 1px solid #f7fafc;
  text-align: center;
  overflow: hidden;
}
.warp-fist>img{
  width: 300px;
  vertical-align: middle;
}
.warp-list{
  width: 315px;
}
.warp-list>li{
  float: left;
  width: 97px;
  height: 75px;
  margin: 5px 5px 0 0;
  line-height: 75px;
  border: 1px solid #f7fafc;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}
.warp-list>li.active{
  border-color: #2162B6;
}
.warp-list>li img{
  width: 80px;
  opacity: .8;
  vertical-align: middle;
  cursor: pointer;
}
.warp-list>li:hover img{
  opacity: 1;
}
.warp-right{
  float: left;
  width: 100%;
  padding-left: 40px;
  line-height: 26px;
  font-size: 12px;
  color: #8d9ea7;
  box-sizing: border-box;
}
.warp-right>h4{
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #3c3a3a;
}
.time-bar{
  padding: 0 20px;
  margin:10px 0;
  width: 306px;
  height: 60px;
  line-height: 60px;
  color: #fb3e3e;
  font-size: 16px;
  background-color: #f8f8f8;
  box-shadow: 1px 2px 5px #e4d8d8;
}
.time-bar:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0px;
  line-height: 0;
  border-width: 30px 30px;
  border-style: solid;
  border-left-width: 0;
  border-color: #f8f8f8 #ffffff #f8f8f8 #f8f8f8;
}
.time-bar>a{
  display: inline-block;
  width: 300px;
}
.warp-right li{
  margin-bottom: 7px;
}
.cont{
  padding: 15px;
  clear: both;
}
.cont>h5{
  height: 40px;
  background-color: #f8f8f8;
  color: #8d9ea7;
}
.cont>h5>span{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2a85e9;
  box-shadow: 1px 2px 5px #999;
}
.summary-text,.summary-file{
  width: auto;
  padding: 10px 7.5px;
  word-break: break-all;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'SCHeiti', 'Microsoft YaHei UI', 'Microsoft YaHei', arial, simsun, sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #5d5d5d;
  font-size: 12px;
  letter-spacing: 2.5px;
  line-height: 2;
}
.summary-text textarea{
  width: 100%;
  border: none;
  color: #5d5d5d;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'SCHeiti', 'Microsoft YaHei UI', 'Microsoft YaHei', arial, simsun, sans-serif;
  letter-spacing: 2.5px;
  line-height: 2;
  overflow: hidden;
}
.summary-text textarea:hover{
  overflow: auto;
}
.form-group{
  position: relative;
  line-height: 38px;
  width: 100%;
  clear: both;
}
.control-label>span{
  display: inline-block;
  width: 56px;
  line-height: 38px;
  padding-right: 10px;
  vertical-align: top;
}
.form-group td{
  line-height: 24px;
  padding: 0 10px;
}
.form-title{
  width: 60px;
  padding-right: 10px;
  margin-right: 10px;
  line-height: 38px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px;
  border: 0;
  border-radius: 0;
  background-image: linear-gradient(#03a9f3, #03a9f3), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  box-shadow: none;
  color: #565656;
}
.form-control {
  float: none;
  padding: 0 5px;
  width: 800px;
  max-width: 100%;
  line-height: 38px;
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px;
  transition: all .3s ease-out .3s;
  background-image: linear-gradient(#03a9f3, #03a9f3), linear-gradient(rgba(120, 130, 140, .13), rgba(120, 130, 140, .13));
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #565656;
  box-sizing: border-box;
}
.form-control:focus {
  background-size: 100% 1px, 100% 1px;
}
input[type=date].form-control{
  padding-right: 0;
  margin-bottom: 15px;
  font-size: 10px;
}
input[type=date]:disabled.form-control{
  color: #8d9ea7;
}
textarea.form-control{
  line-height: 24px;
  padding-bottom: 20px;
}
select{
  height: 38px;
  padding: 0 10px;
}
.dropify-message>img{
  width: 100%;
}
.error{
  position: absolute;
  left: 880px;
  bottom: 20px;
  line-height: 16px;
  font-size: 10px;
  color: #d75452;
  white-space: nowrap;
}
.red,.table-content .row .red{
  display: inline-block;
  border: 0.5px solid #d75452;
  border-radius: 5px;
}

.div-none{
  padding: 20px;
  color: #CCCCCC;
  text-align: center;
}
.btn-slt{
  position: relative;
  float: right;
  line-height: 15px;
}
.btn-slt:after{
  content: "";
  clear: both;
}
.dropify-wrapper{
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 150px;
  max-width: 100%;
  height: 200px;
  font-size: 14px;
  line-height: 22px;
  color: #777;
  border: 2px solid #E5E5E5;
  background-color: #FFF;
  background-image: none;
  text-align: center;
}
.dropify-wrapper .dropify-message{
  position: relative;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dropify-wrapper p {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
  width: 100%;
  line-height: 24px;
  z-index: 2;
}
.dropify-wrapper input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
.modal-more{
  position: absolute;
  width: 700px;
  top: 10%;
  left: 50%;
  margin-left: -350px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 6px 0 6px rgba(0,0,0,.1), -6px 0 6px rgba(0,0,0,.1), 0 6px 6px rgba(0,0,0,.1);
  z-index: 6;
}
.modal-more h5{
  line-height: 30px;
}
.modal-more-footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 3px;
  clear: both;
}
.choose-list{
  padding-bottom: 10px;
  clear: both;
}
.choose-group{
  float: left;
  width: 25%;
  height: 24px;
  line-height: 18px;
  padding: 2px;
  text-align: center;
  box-sizing: border-box;
}
.cb-blue>input[type=checkbox]{
  position: absolute;
  opacity: 0;
}
.cb-blue span{
  display: inline-block;
  width: 100%;
  border:2px solid #d6d5d7;
  border-radius: 3px;
  color: #8d9ea7;
  background-color: #ffffff;
  transition-duration: 300ms;
  box-sizing: border-box;
  cursor: pointer;
}
.cb-blue>input[type=checkbox]:checked+span{
  border:2px solid #03a9f3;
  color: #ffffff;
  background-color: #03a9f3;
}
.fitBox{
  position: relative;
  float: right;
  top: -25px;
  right: -15px;
  padding: 0 5px;
  cursor: pointer;
}
.fitBox a i{
  padding: 0;
}
.btn-close{
  color: #d75452;
}
.btn-add{
  color: #03a9f3;
}
.btn-danger{
  margin-left: 10px;
  padding: .3rem 1.2rem;
  font-size: 12px;
  border-radius:5px;
  color: #fff;
  background: #fb9678;
  border: 1px solid #fff;
  transition: all .6s;
  cursor: pointer;
}
.btn-danger.disabled.focus,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger.focus,
.btn-danger:focus,
.btn-danger:hover {
  background: #fb9678;
  opacity: .8;
  color: #ffffff;
  border: 1px solid #fb9678;
}
.btn-info {
  position: relative;
  margin-left: 10px;
  padding: .3rem 1.2rem;
  border-radius: 5px;
  background: #03a9f3;
  border: 1px solid #03a9f3;
  font-size: 12px;
  color: #fff;
}
.btn-info:hover {
  background: #03a9f3;
  opacity: .8;
  border: 1px solid #03a9f3;
  cursor: pointer;
}
.foot-submit{
  padding-top: 20px;
  padding-left: 110px;
  width: 800px;
  text-align: center;
}
.top-trash{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  line-height: 20px;
  border-bottom-left-radius: 5px;
  box-shadow: -1px 1px 2px #6f4144;
  background-color: #d75452;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 300ms;
  opacity: 0;
  z-index: 4;
}
.dropify-wrapper:hover .top-trash{
  opacity: 1;
}
.control-list{
  display: inline-block;
  padding-top: 10px;
}
.control-list li h5{
  padding: 0 5px;
  width: 800px;
  border:1px solid #e1eaf2;
  background-color: #F5F5F5;
}
.control-list li h5 span{
  float: right;
  color: #4b87d4;
  cursor: pointer;
}
.control-list li h5 span:hover{
  color: #5ca0ff;
}
.warp-left{
  display: inline-block;
  vertical-align: text-top;
}
.box-add{
  width: 812px;
  text-align: center;
  color: #4b87d4;
  background-color: #f0f7fc;
}
.box-add a{
  -moz-user-select: none;
  cursor: pointer;
}
.box-add a:hover{
  color: #5ca0ff;
}
.control-label{
  position: relative;
}
.control-label .font-count{
  position: absolute;
  right: 7px;
  bottom: 8px;
  padding: 0 10px;
  line-height: 14px;
  background: #ffffff;
  vertical-align: bottom;
}
.file-mode{
  position: absolute;
  top: 0;
  /* right: 0; */
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 88px;
  font-size: 0;
  cursor: pointer;
}
