<!--页面标题-->
<div class="nav-title">
  <a><h4>优惠信息</h4></a>
</div>
<!--信息内容-->
<div class="warp">
  <div class="warp-left">
    <img [src]="'proxy/'+discount.imgPath" *ngIf="discount&&discount.imgPath">
  </div>
  <div class="warp-right">
    <h4>{{discount.title}}</h4>
    <div class="time-bar">
      <a><i class="icon-clock"></i>还剩：<span>{{time}}</span></a>
    </div>
    <ul>
      <li>
        <span class="form-title">优惠有效期</span>
        <span class="word">{{discount.effectBtime+"-"+discount.effectEtime}}</span>
      </li>
      <li *ngFor="let other of discount.others">
        <span class="form-title">{{other.key}}</span>
        <span class="word">{{other.value}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="cont">
  <h5><span>详情介绍</span></h5>
  <div class="summary-text word">
    <i class="fa fa-quote-left" style="font-size: 18px; color:#e8e8e8;"></i>
    {{discount.summary}}
    <i class="fa fa-quote-right" style="font-size: 18px; color:#e8e8e8;"></i>
  </div>
</div>
