<div class="content-area">
  <div class="content-inner">
    <!--页面标题-->
    <div class="nav-title">
      <a><h4>用户管理</h4></a>
      <!--<div class="b-head-right">
        <div class="content-box" tabindex="0" onclick="history.go(-1)">
          <i class="icon-reload"></i> 返回
        </div>
      </div>-->
    </div>
    <!--搜索栏-->
    <div class="search-bar">
      <ul>
        <li><label>HRMIS</label>
          <input type="text" name="searchUserId" [(ngModel)]="search.userid">
        </li>
        <li><label>姓名</label>
          <input type="text" name="searchUserId" [(ngModel)]="search.username">
        </li>
        <li><label>部门</label>
          <select name="searchDeptId" [(ngModel)]="search.deptId">
            <option value="">全部</option>
            <option *ngFor="let dept of deptList" [value]="dept.DEPT_ID">{{dept.DEPT_NAME}}</option>
          </select>
        </li>
        <li>
          <a (click)="getUserList(1);"><i class="icon-magnifier"></i>&nbsp;查询</a>
        </li>
        <li>
          <a (click)="newUser();"><i class="icon-plus"></i>&nbsp;新增</a>
        </li>
      </ul>
    </div>
    <!--表头-->
    <div class="table-head" style="margin-top: 10px">
      <table border="0" cellspacing="0" cellpadding="0" class="list-box">
        <tr class="row list-title" style="height:45px;">
          <th width="5%" class="text-left">HRMIS</th>
          <th width="10%" class="text-left">姓名</th>
          <th width="10%" class="text-left">部门</th>
          <th width="5%">性别</th>
          <th width="15%">电话号码</th>
          <th width="15%">邮箱</th>
          <th width="20%">操作</th>
        </tr>
        <tr class="row" *ngFor="let user of users;let i = index">
          <td class="text-left">
            {{user.userid}}
          </td>
          <td class="text-left">
            {{user.username}}
          </td>
          <td class="text-left">
            {{user.deptId}}
          </td>
          <td>
            {{user.sex}}
          </td>
          <td>
            {{user.teleNum}}
          </td>
          <td>
            {{user.oaEmail}}
          </td>
          <td class="box-option">
           <!-- <a (click)="edit(user)">
              <i class="icon-pencil"></i>编辑
            </a>-->
            <a (click)="editPassword(user)">
              <i class="icon-question"></i>&nbsp;修改密码
            </a>
            <a [routerLink]="['../joinRole',user.userid]">
              <i class="icon-settings"></i>&nbsp;配置角色
            </a>
            <a (click)="delete(user.userid)" *ngIf="user.isDelete === 'Y'">
              <i class="icon-trash"></i>&nbsp;删除用户
            </a>
          </td>
        </tr>
      </table>
      <div class="div-none" *ngIf="users.length === 0">
        <p>暂无信息</p>
      </div>
    </div>
    <!--翻页-->
    <app-turn-bar
      [pageNo] = "pageNo"
      [pageSize] = "pageSize"
      [total] = "total"
      (turnEvent) = "getUserList($event)">
    </app-turn-bar>

  </div>
</div>


<div class="mask" style="display: none;" id="newUser">
  <div  class="modal-content" style="width: 360px;margin-left: -180px">
    <div  class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>用户新增</h4>
      <button class="modal-close" type="button" (click)="closeNewUser()">×</button>
    </div>
    <form  class="form-building form-material ng-untouched ng-pristine ng-valid" novalidate="">
      <div  class="modal-body clearfix">
        <div class="modal-right">
          <div  class="form-group">
            <label  class="control-label"><span>HRMIS</span>
              <input type="text" class="form-control" id="userid" name="userid"
                     [(ngModel)]="copyUser.userid" (blur)="verifyUserId(copyUser.userid,'userid')">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>姓名</span>
              <input type="text" class="form-control" id="username" name="username"
                     [(ngModel)]="copyUser.username" (blur)="verifyEmpty(copyUser.username,'username')">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>部门</span>
              <select class="form-control" id="deptId" name="deptId"
                      [(ngModel)]="copyUser.deptId" (blur)="verifyEmpty(copyUser.deptId,'deptId')">
                <option *ngFor="let dept of deptList" [value]="dept.DEPT_ID">{{dept.DEPT_NAME}}</option>
              </select>
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>性别</span>
              <label for="man">
                <input id="man" name="sex" type="radio" value="男"
                       [(ngModel)]="copyUser.sex">
                男
              </label>
              <label for="woman">
                <input id="woman" name="sex" type="radio" value="女"
                       [(ngModel)]="copyUser.sex">
                女
              </label>
              <div class="error"></div>
            </label>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>电话</span>
              <input type="text" class="form-control" name="teleNum"
                     [(ngModel)]="copyUser.teleNum">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>邮箱</span>
              <input type="text" class="form-control" name="oaEmail"
                     [(ngModel)]="copyUser.oaEmail">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span>地址</span>
              <input type="text" class="form-control" name="homeAddr"
                     [(ngModel)]="copyUser.homeAddr">
            </label>
            <div class="error"></div>
          </div>
          <div  class="form-group">
            <label  class="control-label"><span></span>
              <a><input type="checkbox" checked disabled>默认使用初始密码</a>
            </label>
          </div>
        </div>
      </div>
    </form>
    <div  class="modal-footer">
      <button  class="btn btn-info" type="submit"
               (click)="submit()">确  定</button>
    </div>
  </div>
</div>


<div class="mask" style="display: none;" id="editPassword">
  <div  class="modal-content" style="width: 360px;margin-left: -180px">
    <div  class="modal-header">
      <h4 class="modal-title"><i class="icon-home"></i>修改密码</h4>
      <button class="modal-close" type="button" (click)="closePassword()">×</button>
    </div>
    <form  class="form-building form-material ng-untouched ng-pristine ng-valid" novalidate="">
      <div  class="modal-body clearfix">
        <div class="modal-right">
         <!-- <div  class="form-group">
            <label  class="control-label"><span>密码类型</span>
              <label for="status1">
                <input id="status1" name="flag" type="radio" value="custom"
                       [(ngModel)]="copyUser.flag">
                自定义
              </label>
              <label for="status2">
                <input id="status2" name="flag" type="radio" value="default"
                       [(ngModel)]="copyUser.flag">
                默认密码
              </label>
              <div class="error"></div>
            </label>
            <div class="error"></div>
          </div>-->
          <div  class="form-group" *ngIf="copyUser.flag === 'custom'">
            <label  class="control-label"><span>新密码</span>
              <input type="text" class="form-control" name="password" id="password"
                     [(ngModel)]="copyUser.password" (blur)="verifyEmpty(copyUser.password,'password')">
            </label>
            <div class="error"></div>
          </div>
        </div>
      </div>
    </form>
    <div  class="modal-footer">
      <button  class="btn btn-info" type="submit"
               (click)="submitPassword()">确  定</button>
    </div>
  </div>
</div>
