
<!--搜索栏-->
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head">
          <span [routerLink]="['../vegtable']">净菜商品管理</span>
          <span [routerLink]="['../vegorder']">订单管理</span>
          <span [routerLink]="['../count']" class="active">净菜统计</span>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../vegbuy']">
              <i class="icon-action-undo"></i>继续购物</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap">
            <ul class="search-list clearfix">
              <li>
                <label>净菜名称</label>
                <div class="slideUl">
                  <input type="text" id="productName" class="noticetext"
                         [(ngModel)]="search.productName"
                         (keyup)="getVegetables()">
                  <ul *ngIf="vegetables.length>0" id="slideUl-list">
                    <li *ngFor="let abc of vegetables;let i=index;" (click)="synchro(abc)">{{abc}}</li>
                  </ul>
                </div>
              </li>
              <li>
                <label>服务中心</label>
                <select id="serverCenter_add" name="serverCenter_add" class="noticetext" [(ngModel)]="search.serviceCenter">
                  <option value="">-全部-</option>
                  <option *ngFor="let center of serverCenters; let idx=index" value="{{center.name}}">{{center.name}}</option>
                </select>
              </li>
              <li>
                <label>开始日期</label>
                <input class="noticetext" type="date" [(ngModel)]="search.BTime" name="orderBTime">
              </li>
              <li>
                <label>截止日期</label>
                <input class="noticetext" type="date" [(ngModel)]="search.ETime" name="orderETime">
              </li>
              <li>
                <label>订单状态</label>
                <select class="noticetext" [(ngModel)]="search.status" name="orderType">
                  <option value="">全部</option>
                  <option value="0">已付款</option>
                  <option value="4">已配货</option>
                  <option value="1">已到货</option>
                </select>
              </li>
            </ul>
            <div class="search">
              <a class="add" (click)="getOrderAllList(1)" >查询</a>
              <a class="btn btn-danger" (click)="export()">导出</a>
            </div>
          </div>
          <!--表头-->
          <div class="table-head">
            <table border="0" cellspacing="0" cellpadding="0" class="list-box">
              <tr class="row list-title">
                <th >净菜名称</th>
                <th >净菜编号</th>
                <th >服务中心</th>
                <th >购买数量</th>
                <th >单价(元)</th>
                <th >合计(元)</th>
              </tr>

              <tr class="row" *ngFor="let order of orders; let i=index;">
                <td>{{order.PRODUCT_NAME}}</td>
                <td>{{order.PRODUCT_CODE}}</td>
                <td>{{order.SERVICE_CENTER}}</td>
                <td>{{order.QUANTITY}}</td>
                <td>{{order.UNIT_PRICE}}</td>
                <td>{{order.TOTAL_PRICE}}</td>
              </tr>
            </table>
          </div>
          <app-turn-bar
            [pageNo]="pageNo"
            [pageSize]="pageSize"
            [total]="total"
            (turnEvent)="getOrderAllList($event)">
          </app-turn-bar>
        </div>
      </div>
    </div>
  </div>
</div>

