/*nav {
  background: #f7fafc;
}
nav ul{
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'SCHeiti', 'Microsoft YaHei UI', 'Microsoft YaHei', arial, simsun, sans-serif;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  transition-duration: 2s;
}
.tab-current li{
  position: relative;
  z-index: 1;
  display: block;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.tab-brash li{
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
nav a {
  position: relative;
  display: block;
  padding: 20px;
  line-height: 1;
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, transform .3s;
  overflow: hidden;
  !* text-overflow: ellipsis;*!
  white-space: nowrap;
  color: #686868;
  cursor: pointer;
}
nav .active{
  color: #fb9678;
  border-bottom: 5px solid #fb9678;
}
nav a:hover{
  color: #fb9678;
}
nav a span {
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', 'Hiragino Sans GB', 'SCHeiti', 'Microsoft YaHei UI', 'Microsoft YaHei', arial, simsun, sans-serif;
}*/
.min-height{
  height: 100%;
}

