<!--<nav>
  <ul class="tab-brash">
    <li>
      <a routerLink="consume" routerLinkActive="active">
        <i class="icon-bell"></i> 消费查询
      </a>
    </li>
    <li>
      <a routerLink="orderhand" routerLinkActive="active">
        <i class="icon-rocket"></i> 订单处理
      </a>
    </li>
    <li>
      <a routerLink="servicecenter" routerLinkActive="active">
        <i class="icon-rocket"></i> 服务中心
      </a>
    </li>
  </ul>
</nav>-->
<div class="min-height">
  <router-outlet>
  </router-outlet>
</div>
