<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head clearfix">
          <div class="b-head-left">
            <span [routerLink]="['../product']">团购商品新增</span>
            <span [routerLink]="['../check']">团购商品审核</span>
            <span [routerLink]="['../manager']">团购商品管理</span>
            <span [routerLink]="['../order']">订单管理</span>
            <span class="active">公告管理</span>
            <span [routerLink]="['../report']">订单报表</span>
            <span [routerLink]="['../count']">统计报表</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" [routerLink]="['../groupbuy']"><i class="icon-action-undo"></i> 继续订购</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap clearfix">
            <div class="iptgroup">
              <input  name="search" [(ngModel)]="search.title"/>
            </div>
            <a class="search" href="javascript: void(0);" (click)="getNoticeList()" >查询</a>
            <div class="row">
              <a class="btn btn-danger" (click)="fadeBom()"  href="javascript:;" style="padding: 6px 22px;"><i class="icon-plus"></i> 新增</a>
            </div>
          </div>

          <div class="list-table">
            <table width="100%" class="table" style=" margin-top: 20px;text-align: center">
              <thead>
              <tr>
                <th style="text-align: center!important;color: #428bca">序号</th>
                <th style="text-align: center!important;color: #428bca">标题</th>
                <th style="text-align: center!important;color: #428bca">创建人</th>
                <th style="text-align: center!important;color: #428bca">创建时间</th>
                <th style="text-align: center!important;color: #428bca">更新人</th>
                <th style="text-align: center!important;color: #428bca">修改时间</th>
                <th style="text-align: center!important;color: #428bca">状态</th>
                <th style="text-align: center!important;color: #428bca">操作</th>
              </tr>
              </thead>
              <tbody>
              <tr style="height: 36px;" *ngFor="let groupNotice of groupNotices;let idx=index">
                <td>{{idx+1}}</td>
                <td>{{groupNotice.title}}</td>
                <td>{{groupNotice.insertUser}}</td>
                <td>{{groupNotice.insertTime|date: "yy-MM-dd HH:mm"}}</td>
                <td>{{groupNotice.updateUser}}</td>
                <td>{{groupNotice.updateTime|date: "yy-MM-dd HH:mm"}}</td>
                <td *ngIf="groupNotice.status==='01'">显示</td>
                <td *ngIf="groupNotice.status==='02'">不显示</td>
                <!--<td *ngIf="groupNotice.status;else elseBlock">显示</td>
                <ng-template #elseBlock>不显示</ng-template>-->
                <td>
        <span>
          <a href="javascript:;" (click)="update(groupNotice.id)"><font color="#428bca">修改</font></a>&nbsp;&nbsp;&nbsp;
          <a href="javascript:;" (click)="delete(groupNotice.id)"><font color="#428bca">删除</font></a></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <app-turn-bar
            [pageNo]="pageNo"
            [pageSize]="pageSize"
            [total]="total"
            [length] = 5
            (turnEvent)="goPage($event)">
          </app-turn-bar>
        </div>


<div class="mask">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">新增公告</h4>
          <button type="button" class="close"(click)="closeMask()">×</button>
        </div>
        <form class="form-building form-material">
          <div class="modal-body clearfix">
            <div>
              <label>公告标题：</label>
              <input type="text" class="noticetext" [ngModelOptions]="{standalone: true}"  name="newGroup" [(ngModel)]="newGroupNotice.title">
              <label>状态：</label>
              <select class="bor" [ngModelOptions]="{standalone: true}"  [(ngModel)]="newGroupNotice.status">
                <option value="01">显示</option>
                <option value="02">不显示</option>
              </select>
            </div>

            <div class="modal-right">
              <label style="float: left">公告内容：</label>
               <textarea
                 id="post_editor"
                 name="notice" ui-tinymce
                 class="form-control" rows="10"
              style="width: 85%;!important;" [ngModelOptions]="{standalone: true}"  [(ngModel)]="newGroupNotice.notice" >
               </textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-mask" (click)="subGroupNotice()" >保 存</button>
            <button type="button" class="btn-mask btn-info" (click)="closeMask()">取 消</button>
          </div>
        </form>
      </div>
    </div>


<div class="mask2">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">修改公告</h4>
          <button type="button" class="close" (click)="closeMask2()">×</button>
        </div>
        <form class="form-building form-material">
          <input type="hidden" [ngModelOptions]="{standalone: true}"  [(ngModel)]="upGroupNotice.id">
          <div class="modal-body clearfix">
            <div>
              <label>公告标题：</label>
              <input type="text" class="noticetext"  [ngModelOptions]="{standalone: true}"  name="upGroup" [(ngModel)]="upGroupNotice.title">
              <label>状态：</label>
              <select class="bor"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="upGroupNotice.status">
                <option value="01">显示</option>
                <option value="02">不显示</option>
              </select>
            </div>

            <div class="modal-right">
              <label style="float: left">公告内容：</label>
              <textarea name="notice" ui-tinymce
                class="form-control" rows="10"
                style="width: 85%;!important;" [ngModelOptions]="{standalone: true}"  [(ngModel)]="upGroupNotice.notice" >
               </textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-mask" (click)="updateGroupNotice()" >保 存</button>
            <button type="button" class="btn-mask btn-info" (click)="closeMask2()">取 消</button>
          </div>
        </form>
      </div>
    </div>

    <!--<div class="mask3" style="display: none;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">查看公告</h4>
          <button type="button" class="close" (click)="closeMask3()">×</button>
        </div>
          <div class="modal-body clearfix">
            <div style="text-align: center">
              <label style="text-align: center">{{updateNotice.title}}</label>
            </div>
            <div class="modal-right2">
              <textarea name="notice2"
                        class="form-control" rows="10"
                        style="width: 85%;!important;background-color: #ffffff !important;" readonly [(ngModel)]="upGroupNotice.notice">
               </textarea>
            </div>
          </div>
      </div>
    </div>-->
