<div class="wrap">
  <div class="cont">
    <!--<div class="row">
      <div class="row-title">车辆信息</div>
    </div>-->
    <div class="cont-inner">
      <!--<table width="100%">
        <tr style="height: 40px; background-color: #00bce1;">
          <th>员工姓名</th>
          <th>员工编号</th>
          <th>员工部门</th>
          <th>驾驶员姓名</th>
          <th>驾驶证号</th>
          <th>驾驶证档案编号</th>
          <th>车辆所有人姓名</th>
          <th>车牌号码</th>
          <th>车辆识别代号</th>
          <th>发动机号码</th>
          <th>车辆品牌型号</th>
          <th>驾驶证照片</th>
          <th>行驶证照片</th>
          <th>是否停车摇号</th>
          <th>交通费额度（元/月）</th>
        </tr>
      </table>-->
      <div class="repair-chandlery clearfix" *ngIf="jurisdiction&&jurisdiction.isSelect">
        <ul class="record-search clearfix">
          <li>
            <label>员工部门</label>
            <select name="buildingName" class="search-ipt search-sel" [(ngModel)]="searchInfo.userDept">
              <option value="">-全部-</option>
              <option *ngFor="let num of deptList"
                      [value]="num.DEPT_NAME">
                {{num.DEPT_NAME}}</option>
            </select>
          </li>
          <li>
            <label>员工编号</label>
            <input type="text" name="searchuserId" class="search-ipt" [(ngModel)]="searchInfo.userId">
          </li>
          <li>
            <label>员工姓名</label>
            <input type="text" name="searchuserName" class="search-ipt" [(ngModel)]="searchInfo.userName">
          </li>
        </ul>
        <div class="search-right">
          <a href="javascript:;" class="search-btn" (click)="repairSearch(1)"><i class="icon-magnifier"></i> 查 询</a>
        </div>
      </div>
      <div class="row-no">
        <a href="javascript:;" class="btn search-btn" (click)="addVehicle()" *ngIf="jurisdiction&&jurisdiction.isInstall"><i class="icon-plus"></i>&nbsp;&nbsp;新 增</a>
      </div>
      <div>
    <!--<i class="icon-action-redo"></i><i class="icon-action-undo"></i><i class="icon-anchor"></i><i class="icon-arrow-down-circle"></i><i class="icon-arrow-left-circle"></i><i class="icon-arrow-right-circle"></i><i class="icon-arrow-up-circle"></i><i class="icon-badge"></i><i class="icon-bag"></i><i class="icon-ban"></i><i class="icon-basket"></i><i class="icon-basket-loaded"></i><i class="icon-bell"></i><i class="icon-book-open"></i><i class="icon-briefcase"></i><i class="icon-bubble"></i><i class="icon-bubbles"></i><i class="icon-calculator"></i><i class="icon-bulb"></i><i class="icon-calender"></i><i class="icon-call-end"></i><i class="icon-chart"></i><i class="icon-check"></i><i class="icon-chemistry"></i>
    <i class="icon-clock"></i><i class="icon-close"></i><i class="icon-cloud-download"></i><i class="icon-cloud-upload"></i><i class="icon-compass"></i><i class="icon-control-end"></i><i class="icon-control-forward"></i><i class="icon-control-pause"></i><i class="icon-control-play"></i><i class="icon-control-rewind"></i><i class="icon-control-start"></i><i class="icon-credit-card"></i><i class="icon-crop"></i><i class="icon-cup"></i><i class="icon-cursor"></i><i class="icon-cursor-move"></i><i class="icon-diamond"></i>
    <i class="icon-direction"></i><i class="icon-directions"></i><i class="icon-disc"></i><i class="icon-dislike"></i><i class="icon-doc"></i><i class="icon-docs"></i><i class="icon-drawar"></i><i class="icon-drop"></i><i class="icon-earphones"></i><i class="icon-earphones-alt"></i><i class="icon-emotsmile"></i><i class="icon-energy"></i><i class="icon-envelope"></i>
    <i class="icon-envelope-letter"></i><i class="icon-envelope-open"></i><i class="icon-equalizer"></i><i class="icon-eye"></i><i class="icon-game-controller"></i><i class="icon-frame"></i><i class="icon-folder-alt"></i><i class="icon-folder"></i><i class="icon-flag"></i><i class="icon-fire"></i><i class="icon-film"></i><i class="icon-feed"></i><i class="icon-eyeglass"></i><i class="icon-ghost"></i><i class="icon-globe"></i><i class="icon-globe-alt"></i><i class="icon-graduation"></i>
    <i class="icon-graph"></i><i class="icon-grid"></i><i class="icon-handbag"></i><i class="icon-heart"></i><i class="icon-home"></i><i class="icon-hourglass"></i><i class="icon-info"></i><i class="icon-key"></i><i class="icon-layers"></i><i class="icon-like"></i><i class="icon-link"></i><i class="icon-list"></i><i class="icon-location-pin"></i>
    <i class="icon-lock"></i><i class="icon-lock-open"></i><i class="icon-login"></i><i class="icon-logout"></i><i class="icon-loop"></i><i class="icon-magic-wand"></i><i class="icon-magnet"></i><i class="icon-magnifier"></i>
    <i class="icon-magnifier-add"></i><i class="icon-magnifier-remove"></i><i class="icon-microphone"></i><i class="icon-mouse"></i><i class="icon-music-tone"></i><i class="icon-music-tone-alt"></i><i class="icon-mustache"></i><i class="icon-note"></i><i class="icon-notebook"></i><i class="icon-paper-clip"></i><i class="icon-paper-plane"></i>
    <i class="icon-pencil"></i><i class="icon-people"></i><i class="icon-phone"></i><i class="icon-picture"></i><i class="icon-pie-chart"></i><i class="icon-pin"></i><i class="icon-plane"></i><i class="icon-playlist"></i><i class="icon-plus"></i><i class="icon-power"></i><i class="icon-present"></i><i class="icon-printer"></i><i class="icon-puzzle"></i><i class="icon-question"></i><i class="icon-refresh"></i><i class="icon-reload"></i><i class="icon-rocket"></i><i class="icon-screen-desktop"></i><i class="icon-screen-smartphone"></i><i class="icon-screen-tablet"></i><i class="icon-settings"></i><i class="icon-share"></i><i class="icon-share-alt"></i><i class="icon-shield"></i><i class="icon-shuffle"></i><i class="icon-size-actual"></i><i class="icon-size-fullscreen"></i>
    <i class="icon-social-dribbble"></i><i class="icon-social-dropbox"></i><i class="icon-social-facebook"></i><i class="icon-social-twitter"></i><i class="icon-social-youtube"></i><i class="icon-speech"></i><i class="icon-speedometer"></i><i class=""></i><i class="icon-star"></i><i class="icon-support"></i>
    <i class="icon-symble-female"></i><i class="icon-symbol-male"></i><i class="icon-tag"></i><i class="icon-target"></i><i class="icon-trash"></i><i class="icon-trophy"></i><i class="icon-umbrella"></i><i class="icon-user"></i><i class="icon-user-female"></i><i class="icon-user-follow"></i><i class="icon-user-following"></i>
    <i class="icon-user-unfollow"></i><i class="icon-vector"></i><i class="icon-volume-1"></i><i class="icon-volume-2"></i><i class="icon-volume-off"></i><i class="icon-wallet"></i><i class="icon-wrench"></i>
    <i class="icon-call-in"></i><i class="icon-call-out"></i><i class="icon-camera"></i><i class="icon-camrecorder"></i>
  </div>-->
      <ul class="card-list clearfix">
        <!--<div class="card-right">
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">驾驶证照片<i></i></span>

                <div class="driving-license">
                  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522061745908&di=661eef0613ed0bd3bc022f6e99b4423f&imgtype=0&src=http%3A%2F%2Fs3.sinaimg.cn%2Fmw690%2F002ybqQqgy6Loq1Idz4a2%26690" alt="驾驶证照片">
                </div>
              </div>
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">行驶证照片<i></i></span>
                <div class="driving-license">
                  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522061862735&di=c35d4a8c070ca76e2e98b6cd704546df&imgtype=0&src=http%3A%2F%2Fclub2.autoimg.cn%2Falbum%2Fg15%2FM13%2FEE%2FC8%2Fuserphotos%2F2015%2F11%2F23%2F14%2FwKgH1lZSs8eALLkHABZL3uRxsTY522.jpg" alt="行驶证照片">
                </div>
              </div>
            </div>-->
        <li *ngFor="let inner of record;let i=index" class="room-card">
          <div class="room-title clearfix">
            <h5>员工姓名 :{{inner.userName}}</h5><h5>员工编号 :{{inner.userId}}</h5><h5>员工部门 :{{inner.userDept}}</h5>
          </div>
          <div class="card-border">
            <h6>
              <i class="icon-bubble" (click)="check(inner.id)" title="审核"
                 *ngIf="jurisdiction&&jurisdiction.isDelete&&inner.status==='pending'"></i>
              <i class="icon-pencil" (click)="editCardInfo(inner.id)" title="编辑"
                 *ngIf="jurisdiction&&jurisdiction.isUpdate&&inner.status!=='pass'"></i>
              <i (click)="delCardInfo(inner.id)" class="icon-trash" title="删除" *ngIf="jurisdiction&&jurisdiction.isDelete"></i>
            </h6>
            <div class="card-left">
              <div>
                <span class="form-title">驾驶员姓名<i></i></span>
                <p>{{inner.driverName}}</p>
              </div>
              <div>
                <span class="form-title">驾驶证号<i></i></span>
                <p>{{inner.driverNum}}</p>
              </div>
              <div>
                <span class="form-title">驾驶证档案编号<i></i></span>
                <p>{{inner.driverCode}}</p>
              </div>
              <div>
                <span class="form-title">车辆所有人姓名<i></i></span>
                <p>{{inner.carOwner}}</p>
              </div>
              <div>
                <span class="form-title">车牌号码<i></i></span>
                <p>{{inner.carNumber}}</p>
              </div>
              <div>
                <span class="form-title">车辆识别代号<i></i></span>
                <p>{{inner.carCode}}</p>
              </div>
              <div>
                <span class="form-title">发动机号码<i></i></span>
                <p>{{inner.motorNum}}</p>
              </div>
              <div>
                <span class="form-title">车辆品牌型号<i></i></span>
                <p>{{inner.carBrand}}</p>
              </div>
              <div>
                <span class="form-title">是否停车摇号<i></i></span>
                <p>{{inner.isPark}}</p>
              </div>
              <!--<div>
                <span class="form-title">交通费额度(元/月)<i></i></span>
                <p>{{inner.carFare}}</p>
              </div>-->
              <div>
                <span class="form-title">审核状态<i></i></span>
                <p style="color:#6f0;" *ngIf="inner.status==='pass'">通过</p>
                <p style="color:#f00;" *ngIf="inner.status==='fail'">不通过
                  <span style="color:#000;margin-left:5px;">{{inner.explain}}</span>
                </p>
                <p style="color:#ee0;" *ngIf="inner.status==='pending'">待审核</p>
              </div>
            </div>
            <div class="card-right">
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">驾驶证照片<i></i></span>

                <div class="driving-license">
                  <img *ngIf="inner.imgContentList.driverA[0]" [src]="inner.imgContentList.driverA[0] | imgsafeurl" alt="驾驶证照片"/>
                </div>
              </div>
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">行驶证照片<i></i></span>
                <div class="driving-license">
                  <img *ngIf="inner.imgContentList.driverB[0]" [src]="inner.imgContentList.driverB[0] | imgsafeurl" alt="行驶证照片"/>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <app-turn-bar
        [pageNo]="pageNo"
        [pageSize]="pageSize"
        [total]="total"
        [length] = 'length'
        (turnEvent)="repairSearch($event)">
      </app-turn-bar>
    </div>
  </div>
</div>
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>新增车辆信息</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">员工编号</span>
        <div class="form-inp">
          <input type="text" class="company-ipt" id="userId" name="userId" [(ngModel)]="newCard.userId"
                 (keyup)="getUserName(newCard.userId)" (blur)="verifyId()" maxlength="8"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">员工姓名</span>
        <div class="form-inp">
          <input type="text" class="company-ipt" id="userName" name="userName" [(ngModel)]="newCard.userName" disabled="disabled"/>
          <span class="errorMessage"></span>
        </div>
      </div>

      <div class="form-control">
        <span class="form-label">员工部门</span>
        <div class="form-inp">
          <input type="text" class="company-ipt" name="userDept" id="userDept" [(ngModel)]="newCard.userDept" disabled="disabled"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">驾驶员姓名</span>
        <div class="form-inp">
          <input type="text" class="company-ipt" id="driverName" name="driverName" [(ngModel)]="newCard.driverName"
                 (blur)="verifydriverName()" maxlength="25"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">驾驶证号</span>
        <div class="form-inp">
          <input type="text" id="driverNum" class="company-ipt" name="driverNum" [(ngModel)]="newCard.driverNum"
                 (blur)="verifydriverNum()" maxlength="25"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">驾驶证档案编号</span>
        <div class="form-inp">
          <input class="company-ipt" name="driverCode" id="driverCode" type="number" [(ngModel)]="newCard.driverCode"
                 (blur)="verifydriverCode()" maxlength="25"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车辆所有人姓名</span>
        <div class="form-inp">
          <input id="carOwner" class="company-ipt" name="carOwner" type="text" [(ngModel)]="newCard.carOwner"
                 (blur)="verifycarOwner()" maxlength="25"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车牌号码</span>
        <div class="form-inp">
          <input id="carNumber" class="company-ipt" name="carNumber" type="text" [(ngModel)]="newCard.carNumber"
                 (blur)="verifycarNumber()" maxlength="25"/>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车辆识别代号</span>
        <div class="form-inp">
          <input id="carCode" class="company-ipt" name="carCode" type="text" [(ngModel)]="newCard.carCode"
                 (blur)="verifycarCode()" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发动机号码</span>
        <div class="form-inp">
          <input id="motorNum" class="company-ipt" name="motorNum" type="text" [(ngModel)]="newCard.motorNum"
                 (blur)="verifymotorNum()" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车辆品牌型号</span>
        <div class="form-inp">
          <input id="carBrand" class="company-ipt" name="carBrand" type="text" [(ngModel)]="newCard.carBrand"
                 (blur)="verifycarBrand()"  maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">是否停车摇号</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="isPark" id="isPark" [(ngModel)]="newCard.isPark"
                  (blur)="verifyisPark()" >
            <option value="">请选择</option>
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <div  class="dropify-wrapper" id = "newImgPath">
          <div  class="dropify-message">
            <img style="width:100%" *ngIf="newCard.imgPathList.driverA[0]"
                 [src]="newCard.imgContentList.driverA[0] | imgsafeurl:prese1.files">
          </div>
          <p>点击上传驾驶证照片</p>
          <input  class="dropify" type="file" #prese1  id="prese1"
                  (change)="prese_upload1(prese1.files)">
        </div>
      </div>
      <div class="form-control">
        <div  class="dropify-wrapper">
          <div  class="dropify-message">
            <img style="width:100%" *ngIf="newCard.imgPathList.driverB[0]"
                 [src]="newCard.imgContentList.driverB[0] | imgsafeurl:prese2.files">
          </div>
          <p>点击上传行驶证照片</p>
          <input  class="dropify" type="file" #prese2  id="prese2"
                  (change)="prese_upload2(prese2.files)">
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
<div class="mask0">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">车辆信息审核</h4>
      <button type="button" class="close" (click)="addCancel()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body ">
        <div class="pdetail">
          <div class="for">
            <label>审核意见：</label>
            <select name="checknewstatus"  class="producttext" id="checknewstatus" [(ngModel)]="newCard.status">
              <option value="pass">通过</option>
              <option value="fail">不通过</option>
            </select>
            <span class="errorMessage"></span>
          </div>
          <div class="for">
            <label style="vertical-align: top;">说明：</label>
            <textarea name="checknewesetail" class="form-control" rows="4" maxlength="150"
                      [(ngModel)]="newCard.explain"
                      id="checknewesetail"
                      style="border:1px solid #dddddd;width: 200px;!important;background-color: #ffffff !important;">
             </textarea>
            <span class="errorMessage" style="padding-left: 94px;"></span>
          </div>
        </div>
      </div>

      <div class="mask-footer">
        <button type="submit" class="btn-mask btn-info" (click)="checkCardInfo()">保存</button>
        <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取消</button>
      </div>
    </form>
  </div>
</div>
