<div class="wrap">
  <div class="cont">
    <div class="row">
      <div class="row-title">车辆信息</div>
      <a href="javascript:;" class="btn search-btn" (click)="addVehicle()"><i class="icon-plus"></i>&nbsp;&nbsp;新 增</a>
    </div>
    <div class="cont-inner">
      <!--<table width="100%">
        <thead>
        <tr style="height: 40px; background-color: #00bce1;">
          <th>员工姓名</th>
          <th>员工编号</th>
          <th>员工部门</th>
          <th>驾驶员姓名</th>
          <th>驾驶证号</th>
          <th>驾驶证档案编号</th>
          <th>车辆所有人姓名</th>
          <th>车牌号码</th>
          <th>车辆识别代号</th>
          <th>发动机号码</th>
          <th>车辆品牌型号</th>
          <th>驾驶证照片</th>
          <th>行驶证照片</th>
          <th>是否停车摇号</th>
          <th>交通费额度（元/月）</th>
        </tr>
        </thead>
        <tr></tr>
      </table>-->
      <ul class="card-list clearfix">
        <li  class="room-card">
          <div class="room-title clearfix">
            <h5>员工姓名 :XXX</h5><h5>员工编号 :XXX</h5><h5>员工部门 :XXX</h5>
          </div>
          <div class="card-border">
            <h6> <i class="icon-pencil"></i> <i class="icon-trash"> </i> </h6>
            <div class="card-left">
              <div>
                <span class="form-title">驾驶员姓名<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">驾驶证号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">驾驶证档案编号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车辆所有人姓名<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车牌号码<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车辆识别代号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">发动机号码<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车辆品牌型号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">是否停车摇号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">交通费额度(元/月)<i></i></span>
                <p>XXX</p>
              </div>

            </div>
            <div class="card-right">
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">驾驶证照片<i></i></span>

                <div class="driving-license">
                  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522061745908&di=661eef0613ed0bd3bc022f6e99b4423f&imgtype=0&src=http%3A%2F%2Fs3.sinaimg.cn%2Fmw690%2F002ybqQqgy6Loq1Idz4a2%26690" alt="驾驶证照片">
                </div>
              </div>
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">行驶证照片<i></i></span>
                <div class="driving-license">
                  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522061862735&di=c35d4a8c070ca76e2e98b6cd704546df&imgtype=0&src=http%3A%2F%2Fclub2.autoimg.cn%2Falbum%2Fg15%2FM13%2FEE%2FC8%2Fuserphotos%2F2015%2F11%2F23%2F14%2FwKgH1lZSs8eALLkHABZL3uRxsTY522.jpg" alt="行驶证照片">
                </div>
              </div>
            </div>
          </div>
        </li>
        <li  class="room-card">
          <div class="room-title clearfix">
            <h5>员工姓名 :XXX</h5><h5>员工编号 :XXX</h5><h5>员工部门 :XXX</h5>
          </div>
          <div class="card-border">
            <h6> <i class="icon-pencil"></i> <i class="icon-trash"> </i> </h6>
            <div class="card-left">
              <div>
                <span class="form-title">驾驶员姓名<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">驾驶证号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">驾驶证档案编号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车辆所有人姓名<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车牌号码<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车辆识别代号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">发动机号码<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车辆品牌型号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">是否停车摇号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">交通费额度(元/月)<i></i></span>
                <p>XXX</p>
              </div>

            </div>
            <div class="card-right">
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">驾驶证照片<i></i></span>

                <div class="driving-license">
                  <img src="assets/image/demo_building.png" alt="驾驶证照片">
                </div>
              </div>
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">行驶证照片<i></i></span>
                <div class="driving-license">
                  <img src="assets/image/demo_building.png" alt="行驶证照片">
                </div>
              </div>
            </div>
          </div>
        </li>
        <li  class="room-card">
          <div class="room-title clearfix">
            <h5>员工姓名 :XXX</h5><h5>员工编号 :XXX</h5><h5>员工部门 :XXX</h5>
          </div>
          <div class="card-border">
            <h6> <i class="icon-pencil"></i> <i class="icon-trash"> </i> </h6>
            <div class="card-left">
              <div>
                <span class="form-title">驾驶员姓名<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">驾驶证号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">驾驶证档案编号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车辆所有人姓名<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车牌号码<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车辆识别代号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">发动机号码<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">车辆品牌型号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">是否停车摇号<i></i></span>
                <p>XXX</p>
              </div>
              <div>
                <span class="form-title">交通费额度(元/月)<i></i></span>
                <p>XXX</p>
              </div>

            </div>
            <div class="card-right">
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">驾驶证照片<i></i></span>

                <div class="driving-license">
                  <img src="assets/image/demo_building.png" alt="驾驶证照片">
                </div>
              </div>
              <div class="card-info">
                <span class="form-title" style="height: 20px;line-height: 20px;">行驶证照片<i></i></span>
                <div class="driving-license">
                  <img src="assets/image/demo_building.png" alt="行驶证照片">
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>新增车辆信息</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">驾驶证姓名</span>
        <div class="form-inp">
          <input type="text" class="company-ipt company-sel" />
          <span class="errorMessage"></span><!--[(ngModel)]="jurisdiction"  (blur)="verifyId()" -->
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">驾驶证号</span>
        <div class="form-inp">
          <input type="text" id="recordId" class="company-ipt" name="recordId" >
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">驾驶证档案编号</span>
        <div class="form-inp">
          <input class="company-ipt" name="cmccContacts"  type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车辆所有人姓名</span>
        <div class="form-inp">
          <input id="cmccPhone" class="company-ipt" name="cmccPhone">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车牌号码</span>
        <div class="form-inp">
          <input id="repairDepartment" class="company-ipt" name="repairDepartment" type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车辆识别代号</span>
        <div class="form-inp">
          <input id="repairContacts" class="company-ipt" name="repairContacts" type="text" maxlength="25">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">发动机号码</span>
        <div class="form-inp">
          <input id="repairPhone" class="company-ipt" name="repairPhone" type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">车辆品牌型号</span>
        <div class="form-inp">
          <input id="repairBtime" class="company-ipt" name="repairBtime" type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">是否停车摇号</span>
        <div class="form-inp">
          <input class="company-ipt" name="repairEtime" type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">交通费额度(元/月)</span>
        <div class="form-inp">
          <input class="company-ipt" name="repairEtime" type="text">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <div  class="dropify-wrapper" id = "newImgPath">
          <div  class="dropify-message">
            <img src="" *ngIf="newRoom.imgPath"><!--[src]="newRoom.imgPath | imgsafeurl:pres.files"-->
          </div>
          <p>点击上传驾驶证照片</p>
          <input  class="dropify" type="file" #prese1  id="prese1"
                  (change)="presepic_upload(prese1.files)">
        </div>
      </div>
      <div class="form-control">
        <div  class="dropify-wrapper">
          <div  class="dropify-message">
            <img src="" *ngIf="newRoom.imgPath"><!--[src]="newRoom.imgPath | imgsafeurl:pres.files"-->
          </div>
          <p>点击上传行驶证照片</p>
          <input  class="dropify" type="file" #prese2  id="prese2"
                  (change)="presepic_upload(prese2.files)">
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
