<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
<div class="main">
  <!--标题栏-->
  <div class="header">
    <img src="../../../../assets/image/icon_3line.png">
    <h2>团购管理/公告管理</h2>
    <div class="header-right">
      <img src="../../../../assets/image/icon_wheel.png">
    </div>
    <div class="header-right">
      <img src="../../../../assets/image/icon_email.png">
    </div>

  </div>
  <!--大楼搜索栏-->
  <router-outlet>
    <!--大楼搜索栏-->
    <div class="view">
      <div class="search-bar">
        <div class="panel-head">
          <div class="orderdetail">
          订单信息
            </div>
        </div>
        <div class="jindu">

        </div>
        <div>
        </div>
      </div>
      <div>
        <table class="table" style="line-height: 37px;">
          <thead>
            <th>商品编号：</th>
            <th>单价</th>
            <th>数量</th>
            <th>状态</th>
            <th>支付方式</th>
            <th>付款状态</th>
            <th>订单状态</th>
          </thead>
          <tbody>
          <tr>
            <td>
              <div><img></div>
              <blockquote>
                <h4 class="newcartitle">ssss</h4>
                <p class="company_name">dddddddddddddddddddddddddd</p>
              </blockquote>
            </td>
            <td>3.33</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <div><img></div>
              <blockquote>
                <h4 class="newcartitle">ssss</h4>
                <p class="company_name">dddddddddddddddddddddddddd</p>
              </blockquote>
            </td>
            <td>3.33</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

  </router-outlet>

</div>

<app-footer></app-footer>

