<!--<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">-->
    <div class="right">
      <div class="wrap-content">
        <div class="wrap-space">
          <div class="wrap-b">
            <div class="b-head clearfix">
              <div class="b-head-left">
                <span *ngFor="let cata of catas"
                      [ngClass]="cata.routeUrl===rule.routeUrl?'active':''"
                      [routerLink]="['../../../'+cata.routeUrl]"
                >{{cata.name}}</span>
                <!--<span [routerLink]="['../product']">团购商品新增</span>
                <span [routerLink]="['../check']">团购商品审核</span>
                <span [routerLink]="['../manager']">团购商品管理</span>
                <span class="active">订单管理</span>
                <span [routerLink]="['../notice']">公告管理</span>
                <span [routerLink]="['../report']">订单报表</span>
                <span [routerLink]="['../count']">统计报表</span>-->
              </div>
              <div class="b-head-right">
                <div class="content-box" [routerLink]="['../groupbuy']"><i class="icon-action-undo"></i> 继续订购</div>
              </div>
            </div>
            <div class="b-con tuanmenu">
              <div class="wrap">
                <ul>
                  <li>
                    <label>商品名称：</label>
                    <input type="text" name="addname" [(ngModel)]="productName">
                  </li>
                  <li>
                    <label>订单编号</label>
                    <input type="text" name="addnum" [(ngModel)]="orderId">
                  </li>
                  <!--<li>
                    <label>商品编号</label>
                    <input type="text" name="addnum2" [(ngModel)]="productId">
                  </li>-->
                  <li><a class="search" href="javascript: void(0);" (click)="getOrderAllList(1)" >查询</a></li>
                </ul>
              </div>
              <div class="list-table" *ngFor="let order of orders;let idx=index">
                <dt>
                <table class="table-head0">
                  <tr>
                    <td class="zero">订单编号：{{order.id}}</td>
                    <td class="zero">下单人编号：{{order.userId}}</td>
                    <td class="zero">下单时间：{{order.payTime}}</td>
                    <td class="zero">订单价格：{{order.payment}}元</td>
                    <td class="zero" *ngIf="order.status=='0'">订单状态：订购中</td>
                    <td class="zero" *ngIf="order.status=='1'">订单状态：已到货</td>
                    <td class="zero" *ngIf="order.status=='2'">订单状态：退单</td>
                    <td class="zero" *ngIf="order.groupMessage!=null">
                    <button *ngIf="rule&&rule.isUpdate&&order.groupMessage.reply==null" type="button" class="btn btn-info" style="padding: 2px 2px;float:inherit;color:black"
                            (click)="addMessage(order.id)">已评价</button>
                    <button *ngIf="rule&&rule.isInstall&&order.groupMessage.reply!=null" type="button" class="btn btn-info" style="padding: 2px 2px;float:inherit;color:white"
                            (click)="showMessage(order.id)">已反馈</button>
                    </td>
                  </tr>
                </table>
                </dt>
                <dl>
                  <dt>
                  <table class="table-head">
                    <tr>
                      <td class="fir">商品信息</td>
                      <td class="sec">单价（元）</td>
                      <td class="three">数量</td>
                      <td class="four">合计（元）</td>
                      <td class="zero" *ngIf="order.status!='2' " >
                        <a class="two"  title="修改" *ngIf="rule&&rule.isUpdate" (click)="update(order.id,order.status)"></a>
                      </td>
                      <td class="zero" *ngIf="order.status=='1' ">
                        <a class="tre"  title="删除" *ngIf="rule&&rule.isDelete" (click)="delete(order.id)"></a>
                      </td>
                    </tr>
                  </table>
                  </dt>
                  <dd *ngFor="let orderItem of order.groupOrderItems;let idx=index">
                    <table style="width:100%;">
                      <td class="eight">
                        <img *ngIf="orderItem.imagePath!==''" [src]="'/proxy/' + orderItem.imagePath"/>
                      </td>
                      <td class="sec" style="text-align: left"> <p class="headtxt">{{orderItem.productName}}</p></td>
                      <td class="sec">￥{{orderItem.unitPrice}}</td>
                      <td class="three">{{orderItem.quantity}}</td>
                      <td class="four">￥{{orderItem.totalPrice}}</td>
                    </table>
                  </dd>
                </dl>
              </div>
              <!--翻页-->
              <app-turn-bar
                [pageNo] = "pageNo"
                [pageSize] = "pageSize"
                [total] = "total"
                (turnEvent) = "getOrderAllList($event)">
              </app-turn-bar>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mask">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">修改订单</h4>
          <button type="button" class="close"(click)="closeMask()">×</button>
        </div>
        <form class="form-building form-material">
          <input type="hidden" name="updateOrder.id"  [(ngModel)]="updateOrder.id">
          <div class="modal-body clearfix">
            <div>
              <label>订单状态：</label>
              <select class="bor"  name="orderstatus" [(ngModel)]="updateOrder.status">
                <option value="1">已到货</option>
                <option value="2">退单</option>
              </select>
            </div>

            <div class="modal-right">
              <label style="float: left">情况说明：</label>
              <textarea name="notice" ui-tinymce
                        class="form-control" rows="10"
                        style="width: 85%;!important; border-radius: 3px;"   [(ngModel)]="updateOrder.note" >
               </textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn-mask" (click)="updateOrders()" >保 存</button>
            <button type="button" class="btn-mask btn-info" (click)="closeMask()">取 消</button>
          </div>
        </form>
      </div>
    </div>

<div class="mask0">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">评价反馈</h4>
      <button type="button" class="close" (click)="closeMask0()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body ">
        <div class="pdetail">
          <div class="for">
            <label>评价时间：</label>
            <span>{{newMessage.insterTime}}</span>
          </div>
          <div class="for">
            <label>评价意见：</label>
            <p>{{newMessage.content}}</p>
          </div>
          <div class="for">
            <label style="vertical-align: top">反馈意见：</label>
            <textarea class="form-control"  rows="5" maxlength="1000" [(ngModel)]="newMessage.reply" id="content" name="content"
                      (blur)="verifyEmpty('content','反馈意见不能为空')"
                      style="border:1px solid #dddddd;width: 340px;!important;background-color: #ffffff !important;">
                </textarea>
            <span class="errorMessage" style="padding-left: 114px;"></span>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMask0()">关闭</button>
        <button type="submit" class="btn btn-info" (click)="submitMessage()" >保存</button>
      </div>
    </form>
  </div>
</div>

<div class="mask1">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">评价信息</h4>
      <button type="button" class="close"(click)="closeMask1()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body ">
        <div class="pdetail">
          <div class="for">
            <label>评价时间：</label>
            <span>{{viewMessage.insterTime}}</span>
          </div>
          <div class="for">
            <label>评价意见：</label>
            <p>{{viewMessage.content}}</p>
          </div>
          <div class="for">
            <label>反馈时间：</label>
            <span>{{viewMessage.replyTime}}</span>
          </div>
          <div class="for">
            <label>反馈意见：</label>
            <p>{{viewMessage.reply}}</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMask1()">关闭</button>
      </div>
    </form>
  </div>
</div>

