ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-bar{
  height: 65px;
  line-height: 65px;
  background: #ffffff;
}
.search-bar>ul{
  display: flex;
}
.search-bar>ul>li{
  width: 20%;
}
.search-bar>ul>li>label{
  display: inline-block;
  width: 100%;
  color: #686868;
}
.search-bar>ul>li>label>input[type=text] {
  height: 34px;
  width: calc(100% - 110px);
  margin: 0 10px;
  border: 1px solid #e4e7ea;
  border-radius: 3px;
}
.search-bar>ul>li>label>select{
  width: calc(100% - 90px);
  height: 34px;
  padding: 0 3%;
  margin: 0 10px;
  border: 1px solid #e4e7ea;
  border-radius: 3px;
}
select:focus{
  outline: none!important;
}
input[type=text]{
  padding: 0 10px;
}
.search-bar>ul>li>.search-btn{
  padding-left: 40px;
  padding-right: 20px;
  height: 34px;
  border:none;
  border-radius: 5px;
  background: #04a9f3;
  color: #ffffff;
}
.search-icon{
  position: absolute;
  line-height: 65px;
  padding-left: 20px;
}
.search-icon>img{
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}
.list-title{
  background-color: #f0f7fc;
  color: #4b87d4;
}
.list-box{
  width: 100%;
}
.row,.row-add{
  height: 35px;
}
.row td, .row th{
  padding-left: 10px;
  text-align: center;
  border-bottom: 1px solid #e1eaf2;
}
.row td,.row-add td{
  color: #686868;
  font-size: 12px;
  text-align: center;
}
.row td>input[type=text],.row td>select{
  border: 1px solid #e1eaf2;
  border-radius: 3px;
  color: #686868;
}
.row-add td{
  background-color: #ebeff7;
}
.row-add td:hover{
  background-color: #e1eaf2;
  cursor: pointer;
}
.turn>ul{
  display: flex;
  height: 35px;
  border-left: 1px solid #e4e7ea;
}
.turn>ul>li{
  height: 35px;
  width: 30px;
  line-height: 35px;
  border-top: 1px solid #e4e7ea;
  border-right: 1px solid #e4e7ea;
  border-bottom: 1px solid #e4e7ea;
  color: #686868;
  text-align: center;
  cursor: pointer;
}
.turn>ul>li.active{
  color: #ffffff;
  background: #04a9f3;
  border-color: #04a9f3;
}

.view-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.back{
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  filter:alpha(Opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
}
.close{
  position: absolute;
  right: 0;
  width: 70px;
  height: 70px;
  background: url("../../../../assets/image/icon_close_circle.png") no-repeat scroll right top transparent;
  cursor: pointer;
}
.big-img{
  position: absolute;
  margin-left: -17%;
  top: 130px;
  width: auto;
  min-width: 20%;
  max-width: 80%;
}
.option-bar{
  position: absolute;
  bottom: 0 ;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: black;
  text-align: center;
}
.option-bar>span{
  display: inline-block;
  margin-top: 14px;

  width: 32px;
  height: 32px;
}
.enlarge{
  background: url("../../../../assets/image/icon_enlarge.png") no-repeat scroll center center transparent;
}
.less{
  background: url("../../../../assets/image/icon_ensmall.png") no-repeat scroll center center transparent;
}

.box-demo>img{
  height: 32px;
  cursor: pointer;
}

.box-option>img{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.btn-add{
  height: 36px;
  line-height: 36px;
}
.btn-danger{
  padding: .5rem 1.2rem;
  padding-left:16px;
  padding-right:16px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  font-size: 14px;
  color: #fff;
  background: #fb9678;
  border: 1px solid #fb9678;
  cursor: pointer;
}
.disable{
  opacity: .2;
  cursor: default;
}
.btn-upload{

}
.btn-upload>a{
  display: inline-block;
  position: relative;
  padding: 2px 1.2rem;
  padding-left:16px;
  padding-right:16px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  font-size: 14px;
  color: #fff;
  background: #fb9678;
  border: 1px solid #fb9678;
  cursor: pointer;
}
.img-upload{
  position: absolute;
  margin-top: -21.5px;
  margin-left: -31px;
  border-radius: 5px;
  width: 62px;
  z-index: 2;
  opacity: 0;
}
