<div class="wrap">
  <div class="cont">
    <div class="view">
      <div class="title"><span>批次信息</span></div>
      <ul class="form-msg">
        <li class="form-bar">
          <span class="form-title">批次编号</span>
          <span class="word">{{batch.batchId | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">出行时间</span>
          <span class="word">{{batch.goTime | date:'yyyy年M月dd日 HH:mm'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">状态</span>
          <span class="word">{{batch.status | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar full-line">
          <span class="form-title">线路名称</span>
          <span class="word">{{batch.lineName | emptyValue:'暂无数据'}}
            <a class="btn-link" style="position: absolute;" title="查看更多线路信息" *ngIf="batch.lineName"
               [routerLink]="['../../info',batch.id]"></a>
          </span>
        </li>
        <li class="form-bar">
          <span class="form-title">发起人姓名</span>
          <span class="word">{{batch.createUserName | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">发起人部门</span>
          <span class="word">{{batch.createUserDept | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">发起时间</span>
          <span class="word">{{batch.createTime | date:'yyyy年M月dd日 HH:mm'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">成团人数下限</span>
          <span class="word">{{batch.minNum | emptyValue:'-'}} 人</span>
        </li>
        <li class="form-bar">
          <span class="form-title">预报名开始时间</span>
          <span class="word">{{batch.beginTime | date:'yyyy年M月dd日 HH:mm'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">预报名截止时间</span>
          <span class="word">{{batch.endTime | date:'yyyy年M月dd日 HH:mm'}}</span>
        </li>
        <li class="form-bar full-line">
          <span class="form-title">开放范围</span>
          <span class="word">{{batch.deptName | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar full-line">
          <span class="form-title">出团地点</span>
          <span class="word" *ngFor="let place of batch.place;let i = index">
            {{i+1}}.&nbsp;{{place | emptyValue:'暂无数据'}}</span>
        </li>
      </ul>
      <div>
        <div class="title"><span>报名信息</span></div>
       <!-- <ul class="fy-card">
          <li *ngFor="let child of flow.children;let i=index">
            <div class="fy-inner">
              <h5>{{child.theme}}<span>{{child.type}}</span></h5>
              <p class="fy-time">{{child.createUserName}}&nbsp;（{{child.userDept}}）&nbsp;{{child.createTime| date:'yyyy/MM/dd HH:mm'}}</p>
              <a class="btn-link" title="查看提案信息" [routerLink]="['../../info',child.id]"></a>
              <p>{{child.suggest}}</p>
            </div>
          </li>
        </ul>-->
      </div>

    </div>
  </div>
</div>

