<div class="wrap">
  <div class="cont">
    <div class="view">
      <div class="title"><span>批次信息</span></div>
      <ul class="form-msg" *ngIf="batch&&batch.id">
        <li class="form-bar">
          <span class="form-title">批次编号</span>
          <span class="word">{{batch.batchId | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">出行时间</span>
          <span class="word">{{batch.goTime | date:'yyyy年M月dd日 HH:mm'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">状态</span>
          <span class="word" style="font-size: 20px;color: #519e23;font-weight: 700">
            {{batch.status==="pass"?"出团成功":(batch.status==="going"?"操作中":"报结")}}</span>
        </li>
        <li class="form-bar full-line">
          <span class="form-title">线路名称</span>
          <span class="word">{{batch.lineName | emptyValue:'暂无数据'}}
            <a class="btn-link" title="查看更多线路信息" *ngIf="batch.lineName"
               [routerLink]="['../../detail',batch.lineId]"></a>
          </span>
        </li>
        <li class="form-bar">
          <span class="form-title">发起人姓名</span>
          <span class="word">{{batch.createUserName | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">发起人部门</span>
          <span class="word">{{batch.createUserDept | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">发起时间</span>
          <span class="word">{{batch.createTime | date:'yyyy年M月dd日 HH:mm'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">成团人数下限</span>
          <span class="word">{{batch.minNum | emptyValue:'-'}} 人</span>
        </li>
        <li class="form-bar">
          <span class="form-title">预报名开始时间</span>
          <span class="word">{{batch.beginTime | date:'yyyy年M月dd日 HH:mm'}}</span>
        </li>
        <li class="form-bar">
          <span class="form-title">预报名截止时间</span>
          <span class="word">{{batch.endTime | date:'yyyy年M月dd日 HH:mm'}}</span>
        </li>
        <li class="form-bar full-line">
          <span class="form-title">开放范围</span>
          <span class="word">{{batch.deptName | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar full-line">
          <span class="form-title">出团地点</span>
          <span class="word" *ngFor="let place of batch.place;let i = index">
            {{i+1}}.&nbsp;{{place | emptyValue:'暂无数据'}}</span>
        </li>
        <li class="form-bar full-line">
          <span class="form-title">住宿酒店</span>
          <span class="word"><span *ngFor="let hotel of batch.hotel;let i = index">
            {{hotel | emptyValue:'暂无数据'}}&nbsp;&nbsp;&nbsp;</span></span>
        </li>
      </ul>
      <div>
        <div *ngIf="rule&&(rule.isUpdate||rule.isDelete||rule.isInstall)">
      <div class="title"><span>参团人员信息</span></div>
      <div style="float: right;margin-top: -10px;">
        <a class="btn search-btn" (click)="addNewPerson()" *ngIf="batch.status==='going'"><i class="icon-plus"></i>&nbsp;新增</a>
        <a class="btn btn-danger" (click)="groupPerson()" *ngIf="batch.status==='going'">确认成团</a>
        <a class="btn search-btn" (click)="sureGonePersonInfo()" *ngIf="batch.isCouldSure">确认未出行</a>
        <a class="btn btn-danger" (click)="exportPersonInfo()"><i class="glyphicon-export"></i>名单导出</a>
      </div>
      <p style="font-weight: 700;height: 30px;">参团人数{{batch.realNum| emptyValue:'--'}}人</p>
      <table width="100%" class="card-info">
        <tr>
          <th style="width: 25px;"></th>
          <th style="width: 20px;" *ngIf="batch.isCouldSure"></th>
          <th class="text-left" style="width: 60px;min-width: 60px;">姓名</th>
          <th style="width: 30px">性别</th>
          <th style="width: 40px">年龄</th>
          <th width="15%">身份证号</th>
          <th class="text-left" style="width: 100px">HRMIS号</th>
          <th class="text-left" width="10%">部门</th>
          <th class="text-left" width="6%">职位</th>
          <th style="width: 100px">电话</th>
          <th style="width: 180px;min-width: 150px">报名日期</th>
          <th>备注</th>
          <th style="width: 60px;">状态</th>
          <th style="width: 100px;min-width: 100px" *ngIf="batch.status!=='pass'">操作</th>
        </tr>
      </table>
      <table class="card-info" *ngFor="let person of people;let i=index">
        <tr style="background-color: #ffffff;">
          <td style="width: 25px;border: none;"><i class="icon-flag" style="color: #fb9678"></i></td>
          <td style="width: 20px;" *ngIf="batch.isCouldSure"><input type="checkbox" name="personSel" [value]="person.id"></td>
          <td class="text-left" style="width: 60px;min-width: 60px;">{{person.name}}</td>
          <td style="width: 30px">{{person.sex| emptyValue:'-'}}</td>
          <td style="width: 40px">{{person.age| emptyValue:'-'}}</td>
          <td width="15%">{{person.idcard| emptyValue:'-'}}</td>
          <td class="text-left" style="width: 100px">{{person.hrmis| emptyValue:'-'}}</td>
          <td class="text-left" width="10%"><p class="tb-text">{{person.deptName| emptyValue:'-'}}</p></td>
          <td class="text-left" width="6%"><p class="tb-text">{{person.post| emptyValue:'-'}}</p></td>
          <td style="width: 100px">{{person.telNum| emptyValue:'-'}}</td>
          <td style="width: 180px;min-width: 150px">{{person.createTime| emptyValue:'-'}}</td>
          <td class="text-left"><p class="tb-text">{{person.note| emptyValue:'-'}}</p></td>
          <td style="width: 60px;">{{person.status| emptyValue:'-'}}</td>
          <td class="text-right" style="width: 100px;min-width: 100px" *ngIf="batch.status==='going'">
            <a class="search-link" (click)="editPerson(person,'Y')">
              <i class="icon-pencil"></i>&nbsp;编辑
            </a>
            <a class="search-link" (click)="deletePersonInfo(person.id)">
              <i class="icon-trash"></i>&nbsp;删除
            </a>
          </td>
        </tr>
        <tr *ngFor="let per of person.tourEnrolls;let i=index" style="background-color: #f4f4f4;">
          <td style="width: 25px;background-color: #ffffff;border: none;"><i class="group-per"></i></td>
          <td style="width: 20px;" *ngIf="batch.isCouldSure"><input type="checkbox" name="personSel" [value]="per.id"></td>
          <td class="text-left" style="width: 60px;min-width: 60px;">{{per.name}}</td>
          <td style="width: 30px">{{per.sex| emptyValue:'-'}}</td>
          <td style="width: 40px">{{per.age| emptyValue:'-'}}</td>
          <td width="15%">{{per.idcard| emptyValue:'-'}}</td>
          <td class="text-left" style="width: 100px">{{per.hrmis| emptyValue:'-'}}</td>
          <td class="text-left" width="10%"><p class="tb-text">{{per.deptName| emptyValue:'-'}}</p></td>
          <td class="text-left"><p class="tb-text">{{per.post| emptyValue:'-'}}</p></td>
          <td style="width: 100px">{{per.telNum| emptyValue:'-'}}</td>
          <td style="width: 180px;min-width: 150px">{{per.createTime| emptyValue:'-'}}</td>
          <td class="text-left"><p class="tb-text">{{per.note| emptyValue:'-'}}</p></td>
          <td style="width: 60px;">{{per.status| emptyValue:'-'}}</td>
          <td class="text-right" style="width: 100px;min-width: 100px" *ngIf="batch.status==='going'">
            <a class="search-link" (click)="editPerson(per,'N')">
              <i class="icon-pencil"></i>&nbsp;编辑
            </a>
            <a class="search-link" (click)="deletePersonInfo(per.id)">
              <i class="icon-trash"></i>&nbsp;删除
            </a>
          </td>
        </tr>
      </table>
      <div class="div-none" *ngIf="people && people.length === 0">
        <p>暂无信息</p>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mask" id="youke">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>新增人员</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">类型</span>
        <div class="form-inp">
          <label>
            <input type="radio" name="newType" value="Y"
                   (change)="resetPerson()"
                   [(ngModel)]="newPerson.type">自有员工
          </label>
          <label>
            <input type="radio" name="newType" value="N"
                   (change)="resetPerson()"
                   [(ngModel)]="newPerson.type">家属
          </label>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control" *ngIf="newPerson.type === 'N'">
        <span class="form-label">所属员工</span>
        <div class="form-inp">
          <select class="company-ipt company-sel" name="newFatherId" id="newFatherId" autocomplete="off"
                  [(ngModel)]="newPerson.fatherId">
            <option *ngFor="let person of people" [value]="person.id">{{person.name}}</option>
          </select>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control" *ngIf="newPerson.type === 'Y'">
        <span class="form-label">HRMIS号</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" id="newHRMIS" name="newHRMIS" type="text" autocomplete="off"
                 [(ngModel)]="newPerson.hrmis" (blur)="verifyEmpty('newHRMIS')"
                 (change)="getUserInfo(newPerson.hrmis)">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">人员姓名</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" id="newName" name="newName" type="text" autocomplete="off"
                 [(ngModel)]="newPerson.name" (blur)="verifyEmpty('newName')">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">年龄</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" id="newAGE" name="newAGE" type="number" autocomplete="off"
                 [(ngModel)]="newPerson.age" (blur)="verifyEmpty('newAGE')">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">性别</span>
        <div class="form-inp">
          <label>
            <input type="radio" name="newSex" value="男" [(ngModel)]="newPerson.sex">男
          </label>
          <label>
            <input type="radio" name="newSex" value="女" [(ngModel)]="newPerson.sex">女
          </label>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control" *ngIf="newPerson.type === 'Y'">
        <span class="form-label">归属部门</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" id="newDeptName" name="newDeptName" type="text"
                 [(ngModel)]="newPerson.deptName" (blur)="verifyEmpty('newDeptName')" disabled>
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control" *ngIf="newPerson.type === 'Y'">
        <span class="form-label">岗位</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" id="newPost" name="newPost" type="text" autocomplete="off"
                 [(ngModel)]="newPerson.post" (blur)="verifyEmpty('newPost')">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">联系电话</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" id="newTelNum" name="newTelNum" type="text" autocomplete="off"
                 [(ngModel)]="newPerson.telNum" (blur)="verifyIsTel('newTelNum')">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">身份证号码</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" id="newIDCard" name="newIDCard" type="text" autocomplete="off"
                 [(ngModel)]="newPerson.idcard" (blur)="verifyIsCard('newIDCard');">
          <span class="errorMessage"></span>
        </div>
      </div>
      <div class="form-control">
        <span class="form-label">备注</span>
        <div class="form-inp">
          <input class="company-ipt company-sel" id="newNote" name="newNote" type="text" autocomplete="off"
                 [(ngModel)]="newPerson.note">
          <span class="errorMessage"></span>
        </div>
      </div>
    </form>
    <div class="mask-footer">
      <button type="submit" class="btn-mask btn-info" (click)="submit()">提 交</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
