
<div class="right">
  <div class="wrap-content">
    <div class="wrap-space">
      <div class="wrap-b">
        <div class="b-head clearfix">
          <div class="b-head-left">
            <span class="active">服务内容</span>
            <span [routerLink]="['../serveTime']">服务时间</span>
          </div>
          <div class="b-head-right">
            <div class="content-box" onclick="history.go(-1)"><i class="icon-reload"></i>返回</div>
          </div>
        </div>
        <div class="b-con tuanmenu">
          <div class="wrap clearfix">
            <div class="iptgroup">
              <input placeholder="请输入服务内容"  [(ngModel)]="search.appcotent"/>
            </div>
            <select class="facilitator" [(ngModel)]="search.applyid" name="serveChat22">
              <option value="">全部</option>
              <option *ngFor="let applier of applierList;let idx=index" value="{{applier.applyId}}" >{{applier.applyName}}</option>
            </select>

            <a class="search" (click)="getFacList(1)" *ngIf="rule&&rule.isSelect">查询</a>
            <a class="btn btn-danger"  (click)="add()" style="padding: 7px 15px;float: right;" *ngIf="rule&&rule.isInstall">
              <i class="icon-plus"></i> 新增</a>
          </div>
          <div class="list-table">
            <table class="table-head">
              <td class="fir">服务商</td>
              <td class="sec">服务内容</td>
              <td class="three">单价</td>
              <td class="four">单位</td>
              <td class="five" *ngIf="rule&&(rule.isUpdate||rule.isDelete)">操作</td>
            </table>
            <dl *ngFor="let product of products;let idx=index">
              <dd>
                <table style="width: 100%;">
                  <tr>
                    <td class="fir">{{product.appliar}}</td>
                    <td class="sec">{{product.appcotent}}</td>
                    <td class="three">{{product.price}}</td>
                    <td class="four">{{product.unit}}</td>
                    <td class="five" *ngIf="rule&&(rule.isUpdate||rule.isDelete)">
                      <div class="ope-list">
                        <a class="two" title="修改" (click)="update(product.priceId)" *ngIf="rule&&rule.isUpdate"></a>
                        <a class="tre" title="删除" (click)="delete(product.priceId)" *ngIf="rule&&rule.isDelete"></a>
                      </div>
                    </td>
                  </tr>
                </table>
              </dd>
            </dl>
          </div>
          <app-turn-bar
            [pageNo]="pageNo"
            [pageSize]="pageSize"
            [total]="total"
            [length] = 5
            (turnEvent)="goPage($event)">
          </app-turn-bar>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="maskAdd">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">新增服务</h4>
      <button type="button" class="close" (click)="closeMaskAdd()">×</button>
    </div>
    <form class="form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div>
              <div>
                <label>服务商：</label>
                <select   id="supplierId_add" name="supplierId_add" [(ngModel)]="productAdd.applyid" (blur)="verifyEmpty('supplierId_add','服务商不能为空')">
                  <option value="">-请选择-</option>
                  <option *ngFor="let applier of applierList;let idx=index" value="{{applier.applyId}}">{{applier.applyName}}</option>
                </select>
                <span class="errorMessage"></span>
              </div>
            </div>
            <div style="margin-top: 10px;">
              <label>服务内容：</label>
              <input type="text" id="appcotent_add" class="noticetext" name="appcotent_add"
                     (blur)="verifyEmpty('appcotent_add','服务内容不能为空')" maxlength="20"  [(ngModel)]="productAdd.appcotent">
              <span class="errorMessage"></span>
            </div>
            <div style="margin-top: 10px;">
              <label>单位：</label>
              <input type="text" id="unit_add" class="noticetext"  name="unit_add" (blur)="verifyEmpty('unit_add','单位不能为空')"   [(ngModel)]="productAdd.unit" maxlength="10">
              <span class="errorMessage"></span>
            </div>
            <div>
              <div style="margin-top: 10px;">
                <label>价格(元)：</label>
                <input type="number" id="price_add" class="noticetext"  name="price_add" (blur)="verifyEmpty('price_add','价格不能为空')"
                       [(ngModel)]="productAdd.price" max="5">
                <span class="errorMessage"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMaskAdd()">取 消</button>
        <button type="submit" class="btn btn-info" (click)="addProduct()" >保 存</button>
      </div>
    </form>
  </div>
</div>
<div class="maskUpdate">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">修改服务</h4>
      <button type="button" class="close" (click)="closeMaskUp()">×</button>
    </div>
    <form class="form-building form-material">
      <div class="modal-body clearfix">
        <div class="protop">
          <div class="pdetail">
            <div>
              <div>
                <label>服务商：</label>
                <select id="supplierId_edit" name="supplierId_edit" [(ngModel)]="productUp.applyid" (blur)="verifyEmpty('supplierId_edit','服务不能为空')">
                  <option value="">-请选择-</option>
                  <option *ngFor="let applier of applierList;let idx=index" value="{{applier.applyId}}">{{applier.applyName}}</option>
                </select>
                <span class="errorMessage"></span>
              </div>
            </div>
            <div style="margin-top: 10px;">
              <label>服务内容：</label>
              <input type="text" id="appcotent_edit"  class="noticetext" name="appcotent_edit"  (blur)="verifyEmpty('appcotent_edit','服务内容不能为空')" maxlength="20"
                     [(ngModel)]="productUp.appcotent">
              <span class="errorMessage"></span>
            </div>
            <div style="margin-top: 10px;">
              <label>单位：</label>
              <input type="text" id="unit_edit"  class="noticetext" name="unit_edit" (blur)="verifyEmpty('unit_edit','单位不能为空')"   [(ngModel)]="productUp.unit" maxlength="10">
              <span class="errorMessage"></span>
            </div>
            <div>
              <div style="margin-top: 10px;">
                <label>价格：</label>
                <input type="number" id="price_edit"  class="noticetext" name="price_edit" (blur)="verifyEmpty('price_edit','价格不能为空')"
                       [(ngModel)]="productUp.price">
                <span class="errorMessage"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeMaskUp()">取 消</button>
        <button type="submit" class="btn btn-info"   (click)="updateProduct()" >保 存</button>
      </div>
    </form>
  </div>
</div>

