<div class="wrap">
  <div class="cont">
    <div class="row clearfix">
      <div class="row-title">停车证信息</div>
      <div class="content-box" tabindex="0" onclick="history.go(-1)">
        <i class="icon-reload"></i> 返回
      </div>
    </div>
    <div class="cont-inner clearfix">
      <ul class="card-left">
        <li>大楼名称</li>
        <li>停车证名称</li>
        <li>停车证类型</li>
        <li>停车证编号</li>
        <li>开始有效期</li>
        <li>截止有效期</li>
        <li>发放状态</li>
        <li>使用状态</li>
      </ul>
      <ul class="card-right">
        <li>{{newCard.buildingName}}</li>
        <li>{{newCard.name}}</li>
        <li>{{newCard.type}}</li>
        <li>{{newCard.code}}</li>
        <li>{{newCard.bTime}}</li>
        <li>{{newCard.eTime}}</li>
        <li *ngIf="newCard.useStatus ==='unissued'">未发放</li>
        <li *ngIf="newCard.useStatus ==='use'">已发放</li>
        <li style="color:#ff1103;"  *ngIf="newCard.permitStatus ==='invalid'">失效</li>
        <li style="color:#00a379;"  *ngIf="newCard.permitStatus ==='valid'">正常</li>
        <li style="color:#ff1103;" *ngIf="newCard.permitStatus ==='expired'">已过期</li>
      </ul>
      <div class="note">
        <div class="title"><span>备注</span><p>{{newCard.note}}</p></div>

      </div>

      <div class="mark" *ngIf="newCard.permitStatus ==='expired'">
        <div class="mark-info">已到期</div>
        <div class="mark-btn delay" (click)="addDate()">延期</div>
        <div class="mark-btn invalid" (click)="invalid()">确认失效</div>

      </div>
    </div>
    <div class="history" *ngIf="newCard.useStatus ==='use'" style="height: 60px; min-height: 90px;">
      <div class="history-title">当前使用员工</div>

      <table width="100%" class="record">
        <tr style="height: 40px; background-color: #EEEEE0; text-align: center">
          <th>员工姓名</th>
          <th>员工部门</th>
          <th>员工编号</th>
          <th>员工电话</th>
          <!--<th>发放日期</th>-->
          <th>发放截止日期</th>
        </tr>
        <tr style="height: 36px; text-align: center;background:#F4F4F4">
          <td>{{newCard.useUserName}}</td>
          <td>{{newCard.useUserDept}}</td>
          <td>{{newCard.useUserId}}</td>
          <td>{{newCard.useUserTel}}</td>
          <!--<td>{{newCard.modifyTime}}</td>-->
          <td>{{newCard.useETime}}</td>

      </table>
    </div>
    <div class="history" *ngIf="history&&history.length>0">
      <div class="history-title">发放记录</div>

      <table width="100%" class="record">
        <tr style="height: 40px; background-color: #EEEEE0; text-align: center">
          <th>员工姓名</th>
          <th>员工部门</th>
          <th>员工编号</th>
          <th>员工电话</th>
          <!--<th>发放日期</th>-->
          <!--<th>发放截止日期</th>-->
        </tr>
        <tr style="height: 36px; text-align: center" *ngFor="let inner of history;let i=index" >
          <td>{{inner.USERNAME}}</td>
          <td>{{inner.DEPT_NAME}}</td>
          <td>{{inner.USERID}}</td>
          <td>{{inner.TELE_NUM}}</td>
          <!--<td>{{inner.modifyTime}}</td>-->
          <!--<th>{{inner.USE_E_TIME}}</th>-->
      </table>
    </div>
  </div>
</div>

<div class="mask">
  <div class="mask-cotainer">
    <div class="mask-head"><i class="icon-film"></i> <p>停车证延期</p>
      <button class="close" (click)="addCancel()">×</button>
    </div>
    <form method="post" name="topForm" class="repair-form">
      <div class="form-control">
        <span class="form-label">延迟有效期至</span>
        <div class="form-inp">
          <input type="date" class="company-ipt" name="eTime" id="eTime" [(ngModel)]="eTime"
                 (blur)="verifyeTime()"/>
          <span class="errorMessage"></span>
        </div>
      </div>

    </form>
    <div class="mask-footer">
        <button type="submit" class="btn-mask btn-info" (click)="submit()">保 存</button>
      <button type="button" class="btn-mask btn-danger" (click)="addCancel()">取 消</button>
    </div>
  </div>
</div>
